@using PeriodAid.Controllers
@model PeriodAid.Models.Store_Sales_Month_ViewModel

@{
    ViewBag.Title = "创建门店月度销售统计";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

<h4>创建门店月度销售统计</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class = "control-label col-md-2"></label>
            <div class="col-md-4 col-xs-4">
                <select id="Sales_Year" name="Sales_Year" class="form-control">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                </select>
            </div>
            <div class="col-md-4 col-xs-4">
                <select id="Sales_Month" name="Sales_Month" class="form-control">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.Sales_Year, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.Sales_Month, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">门店系统</label>
            <div class="col-md-10 col-xs-12">
                @Html.DropDownList("Store_System_Id", ViewBag.Store_System as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">门店名称</label>
            <div class="col-md-10 col-xs-12">
                <div id="dropdown-area">@Html.DropDownList("Store_Id", ViewBag.Store as SelectList, new { @class = "form-control" })</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">销售数据</label>
            <div class="col-md-10 col-xs-12">
                <table class="table table-striped" id="product-table">
                    <tr>
                        <th class="col-xs-4">产品</th>
                        <th class="col-xs-3">销售数</th>
                        <th class="col-xs-3">金额</th>
                        <th class="col-xs-2"></th>
                    </tr>
                    @foreach (var item in ViewBag.ProductDetails as List<Form_Product_Sales_Month>)
                    {
                        <tr id="@item.Product_Code">
                            <td>@item.Product_Name</td>
                            <td>
                                <input type="number" id="@(item.Product_Code)_count" name="@(item.Product_Code)_count" class="form-control" value="@item.Sales_Count" />
                            </td>
                            <td>
                                <input type="number" id="@(item.Product_Code)_amount" name="@(item.Product_Code)_amount" class="form-control" value="@item.Sales_Amount" />
                            </td>

                            <td><a class="btn btn-danger btn-product-del" onClick="getDel(this)"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10 col-xs-12">
                <table class="table">
                    <tr>
                        <td class="col-xs-10">@Html.DropDownList("Product-DropDownList", ViewBag.Product as SelectList, new { @class = "form-control" })</td>
                        <td class="col-xs-2"><a href="javascript:void(0)" class="btn btn-default" id="addSelect"><span class="glyphicon glyphicon-plus"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加信息" class="btn btn-default btn-success" />
                <a href="/OfflineSales/List_Store_Sales_Month" class="btn btn-default">返回列表</a>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(function () {
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            $("#Sales_Year").val(year);
            $("#Sales_Month").val(month);
            $("#Store_System_Id").change(function () {
                var checkValue = $("#Store_System_Id").val();
                $.ajax({
                    url: "/OfflineSales/DropDownList_Store",
                    method: "get",
                    data: {
                        store_system_id: checkValue
                    },
                    success: function (data) {
                        $("#dropdown-area").html(data);
                    }
                });
            });
            $("#addSelect").click(function () {
                var select_item = $("#Product-DropDownList");
                if ($("#" + select_item.val()).length == 0) {
                    $html = "<tr id=" + select_item.val() + "><td>" + select_item.find("option:selected").text() + "</td>" +
                        "<td><input type=\"number\" id=\"" + select_item.val() + "_count\" name=\"" + select_item.val() + "_count\" class=\"form-control\" value=\"0\" /></td>" +
                        "<td><input type=\"number\" id=\"" + select_item.val() + "_amount\" name=\"" + select_item.val() + "_amount\" class=\"form-control\" value=\"0\" /></td>" +
                        "<td><a class=\"btn btn-danger btn-product-del\" onClick=\"getDel(this)\" ><span class=\"glyphicon glyphicon-remove\"></span></a></td>" +
                        "</tr>";
                    $("#product-table").append($html);
                }
            });
        });
        function getDel(k) {
            $(k).closest("tr").remove();
        }
    </script>
}