@model IEnumerable<PeriodAid.Models.Store_Sales_Month>

@{
    ViewBag.Title = "门店销售月度统计";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

<h4>门店销售月度统计</h4>
<hr />
<table class="table table-striped h6">
    <tr>
        <th>
            时间
        </th>
        <th>
            门店名称
        </th>
        <th>
            数量
        </th>
        <th>
            金额
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.Sales_Year)-@(item.Sales_Month)
            </td>
            <td>
                @item.Store.Store_System.System_Name - @item.Store.Store_Name
            </td>
            <td>
                @item.Store_Sales_Month_Details.Sum(m => m.Sales_Num)
            </td>
            <td>
                @item.Store_Sales_Month_Details.Sum(m=>m.Sales_Amount)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit_Store_Sales_Month", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("删除", "Delete_Store_Sales_Month", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
@section scripts{
    
}
