@model PagedList.IPagedList<PeriodAid.Models.Off_Manager_Task>
@using PagedList.Mvc;
@using PeriodAid.Models;

@section page{
    6
    }
<br /><br />
<table class="table table-condensed table-striped h6" style="table-layout:fixed;width:100%;">
    <tr>
        <th style="width:15%">
            状态
        </th>
        <th style="width:15%">
            电话
        </th>
        <th style="width:15%">
            时间
        </th>
        <th style="width:20%">
            管理员姓名
        </th>
        <th style="width:25%">
            备注
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_UnComplete)
            </td>
            
            <td>
                @Html.ActionLink("编辑", "Off_Manager_EditTask", new { id = item.Id }, new { @class = "btn btn-info btn-xs editor" }) 
                <a class="btn btn-xs btn-danger delt" href="/OfflineSales/Off_Manager_CancelTask?id=@item.Id">删除</a>
            </td>
        </tr>
    }

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("Off_Manager_TaskList", new { page, query = "" }))</div>
<script>
    $(".delt").click(function () {
        var result = confirm("确定删除该信息吗？")
        if (result) {
            var link_url = $(this).attr("href")
            $.ajax({
                type: "post",
                url: link_url,
                success: function (data) {
                        window.location.reload();
                }
            })
        }
        return false
    })
</script>
