@model PeriodAid.Models.Off_Checkin

@{
    ViewBag.Title = "Off_CreateCheckIn";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingTwo";
}
@section header{
    <style type="text/css">
        .img-list {
            width: 120px;
            height: 120px;
            margin: 10px;
            border: 1px solid #eee;
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m=>m.Off_Schedule_Id)
    @Html.HiddenFor(m=>m.Status)
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>店铺名称</small></div>
                    <input type="text" class="input-sm form-control" value="@Html.Encode(ViewBag.StoreName)" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>促销时间</small></div>
                    <input type="text" class="input-sm form-control" value="@Html.Encode(ViewBag.Subscribe)" readonly />
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>签到人</small></div>
                    @Html.DropDownListFor(m => m.Off_Seller_Id, ViewBag.Sellerlist as SelectList, "- 请选择 -", new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>签到图片</small></div>
                    @Html.HiddenFor(m => m.CheckinPhoto)
                    <input type="file" id="checkin-file" name="checkin-file" class="form-control input-sm" accept=".jpg,.png,.gif" />
                    <span class="input-group-btn">
                        <a class="btn btn-default btn-sm" href="javascript:;" id="checkin-btn" target="_blank"><i class="fa fa-upload"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>签退图片</small></div>
                    @Html.HiddenFor(m =>m.CheckoutPhoto)
                    <input type="file" id="checkout-file" name="checkout-file" class="form-control input-sm" accept=".jpg,.png,.gif"/>
                    <span class="input-group-btn">
                        <a class="btn btn-default btn-sm" href="javascript:;" id="checkout-btn" target="_blank"><i class="fa fa-upload"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 h6">签到图片</div>
            <div class="col-md-6 h6">签退图片</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6" id="checkin-img-list"></div>
            <div class="col-md-6" id="checkout-img-list"></div>
        </div>
        <br />
        @{ 
            Html.RenderAction("Off_ConfirmPrductListBySchedule", new { ScheduleId = Model.Off_Schedule_Id });
        }
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><small>销量图片</small></div>
                    @Html.HiddenFor(m => m.Rep_Image)
                    <input type="file" id="report-file" name="report-file" class="form-control input-sm" accept=".jpg,.png,.gif" />
                    <span class="input-group-btn">
                        <a class="btn btn-default btn-sm" href="javascript:;" id="report-btn" target="_blank"><i class="fa fa-upload"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><small>备注</small></div>
                    @Html.EditorFor(m => m.Confirm_Remark, new { htmlAttributes = new { @class = "form-control input-sm" } })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 h6">销量图片</div>
            <div class="col-md-12" id="report-img-list"></div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="提交" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">查看图片</h4>
            </div>
            <div class="modal-body" id="editcontent">
                <img id="img-view" href="#" class="img-thumbnail img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts{
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#checkin-btn").click(function () {
                ajaxFileUpload("CheckinPhoto", "checkin-img-list", "checkin-file");

            });
            $("#checkout-btn").click(function () {
                ajaxFileUpload("CheckoutPhoto", "checkout-img-list", "checkout-file");
            });
            $("#report-btn").click(function () {
                Report_ajaxFileUpload();
            });
        })
        function ajaxFileUpload(targetname,imglist,fileelment) {
            $.ajaxFileUpload({
                url: '/OfflineSales/Off_CreateCheckIn_FileUpload', //用于文件上传的服务器端请求地址
                type: 'post',
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: fileelment, //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {

                    //alert(data.imgurl);
                    //$("#img1").attr("src", data.imgurl);
                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert("上传成功");
                            $("#" + targetname).val(data.imgurl);
                            $("#" + imglist).html("<div class='img-list' data-rel='" + data.imgurl + "' style=\"background-image:url('//cdn2.shouquanzhai.cn/checkin-img/" + data.imgurl + "')\"></div>");
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
            return false;
        };
        function Report_ajaxFileUpload() {
            $.ajaxFileUpload({
                url: '/OfflineSales/Off_CreateCheckIn_FileUpload', //用于文件上传的服务器端请求地址
                type: 'post',
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'report-file', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    //alert("333");
                    
                    //$("#img1").attr("src", data.imgurl);
                    
                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert("上传成功");
                            var filearray = new Array();
                            if ($("#Rep_Image").val() != "") {
                                filearray = $("#Rep_Image").val().trim().split(',');
                            }
                            filearray.push(data.imgurl);
                            $("#Rep_Image").val(filearray);
                            $("#report-img-list").html("");
                            for (var item in filearray) {
                                $("#report-img-list").append("<div class='img-list' data-rel='" + filearray[item] + "' style=\"background-image:url('//cdn2.shouquanzhai.cn/checkin-img/" + filearray[item] + "')\"></div>");
                            }
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
            return false;
        }
        $(".img-list").click(function () {
            var link_url = "//cdn2.shouquanzhai.cn/checkin-img/" + $(this).attr("data-rel");
            $("#img-view").attr("src", link_url);
            $('#myModal').modal();
            return false;
        });
    </script>
}
