@model PeriodAid.Models.Off_SalesInfo_Daily

@using (Html.BeginForm("Off_CreateSalesDaily","OfflineSales", FormMethod.Post, new { id = "ajaxaddForm" }))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-3">门店名称</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.StoreId, ViewBag.StoreDropDown as SelectList,"- 请选择 -", new { @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">日期</label>
            <div class="col-md-9">
                <input type="text" id="Date" name="Date" class="form-control input-sm" placeholder="时间" />
                @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger time" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">红糖姜茶</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Item_Brown, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Brown, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">黑糖姜茶</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Item_Black, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Black, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">柠檬姜茶</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Item_Lemon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Lemon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">蜂蜜姜茶</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Item_Honey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Honey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">红枣姜茶</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Item_Dates, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Dates, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">销售员姓名</label>
            <div class="col-md-9">
                <select id="SellerId" name="SellerId" class="form-control">
                    <option value="">- 请选择 -</option>
                </select>
                @*@Html.DropDownListFor(model=>model.SellerId, ViewBag.Sellerlist as SelectList, "- 请选择 -", new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.SellerId, "", new { @class = "text-danger" })*@
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">考勤</label>
            <div class="col-md-9">
                <select class="form-control" data-val="true" data-val-length="字段 Region 必须是最大长度为 20 的字符串。" data-val-length-max="20" id="Attendance" name="Attendance">
                    <option value="">- 请选择 -</option>
                    <option value="0">全勤</option>
                    <option value="1">迟到</option>
                    <option value="2">早退</option>
                    <option value="3">旷工</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">工资</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">奖金</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Debit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">扣款</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Bonus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" id="submit-btn" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function(){
        
    });
    $("#Date").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#submit-btn").click(function () {
        $(this).attr("disabled", "disabled").val("添加中...");
        setTimeout(formsubmit, 1000);

        return false;
    });
    $("#StoreId").bind("change", function () {
        $.ajax({
            url: "/OfflineSales/Off_Ajax_GetStoreSeller",
            data: {
                id: $("#StoreId").val()
            },
            type: "post",
            success: function (data) {
                if(data.result=="SUCCESS"){
                    $("#SellerId").html("").append("<option value=''>- 请选择 -</option>");
                    for (var i = 0; i < data.data.length; i++) {
                        $("#SellerId").append("<option value='" + data.data[i].Id + "'>" + data.data[i].Name + "</option>");
                    }
                }
            }
        })
    });
    function formsubmit() {
        $('#ajaxaddForm').ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                alert("添加成功");
                $('#addModal').modal('hide');
                $.ajax({
                    url: "/OfflineSales/Off_DailySalesInfo_ajaxlist",
                    success: function (data) {
                        ///setTimeout(3000);
                        $("#list-container").html(data);
                    }
                });
            }
            else {
                $("#addcontent").html(data);
            }
        });
    }
    
</script>

