@model PagedList.IPagedList<PeriodAid.Models.Off_Store>
@using PagedList.Mvc;

<a class="btn btn-info btn-sm" id="add-btn"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增门店信息</a><br /><br />
<table class="table table-condensed table-striped" style="table-layout: fixed;width:100%;">
    <tr>
        <th style="width:15%">
            门店名称
        </th>
        <th style="width:5%">
            区域
        </th>
        <th style="width:10%">
            经销商
        </th>
        <th style="width:35%">
            地址
        </th>
        <th style="width:10%">
            经度
        </th>
        <th style="width:10%">
            纬度
        </th>
        <th style="width:15%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Distributor)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("修改", "Ajax_EditStore", new { id = item.Id }, new { @class = "btn btn-sm btn-info edit-button" })
            <button class="btn btn-sm btn-danger btn-lg del-btn"  >删除</button>
            @*@Html.ActionLink("删除", "", new { id = off }, new { @class = "btn btn-sm btn-danger edit-button" })*@
        </td>
        
    </tr>
}

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("Off_Store_ajaxlist", new { page }))</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改店铺信息</h4>
            </div>
            <div class="modal-body" id="editcontent">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">门店信息</h4>
            </div>
            <div class="modal-body" id="addcontent">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>*@
<!-- Modal -->
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h4 class="modal-body">
                是否删除该门店信息？
            </h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">是</button>
                <button type="button" class="btn btn-primary">否</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.form.min.js"></script>
<script>
    $(function () {
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            var query = $("#search-query").val();
            l = l + "&query=" + query;
            $.ajax({
                url: l,
                success: function (data) {
                    $("#list-container").html(data);
                }
            });
            return false;
        });
        $(".edit-button").click(function () {
            var link_url = $(this).attr("href");
            $.ajax({
                url: link_url,
                success: function (data) {
                    $("#editcontent").html(data);
                    $('#myModal').modal()
                }
            });
            return false;
        });
        $("#add-btn").click(function () {
            var link_url = "/OfflineSales/Off_CreateStore";
            $.ajax({
                url: link_url,
                success: function (data) {
                    $("#addcontent").html(data);
                    $('#addModal').modal()
                }
            });
            return false;
        });
        $(".del-btn").click(function () {
            var result = confirm("是/否");
            if (result) {
                //alert("success");
                window.location.reload();
                //$.ajax({
                //    url: "/OfflineSales/Off_Store_ajaxlist",
                //    data: {
                //        query: $("#search-query").val()
                //    },
                //    success: function (data) {
                //        $("#list-container").html(data);
                //    }
                    
                //});
            }
            
        })
       
    });
</script>