@model PagedList.IPagedList<PeriodAid.Models.Off_Manager_Request>
@using PagedList.Mvc;
@using PeriodAid.Models;

@section page{
    6
    }

<table class="table" style="width:100%;">
    <tr>
        <th style="width:15%;">
            店铺
            @*@Html.DisplayNameFor(model => model.ManagerUserName)*@
        </th>
        <th style="width:10%;">
            状态
            @*@Html.DisplayNameFor(model => model.StoreId)*@
        </th>
        <th style="width:10%;">
            提报类型
            @*@Html.DisplayNameFor(model => model.Status)*@
        </th>
        <th style="width:25%;">
            内容
            @*@Html.DisplayNameFor(model => model.RequestType)*@
        </th>
        <th style="width:25%;">
            备注
            @*@Html.DisplayNameFor(model => model.RequestContent)*@
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.Encode(PeriodAid.Controllers.OfflineSalesController.getManagerNickName(item.ManagerUserName))
        </td>
        <td>
            @Html.Encode(ParseStatus.getManagerRequestStatus(item.Status))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestRemark)
        </td>
        
        <td>
            @Html.ActionLink("查看", "Off_Manager_Request_Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs edit-btn", target = "_blank" })
            @if (item.Status == 0)
            {
            <a class="btn btn-danger btn-xs cancel-btn btn-del" href="/OfflineSales/Off_Manager_Request_Dismiss_Ajax?id=@item.Id">驳回</a>
            }
        </td>
    </tr>
}
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("Off_Manager_Request_List_Ajax", new { page }))</div>
<script>
    $(".btn-del").click(function () {
        var result = confirm("是否驳回该类需求提报")
        var link_url = $(this).attr("href");
        if (result) {
            $.ajax({
                url:link_url,
                type: "post",
                success: function (data) {
                    if (data.result == "success") {
                        var url = "/Offlinesales/Off_Manager_Request_List_Ajax"
                        $.ajax({
                            url: url,
                            success: function (list) {
                                $("#requestList").html(list)
                            }
                        })
                    } else {
                        alert("驳回无效")
                    }
                }
            })
        }
        return false;
    })
</script>