@model PagedList.IPagedList<PeriodAid.Models.Off_BonusRequest>
@using PagedList.Mvc;
@using PeriodAid.Models;

<table class="table table-striped">
    <tr>
        <th>
            状态
        </th>
        <th>
            活动时间
        </th>
        <th>
            店铺名称
        </th>
        <th>
            促销员姓名
        </th>
        <th>
            红包金额
        </th>
        <th>
            发放时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.Encode(item.Off_Checkin.Off_Checkin_Schedule.Subscribe.ToString("yyyy-MM-dd"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Off_Checkin.Off_Checkin_Schedule.Off_Store.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Off_Checkin.Off_Seller.Name)
        </td>
        <td>
            @Html.Encode((double)item.ReceiveAmount/100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTime)
        </td>
        <td>
            <a href="javascript:;">更新状态</a>
        </td>
    </tr>
}

</table>
