@model PeriodAid.Models.Off_Manager_Request

@{
    ViewBag.Title = "Off_Manager_Request_Edit";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    6
    }
@using (Html.BeginForm("Off_Manager_Request_Edit", "OfflineSales", FormMethod.Post, new { @id = "requestAjax" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.StoreId)
    @Html.HiddenFor(model => model.ManagerUserName)
    @Html.HiddenFor(model => model.Status)
    <div class="form-horizontal">
       
@if (Model.Status == 3)
{
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-4">店铺名称:</label>
                <div class="col-md-8">
                    <input class="form-control" value="@Model.Off_Store.StoreName" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-4">提报类型:</label>
                <div class="col-md-8">
                    <input id="RequestType" name="RequestType" class="form-control" value="@Model.RequestType" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">内容:</label>
            <div class="col-md-10">
                <input id="RequestContent" name="RequestContent" class="form-control" value="@Model.RequestContent" readonly/>            
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">备注:</label>
            <div class="col-md-10">
                <input id="RequestRemark" name="RequestRemark" class="form-control" value="@Model.RequestRemark" readonly />       
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">提报时间:</label>
            <div class="col-md-10">
                <input id="RequestTime" name="RequestTime" class="form-control" value="@Model.RequestTime" readonly />              
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">回复内容:</label>
            <div class="col-md-10">               
                @Html.EditorFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-left:5px;">
            @*<button id="request-btn" class="btn btn-success col-lg-offset-2" style="margin-right:15px;">审核</button>*@
            <a class="btn btn-default col-lg-offset-2" href="/OfflineSales/Off_Manager_Request_List">返回</a>
        </div>
}
else {
    <div class="form-group">
            <label class="control-label col-md-2">店铺名称:</label>
            <div class="col-md-4">
                <input class="form-control" value="@Model.Off_Store.StoreName" readonly />
            </div>
            <label class="control-label col-md-2">提报类型:</label>
            <div class="col-md-4">
                <input id="RequestType" name="RequestType" class="form-control" value="@Model.RequestType" readonly />
            </div>
    </div>
        <div class="form-group">
            <label class="control-label col-md-2">内容:</label>
            <div class="col-md-10">
                <input id="RequestContent" name="RequestContent" class="form-control" value="@Model.RequestContent" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">备注:</label>
            <div class="col-md-10">
                <input id="RequestRemark" name="RequestRemark" class="form-control" value="@Model.RequestRemark" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">提报时间:</label>
            <div class="col-md-10">
                <input id="RequestTime" name="RequestTime" class="form-control" value="@Model.RequestTime" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">回复内容:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-left:5px;">
            <button id="request-btn" class="btn btn-success col-lg-offset-2" style="margin-right:15px;">审核</button>
            <a class="btn btn-default" href="/OfflineSales/Off_Manager_Request_List">返回</a>
        </div>
}


    </div>
}



