@model PagedList.IPagedList<PeriodAid.Models.Off_Manager_Announcement>
@using PagedList.Mvc;
@using PeriodAid.Models;
<table class="table" style="width:100%;">
    <tr>
        <th style= "width:10%;">
            联系人
        </th>
        <th style="width:13%;">
            开始时间
        </th>
        <th style="width:13%;">
            结束时间
        </th>
        <th style="width:13%;">
            活动等级
        </th>
        <th style="width:10%;">
            标题
        </th>
        <th style="width:28%;">
            内容
        </th>
        @*<th style="width:15%;">
            操作人
        </th>
        <th style="width:13%;">
            操作时间
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style= "overflow:hidden; overflow-wrap:break-word; max-width:100px;">
                @Html.Encode(PeriodAid.Controllers.OfflineSalesController.getManagerNickNameCollection(item.ManagerUserName))
            </td>
            <td>
                @Html.Encode( item.StartTime.ToString("yyyy-MM-dd"))
            </td>
            <td>
                @Html.Encode(item.FinishTime.ToString("yyyy-MM-dd"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("修改", "Off_Manager_Announcement_Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs edit-btn", target = "_blank" })
                <a class="btn btn-danger btn-xs cancel-btn del-btn" href="/OfflineSales/Off_Manager_Request_Dismiss_Ajax?id=@item.Id">删除</a>
                
            </td>
        </tr>
    }

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("Off_Manager_Announcement_List_Ajax", new { page }))</div>

<script>
    $("#edit-btn").click(function () {

    })
        $(".del-btn").click(function () {
            var result = confirm("确定删除该信息吗？");
            if (result) {
                var url = $(this).attr("href");
                $.ajax({
                    url:url,
                    type: "post",
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            var url = "/OfflineSales/Off_Manager_Announcement_List_Ajax"
                            $.ajax({
                                url: url,
                                success: function (list) {
                                    $("#list").html(list);
                                }
                            });
                        } else {
                            alert("删除失败")
                        }
                    }
                });
            }
            return false;
        });
</script>

