@model PeriodAid.Models.Off_Product

@using (Html.BeginForm("Off_Product_Create", "OfflineSales", FormMethod.Post, new { @id = "addform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Off_System_Id)
    @Html.HiddenFor(m => m.status)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" id="ItemName" name="ItemName">产品名称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                @*<sapn class="text-danger" id="itemName_danger"></sapn>*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SimpleName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" id="SimpleName" name="SimpleName">产品简称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SimpleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SimpleName, "", new { @class = "text-danger" })
                @*<sapn class="text-danger" id="simpleName_danger"></sapn>*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Spec, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" id="Spec" name="Spec">产品规格</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Spec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Spec, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.ItemCode, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" id="ItemCode" name="ItemCode">产品数量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SalesPrice, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" id="SalesPrice" name="SalesPrice">销售单价</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalesPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default btn-save" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $('#addform').ajaxForm(function (data) {
        if (data == "SUCCESS") {
            alert("添加成功");
            $('#add_product').modal('hide');
            $.ajax({
                url: "/OfflineSales/Off_Product_List_Ajax",
                success: function (data) {
                    $("#contentList").html(data);
                }
            });
        }
        else {
            $("#addcontent").html(data)
        }
    });
</script>