@model PeriodAid.Models.SP_Contact
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增联系人信息</h2>
</div>
<div class="hidden" id="Client-name">@ViewBag.ClientName.Client_Name</div>
<div class="hidden" id="Client_Id">@ViewBag.ClientName.Id</div>
<div class="modal-body">
    @using (Html.BeginForm("AddContactPartial", "SalesProcess", FormMethod.Post, new { @id = "add-contact-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">姓名</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Contact_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系电话</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Contact_Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">邮寄地址</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Contact_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">经销商</label>
                <div class="col-md-9">
                    <input id="client-input" type="text" class="span4 form-control" autocomplete="off" name="client-input" readonly="readonly" />
                    <input type="hidden" id="ClientId" name="Client_Id" />
                    @Html.ValidationMessageFor(model => model.Client_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>


        </div>
    }
</div>
<script>
    $(function () {
        $("#client-input").val($("#Client-name").html())
        $("#ClientId").val($("#Client_Id").html())
    })
    $("#add-contact-form").validate({
        debug: true,
        rules: {
            Contact_Name: {
                required: true,
                minlength:2
            },
            Contact_Mobile: {
                required: true,
                number:true
            },
            Contact_Address: {
                required: true,
                minlength: 2
            }
        },
        messages:{
            Contact_Name: {
                required: "姓名是必填的"
            },
            Contact_Mobile: {
                required: "电话是必填的",
                number:"请注意电话格式"
            },
            Contact_Address: {
                required: "地址是必填的"
            }
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                $("#add-submit").attr("disabled", true)
                if (data.result == "SUCCESS") {
                    alert("添加成功！");
                    $("#add-submit").removeAttr("disabled")
                    $("#myModal").modal('hide')
                    $.ajax({
                        url: "/SalesProcess/ContactListPartial",
                        data: {
                            clientId: getUrlParam("clientId"),
                            page: 1,
                            query: $("#contact-query").val(),
                        },
                        success: function (data) {
                            $("#contact_list_content").html(data)
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                } else if (data.result == "UNAUTHORIZED") {
                    $("#add-submit").removeAttr("disabled")
                    errorAlert('已存在!')
                }
                else {
                    $("#add-submit").removeAttr("disabled")
                    errorAlert(data.errmsg);
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            error.appendTo(element.parent())
            $("#add-submit").removeAttr("disabled")
        }
    })
</script>