@model PeriodAid.Models.SP_Client
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增经销商信息</h2>
</div>
<div class="hidden" id="seller-type-id">@ViewBag.Seller.Id</div>
<div class="hidden" id="seller-type-name">@ViewBag.Seller.Seller_Name</div>
<div class="modal-body">
    @using (Html.BeginForm("AddClientPartial", "SalesProcess", FormMethod.Post, new { @id = "add-client-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-3 control-label">客户名称</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Client_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Client_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">状态</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Client_Status, ViewBag.ClientStatus as SelectList, "- 请选择 -", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Client_Status, " ", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">客户类型</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Client_Type, ViewBag.ClientType as SelectList, "- 请选择 -", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Client_Type, " ", new { @class = "text-danger" })
                </div>
            </div>
            @if (ViewBag.Seller.Seller_Type == 0)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label">负责人</label>
                    <div class="col-md-9">
                        <input id="seller-input-type" type="text" class="span4 form-control" autocomplete="off" name="seller-input-type" readonly="readonly" />
                        <input type="hidden" id="Seller-Type" name="Seller_Id" />
                        @Html.ValidationMessageFor(model => model.Seller_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-md-2 control-label">负责人</label>
                    <div class="col-md-9">
                        <input id="seller-input" type="text" class="span4 form-control" autocomplete="off" name="seller-input" />
                        <input type="hidden" id="SellerId" name="Seller_Id" />
                        @Html.ValidationMessageFor(model => model.Seller_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-md-3 control-label">区域</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Client_Area, ViewBag.SalesList as SelectList, "- 请选择 -", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Client_Area, " ", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-8">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#seller-input-type").val($("#seller-type-name").html())
        $("#Seller-Type").val($("#seller-type-id").html())
        //负责人搜索
        function displayResult(item, val, text) {
            $("#SellerId").val(val);
        }
        $('#seller-input').typeahead({
            ajax: {
                url: "/SalesProcess/QuerySeller",
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'SellerName',
            val: 'Id'
        });
        $("#add-client-form").validate({
            debug: true,
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        alert("添加成功！");
                        $("#myModal").modal('hide')
                        $.ajax({
                            url: "/SalesProcess/ClientListPartial",
                            data: {
                                query: $("#client-query").val()
                            },
                            success: function (data) {
                                $("#client_list_content").html(data)
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    } else if (data.result == "UNAUTHORIZED") {
                        errorAlert('已存在!')
                    } else {
                        errorAlert(data.errmsg);
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#add-submit").removeClass("disabled");
            }
        })
    })
</script>

