@model PeriodAid.Models.SP_Order
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增订单信息</h2>
</div>

<div class="modal-body">
    @using (Html.BeginForm("AddOrderPartial", "SalesProcess", FormMethod.Post, new { @id = "add-order-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">订单日期</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Order_Date, new { htmlAttributes = new { @class = "form-control date-readonly", @readonly="readonly" } })
                    @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">订单号</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Order_Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order_Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系人</label>
                <div class="col-md-9">
                    <input id="contact_input" type="text" class="span4 form-control" autocomplete="off" name="contact_input" />
                    <input type="hidden" id="ContactId" name="Contact_Id" />
                    @Html.ValidationMessageFor(model => model.Contact_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(function () {
        ////联系人搜索
        function displayResult(item, val, text) {
            $("#ContactId").val(val);
        }
        $('#contact_input').typeahead({
            ajax: {
                url: "/SalesProcess/QueryContact",
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'Contact_Name',
            val: 'Id'
        });
        $("#add-order-form").validate({
            debug: true,
            rules:{
                Order_Date: {
                    required: true,
                    date:true
                },
                Order_Number: {
                    required: true,
                    maxlength: 20
                },
                client_input: {
                    required: true,
                    maxlength:20
                }
            },
            messages:{
                Order_Date: {
                    required: "日期是必填的",
                    date:"请直接选择日期"
                },
                Order_Number: {
                    required: "订单号是必填的",
                    maxlength: 20
                },
                contact_input: {
                    required: "联系人是必填的",
                    maxlength:20
                }
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $("#add-submit").attr("disabled",true)
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        alert("添加成功！");
                        $("#add-submit").removeAttr("disabled")
                        $("#myModal").modal('hide')
                        $.ajax({
                            url: "/SalesProcess/OrderListPartial",
                            data: {
                                query: $("#order-query").val(),
                                clientId: getUrlParam("clientId")
                            },
                            success: function (data) {
                                $("#order_list_content").html(data)
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    }
                    else if (data.result == "UNAUTHORIZED") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert("订单号存在!");
                    }
                    else if (data.result == "FAIL") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert("联系人不存在!");
                    } else {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert(data.errmsg)
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                error.appendTo(element.parent())
                $("#add-submit").removeAttr("disabled")
            }
        })
    })
    
    window.moment = Kalendae.moment;
    var k4 = new Kalendae.Input('Order_Date', {
        months: 1,
        mode: 'single',
        titleFormat: "MM月, YYYY年",
        format: "YYYY-MM-DD"
    });
</script>