@model PeriodAid.Models.SP_Order
@{
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<style>
    .order_label{
        margin-top:14px;
        margin-bottom:0
    }
    .order_control{
        height:30px;
        box-shadow:none;
        border:0;
        border-bottom:1px solid black;
        border-radius:initial;
        text-align:center
    }
    
</style>
<h2 class="text-center" style="margin-bottom:25px">寿全斋订货通知单</h2>
<div class="col-md-12">
    <ol class="breadcrumb float-left">
        当前位置：
        <li><a href="/SalesProcess/OrderList">订单管理</a></li>
        <li class="active">新增订单</li>
    </ol>
</div>
<div id="order_id" class="hidden"></div>
@using (Html.BeginForm("AddOrderPartial", "SalesProcess", FormMethod.Post, new { @id = "add-order-form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="hidden">
            <input type="text" value="@ViewBag.ordernumber" id="Order_Number" name="Order_Number" />
            @Html.ValidationMessageFor(model => model.Order_Number, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">购货单位：</label>
            <div class="col-md-8">
                <input id="client_input" type="text" class="span4 form-control order_control" autocomplete="off" name="client_input"/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">订货日期：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Order_Date, new { htmlAttributes = new { @class = "form-control date-readonly order_control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">联系人电话：</label>
            <div class="col-md-8">
                <input id="contact_input" type="text" class="span4 form-control order_control" autocomplete="off" name="contact_input" />
                <input type="hidden" id="ContactId" name="Contact_Id" />
                @Html.ValidationMessageFor(model => model.Contact_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">邮寄地址：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Order_Address, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Order_Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">签呈编号：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Signed_Number, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Signed_Number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">核销费用：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cancellation_Fee, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Cancellation_Fee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-12" style="margin-bottom:0">
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">备注：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Order_Remark, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Order_Remark, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <input type="submit" class="hidden" value="新增" id="add-submit" name="add-submit" />     
        </div>
    </div>
}
<div class="col-md-12" style="padding:0 74px 0 40px">
    <a class="btn btn-info btn-sm  float-left" style="margin:10px 0" id="add-order"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加产品</a>
    <a class="btn btn-info btn-sm  float-left" style="margin:10px 0" id="add-orderPrice" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加产品</a>
</div>
<div class="col-md-12 well" style="padding:0 74px 0 40px">
    <div id="orderPrice_list_content"></div>
</div>
<div class="col-md-12 text-center" style="padding:0 74px 0 40px">
    <a class="btn btn-danger btn-sm" id="confirm-btn">提交</a>
</div>
    

@section scripts{
    <script>
        $(function () {
            $("#confirm-btn").addClass("disabled")
            $("#add-orderPrice").addClass("hidden")
            $.ajax({
                url: "/SalesProcess/OrderPriceList",
                data: {
                },
                success: function (data) {
                    $("#orderPrice_list_content").html(data)
                }
            })
            //经销商搜索
            $('#client_input').typeahead({
                ajax: {
                    url: "/SalesProcess/QueryClient",
                    triggerLength: 1
                },
                itemSelected: displayResultC,
                display: 'Client_Name',
                val: 'Id'
            });
            // 日期
            window.moment = Kalendae.moment;
            var k4 = new Kalendae.Input('Order_Date', {
                months: 1,
                mode: 'single',
                titleFormat: "MM月, YYYY年",
                format: "YYYY-MM-DD"
            });
            //默认地址
            $("#Order_Address").focus(function () {
                if ($("#client_input").attr("data-cvl") != null) {
                    $.ajax({
                        url: "/SalesProcess/AutoFillAddress",
                        type: "post",
                        data: {
                            clientId: $("#client_input").attr("data-cvl")
                        },
                        success: function (data) {
                            $("#Order_Address").val(data)
                        }
                    })
                }
            })
            //地址搜索
            $('#Order_Address').typeahead({
                ajax: {
                    url: "/SalesProcess/QueryAddress",
                    triggerLength: 1
                },
                itemSelected: displayResultA,
                display: 'Address_Show',
                val: 'System_Address'
            });
            function displayResultA(item, val, text) {
                $("#Order_Address").val(val);
            }
            //联系人搜索
            function displayResult(item, val, text) {
                $("#ContactId").val(val);
            }
            function displayResultC(item, val, text) {
                $("#ContactId").attr("data-cid", val)
                $("#client_input").attr("data-cvl", val)
                var _val = val;
                $('#contact_input').typeahead({
                    ajax: {
                        url: "/SalesProcess/QueryContactPhone?clientId=" + _val,
                        triggerLength: 1
                    },
                    itemSelected: displayResult,
                    display: 'Contact_Name',
                    val: 'Id'
                });
            }
        })
        $("#add-order").on("click", function () {
                $("#add-submit").trigger("click");
            })
        $("#add-orderPrice").on("click", function () {
                $.ajax({
                    url: '/SalesProcess/AddOrderPricePartial',
                    data: {
                        orderId: $("#order_id").attr("data-oid")
                    },
                    success: function (data) {
                        $('#modal-content').html(data)
                        $("#bg_myModal").modal('show')
                    }
                })
        })
        // order
        $("#add-order-form").validate({
                debug: true,
                rules: {
                    Order_Date: {
                        required: true
                    },
                    client_input: {
                        required: true
                    },
                    contact_input: {
                        required: true
                    },
                    Order_Address: {
                        required: true
                    },
                },
                messages: {
                    Order_Date: {
                        required: "日期是必须的"
                    },
                    client_input: {
                        required: "购货单位是必须的"
                    },
                    contact_input: {
                        required: "联系人是必须的"
                    },
                    Order_Address: {
                        required: "邮寄地址是必须的"
                    }
                },
                //验证通过的正式提交函数
                submitHandler: function (form) {
                    $(form).ajaxSubmit(function (data) {
                        if (data.result == "SUCCESS") {
                            $("#add-order").addClass("hidden")
                            $("#add-orderPrice").removeClass("hidden")
                            $("#order_id").attr("data-oid", data.order)
                            $.ajax({
                                url: '/SalesProcess/AddOrderPricePartial',
                                data: {
                                    orderId: $("#order_id").attr("data-oid")
                                },
                                success: function (data) {
                                    $('#modal-content').html(data)
                                    $("#bg_myModal").modal('show')
                                }
                            })
                        }
                        else if (data.result == "UNAUTHORIZED") {
                            errorAlert("联系人不存在,请先添加联系人!");
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                        else if (data.result == "FAIL") {
                            errorAlert("添加失败,基本信息不正确!");
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        } else {
                            errorAlert(data.errmsg)
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    })
                },
                errorClass: "has-error",
                //验证失败
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent())
                }
        })
        // 提交
        $("#confirm-btn").on("click", function () {
                var that = $(this)
                alert("操作成功","订单号:" + $("#Order_Number").val(), function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = "/SalesProcess/OrderList";
                        $("#confirm-btn").addClass("disabled")
                    }
                })
        })
    </script>
}
