@model PeriodAid.Models.SP_OrderPrice
    <style>
      .table > tbody > tr > td{
          vertical-align:middle;
      }
    </style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增订单产品</h2>
</div>
<div class="hidden" id="order-number">@ViewBag.Order.Order_Number</div>
<div class="hidden" id="order-id">@ViewBag.Order.Id</div>
<div class="modal-body">
    @using (Html.BeginForm("AddOrderPricePartial", "SalesProcess", FormMethod.Post, new { @id = "add-orderPrice-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">订单号</label>
                <div class="col-md-9">
                    <input id="price_input" type="text" class="span4 form-control" readonly="readonly" autocomplete="off" name="price_input" />
                    <input type="hidden" id="OrderId" name="Order_Id" />
                    @Html.ValidationMessageFor(model => model.Order_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">订货信息</label>
                <div class="col-md-9">
                    <table class="table-striped table table-bordered" style="margin-bottom:0" id="productdetails">
                        <tr>
                            <th class="col-md-2 text-center">商品名称</th>
                            <th class="col-md-2 text-center">数量</th>
                            <th class="col-md-2 text-center">价格</th>
                        </tr>
                    </table>
                </div>      
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">添加产品</label>
                <div class="col-md-7">
                    <select id="productlist" class="form-control" name="productlist"></select>
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" class="btn btn-default" id="add-product"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#price_input").val($("#order-number").html())
        $("#OrderId").val($("#order-id").html())
    })
    $("#add-product").click(function () {
        var select_item = $("#productlist").find("option:selected");
        if (select_item.length != 0) {
            $("#productdetails").append("<tr><td class='text-center'>" + select_item.text() + "</td><td><input class='form-control input-sm' required='required' type='number' placeholder='数量' name='order_" + select_item.attr("value") + "' id='order_" + select_item.attr("value") + "' /></td><td><input class='form-control input-sm' required='required' type='number' placeholder='价格' name='price_" + select_item.attr("value") + "' id='price_" + select_item.attr("value") + "' /></td></tr>");
            select_item.remove();
        }
    });
    $.ajax({
        url: "/SalesProcess/AllProductAjax",
        type: "post",
        data: {
            clientId: getUrlParam('clientId')
        },
        success: function (data) {
            if (data.result == "SUCCESS") {
                for (var i = 0; i < data.data.length; i++) {
                    var item = $("#price_" + data.data[i].Id);
                    if (item.length == 0) {
                        $("#productlist").append("<option value='" + data.data[i].Id +"'>" + data.data[i].ItemName + "</option>");
                    }
                }
            }
        }
    });
    $("#add-orderPrice-form").validate({
        debug: true,
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $("#add-submit").attr("disabled", true)
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    alert("添加成功！");
                    $("#add-submit").removeAttr("disabled")
                    $("#myModal").modal('hide')
                    $.ajax({
                        url: "/SalesProcess/OrderPriceListPartial",
                        data: {
                            orderId: getUrlParam("orderId")
                        },
                        success: function (data) {
                            $("#orderPrice_list_content").html(data)
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                }
                else if (data.result == "UNAUTHORIZED") {
                    $("#add-submit").removeAttr("disabled")
                    errorAlert("报价已存在!");
                }
                else if (data.result == "FAIL") {
                    $("#add-submit").removeAttr("disabled")
                    errorAlert("保存失败!");
                }
                else {
                    $("#add-submit").removeAttr("disabled")
                    errorAlert(data.errmsg)
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            error.appendTo(element.parent())
            $("#add-submit").removeAttr("disabled")
        }
    })
</script>