@model PeriodAid.Models.SP_Quoted
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增报价单信息</h2>
</div>
<div class="hidden" id="SalesSystem_name">@ViewBag.Sales.System_Name</div>
<div class="hidden" id="SalesSystem_Id">@ViewBag.Sales.Id</div>
<div class="modal-body">
    @using (Html.BeginForm("AddQuotedPartial", "SalesProcess", FormMethod.Post, new { @id = "add-quoted-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                <label class="col-md-3 control-label">报价日期</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Quoted_Date, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Quoted_Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">报价单号</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Quotation_Num, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quotation_Num, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">备注</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">店铺名称</label>
                <div class="col-md-9">
                    <input id="salessystem-input" type="text" class="span4 form-control" autocomplete="off" name="salessystem-input" readonly="readonly" />
                    <input type="hidden" id="SalesSystemId" name="SalesSystem_Id" />
                    @Html.ValidationMessageFor(model => model.SalesSystem_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#salessystem-input").val($("#SalesSystem_name").html())
        $("#SalesSystemId").val($("#SalesSystem_Id").html())
        $("#add-quoted-form").validate({
            debug: true,
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        alert("添加成功！");
                        $("#myModal").modal('hide')
                        $.ajax({
                            url: "/SalesProcess/QuotedListPartial",
                            data: {
                                query: $("#quoted-query").val(),
                                SalesSystemId: getUrlParam('SalesSystemId')
                            },
                            success: function (data) {
                                $("#quoted_list_content").html(data)
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    } else if (data.result == "UNAUTHORIZED") {
                        errorAlert('报价单已存在!')
                    } else if (data.result == "FAIL") {
                        errorAlert('信息不全,添加失败')
                    } else {
                        errorAlert(data.errmsg);
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#add-submit").removeClass("disabled");
            }
        })
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('Quoted_Date', {
            months: 1,
            mode: 'single',
            titleFormat: "MM月, YYYY年",
            format: "YYYY-MM-DD"
        });
    })
</script>