@model PeriodAid.Models.SP_QuotePrice
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增报价信息</h2>
</div>
<div class="hidden" id="sales-id">@ViewBag.Sales.Id</div>
<div class="hidden" id="sales-name">@ViewBag.Sales.System_Name</div>
<div class="modal-body">
    @using (Html.BeginForm("AddQuotePricrPartial", "SalesProcess", FormMethod.Post, new { @id = "add-quotePrice-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">产品名称</label>
                <div class="col-md-9">
                    <input id="product-input" type="text" class="span4 form-control" autocomplete="off" name="product-input" />
                    <input type="hidden" id="ProductId" name="Product_Id" />
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">报价日期</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Quoted_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quoted_Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">报格</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Quote_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quote_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">所属渠道</label>
                <div class="col-md-9">
                    <input id="sales-input" type="text" class="span4 form-control" autocomplete="off" name="sales-input" readonly="readonly" />
                    <input type="hidden" id="SalesId" name="SalesSystem_Id" />
                    @Html.ValidationMessageFor(model => model.SalesSystem_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit" />
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(function () {
        $("#sales-input").val($("#sales-name").html())
        $("#SalesId").val($("#sales-id").html())
        $("#date-input").val($("#quoted-date").html())
        $("#QuotedDate").val($("#quoted-date").html())
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('Quoted_Date', {
            months: 1,
            mode: 'single',
            titleFormat: "MM月, YYYY年",
            format: "YYYY-MM-DD"
        });
        //产品搜索
        function displayResult(item, val, text) {
            $("#ProductId").val(val);
        }
        $('#product-input').typeahead({
            ajax: {
                url: "/SalesProcess/QueryProduct",
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'ProductName',
            val: 'Id'
        });
    })
    $("#add-quotePrice-form").validate({
        debug: true,
        rules: {
            Quoted_Date: {
                required: true,
                dateISO: true
            }
        },
        messages: {
            Quoted_Date: {
                required: "日期是必需的",
                dateISO: "请直接选择日期",
            }
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    alert("添加成功！");
                    $("#myModal").modal('hide')
                    $.ajax({
                        url: "/SalesProcess/QuotePricrListPartial",
                        data: {
                            query: $("#quotePrice-query").val(),
                            SalesSystemId: getUrlParam('SalesSystemId')
                        },
                        success: function (data) {
                            $("#quotePrice_list_content").html(data)
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                }
                else if (data.result == "UNAUTHORIZED") {
                    errorAlert("报价已存在!");
                } else {
                    errorAlert(data.errmsg)
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            error.appendTo(element.parent());
        }
    })
</script>