@model PeriodAid.Models.SP_SalesSystem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增商铺信息</h2>
</div>
<div class="hidden" id="Client-name">@ViewBag.ClientName.Client_Name</div>
<div class="hidden" id="Client_Id">@ViewBag.ClientName.Id</div>
<div class="modal-body">
    @using (Html.BeginForm("AddSalesPartial", "SalesProcess", FormMethod.Post, new { @id = "add-sales-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">商铺名称</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系电话</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">地址</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">经销商</label>
                <div class="col-md-9">
                    <input id="client-input" type="text" class="span4 form-control" autocomplete="off" name="client-input" readonly="readonly" />
                    <input type="hidden" id="ClientId" name="Client_Id" />
                    @Html.ValidationMessageFor(model => model.Client_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" />
                </div>
            </div>


        </div>
    }

</div>
<script>
    $(function () {
        $("#client-input").val($("#Client-name").html())
        $("#ClientId").val($("#Client_Id").html())
        $("#add-sales-form").ajaxForm(function (data) {
            if (data == "SUCCESS") {
                $("#myModal").modal('hide')
                $.ajax({
                    url: "/SalesProcess/SalesListPartial",
                    data: {
                        page: 1,
                        query: $("#sales-query").val(),
                        clientId: getUrlParam("clientId")
                    },
                    success: function (data) {
                        $("#sales_list_content").html(data)
                        $('.modal-backdrop.in').remove()
                        $('body').removeClass('modal-open')
                    }
                });
                alert("添加成功！");
            }
            else if (data == "UNAUTHORIZED") {
                errorAlert("商铺已存在！");
            } else {
                errorAlert("添加失败！");
            }
        })
    })
</script>