@model PeriodAid.Models.SP_SalesSystem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增渠道信息</h2>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AddSalesPartial", "SalesProcess", FormMethod.Post, new { @id = "add-sales-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">渠道名称</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系电话</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">地址</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.System_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">经销商</label>
                <div class="col-md-9">
                    <input id="client_input" type="text" class="span4 form-control" autocomplete="off" name="client_input" />
                    <input type="hidden" id="ClientId" name="Client_Id" />
                    @Html.ValidationMessageFor(model => model.Client_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit"/>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $(function () {
        //经销商搜索
        function displayResult(item, val, text) {
            $("#ClientId").val(val);
        }
        $('#client_input').typeahead({
            ajax: {
                url: "/SalesProcess/QueryClient",
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'Client_Name',
            val: 'Id'
        });
        $("#add-sales-form").validate({
            debug: true,
            rules: {
                System_Name: {
                    required: true,
                },
                System_Phone: {
                    required: true,
                    number:true
                },
                client_input: {
                    required: true,
                }
            },
            messages:{
                System_Name: {
                    required:"名称是必填的"
                },
                System_Phone: {
                    required: "电话是必填的",
                    number:"请注意电话格式"
                },
                client_input: {
                    required: "经销商是必填的",
                }
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    $("#add-submit").attr("disabled",true)
                    if (data.result == "SUCCESS") {
                        alert("添加成功！");
                        $("#add-submit").removeAttr("disabled")
                        $("#myModal").modal('hide')
                        $.ajax({
                            url: "/SalesProcess/SalesListPartial",
                            data: {
                                page: 1,
                                query: $("#sales-query").val(),
                                clientId: getUrlParam("clientId")
                            },
                            success: function (data) {
                                $("#sales_list_content").html(data)
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    }
                    else if (data.result == "UNAUTHORIZED") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert("渠道已存在!");
                    }
                    else if (data.result == "FAIL") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert("经销商不存在!");
                    } else {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert(data.errmsg)
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#add-submit").removeAttr("disabled")
                error.appendTo(element.parent())
            }
        })
    })
</script>