@model PeriodAid.Models.SP_Seller
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增人员信息</h2>
</div>
<div id="manager-name" class="hidden">@ViewBag.Seller.Seller_Name</div>
<div id="manager-id" class="hidden">@ViewBag.Seller.Id</div>
<div id="department-name" class="hidden">@ViewBag.Seller.SP_Department.Department_Name</div>
<div id="department-id" class="hidden">@ViewBag.Seller.Department_Id</div>
<div class="modal-body">
    @using (Html.BeginForm("AddSellerPartial", "SalesProcess", FormMethod.Post, new { @id = "add-seller-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">姓名</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seller_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Seller_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">手机号</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seller_Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Seller_Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">用户名</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">权限</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Seller_Type, ViewBag.SellerType as SelectList , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Seller_Type, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (ViewBag.Seller.Seller_Type == 4)
            {
                <div class="form-group" id="manager_select">
                    <label class="col-md-2 control-label">负责人</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Manager_Id, ViewBag.Manager as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Manager_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">部门</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Department_Id, ViewBag.Department as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else if (ViewBag.Seller.Seller_Type == 3)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label">负责人</label>
                    <div class="col-md-10">
                        <input id="manager_input" type="text" class="span4 form-control" autocomplete="off" name="manager_input" readonly="readonly" />
                        <input type="hidden" id="ManagerId" name="Manager_Id" />
                        @Html.ValidationMessageFor(model => model.Manager_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">部门</label>
                    <div class="col-md-10">
                        <input id="department_input" type="text" class="span4 form-control" autocomplete="off" name="department_input" readonly="readonly" />
                        <input type="hidden" id="DepartmentId" name="Department_Id" />
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit" name="add-submit"/>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $(function () {
        $("#manager_input").val($("#manager-name").html())
        $("#ManagerId").val($("#manager-id").html())
        $("#department_input").val($("#department-name").html())
        $("#DepartmentId").val($("#department-id").html())
        $("#Seller_Type").change(function () {
            if ($("#Seller_Type").val() > 2) {
                $("#manager_select").addClass("hidden")
            } else {
                $("#manager_select").removeClass("hidden")
            }
        })
        $("#add-seller-form").validate({
            debug: true,
            rules: {
                Seller_Name: {
                    required: true,
                    maxlength: 16
                },
                Seller_Mobile:{
                    required: true,
                    minlength: 11,
                    isMobile: true
                },
                User_Name: {
                    required: true,
                    email: true
                },
            },
            messages:{
                Seller_Name: {
                    required: "姓名是必填的"
                },
                Seller_Mobile: {
                    required: "请输入手机号",
                    minlength: "确认手机不能小于11个字符",
                    isMobile: "请正确填写您的手机号码"
                },
                User_Name: {
                    required: "用户名是必填的",
                    email:"请输入正确的邮箱格式"
                },
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    $("#add-submit").attr("disabled",true)
                    if (data.result == "SUCCESS") {
                        alert("添加成功！");
                        $("#add-submit").removeAttr("disabled")
                        $("#myModal").modal('hide')
                        $.ajax({
                            url: "/SalesProcess/SellerListPartial",
                            data: {
                                query: $("#seller-query").val()
                            },
                            success: function (data) {
                                $("#seller_list_content").html(data)
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    } else if (data.result == "UNAUTHORIZED") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert('用户名或电话已存在!')
                    } else if (data.result == "FAIL") {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert("添加失败!");
                    } else {
                        $("#add-submit").removeAttr("disabled")
                        errorAlert(data.errmsg);
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                error.appendTo(element.parent())
                $("#add-submit").removeAttr("disabled")
            }
        })
    })
</script>