@model PagedList.IPagedList<PeriodAid.Models.SP_Client>
@using PagedList.Mvc;
<style>
    .btn-xs{
        line-height:1.4
    }
</style>
<div>
    <table class="table table-hover" style="margin-bottom:0">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%;">客户名称</th>
            <th style="width:10%;">状态</th>
            <th style="width:10%;">客户类型</th>
            <th style="width:15%;">所属区域</th>
            <th style="width:15%;">负责人</th>
            <th style="width:35%;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Client_Name</td>
                <td>@Html.PlattformTypeStatus(item.Client_Status)</td>
                <td>@Html.ClientType(item.Client_Type)</td>
                <td>@item.Client_Area</td>
                <td>@item.SP_Seller.Seller_Name</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@item.Id" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="contact-btn btn btn-xs btn-primary" role="button" data-val="@item.Id" data-name="@item.Client_Name">联系人详情</a>
                    <a class="sales-btn btn btn-xs" data-eid="@item.Id" style="color:white;background:#3a7285">渠道详情</a>
                    <a class="order-btn btn btn-xs btn-info" data-eid="@item.Id">订货详情</a>
                    <a class="delete-client btn btn-xs btn-danger" role="button" data-eid="@item.Id">删除记录</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("ClientListPartial", new { page }))
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    plattformId: $(".client-list-li.active").children(".plattform-btn").attr("data-id"),
                    page: 1,
                    query: $("#client-query").val(),
                    plattformType: getUrlParam('plattformType')
                },
                success: function (data) {
                    $("#client_list_content").html(data)
                }
            });
            return false;
        });
        // 编辑
        $('.select-a').click(function () {
            $.ajax({
                url: '/SalesProcess/EditClientInfo',
                data: {
                    clientId: $(this).attr('data-val'),
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')

                }
            })
        })
        // 删除
        $(".delete-client").on("click", function () {
            var C_id = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/DeleteClient",
                        type: "post",
                        data: {
                            clientId: C_id,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                    $.ajax({
                                        url: "/SalesProcess/ClientListPartial",
                                        data: {
                                            plattformId: $(".client-list-li.active").children(".plattform-btn").attr("data-id"),
                                            page: 1,
                                            query: $("#client-query").val(),
                                            plattformType: getUrlParam('plattformType')
                                        },
                                        success: function (data) {
                                            $("#client_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                                    alert("删除成功")
                            } else if (data.result == "FAIL") {
                                errorAlert("删除失败")
                            } else {
                                errorAlert(data.errmsg)
                            }
                        }
                    })
                }
            });
        })
        // 联系人详情
        $(".contact-btn").on("click", function () {
            var C_id = $(this).attr("data-val")
            $(this).attr("href", "/SalesProcess/ContactList?clientId=" + C_id)
        })
        // 订货信息
        $(".order-btn").on("click", function () {
            var C_id = $(this).attr("data-eid")
            $(this).attr("href", "/SalesProcess/OrderList?clientId=" + C_id)
        })
        // 渠道详情
        $(".sales-btn").on("click", function () {
            var C_id = $(this).attr("data-eid")
            $(this).attr("href", "/SalesProcess/SalesList?clientId=" + C_id)
        })
    })
</script>