@model IEnumerable<PeriodAid.Models.SP_Contact>
<style>
    .btn-xs {
        line-height: 1.4;
    }
</style>
<div>
    <table class="table text-center">
        <tr>
            <th class="text-center">姓名</th>
            <th class="text-center">联系电话</th>
            <th class="text-center">邮寄地址</th>
            <th></th>
        </tr>
        @foreach (var list in Model)
        {
            if (list.Contact_Type!= -1)
            {
                <tr>
                    <td>@list.Contact_Name</td>
                    <td>@list.Contact_Mobile</td>
                    <td>@list.Contact_Address</td>
                    <td class="text-center">
                        <a data-eid="@list.Id" class="select-contact btn btn-xs btn-success" role="button">编辑</a>
                        <a class="delete-contact btn btn-xs btn-danger" data-eid="@list.Id" role="button">删除</a>
                    </td>
                </tr>
            }

        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        // 编辑
        $(".select-contact").on("click", function () {
            $.ajax({
                url: "/SalesProcess/EditContactInfo",
                data: {
                    contactId: $(this).attr("data-eid")
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        // 删除
        $(".delete-contact").on("click", function () {
            var C_id = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/DeleteContact",
                        type: "post",
                        data: {
                            contactId: C_id,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                    $.ajax({
                                        url: "/SalesProcess/ContactListPartial",
                                        data: {
                                            clientId: getUrlParam("clientId"),
                                            page: 1,
                                            query: $("#contact-query").val(),
                                        },
                                        success: function (data) {
                                            $("#contact_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                                    alert("删除成功")
                            } else if (data.result == "FAIL") {
                                alert("删除失败", "", function () {
                                }, { type: 'error' });
                            }
                        }
                    })
                }
            });
        })
    })
</script>