@model IEnumerable<PeriodAid.Models.CRM_Contract>
<style>
    .form-control{
        display:initial;
        width:auto;
        height:auto;
        padding:0;
    }
</style>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:5%">
                <label class="checkbox-custom">
                    <input type="checkbox" class="btn" id="checkbox-all">
                </label>
            </th>
            <th style="width:10%">订单号</th>
            <th style="width:15%">合同名称</th>
            <th style="width:5%">总金额</th>
            <th style="width:15%">客户名称</th>
            <th style="width:25%">邮寄地址</th>
            <th style="width:25%">
                <a class="btn btn-xs btn-success" id="batch_change_status" data-status="3531567"  role="button" style="cursor:pointer"><i class="fa fa-upload"></i>&nbsp;&nbsp;批量同步</a>
                <a class="btn btn-xs btn-success" id="batch_change_deliverys" data-status="3531568"   role="button" style="cursor:pointer">批量获取ERP配送信息</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label class="checkbox-custom">
                        <input type="checkbox" class="btn checkbox" data-val="@item.id" data-status="@item.contract_status" data-astatus="@item.address_status">
                    </label>
                </td>
                <td>
                    @item.platform_code
                </td>
                <td>
                    @item.contract_title
                </td>
                <td>
                    @item.total_amount
                </td>
                <td>
                    @item.CRM_Customer.customer_name
                </td>
                @if (item.contract_status == "3531567")
                {
                    if (item.address_status == 1)
                    {
                        <td>
                            @item.receiver_address
                        </td>
                    }
                    else
                    {
                        <td class="select_address" style="width:397px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis" title="@item.receiver_address">
                            <div class="distpicker5" style="display:inline">
                                <select class="select_province form-control" style="width:20%"></select>
                                <select class="select_city form-control" style="width:20%"></select>
                                <select class="select_district form-control" style="width:20%"></select>
                            </div>
                            <div>@item.receiver_address</div>
                        </td>
                    }
                    <td class="receiver_address">
                        <a class="change_status btn btn-xs btn-success" role="button" data-val="@item.id" data-status="@item.contract_status" data-astatus="@item.address_status" style="cursor:pointer">同步ERP</a>
                        <a class="btn btn-xs btn-danger contract_detail" role="button" data-toggle="modal" data-target=".bs-example-modal-lg" data-val="@item.id" data-title="@item.contract_title" >详情</a>
                    </td>
                }
                else if (item.contract_status == "3531568")
                {
                    <td style="width:203px;overflow:hidden" title="@item.receiver_address">@item.receiver_address</td>
                    <td>
                        <a class="get_erp_status btn btn-xs btn-success" role="button" data-val="@item.id" data-status="@item.contract_status" style="cursor:pointer">获取ERP配送信息</a>
                    </td>
                }
                else if (item.contract_status == "3890335")
                {
                    <td style="width:203px;overflow:hidden" title="@item.receiver_address">@item.receiver_address</td>
                    <td>
                        <a class="get_erp_status btn btn-xs btn-success" role="button" data-val="@item.id" data-status="@item.contract_status" style="cursor:pointer">获取ERP配送信息</a>
                    </td>
                }
                else
                {
                    <td>@item.express_information</td>
                }
            </tr>
        }
    </table>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script src="~/Scripts/distpicker.data.js"></script>
<script src="~/Scripts/distpicker.js"></script>
<script src="~/Scripts/main.js"></script>
<script>
    $(function () {
        $('.change_status[data-astatus="0"]').removeClass("change_status").addClass("change_address")
        $(".distpicker5").distpicker({
            autoSelect: false
        });
        $(".select_province").change(function () {
            var options = $(this).children("option:selected");
            console.log(options.val());
            $(this).parents(".select_address").siblings(".receiver_address").children(".change_address").attr("data-province", options.val())
        })
        $(".select_city").change(function () {
            var options = $(this).children("option:selected");
            console.log(options.val());
            $(this).parents(".select_address").siblings(".receiver_address").children(".change_address").attr("data-city", options.val())
        })
        $(".select_district").change(function () {
            var options = $(this).children("option:selected");
            console.log(options.val());
            $(this).parents(".select_address").siblings(".receiver_address").children(".change_address").attr("data-district", options.val())
        })
        $("#batch_change_status").hide()
        $("#batch_change_deliverys").hide()
        $("#checkbox-all").attr("data-status", $(".checkbox").attr("data-status"))
        var orderarry = [];
        $('.checkbox[data-astatus="0"]').attr("disabled", "disabled")
        //单选
        $(".checkbox").click(function () {
            var that = $(this)
            var C_id = that.attr("data-val")
            var select = that.is(":checked");
            if (select) {
                orderarry.push(C_id)
                if (that.attr("data-status") == "3531567") {
                    $("#batch_change_status").show()
                    $(".change_status").hide()
                } else {
                    $("#batch_change_deliverys").show()
                    $(".get_erp_status").hide()
                }
                
            } else {
                orderarry.remove(C_id)
                $("#checkbox-all").prop("checked", false)
            }
            if ($("input:checked").length < 2) {
                if (that.attr("data-status") == "3531567") {
                    $("#batch_change_status").hide()
                    $(".change_status").show()
                } else {
                    $("#batch_change_deliverys").hide()
                    $(".get_erp_status").show()
                }
                
            }
        })
        //全选
        $("#checkbox-all").click(function () {
            var i = 0
            var that = $(this)
            if (that.attr("data-status") == "3531567") {
                if (that.is(":checked")) {
                    $("#batch_change_status").show()
                    $(".change_status").hide()
                    $('.checkbox[data-astatus="1"]').prop("checked", true);
                    var list = $(".checkbox:checked")
                    for (i; i < list.length; i++) {
                        var list_data = $(list[i]).attr("data-val")
                        if (orderarry.indexOf(list_data) == -1) {
                            orderarry.push(list_data)
                        }
                    }
                } else {
                    $("#batch_change_status").hide()
                    $(".change_status").show()
                    $("input").prop("checked", false);
                    var list = $(".checkbox:unchecked")
                    for (i; i < list.length; i++) {
                        orderarry.remove($(list[i]).attr("data-val"))
                    }
                }
            } else {
                if (that.is(":checked")) {
                    $("#batch_change_deliverys").show()
                    $(".get_erp_status").hide()
                    $("input").prop("checked", true);
                    var list = $(".checkbox:checked")
                    for (i; i < list.length; i++) {
                        var list_data = $(list[i]).attr("data-val")
                        if (orderarry.indexOf(list_data) == -1) {
                            orderarry.push(list_data)
                        }
                    }
                } else {
                    $("#batch_change_deliverys").hide()
                    $(".get_erp_status").show()
                    $("input").prop("checked", false);
                    var list = $(".checkbox:unchecked")
                    for (i; i < list.length; i++) {
                        orderarry.remove($(list[i]).attr("data-val"))
                    }
                }
            }
            
        })
         //批量同步到ERP等待审核
        $("#batch_change_status").click(function () {
            var that = $(this);
            if (orderarry.length == 0) {

            } else {
                $.ajax({
                    url: "/SalesProcess/createOrder/",
                    type: "post",
                    data: {
                        c_id: orderarry,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            alert("已推送至ERP等待审核")
                            $.ajax({
                                url: "/SalesProcess/GetCrmInfo/",
                                data: {
                                    url_api: "/api/v2/contracts",
                                },
                                success: function (data) {
                                    $.ajax({
                                        url: "/SalesProcess/CRM_undeliveredPartical/",
                                        data: {
                                            status: "3531568"
                                        },
                                        success: function (data) {
                                            $("#undelivered_list_content").html(data)
                                            $("#second_btn").addClass("btn-danger")
                                            $("#firsts_btn").removeClass("btn-danger")
                                        }
                                    })
                                }
                            })
                        } else if (data.result == "FAIL") {
                            errorAlert("推送失败,请检查订单信息是否完整")
                        } else {
                            errorAlert("获取信息失败")
                        }

                    }
                })
            }
        })
         //批量获取ERP快递信息
        $("#batch_change_deliverys").click(function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            $.ajax({
                url: "/SalesProcess/getERPORDERS/",
                type: "post",
                data: {
                    c_id: orderarry,
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("已从ERP同步快递信息")
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            type: "post",
                            data: {
                                c_id: orderarry,
                            },
                            success: function () {
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3764330"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                        $("#fourth_btn").addClass("btn-danger")
                                        $("#second_btn").removeClass("btn-danger")
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("获取失败," + data.data)
                    } else if (data.result == "ERROR") {
                        errorAlert("尚未配发，暂无物流信息")
                    } else if (data.result == "PORTION") {
                        alert("部分已配货")
                        $.ajax({
                            url: "/SalesProcess/CRM_undeliveredPartical/",
                            data: {
                                status: "3890335"
                            },
                            success: function (data) {
                                $("#undelivered_list_content").html(data)
                                $("#third_btn").addClass("btn-danger")
                                $("#second_btn").removeClass("btn-danger")
                            }
                        })
                    }
                    else {
                        errorAlert("未找到ERP订单")
                    }

                }
            })
        })
        // 同步ERP快递信息
        $(".get_erp_status").click(function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            $.ajax({
                url: "/SalesProcess/getERPORDERS/",
                type:"post",
                data: {
                    c_id: orderarry,
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "SUCCESS") {
                        alert("已从ERP同步快递信息")
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            type: "post",
                            data: {
                                c_id: orderarry,
                            },
                            success: function () {
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3764330"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                        $("#fourth_btn").addClass("btn-danger")
                                        $("#second_btn").removeClass("btn-danger")
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("获取失败,"+data.data)
                    } else if (data.result == "PORTION") {
                        alert("部分已配货")
                        $.ajax({
                            url: "/SalesProcess/CRM_undeliveredPartical/",
                            data: {
                                status: "3890335"
                            },
                            success: function (data) {
                                $("#undelivered_list_content").html(data)
                                $("#third_btn").addClass("btn-danger")
                                $("#second_btn").removeClass("btn-danger")
                            }
                        })
                    }
                    else if (data.result == "ERROR") {
                        errorAlert("尚未配发，暂无物流信息")
                    }
                    else {
                        errorAlert("未找到ERP订单")
                    }
                }
            })
        })
        // 同步到ERP等待审核
        $(".change_status").on("click", function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            $.ajax({
                url: "/SalesProcess/createOrder/",
                type: "post",
                data: {
                    c_id: orderarry
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("已推送至ERP等待审核")
                        $.ajax({
                            url: "/SalesProcess/GetCrmInfo/",
                            data: {
                                url_api: "/api/v2/contracts",
                            },
                            success: function (data) {
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3531568"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                        $("#second_btn").addClass("btn-danger")
                                        $("#firsts_btn").removeClass("btn-danger")
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("推送失败,请检查订单信息是否完整")
                    } else {
                        errorAlert("获取信息失败")
                    }

                }
            })
        })
        //
        $(".change_address").on("click", function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            var Province=that.attr("data-province")
            var City=that.attr("data-city")
            var District = that.attr("data-district")
            if (District == null || District == "") {
                confirm("CRM地址信息格式不规范", "请重新选择", function () {
                    orderarry.remove(that.attr("data-val"))
                })
            } else {
                $.ajax({
                    url: "/SalesProcess/createOrder/",
                    type: "post",
                    data: {
                        c_id: orderarry,
                        province: Province,
                        city: City,
                        district: District,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            alert("已推送至ERP等待审核")
                            $.ajax({
                                url: "/SalesProcess/GetCrmInfo/",
                                data: {
                                    url_api: "/api/v2/contracts",
                                },
                                success: function (data) {
                                    $.ajax({
                                        url: "/SalesProcess/CRM_undeliveredPartical/",
                                        data: {
                                            status: "3531568"
                                        },
                                        success: function (data) {
                                            $("#undelivered_list_content").html(data)
                                            $("#second_btn").addClass("btn-danger")
                                            $("#firsts_btn").removeClass("btn-danger")
                                        }
                                    })
                                }
                            })
                        } else if (data.result == "FAIL") {
                            errorAlert("推送失败,请检查订单信息是否完整")
                            orderarry.remove(that.attr("data-val"))
                        } else {
                            errorAlert("获取信息失败")
                            orderarry.remove(that.attr("data-val"))
                        }

                    }
                })
            }
            
        })
        // 详情
        $(".contract_detail").on("click", function () {
            var that = $(this)
            $.ajax({
                url: "/SalesProcess/ContractDetail_show",
                data: {
                    c_id: $(this).attr("data-val")
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                    $("#contract-title").text(that.attr("data-title"))
                }
            })
        })
    })
</script>