@model IEnumerable<PeriodAid.Models.CRM_Contract>

<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:5%">
                <label class="checkbox-custom">
                    <input type="checkbox" class="btn" id="checkbox-all">
                </label>
            </th>
            <th style="width:10%">订单号</th>
            <th style="width:15%">合同名称</th>
            <th style="width:15%">合同总金额</th>
            <th style="width:15%">客户名称</th>
            <th style="width:15%">订单状态</th>
            <th style="width:20%">
                <a class="btn btn-xs btn-success" id="batch_change_status"  role="button" style="cursor:pointer"><i class="fa fa-upload"></i>&nbsp;&nbsp;批量同步</a>
                <a class="btn btn-xs btn-success" id="batch_change_deliverys" role="button" style="cursor:pointer">批量获取ERP配送信息</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label class="checkbox-custom">
                        <input type="checkbox" class="btn" data-val="@item.id">
                    </label>
                </td>
                <td>@item.contract_id</td>
                <td>@item.title</td>
                <td>@item.total_amount</td>
                <td>@item.customer_name</td>
                <td>@Html.ContractStatus(item.status)</td>
                
                @if (item.status == "3779515")
                {
                    <td>
                        <a class="change_status btn btn-xs btn-success" role="button" data-val="@item.id" style="cursor:pointer">同步ERP</a>
                    </td>
                }
                else if (item.status == "3780205")
                {
                    <td>
                       <a class="get_erp_status btn btn-xs btn-success" role="button" data-val="@item.id" style="cursor:pointer">获取ERP配送信息</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
</div>
<script>
    $(function () {
        $.ajax({
            url: "/SalesProcess/GetUserToken/",
            success: function (data) {
                console.log(data)
            }
        })

        // 同步到ERP等待审核
        $("#batch_change_status").click(function () {
            if (orderarry.length == 0) {

            } else {
                $.ajax({
                    url: "/SalesProcess/UpdateCRM/",
                    type: "post",
                    data: {
                        c_id: orderarry,
                    },
                    success: function (data) {
                        $.ajax({
                            url: "/SalesProcess/GetCrmInfo/",
                            data: {
                            },
                            success: function (data) {
                                // 订单新增(gy.erp.trade.add)  ERP API 暂时不写
                                $.ajax({

                                })
                                alert("已推送至ERP等待审核")
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3779515"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                    }
                                })
                            }
                        })
                    }
                })
            }
        })
        // 同步ERP快递信息
        $(".get_erp_status").click(function () {
            $.ajax({
                url: "/SalesProcess/getERPORDERS/",
                data: {
                    c_id: $(this).attr("data-val"),
                },
                success: function (data) {
                    console.log(data)

                }
            })
        })

        $(".change_status").on("click", function () {
            var that = $(this)

        })

        $("#batch_change_status").hide()
        $("#batch_change_deliverys").hide()
        var orderarry = [];
        $("input").click(function () {
            var that = $(this)
            var C_id = that.attr("data-val")
            var select = that.is(":checked");
            if (select) {
                orderarry.push(C_id)
                $("#batch_change_status").show()
                $(".change_status").hide()
            } else {
                orderarry.remove(C_id)
                $("#checkbox-all").prop("checked", false)
            }
            if ($("input:checked").length < 2) {
                $("#batch_change_status").hide()
                $(".change_status").show()
            }
        })
        $("#checkbox-all").click(function () {
            if ($(this).is(":checked")) {
                $("#batch_change_status").show()
                $(".change_status").hide()
                $("input").prop("checked", true);  
                orderarry.push($("input").attr("data-val"))
            } else {
                $("#batch_change_status").hide()
                $(".change_status").show()
                $("input").prop("checked", false);  
                orderarry.remove($("input").attr("data-val"))
            }
        })

        $.ajax({
            url: "/SalesProcess/GetUserToken/",
            success: function (data) {
                // 同步到ERP等待审核
                $("#batch_change_status").click(function () {
                    if (orderarry.length == 0) {
                        
                    } else {
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            type:"post",
                            data: {
                                c_id: orderarry,
                            },
                            success: function (data) {
                                $.ajax({
                                    url: "/SalesProcess/GetCrmInfo/",
                                    data: {
                                    },
                                    success: function (data) {
                                        // 订单新增(gy.erp.trade.add)  ERP API 暂时不写
                                        $.ajax({

                                        })
                                        alert("已推送至ERP等待审核")
                                        $.ajax({
                                            url: "/SalesProcess/CRM_undeliveredPartical/",
                                            data: {
                                                status: "3779515"
                                            },
                                            success: function (data) {
                                                $("#undelivered_list_content").html(data)
                                            }
                                        })
                                    }
                                })
                            }
                        })
                    }
                    $(".change_status").on("click", function () {
                        var that = $(this)
                        
                    })
                })
                // 同步ERP快递信息
                $(".get_erp_status").click(function () {
                    $.ajax({
                        url: "/SalesProcess/getERPORDERS/",
                        data: {
                            c_id:$(this).attr("data-val"),
                        },
                        success: function (data) {
                            console.log(data)
                          
                        }
                    })
                })
            }
        })
    })
</script>