@model IEnumerable<PeriodAid.Models.CRM_Contract>

<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:5%">
                <label class="checkbox-custom">
                    <input type="checkbox" class="btn" id="checkbox-all">
                </label>
            </th>
            <th style="width:10%">订单号</th>
            <th style="width:10%">合同名称</th>
            <th style="width:10%">合同总金额</th>
            <th style="width:10%">客户名称</th>
            <th style="width:10%">订单状态</th>
            <th style="width:30%">地址</th>
            <th style="width:20%">
                <a class="btn btn-xs btn-success" id="batch_change_status" data-status="3779515"  role="button" style="cursor:pointer"><i class="fa fa-upload"></i>&nbsp;&nbsp;批量同步</a>
                <a class="btn btn-xs btn-success" id="batch_change_deliverys" data-status="3780205"   role="button" style="cursor:pointer">批量获取ERP配送信息</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label class="checkbox-custom">
                        <input type="checkbox" class="btn checkbox" data-val="@item.id" data-status="@item.status">
                    </label>
                </td>
                <td>@item.platform_code</td>
                <td>@item.title</td>
                <td>@item.total_amount</td>
                <td>@item.CRM_Customer.customer_name</td>
                <td>@Html.ContractStatus(item.status)</td>
                <td>
                    <div id="distpicker5">
                        <select class="select_province"></select>
                        <select class="select_city"></select>
                        <select class="select_district"></select>
                    </div>
                </td>
                @if (item.status == "3531567")
                {
                    <td>
                        <a class="change_status btn btn-xs btn-success" role="button" data-val="@item.id" data-status="@item.status" style="cursor:pointer">同步ERP</a>
                    </td>
                }
                else if (item.status == "3531568")
                {
                    <td>
                       <a class="get_erp_status btn btn-xs btn-success" role="button" data-val="@item.id" data-status="@item.status" style="cursor:pointer">获取ERP配送信息</a>
                    </td>
                }
                else
                {
                    <td>@item.express_name:@item.express_number</td>
                }
            </tr>
        }
    </table>
</div>
<script src="~/Scripts/distpicker.data.js"></script>
<script src="~/Scripts/distpicker.js"></script>
<script src="~/Scripts/main.js"></script>
<script>
    $(function () {
        $("#distpicker5").distpicker({
            autoSelect: false
        });
        $("#batch_change_status").hide()
        $("#batch_change_deliverys").hide()
        $("#checkbox-all").attr("data-status", $(".checkbox").attr("data-status"))
        var orderarry = [];
        //单选
        $(".checkbox").click(function () {
            var that = $(this)
            var C_id = that.attr("data-val")
            var select = that.is(":checked");
            if (select) {
                orderarry.push(C_id)
                if (that.attr("data-status") == "3531567") {
                    $("#batch_change_status").show()
                    $(".change_status").hide()
                } else {
                    $("#batch_change_deliverys").show()
                    $(".get_erp_status").hide()
                }
                
            } else {
                orderarry.remove(C_id)
                $("#checkbox-all").prop("checked", false)
            }
            if ($("input:checked").length < 2) {
                if (that.attr("data-status") == "3531567") {
                    $("#batch_change_status").hide()
                    $(".change_status").show()
                } else {
                    $("#batch_change_deliverys").hide()
                    $(".get_erp_status").show()
                }
                
            }
        })
        //全选
        $("#checkbox-all").click(function () {
            var i = 0
            var that = $(this)
            if (that.attr("data-status") == "3531567") {
                if (that.is(":checked")) {
                    $("#batch_change_status").show()
                    $(".change_status").hide()
                    $("input").prop("checked", true);
                    var list = $(".checkbox:checked")
                    for (i; i < list.length; i++) {
                        var list_data = $(list[i]).attr("data-val")
                        if (orderarry.indexOf(list_data) == -1) {
                            orderarry.push(list_data)
                        }
                    }
                } else {
                    $("#batch_change_status").hide()
                    $(".change_status").show()
                    $("input").prop("checked", false);
                    var list = $(".checkbox:unchecked")
                    for (i; i < list.length; i++) {
                        orderarry.remove($(list[i]).attr("data-val"))
                    }
                }
            } else {
                if (that.is(":checked")) {
                    $("#batch_change_deliverys").show()
                    $(".get_erp_status").hide()
                    $("input").prop("checked", true);
                    var list = $(".checkbox:checked")
                    for (i; i < list.length; i++) {
                        var list_data = $(list[i]).attr("data-val")
                        if (orderarry.indexOf(list_data) == -1) {
                            orderarry.push(list_data)
                        }
                    }
                } else {
                    $("#batch_change_deliverys").hide()
                    $(".get_erp_status").show()
                    $("input").prop("checked", false);
                    var list = $(".checkbox:unchecked")
                    for (i; i < list.length; i++) {
                        orderarry.remove($(list[i]).attr("data-val"))
                    }
                }
            }
            
        })
        // 批量同步到ERP等待审核
        $("#batch_change_status").click(function () {
            var that = $(this);
            if (orderarry.length == 0) {

            } else {
                $.ajax({
                    url: "/SalesProcess/createOrder/",
                    type: "post",
                    data: {
                        c_id: orderarry,
                        c_status: that.attr("data-status")
                    },
                    success: function (data) {
                        console.log(data)
                        if (data.result == "SUCCESS") {
                            alert("已推送至ERP等待审核")
                            $.ajax({
                                url: "/SalesProcess/GetCrmInfo/",
                                data: {
                                    url_api: "/api/v2/contracts",
                                },
                                success: function (data) {

                                    $.ajax({
                                        url: "/SalesProcess/CRM_undeliveredPartical/",
                                        data: {
                                            status: "3531567"
                                        },
                                        success: function (data) {
                                            $("#undelivered_list_content").html(data)
                                        }
                                    })
                                }
                            })
                        } else if (data.result == "FAIL") {
                            errorAlert("推送失败," + data.data)
                        } else {
                            errorAlert("获取信息失败")
                        }

                    }
                })
            }
        })
        // 批量获取ERP快递信息
        $("#batch_change_deliverys").click(function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            $.ajax({
                url: "/SalesProcess/getERPORDERS/",
                type: "post",
                data: {
                    c_id: orderarry,
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("已从ERP同步快递信息")
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            type: "post",
                            data: {
                                c_id: orderarry,
                            },
                            success: function () {
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3764330"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                        $("#third_btn").addClass("btn-danger")
                                        $("#second_btn").removeClass("btn-danger")
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("获取失败," + data.data)
                    } else {
                        errorAlert("未找到ERP订单")
                    }

                }
            })
        })
        // 同步ERP快递信息
        $(".get_erp_status").click(function () {
            var that = $(this)
            orderarry.push(that.attr("data-val"))
            $.ajax({
                url: "/SalesProcess/getERPORDERS/",
                type:"post",
                data: {
                    c_id: orderarry,
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("已从ERP同步快递信息")
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            type: "post",
                            data: {
                                c_id: orderarry,
                            },
                            success: function () {
                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3764330"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                        $("#third_btn").addClass("btn-danger")
                                        $("#second_btn").removeClass("btn-danger")
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("获取失败,"+data.data)
                    } else {
                        errorAlert("未找到ERP订单")
                    }
                    
                }
            })
        })
        // 同步到ERP等待审核
        $(".change_status").on("click", function () {
            var that = $(this)
            orderarry.push($(this).attr("data-val"))
            $.ajax({
                url: "/SalesProcess/createOrder/",
                type: "post",
                data: {
                    c_id: orderarry,
                    c_status: that.attr("data-status")
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "SUCCESS") {
                        alert("已推送至ERP等待审核")
                        $.ajax({
                            url: "/SalesProcess/GetCrmInfo/",
                            data: {
                                url_api: "/api/v2/contracts",
                            },
                            success: function (data) {

                                $.ajax({
                                    url: "/SalesProcess/CRM_undeliveredPartical/",
                                    data: {
                                        status: "3531567"
                                    },
                                    success: function (data) {
                                        $("#undelivered_list_content").html(data)
                                    }
                                })
                            }
                        })
                    } else if (data.result == "FAIL") {
                        errorAlert("推送失败,"+data.data)
                    } else {
                        errorAlert("获取信息失败")
                    }
                    
                }
            })
        })
    })
</script>