@model PeriodAid.Models.SP_Contact
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改联系人信息</h2>
</div>
<div class="hidden" id="C-name">@ViewBag.ClientName.SP_Client.Client_Name</div>
<div class="hidden" id="C-id">@ViewBag.ClientName.SP_Client.Id</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditContactInfo", "SalesProcess", FormMethod.Post, new { @id = "contact-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">姓名</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contact_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">联系电话</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contact_Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">邮寄地址</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contact_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">所属客户</label>
                <div class="col-md-10">
                    <input id="client-input" type="text" class="span4 form-control" autocomplete="off" name="client-input" readonly="readonly" />
                    <input type="hidden" id="ClientId" name="Client_Id" />
                    @Html.ValidationMessageFor(model => model.Client_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn"/>
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(function () {
        $("#client-input").val($("#C-name").html())
        $("#ClientId").val($("#C-id").html())
        $("#save-btn").on("click", function () {
            if (!$(this).hasClass("disabled")) {
                $(this).addClass("disabled")
                $("#contact-form").submit();
            }
        })
        $("#contact-form").validate({
            debug: true,
            rules: {
                Contact_Name: {
                    required: true,
                    minlength:2
                },
                Contact_Mobile: {
                    required: true,
                    number:true
                }
            },
            messages: {
                Contact_Name: {
                    required: "名字是必填的"
                },
                Contact_Mobile: {
                    required: "电话是必填的",
                    number:"请注意电话格式"
                }
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        alert('保存成功')
                        $("#save-btn").removeClass("disabled")
                        $("#myModal").modal('hide');
                        $.ajax({
                            url: "/SalesProcess/ContactListPartial",
                            data: {
                                clientId: getUrlParam("clientId"),
                                page: 1,
                                query: $("#contact-query").val(),
                            },
                            success: function (data) {
                                $("#contact_list_content").html(data);
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    } else if (data.result == "UNAUTHORIZED") {
                        $("#save-btn").removeClass("disabled")
                        errorAlert('信息未修改')
                    } else if (data.result == "FAIL") {
                        $("#save-btn").removeClass("disabled")
                        errorAlert('保存失败')
                    } else {
                        $("#save-btn").removeClass("disabled")
                        errorAlert(data.errmsg);
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#save-btn").removeClass("disabled");
                error.appendTo(element.parent())
            }
        });
    })
    
</script>