@model PeriodAid.Models.SP_SalesSystem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改渠道信息</h2>
</div>
<div class="hidden" id="Client-name">@ViewBag.SalesName.SP_Client.Client_Name</div>
<div class="hidden" id="Client_Id">@ViewBag.SalesName.Client_Id</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditSalesInfo", "SalesProcess", FormMethod.Post, new { @id = "sales-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">渠道名称</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.System_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">联系电话</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.System_Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">地址</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.System_Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.System_Address, "", new { @class = "text-danger" })
                </div>
            </div> 
            <div class="form-group">
                <label class="control-label col-md-2">经销商</label>
                <div class="col-md-10">
                    <input id="client-input" type="text" class="span4 form-control" autocomplete="off" name="client-input" readonly="readonly" required />
                    <input type="hidden" id="ClientId" name="Client_Id" />
                    @Html.ValidationMessageFor(model => model.Client_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn"/>
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(function () {
        $("#client-input").val($("#Client-name").html())
        $("#ClientId").val($("#Client_Id").html())
        $("#seller-input").val($("#seller-name").html())
            $("#SellerId").val($("#seller-id").html())
            //负责人搜索
            function displayResult(item, val, text) {
                $("#SellerId").val(val);
            }
            $('#seller-input').typeahead({
                ajax: {
                    url: "/SalesProcess/QuerySeller",
                    triggerLength: 1
                },
                itemSelected: displayResult,
                display: 'SellerName',
                val: 'Id'
            });
    })
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#sales-form").submit();
        }
    })
    $("#sales-form").validate({
        debug: true,
        rules: {
            System_Name: {
                required: true,
                minlength:1
            },
            System_Phone: {
                required: true,
                number: true
            }
        },
        messages: {
            System_Name: {
                required: "名称是必填的",
                minlength: "请输入正确格式",
            },
            System_Phone: {
                required: "电话是必填的",
                number: "请注意电话格式"
            },
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    alert('保存成功')
                    $("#save-btn").removeClass("disabled")
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/SalesListPartial",
                        data: {
                            query: $("#sales-query").val(),
                        },
                        success: function (data) {
                            $("#sales_list_content").html(data),
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                } else if (data.result == "UNAUTHORIZED") {
                    $("#save-btn").removeClass("disabled")
                    errorAlert('信息未修改')
                } else if (data.result == "FAIL") {
                    $("#save-btn").removeClass("disabled")
                    errorAlert('保存失败')
                } else {
                    $("#save-btn").removeClass("disabled")
                    errorAlert(data.errmsg);
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            $("#save-btn").removeClass("disabled")
            error.appendTo(element.parent())
        }
    });
   
</script>