@model PeriodAid.Models.SP_Order
@{
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<style>
    .order_label {
        margin-top: 14px;
        margin-bottom: 0
    }

    .order_control {
        height: 30px;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid black;
        border-radius: initial;
        text-align: center
    }
   
</style>
<div class="hidden" id="contactMobile">@ViewBag.contact.Contact_Name  @ViewBag.contact.Contact_Mobile</div>
<div class="hidden" id="contactId">@ViewBag.contact.Id</div>
<div id="order_id" class="hidden"></div>
<h2 class="text-center" style="margin-bottom:25px">寿全斋订货通知单</h2>
<h4 class="text-center" id="order_show"></h4>
<div class="col-md-12">
    <ol class="breadcrumb float-left">
        当前位置：
        <li><a href="/SalesProcess/OrderList">订单管理</a></li>
        <li class="active">订单编辑</li>
    </ol>
</div>
<div id="order_type" class="hidden">@ViewBag.Order.Order_Type</div>
@using (Html.BeginForm("EditOrderInfo", "SalesProcess", FormMethod.Post, new { @id = "edit-order-form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SP_Contact.Id)
        @Html.HiddenFor(model => model.Contact_Id)
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">购货单位：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.SP_Contact.SP_Client.Client_Name, new { htmlAttributes = new { @class = "form-control date-readonly order_control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">订货日期：</label>
            <div class="col-md-8">
                <input id="order_date" type="text" value="@ViewBag.Order.Order_Date.ToString("yyyy-MM-dd")" class="form-control date-readonly order_control" autocomplete="off" name="Order_Date" readonly="readonly" required />
                @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">联系人电话：</label>
            <div class="col-md-8">
                <input id="contact-input" type="text" class="form-control date-readonly order_control" autocomplete="off" name="client-input" readonly="readonly" required />
                <input type="hidden" id="ContactId" name="Contact_Id" />
                @Html.ValidationMessageFor(model => model.Contact_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">邮寄地址：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Order_Address, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Order_Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">签呈编号：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Signed_Number, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Signed_Number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">核销费用：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cancellation_Fee, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Cancellation_Fee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-12" style="margin-bottom:0"></div>
        <div class="form-group col-md-6">
            <label class="col-md-3 control-label order_label">备注：</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Order_Remark, new { htmlAttributes = new { @class = "form-control order_control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Order_Remark, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="hidden">
            @Html.EditorFor(model => model.Order_Number, new { htmlAttributes = new { @class = "form-control date-readonly order_control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Order_Number, "", new { @class = "text-danger" })

        </div>
        <div class="hidden">
                @Html.EditorFor(model => model.Order_Type, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Order_Type, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" class="hidden" value="新增" id="add-submit" name="add-submit" />
            </div>
        </div>
    </div>
}
<div class="col-md-12 hidden" id="confirm_text">已审批</div>
<div class="col-md-12" style="padding:0 74px 0 40px">
    <a class="btn btn-info btn-sm  float-left" style="margin:10px 0" id="add-orderPrice" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加产品</a>
</div>
<div class="col-md-12 well" style="padding:0 74px 0 40px">
    <div id="orderPrice_list_content"></div>
</div>
<div class="col-md-12 text-center" style="padding:0 74px 0 40px">
    <a class="btn btn-info btn-sm" id="add-order"><i class="fa fa-edit"></i>&nbsp;提交修改</a>&nbsp;&nbsp;&nbsp;
    <a class="btn btn-danger btn-sm" id="confirm-btn">提交审批</a>&nbsp;&nbsp;&nbsp;
    <a class="btn btn-danger btn-sm" id="CreatOrderExcel-btn" onclick="$('#CreatOrderExcel').submit()"><i class="fa fa-download"></i>&nbsp;生成订货单</a>&nbsp;&nbsp;&nbsp;
    @*<a class="btn btn-danger btn-sm" id="CreatPdf-btn" onclick="$('#CreatPdf').submit()"><i class="fa fa-download"></i>&nbsp;生成审批单</a>*@
    <form method="post" id="CreatOrderExcel"></form>
    @*<form method="post" id="CreatPdf"></form>*@
</div>    
@section scripts{
    <script>
        $("#order_show").html("订单号："+$("#Order_Number").val())
        $("#contact-input").val($("#contactMobile").html())
        $("#ContactId").val($("#contactId").html())
        $("#contact-input").val($("#contactMobile").html())
        $("#Contact_Id").val($("#contactId").html())
        $(function () {
            $("#CreatOrderExcel-btn").addClass("disabled")
            $("#CreatPdf-btn").addClass("disabled")
            $("#CreatOrderExcel").attr("action", "/SalesProcess/CreatOrderExcel?orderId=" + getUrlParam('orderId'))
            $("#CreatPdf").attr("action", "/SalesProcess/OrderPdf?orderId=" + getUrlParam('orderId'))
            $("#order_id").attr("data-oid",getUrlParam('orderId'))
            $.ajax({
                url: "/SalesProcess/OrderPriceListPartial",
                data: {
                    orderId: getUrlParam('orderId')
                },
                success: function (data) {
                    $("#orderPrice_list_content").html(data)
                }
            })
            // 日期
            window.moment = Kalendae.moment;
            var k4 = new Kalendae.Input('order_date', {
                months: 1,
                mode: 'single',
                titleFormat: "MM月, YYYY年",
                format: "YYYY-MM-DD"
            });
            //地址搜索
            $('#Order_Address').typeahead({
                ajax: {
                    url: "/SalesProcess/QueryAddress",
                    triggerLength: 1
                },
                itemSelected: displayResultA,
                display: 'Address_Show',
                val: 'System_Address'
            });
            function displayResultA(item, val, text) {
                $("#Order_Address").val(val);
            }
            if ($("#order_type").html() == 0) {
                $("#add-orderPrice").addClass("disabled")
                $("#add-order").addClass("disabled")
                $("#confirm-btn").addClass("disabled")
                $("#CreatOrderExcel-btn").removeClass("disabled")
                $("#CreatPdf-btn").removeClass("disabled")
                $("#confirm_text").removeClass("hidden")
            }
        })
        $("#add-order").on("click", function () {
            $("#add-submit").trigger("click");
        })
        $("#add-orderPrice").on("click", function () {
            $.ajax({
                url: '/SalesProcess/AddOrderPricePartial',
                data: {
                    orderId: getUrlParam('orderId')
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#bg_myModal").modal('show')
                }
            })
        })
        // order
        $("#edit-order-form").validate({
            debug: true,
            rules: {
                Order_Date: {
                    required: true
                },
                client_input: {
                    required: true
                },
                contact_input: {
                    required: true
                },
                Order_Address: {
                    required: true
                },
            },
            messages: {
                Order_Date: {
                    required: "必须的"
                },
                client_input: {
                    required: "必须的"
                },
                contact_input: {
                    required: "必须的"
                },
                Order_Address: {
                    required: "必须的"
                },
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        $("#order_id").attr("data-oid", data.order)
                        alert("信息修改成功！")
                    }
                    else if (data.result == "UNAUTHORIZED") {
                        errorAlert("未修改信息!");
                    }
                    else if (data.result == "FAIL") {
                        errorAlert("联系人不存在!");
                    } else if (data.result == "WARNING") {
                        errorAlert("订单已审批，不能修改!");
                    }
                    else {
                        errorAlert(data.errmsg)
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                error.appendTo(element.parent())
            }
        })
        // 提交
        $("#confirm-btn").on("click", function () {
            confirm("是否确认审批?", " ", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/ConfirmOrder",
                        type: "post",
                        data: {
                            orderId: $("#order_id").attr("data-oid")
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                window.location.href = "/SalesProcess/EditOrderInfo?orderId=" + getUrlParam('orderId');
                                $("#add-orderPrice").addClass("disabled")
                                $("#add-order").addClass("disabled")
                                $("#confirm-btn").addClass("disabled")
                            } else if (data.result == "WARNING") {
                                errorAlert("订单已审批")
                            }
                            else if (data.result == "FALL") {
                                errorAlert("权限不足,不能审批")
                            }
                        }
                    })
                } 
            })
            
        })
        //新增产品
        $("#add-price").click(function () {
            $.ajax({
                url: '/SalesProcess/AddOrderPricePartial',
                data: {
                    orderId: $(".select-a").attr("sou-val")
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        //生成订货通知单
        $("#CreatOrderExcel").click(function () {
            $.ajax({
                url: "/SalesProcess/CreatOrderExcel",
                type: "post",
                data: {
                    orderId: getUrlParam('orderId')
                },
                success: function (data) {
                }
            })
        })
    </script>


}
