@model PeriodAid.Models.SP_QuotePrice
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改报价信息</h2>
</div>
<div class="hidden" id="product-name">@ViewBag.QuotePrice.SP_Product.Item_Name</div>
<div class="hidden" id="product-id">@ViewBag.QuotePrice.SP_Product.Id</div>
<div class="hidden" id="quotation-num">@ViewBag.QuotePrice.SP_Quoted.Quotation_Num</div>
<div class="hidden" id="quoted-id">@ViewBag.QuotePrice.SP_Quoted.Id</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditQuotePriceInfo", "SalesProcess", FormMethod.Post, new { @id = "quotePrice-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="col-md-2 control-label">产品名称</label>
                <div class="col-md-9">
                    <input id="product-input" type="text" class="span4 form-control" autocomplete="off" name="product-input" readonly="readonly" />
                    <input type="hidden" id="ProductId" name="Product_Id" />
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">报价</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Quote_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quote_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">报价单号</label>
                <div class="col-md-9">
                    <input id="quoted-input" type="text" class="span4 form-control" autocomplete="off" name="quoted-input" readonly="readonly" />
                    <input type="hidden" id="QuotedId" name="Quoted_Id" />
                    @Html.ValidationMessageFor(model => model.Quoted_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn" />
                </div>
            </div>



        </div>
    }
</div>
<script>
    $(function () {
        $("#ProductId").val($("#product-id").html())
        $("#product-input").val($("#product-name").html())
        $("#quoted-input").val($("#quotation-num").html())
        $("#QuotedId").val($("#quoted-id").html())
    })
    $("#save-btn").on("click", function () {
        $("#quotePrice-form").submit();
    })
    //新建项目表单验证   详细用法请查看validate插件
    $("#quotePrice-form").validate({
        debug: true,
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    alert('保存成功')
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/QuotePricrListPartial",
                        data: {
                            query: $("#quotePrice-query").val(),
                            quotedId: getUrlParam('quotedId')
                        },
                        success: function (data) {
                            $("#quotePrice_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                } else if (data.result == "UNAUTHORIZED") {
                    errorAlert('信息未修改')
                } else if (data.result == "FAIL") {
                    errorAlert('保存失败')
                } else {
                    errorAlert(data.errmsg);
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            $("#save-btn").removeClass("disabled");
        }
    });
</script>