@model PeriodAid.Models.SP_Order
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改订单信息</h2>
</div>
<div class="hidden" id="contact-name">@ViewBag.Contact.SP_Contact.Contact_Name</div>
<div class="hidden" id="contact-id">@ViewBag.Contact.Contact_Id</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditOrderInfo", "SalesProcess", FormMethod.Post, new { @id = "order-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">订单日期</label>
                <div class="col-md-9">
                    <div id="show-date">
                        @Html.EditorFor(model => model.Order_Date, new { htmlAttributes = new { @class = "form-control date-readonly", @readonly="readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">订单号</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Order_Number, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                    @Html.ValidationMessageFor(model => model.Order_Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系人</label>
                <div class="col-md-9">
                    <input id="contact_input" type="text" class="span4 form-control" autocomplete="off" name="contact_input" />
                    <input type="hidden" id="ContactId" name="Contact_Id" />
                    @Html.ValidationMessageFor(model => model.Contact_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#contact_input").val($("#contact-name").html());
        $("#ContactId").val($("#contact-id").html())
        //经销商搜索
        function displayResult(item, val, text) {
            $("#ClientId").val(val);
        }
        $('#contact_input').typeahead({
            ajax: {
                url: "/SalesProcess/QueryContact",
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'Contact_Name',
            val: 'Id'
        });
        // 修改日期格式
        var strDate = $("#Order_Date").val().substring(0, 10)
        var reg = /\//g
        var newstrDate = strDate.replace(reg, "-")
        $("#show-date input").attr("value", newstrDate);
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('Order_Date', {
            months: 1,
            mode: 'single',
            titleFormat: "MM月, YYYY年",
            format: "YYYY-MM-DD"
        })
        $("#save-btn").on("click", function () {
            $("#order-form").submit();
        })
        $("#order-form").validate({
            debug: true,
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        alert('保存成功')
                        $("#myModal").modal('hide');
                        $.ajax({
                            url: "/SalesProcess/OrderListPartial",
                            data: {
                                query: $("#order-query").val(),
                                clientId: getUrlParam("clientId"),
                                orderType: $(".order-list-li.active").children(".type-btn").attr("data-id")
                            },
                            success: function (data) {
                                $("#order_list_content").html(data);
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });
                    } else if (data.result == "UNAUTHORIZED") {
                        errorAlert('信息未修改')
                    } else if (data.result == "FAIL") {
                        errorAlert('保存失败')
                    } else {
                        errorAlert(data.errmsg);
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#save-btn").removeClass("disabled");
            }
        });
    })
</script>