@model PeriodAid.Models.SP_Quoted
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改报价信息</h2>
</div>
@foreach (var quoted in ViewBag.Quoted)
{
<div class="hidden" id="product-name">@quoted.SP_Product.Item_Name</div>
<div class="hidden" id="product-id">@quoted.SP_Product.Id</div>
}
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditQuotedInfo", "SalesProcess", FormMethod.Post, new { @id = "quoted-form" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">产品名称</label>
                <div class="col-md-10">
                    <input id="product-input" type="text" class="span4 form-control" autocomplete="off" name="product-input" readonly="readonly" />
                    <input type="hidden" id="ProductId" name="Product_Id" />
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">报价</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quoted_Price, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Quoted_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">报价日期</label>
                <div class="col-md-10">
                    <div id="show-date">
                        @Html.EditorFor(model => model.Quoted_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Quoted_Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</div>
<script src="~/Scripts/kalendae.standalone.js"></script>
<script>
    $(function () {
        $("#product-input").val($("#product-name").html());
        $("#ProductId").val($("#product-id").html())
        // 修改日期格式
        var strDate = $("#Quoted_Date").val().substring(0, 10)
        var reg = /\//g
        var newstrDate = strDate.replace(reg, "-")
        $("#show-date input").attr("value", newstrDate)
    })
    $('#save-btn').click(function () {
        $("#quoted-form").ajaxSubmit({
            url: '/SalesProcess/EditQuotedInfo',
            type: 'post',
            success: function (data) {
                if (data.result == "SUCCESS") {
                    alert('保存成功')
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/QuotedListPartial",
                        data: {
                            query: $("#quoted-query").val(),
                            SalesSystemId: getUrlParam('SalesSystemId')
                        },
                        success: function (data) {
                            $("#quoted_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });

                } else if (data.result == "UNAUTHORIZED") {
                    errorAlert('信息未修改')
                } else {
                    errorAlert('保存失败')
                }
            }
        })
        return false;
    })
    window.moment = Kalendae.moment;
    var k4 = new Kalendae.Input('Quoted_Date', {
        months: 1,
        mode: 'single',
        titleFormat: "MM月, YYYY年",
        format: "YYYY-MM-DD"
    });
</script>