@model PeriodAid.Models.SP_Seller
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改业务员信息</h2>
</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditSellerInfo", "SalesProcess", FormMethod.Post, new { @id = "seller-form" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">姓名</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seller_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Seller_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">手机号</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seller_Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Seller_Mobile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">用户名</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                    @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">状态</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Seller_Type, ViewBag.SellerType as SelectList, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Seller_Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn" />
                </div>
            </div>

        </div>
    }
</div>
<script>
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#seller-form").submit();
        }
    })
    //新建项目表单验证   详细用法请查看validate插件
    $("#seller-form").validate({
        debug: true,
        rules:{
            Seller_Mobile: {
                required: true,
                number:true
            }
        },
        messages:{
            Seller_Mobile: {
                required: "手机是必填的",
                number: "请注意手机格式"
            }
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    $("#save-btn").removeClass("disabled")
                    alert('保存成功')
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/SellerListPartial",
                        data: {
                            page: 1,
                            query: $("#seller-query").val()
                        },
                        success: function (data) {
                            $("#seller_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                } else if (data.result == "UNAUTHORIZED") {
                    $("#save-btn").removeClass("disabled")
                    errorAlert('信息未修改')
                } else if (data.result == "FAIL") {
                    $("#save-btn").removeClass("disabled")
                    errorAlert('保存失败')
                } else {
                    $("#save-btn").removeClass("disabled")
                    errorAlert(data.errmsg);
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            $("#save-btn").removeClass("disabled")
            error.appendTo(element.parent())
        }
    });
</script>