@model PeriodAid.Models.SP_Product

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改产品信息</h2>
</div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditProductInfo", "SalesProcess", FormMethod.Post, new { @id = "product-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">

                <label class="col-md-2 control-label">供应商</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Supplier_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Supplier_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">产品名称</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">品牌</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Brand_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">零售价</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Purchase_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Purchase_Price, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-2">供货价</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Supply_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Supply_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">重量(/克)</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Product_Weight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product_Weight, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">箱规</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Carton_Spec, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Carton_Spec, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">系统编码</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.System_Code, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.System_Code, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">产品编码</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Item_Code, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Item_Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">商品简称</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Item_ShortName, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Item_ShortName, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">条形码</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Bar_Code, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Bar_Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">产品状态</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Product_Status, ViewBag.productStatus as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product_Status, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2 control-label">产品类别</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.ProductType_Id, ViewBag.productType as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductType_Id, " ", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Product_Img">图片上传</label>
                <div class="col-md-9" style="padding-left:5px">
                    <div id="input-img-list"></div>
                    <input class="hidden" name="Product_Img" id="ProductImg" />
                    @Html.ValidationMessageFor(model => model.Product_Img, "", new { @class = "text-danger" })
                    <a href="javascript:;" class="fileupload-btn text-center" id="upload-btn"><i class="fa fa-plus"></i></a>
                    <input type="file" id="img-input" name="img-file" accept=".jpg,.png,.gif" class="hidden" />

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn" />
                </div>
            </div>
        </div>
    }
</div>
<div class="modal-footer"></div>

<script>
    $(function () {
        $(document).delegate("#img-input", "change", function () {
            ajaxFileUpload("Product_Img", "input-img-list", "img-input");
        });
        $(document).delegate("#upload-btn", "click", function () {
            $("#img-input").trigger("click");
        })
    })
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#product-form").submit();
        }
    })
    $("#product-form").validate({
        debug: true,
        rules: {
            Item_Name: {
                required: true,
                minlength: 2
            },
            Brand_Name: {
                required: true,
                minlength: 2
            },
            Purchase_Price: {
                required: true,
                number: true
            },
            Supply_Price: {
                required: true,
                number: true
            },
            Product_Weight: {
                required: true,
                number: true
            },
            Carton_Spec: {
                required: true,
                number: true
            },
            Supplier_Name: {
                required: true,
                minlength: 2
            },
        },
        messages: {
            Item_Name: {
                required: "名称是必填的",
                minlength: "最少两个字符"
            },
            Brand_Name: {
                required: "品牌是必填的",
                minlength: "最少两个字符"
            },
            Purchase_Price: {
                required: "零售价是必填的",
                number: "请注意格式 如 19"
            },
            Supply_Price: {
                required: "供货价是必填的",
                number: "请注意格式 如 19"
            },
            Product_Weight: {
                required: "重量是必填的",
                number: "请注意格式 如 120"
            },
            Carton_Spec: {
                required: "箱规是必填的",
                number: "请注意格式 如 24"
            },
            Supplier_Name: {
                required: "供应商是必填的",
                minlength: "最少两个字符"
            },
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    alert('保存成功')
                    $("#save-btn").removeClass("disabled")
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/ProductListPartial",
                        data: {
                            page: 1,
                            productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                            query: $("#storage-product-query").val()
                        },
                        success: function (data) {
                            $("#product_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                } else if (data.result == "FAIL") {
                    $("#save-btn").removeClass("disabled")
                    errorAlert('保存失败')
                } else {
                    $("#save-btn").removeClass("disabled")
                    errorAlert(data.errmsg);
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            $("#save-btn").removeClass("disabled");
            error.appendTo(element.parent())
        }
    });
    // 上传图片
    function ajaxFileUpload(targetname, imglist, fileelment) {
        $.ajaxFileUpload({
            url: '/SalesProcess/UpLoadImg', //用于文件上传的服务器端请求地址
            type: 'post',
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: fileelment, //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            success: function (data, status)  //服务器成功响应处理函数
            {
                if (typeof (data.error) != 'undefined') {
                    if (data.error != '') {
                        alert(data.error);
                    } else {
                        alert("上传成功");
                        $("#" + targetname).val(data.imgurl);
                        $("#" + imglist).html("<div class=\"img-list\" value= " + data.imgurl + " style=background-image:url(" + data.imgurl + ")" + "><span class=\"img-close\"><span class=\"fa-stack fa-lg\"><i class=\"fa fa-circle fa-stack-2x\"></i><i class=\"fa fa-times fa-stack-1x fa-inverse\"></i></span></span></div>");
                        $("#upload-btn").hide();
                        $("#ProductImg").attr("value", data.imgurl)
                    }
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
        return false;
    };
    //删除图片
    $("#input-img-list").on("click", ".img-close", function (event) {
        var that = $(this);
        confirm("是否删除所选图片?", "", function (isConfirm) {
            if (isConfirm) {
                $(".img-list").remove();
                $("#Product_Img").val("");
                $("#upload-btn").show();
            }
        });
        event.stopPropagation();
    });
</script>





