@model PeriodAid.Models.SP_Product

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改产品信息</h2>
</div>
@foreach(var typename in ViewBag.productType)
{
    <div class="hidden" id="type-name">@typename.SP_ProductType.Type_Name</div>
    <div class="hidden" id="type-id">@typename.SP_ProductType.Id</div>
}
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditProductInfo", "SalesProcess", FormMethod.Post, new { @id = "product-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">系统编码</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.System_Code, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.System_Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">产品编码</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item_Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item_Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">品牌</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Supplier_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Supplier_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">产品名称</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">产品重量</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product_Weight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product_Weight, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">箱规</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Carton_Spec, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Carton_Spec, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">标准零售价</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Purchase_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Purchase_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">标准供货价</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Supply_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Supply_Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">条形码</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bar_Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bar_Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">产品类别</label>
                <div class="col-md-10">
                    <input id="type-input" type="text" class="span4 form-control" autocomplete="off" name="type-input" readonly="readonly" />
                    <input type="hidden" id="ProductTypeId" name="ProductType_Id" />
                    @Html.ValidationMessageFor(model => model.ProductType_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div class="modal-footer"></div>

<script>
    $(function () {
        $("#type-input").val($("#type-name").html())
        $("#ProductTypeId").val($("#type-id").html())
    })
    $('#save-btn').click(function () {
        $("#product-form").ajaxSubmit({
            url: '/SalesProcess/EditProductInfo',
            type: 'post',
            success: function (data) {
                if (data.result == "SUCCESS") {
                    alert('保存成功')
                    $("#myModal").modal('hide');
                    $.ajax({
                        url: "/SalesProcess/ProductListPartial",
                        data: {
                            productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                            query: $("#storage-product-query").val()
                        },
                        success: function (data) {
                            $("#product_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });

                } else {
                    errorAlert('保存失败')
                }
            }
        })
        return false;
    })
</script>





