@model IEnumerable<PeriodAid.Models.MD_Order>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:20%">平台单号</th>
            <th style="width:10%">发货状态</th>
            <th style="width:10%">发货时间</th>
            <th style="width:20%">邮寄地址</th>
            <th style="width:20%">物流单号</th>
            <th style="width:20%"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="data_view" data-toggle="tooltip" data-placement="left" title="">
                <td>@item.order_code</td>
                <td>@Html.ReceiverStatus(item.receiver_status)</td>
                <td>@item.receiver_date.ToString("yyyy-MM-dd")</td>
                @if (@item.receiver_address == null)
                {
                    <td>@item.MD_Customer.customer_address</td>
                }
                else
                {
                    <td>@item.receiver_area</td>
                }

                <td>@item.express_information</td>
                <td>
                    <a class="btn btn-xs btn-success edit_btn" role="button" data-id="@item.Id" data-status="@item.order_status" data-receiver="@item.receiver_status" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="btn btn-xs btn-danger" role="button" data-id="@item.Id">产品详情</a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        var border_list = $(".edit_btn")
        var j = 0
        for (j; j < border_list.length; j++) {
            var data_rstatus = $(border_list[j]).attr("data-receiver")
            var data_status = $(border_list[j]).attr("data-status")
            if (data_status == 1) {
                $(border_list[j]).parents(".data_view").attr("title", "订单已合并！")
            }
            else if (data_status == -1) {
                $(border_list[j]).parents(".data_view").attr("title", "订单已取消发送！")
            }
        }
        $('[data-toggle="tooltip"]').tooltip()
        $('.edit_btn[data-status="-1"]').addClass("disabled")
        $('.edit_btn[data-status="1"]').addClass("disabled")
        $('.edit_btn[data-receiver="2"]').addClass("disabled")
        $("#ul-hover li").eq(1).addClass("current")
        // 编辑
        $(".edit_btn").on("click", function () {
            var that = $(this)
            $.ajax({
                url: "/SalesProcess/MD_EditOrderInfo/",
                data: {
                    order_id: that.attr("data-id")
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
    })
</script>            
