@model PagedList.IPagedList<PeriodAid.Models.MD_Order>
@using PagedList.Mvc;
<style>
    .jconfirm-box-container {
        top: -200px;
        left: 480px;
    }
</style>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%">平台单号</th>
            <th style="width:15%">客户名称</th>
            <th style="width:10%">首单发货日期</th>
            <th style="width:25%">邮寄地址</th>
            <th style="width:25%"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="times_view" data-id="@item.Id" data-toggle="tooltip" data-placement="left">
                <td>@item.order_code</td>
                <td>@item.MD_Customer.customer_name</td>
                <td>@(item.receiver_date != null ? item.receiver_date.Value.ToString("yyyy-MM-dd") : "n/a")</td>
                <td>
                    <div style="width:312px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">
                        @item.MD_Customer.customer_address
                    </div>
                </td>
                <td>
                    <a class="btn btn-xs btn-success amalgamate_btn" role="button" data-id="@item.Id">合并发送</a>
                    <a class="btn btn-xs btn-danger cancel_btn" role="button" data-id="@item.Id">取消发送</a>
                    <a class="btn btn-xs btn-info orderDetail_btn" role="button" data-id="@item.Id">订单详情</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("MD_OrderPartialView", new { page }))
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    query: $("#order_query").val()
                },
                success: function (data) {
                    $("#order_list_content").html(data);
                }
            });
            return false;
        });
        $(".orderDetail_btn").on("click", function () {
            var that = $(this);
            var orderId = that.attr("data-id")
            that.attr("href", "/SalesProcess/MD_OrderDetailView/?order_id=" + orderId)
        })
        $(".times_view").mouseover(function () {
            var that = $(this)
            $.ajax({
                url: "/SalesProcess/ReceiverTimes/",
                data: {
                    order_id: that.attr("data-id")
                },
                success: function (data) {
                    that.attr("data-original-title", "未发次数:" + data + "次")
                }
            })
        })
        // 合并发送
        $(".amalgamate_btn").on("click", function () {
            var that = $(this)
            $.confirm({
                title: '提示!',
                type: 'green',
                content: that.parents(".times_view").attr("data-original-title"),
                buttons: {
                    确定: function () {
                        $.confirm({
                            title: '提示!',
                            content: '是否使用默认信息!',
                            buttons: {
                                确定: function () {
                                    $.ajax({
                                        url: "/SalesProcess/Amalgamate_Order/",
                                        type: "post",
                                        data: {
                                            order_id: that.attr("data-id")
                                        },
                                        success: function (data) {
                                            if (data.result == "SUCCESS") {
                                                $.alert({
                                                    title: '提示!',
                                                    content: '合并成功!',
                                                    type: 'green',
                                                });
                                            }
                                        }
                                    })
                                },
                                更改: function () {
                                }
                            }
                        });
                    },
                    取消: function () {
                        
                    },
                }
            });
        })
        // 取消发送
        $(".cancel_btn").on("click", function () {
            var that = $(this)
            $.confirm({
                title: '注意!',
                content: "是否取消发货",
                type: 'red',
                buttons: {
                    确认: function () {
                        $.ajax({
                            url: "/SalesProcess/Cancel_Order/",
                            type: "post",
                            data: {
                                order_id: that.attr("data-id")
                            },
                            success: function (data) {
                                if (data.result == "SUCCESS") {
                                    $.alert({
                                        title: '提示!',
                                        content: '取消成功!',
                                        type: 'green',
                                    });
                                }
                            }
                        })
                    },
                    取消: function () {
                    },
                }
            });
        })
    })
</script>