@model PagedList.IPagedList<PeriodAid.Models.SP_Order>
@using PagedList.Mvc;
<style>
    .btn-xs {
        line-height: 1.4;
    }
</style>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%">Id</th>
            <th style="width:20%">订单号</th>
            <th style="width:15%">订单日期</th>
            <th style="width:15%">联系人</th>
            <th style="width:15%">订货商</th>
            <th style="width:20%"></th>
        </tr>
        @foreach(var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Order_Number</td>
                <td>@order.Order_Date.ToString("yyyy-MM-dd")</td>
                <td>@order.SP_Contact.Contact_Name</td>
                <td>@order.SP_Contact.SP_Client.Client_Name</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@order.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="order-btn btn btn-xs btn-primary"role="button" data-id="@order.Id">详情</a>
                    <a class="delete-order btn btn-xs btn-danger" role="button" data-eid="@order.Id">删除记录</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("OrderListPartial", new { page }))
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    query: $("#order-query").val(),
                    clientId: getUrlParam("clientId")
                },
                success: function (data) {
                    $("#order_list_content").html(data);
                }
            });
            return false;
        });
    })
    // 编辑
    $(".select-a").on("click", function () {
        $.ajax({
            url: '/SalesProcess/EditOrderInfo',
            data: {
                orderId: $(this).attr('data-val'),
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')

            }
        })
    })
    // 删除
    $(".delete-order").on("click", function () {
        var O_id = $(this).attr("data-eid");
        confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/SalesProcess/DeleteOrder",
                    type: "post",
                    data: {
                        orderId: O_id,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/SalesProcess/OrderListPartial",
                                data: {
                                    query: $("#order-query").val(),
                                    clientId: getUrlParam("clientId")
                                },
                                success: function (data) {
                                    $("#order_list_content").html(data);
                                    $('.modal-backdrop.in').remove()
                                    $('body').removeClass('modal-open')
                                }
                            });
                            alert("删除成功")
                        } else {
                            errorAlert(data.errmsg)
                        }
                    }
                })
            }
        });
    })
    // 查看订单详情
    $(".order-btn").on("click", function () {
        $(this).attr("href", "/SalesProcess/OrderPriceList?orderId=" + $(this).attr("data-id"))
    })
</script>