@model PeriodAid.Models.SP_OrderPrice
<table class="table">
    <tr>
        <th style="width:15%">产品名称</th>
        <th style="width:10%">单价</th>
        <th style="width:10%">订货数量</th>
        <th style="width:10%">箱规</th>
        <th style="width:10%">箱数</th>
        <th style="width:10%">金额</th>
        <th style="width:10%">折扣价</th>
        <th style="width:25%">备注</th>
    </tr>
    @foreach (var order in ViewBag.Order)
        {
            <tr>
                <td>@order.SP_Product.Item_Name</td>
                <td>@order.Order_Price</td>
                <td>@order.Order_Count</td>
                @if (order.SP_Product.Carton_Spec == 0)
                {
                    <td>暂无箱规</td>
                    <td>暂无箱规</td>
                }
                else
                {
                    <td>@order.SP_Product.Carton_Spec</td>
                    <td>@Math.Round(order.Order_Count / (double)order.SP_Product.Carton_Spec)</td>
                }
                <td>@Math.Round((order.Order_Price * order.Order_Count), 2)</td>
                <td>@Math.Round((order.OrderPrice_Discount * order.Order_Count), 2)</td>
                <td style="max-width:205px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">@order.OrderPrice_Remark</td>
                @*<td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@order.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="delete-orderPrice btn btn-xs btn-danger" role="button" data-eid="@order.Id">删除</a>
                </td>*@
            </tr>
        }
        <tr>
            <td>共计：</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>@ViewBag.Count</td>
            <td>@ViewBag.Price</td>
            <td>@ViewBag.Discount</td>
            <td></td>
        </tr>
    
</table>
<script>
    $(function () {
        if ($("#order_type").html() == 0) {
            $(".select-a").addClass("disabled")
            $(".delete-orderPrice").addClass("disabled")
        }
        
    })
</script>