@model PagedList.IPagedList<PeriodAid.Models.SP_Product>
@using PagedList.Mvc;

<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th>产品名称</th>
            <th>产品编码</th>
            <th>产品状态</th>
            <th>规格</th>
            <th>箱规</th>
            <th>标准零售价</th>
            <th>标准供货价</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item_Name</td>
                <td>@item.Item_Code</td>
                <td>@Html.ProductTypeStatus(item.Product_Status)</td>
                <td>@item.Product_Standard</td>
                <td>@item.Carton_Spec</td>
                <td>@item.Purchase_Price</td>
                <td>@item.Supply_Price</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@item.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="detail-btn btn btn-xs btn-primary" role="button" data-id="@item.Id" data-toggle="modal" data-target=".bs-example-modal-lg">详情</a>
                    <a class="delete-product btn btn-xs btn-danger" role="button" data-eid="@item.Id">删除</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("ProductListPartial", new { page }))
    </div>
</div>

<div class="modal fade" id="myModal" style="overflow-x: hidden;overflow-y: auto;" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="lg-modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                    query: $("#storage-product-query").val()
                },
                success: function (data) {
                    $("#product_list_content").html(data);
                }
            });
            return false;
        });
        // 编辑
        $('.select-a').click(function () {
            $.ajax({
                url: '/SalesProcess/EditProductInfo',
                data: {
                    productId: $(this).attr('data-val'),
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')

                }
            })
        })
        // 删除
        $(".delete-product").on("click", function () {
            var P_id = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/DeleteProduct",
                        type: "post",
                        data: {
                            productId: P_id,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                    $.ajax({
                                        url: "/SalesProcess/ProductListPartial",
                                        data: {
                                            page: 1,
                                            productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                                            query: $("#storage-product-query").val()
                                        },
                                        success: function (data) {
                                            $("#product_list_content").html(data);
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                                    alert("删除成功")
                            } else if (data.result == "FAIL") {
                                errorAlert("删除失败")
                            } else {
                                errorAlert(data.errmsg)
                            }
                        }
                    })
                }
            });
        })
        // 产品详情
        $(".detail-btn").on("click", function () {
            $.ajax({
                url: "/SalesProcess/ProductDetail",
                data: {
                    productId: $(this).attr("data-id"),
                },
                success: function (data) {
                    $('#lg-modal-content').html(data)
                    $(".bs-example-modal-lg").modal('show')
                }
            })
            
        })
    })
</script>