@model PagedList.IPagedList<PeriodAid.Models.SP_Product>
@using PagedList.Mvc;

<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th>品牌</th>
            <th>产品名称</th>
            <th>系统编码</th>
            <th>产品编码</th>
            <th>产品状态</th>
            <th>重量(/克)</th>
            <th>箱规</th>
            <th>标准零售价</th>
            <th>标准供货价</th>
            <th>产品类别</th>
            <th>条形码</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Brand_Name</td>
                <td>@item.Item_Name</td>
                <td>@item.System_Code</td>
                <td>@item.Item_Code</td>
                <td>@Html.ProductTypeStatus(item.Product_Status)</td>
                <td>@item.Product_Weight</td>
                <td>@item.Carton_Spec</td>
                <td>@item.Purchase_Price</td>
                <td>@item.Supply_Price</td>
                <td>@item.SP_ProductType.Type_Name</td>
                <td>@item.Bar_Code</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@item.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="delete-product btn btn-xs btn-danger" role="button" data-eid="@item.Id">删除记录</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("ProductListPartial", new { page }))
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                    query: $("#storage-product-query").val()
                },
                success: function (data) {
                    $("#product_list_content").html(data);
                }
            });
            return false;
        });
        // 编辑
        $('.select-a').click(function () {
            console.log($(this).attr('data-val'))
            $.ajax({
                url: '/SalesProcess/EditProductInfo',
                data: {
                    productId: $(this).attr('data-val'),
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')

                }
            })
        })
        // 删除
        $(".delete-product").on("click", function () {
            var P_id = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/DeleteProduct",
                        type: "post",
                        data: {
                            productId: P_id,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                    $.ajax({
                                        url: "/SalesProcess/ProductListPartial",
                                        data: {
                                            page: 1,
                                            productType: $(".product-list-li.active").children(".type-btn").attr("data-id"),
                                            query: $("#storage-product-query").val()
                                        },
                                        success: function (data) {
                                            $("#product_list_content").html(data);
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                                    alert("删除成功")
                            } else if (data.result == "FAIL") {
                                errorAlert("删除失败")
                            } else {
                                errorAlert(data.errmsg)
                            }
                        }
                    })
                }
            });
        })
    })
</script>