@model PagedList.IPagedList<PeriodAid.Models.SP_Quoted>
@using PagedList.Mvc;
<style>
    .btn-xs {
        line-height: 1.4;
    }
</style>
<div>
    <table class="table">
        <tr>
            <th>报价日期</th>
            <th>报价单号</th>
            <th>备注</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Quoted_Status != -1)
            {
                <tr>
                    <td>@item.Quoted_Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Quotation_Num</td>
                    <td>@item.Remark</td>
                    <td class="text-center">
                        <a data-eid="@item.Id" class="quoted-edit btn btn-xs btn-success" role="button">编辑</a>
                        <a class="quotePrice-info btn btn-xs btn-info" data-eid="@item.Id" role="button">产品报价信息</a>
                        <a class="quoted-delete btn btn-xs btn-danger" data-eid="@item.Id" role="button">删除</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>

    //编辑
    $('.quoted-edit').click(function () {
        $.ajax({
            url: '/SalesProcess/EditQuotedInfo',
            data: {
                quotedId: $(this).attr('data-eid'),
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')

            }
        })
    })
    // 删除
    $(".quoted-delete").on("click", function () {
        var C_id = $(this).attr("data-eid");
        confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/SalesProcess/DeleteQuoted",
                    type: "post",
                    data: {
                        quotedId: C_id,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/SalesProcess/QuotedListPartial",
                                data: {
                                    query: $("#quoted-query").val(),
                                    SalesSystemId: getUrlParam('SalesSystemId')
                                },
                                success: function (data) {
                                    $("#quoted_list_content").html(data)
                                    $('.modal-backdrop.in').remove()
                                    $('body').removeClass('modal-open')
                                }
                            });
                            alert("删除成功")
                        } else if (data.result == "FAIL") {
                            alert("删除失败", "", function () {
                            }, { type: 'error' });
                        }
                    }
                })
            }
        });
    })
    // 产品报价
    $(".quotePrice-info").on("click", function () {
        var q_Id = $(this).attr("data-eid")
        $(this).attr("href", "/SalesProcess/QuotePricrList?quotedId=" + q_Id)
    })
</script>