@model IEnumerable<PeriodAid.Models.SP_QuotePrice>
<style>
    .btn-xs {
        line-height: 1.4;
    }
</style>
<div>
    <table class="table">
        <tr>
            <th>系统编码</th>
            <th>品牌</th>
            <th>产品名称</th>
            <th>报价</th>
            <th></th>
        </tr>
        @foreach(var price in Model)
        {
            <tr>
                <td>@price.SP_Product.System_Code</td>
                <td>@price.SP_Product.Brand_Name</td>
                <td>@price.SP_Product.Item_Name</td>
                <td>@price.Quote_Price</td>
                <td class="text-center">
                    <a data-eid="@price.Id" class="quotePrice-edit btn btn-xs btn-success" role="button">编辑</a>
                    <a class="quotePrice-delete btn btn-xs btn-danger" data-eid="@price.Id" role="button">删除</a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    //编辑
    $('.quotePrice-edit').click(function () {
        $.ajax({
            url: '/SalesProcess/EditQuotePriceInfo',
            data: {
                quotepriceId: $(this).attr('data-eid'),
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')

            }
        })
    })
    // 删除
    $(".quotePrice-delete").on("click", function () {
        var C_id = $(this).attr("data-eid");
        confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/SalesProcess/DeleteQuotePrice",
                    type: "post",
                    data: {
                        quotedId: C_id,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/SalesProcess/QuotePricrListPartial",
                                data: {
                                    query: $("#quotePrice-query").val(),
                                    quotedId: getUrlParam('quotedId')
                                },
                                success: function (data) {
                                    $("#quotePrice_list_content").html(data)
                                    $('.modal-backdrop.in').remove()
                                    $('body').removeClass('modal-open')
                                }
                            });
                            alert("删除成功")
                        } else if (data.result == "FAIL") {
                            alert("删除失败", "", function () {
                            }, { type: 'error' });
                        }
                    }
                })
            }
        });
    })
</script>