@model IEnumerable<PeriodAid.Models.SP_QuotePrice>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%">系统编码</th>
            <th style="width:25%">供应商</th>
            <th style="width:15%">产品名称</th>
            <th style="width:10%">报价</th>
            <th style="width:10%">报价日期</th>
            <th style="width:10%"></th>
            <th style="width:15%"></th>
        </tr>
        @foreach (var price in Model)
        {
            if (price.Quoted_Status == -1)
            {
                <tr style="background:#cfcccc">
                    <td>@price.SP_Product.System_Code</td>
                    <td>@price.SP_Product.Supplier_Name</td>
                    <td>@price.SP_Product.Item_Name</td>
                    <td>@price.Quote_Price</td>
                    <td>@price.Quoted_Date.ToString("yyyy-MM-dd")</td>
                    <td >过期报价</td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@price.SP_Product.System_Code</td>
                    <td>@price.SP_Product.Supplier_Name</td>
                    <td>@price.SP_Product.Item_Name</td>
                    <td>@price.Quote_Price</td>
                    <td>@price.Quoted_Date.ToString("yyyy-MM-dd")</td>
                    <td>最新报价</td>
                    <td class="text-center">
                        <a data-eid="@price.Id" class="quotePrice-edit btn btn-xs btn-success" role="button">编辑</a>
                        <a class="quotePrice-delete btn btn-xs btn-danger" data-eid="@price.Id" role="button">删除</a>
                    </td>
                </tr>
            }

        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    //编辑
    $('.quotePrice-edit').click(function () {
        $.ajax({
            url: '/SalesProcess/EditQuotePriceInfo',
            data: {
                quotepriceId: $(this).attr('data-eid'),
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
            }
        })
    })
    // 删除
    $(".quotePrice-delete").on("click", function () {
        var Q_id = $(this).attr("data-eid");
        confirm("确定要删除吗?", "你将把此条信息从列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/SalesProcess/DeleteQuotePrice",
                    type: "post",
                    data: {
                        quotePriceId: Q_id,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/SalesProcess/QuotePricrListPartial",
                                data: {
                                    query: $("#quotePrice-query").val(),
                                    SalesSystemId: getUrlParam('SalesSystemId')
                                },
                                success: function (data) {
                                    $("#quotePrice_list_content").html(data)
                                    $('.modal-backdrop.in').remove()
                                    $('body').removeClass('modal-open')
                                }
                            });
                            alert("删除成功")
                        } else if (data.result == "FAIL") {
                            errorAlert("删除失败")
                        } else {
                            errorAlert(data.errmsg)
                        }
                    }
                })
            }
        });
    })
</script>