@model PagedList.IPagedList<PeriodAid.Models.SP_SalesSystem>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>销售系统信息：</label>
            <input class="form-control input-sm offline-search-inline" id="salessystem-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="client-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<h2>销售系统列表</h2>
<a class="btn btn-info btn-sm" id="add-salessystem" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增销售系统</a>
<div id="client_list_content"></div>
<div>
    <table class="table text-center">
        <tr>
            <th class="text-center">系统名称</th>
            <th class="text-center">系统地址</th>
            <th class="text-center">电话</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.System_Name</td>
                <td>@item.System_Address</td>
                <td>@item.System_Phone</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@item.Id" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="sales-btn btn btn-xs btn-info" role="button" data-val="@item.Id">订单报价</a>
                    <a class="delete-client btn btn-xs btn-danger" role="button" data-eid="@item.Id">删除记录</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("ClientListPartial", new { page }))
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>

