@model IEnumerable<PeriodAid.Models.SP_SalesSystem>

<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:25%;">渠道名称</th>
            <th style="width:15%;">联系电话</th>
            <th style="width:20%;">地址</th>
            <th style="width:10%">经销商</th>
            <th style="width:30%;"></th>
        </tr>
        @foreach (var sales in Model)
        {
        <tr>
            <td>@sales.System_Name</td>
            <td>@sales.System_Phone</td>
            <td>@sales.System_Address</td>
            <td>@sales.SP_Client.Client_Name</td>
            <td style="text-align:center">
                <a data-eid="@sales.Id" class="select-sales btn btn-xs btn-success" role="button">编辑</a>
                <a class="quoted-info btn btn-xs btn-primary" data-eid="@sales.Id" role="button">报价信息</a>
                <a class="delete-sales btn btn-xs btn-danger" data-eid="@sales.Id" role="button">删除</a>
            </td>
        </tr>
        }
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    // 编辑
    $(".select-sales").on("click", function () {
        $.ajax({
            url: "/SalesProcess/EditSalesInfo",
            data: {
                salesId: $(this).attr("data-eid")
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
            }
        })
    })
    // 删除
    $(".delete-sales").on("click", function () {
        var S_id = $(this).attr("data-eid");
        confirm("确定要删除吗?", "你将把此条信息从列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/SalesProcess/DeleteSales",
                    type: "post",
                    data: {
                        Id: S_id,
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/SalesProcess/SalesListPartial",
                                data: {
                                    page: 1,
                                    query: $("#sales-query").val()
                                },
                                success: function (data) {
                                    $("#sales_list_content").html(data)
                                    $('.modal-backdrop.in').remove()
                                    $('body').removeClass('modal-open')
                                }
                            });
                            alert("删除成功")
                        } else if (data.result == "FAIL") {
                            errorAlert("删除失败")
                        } else {
                            errorAlert(data.errmsg)
                        }
                    }
                })
            }
        });
    })
    // 报价信息
    $(".quoted-info").on("click", function () {
        var C_id = $(this).attr("data-eid")
        $(this).attr("href", "/SalesProcess/QuotePricrList?SalesSystemId=" + C_id)
    })
</script>