@model PagedList.IPagedList<PeriodAid.Models.SP_Seller>
@using PagedList.Mvc;
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%;">Id</th>
            <th style="width:15%;">类型</th>
            <th style="width:20%;">姓名</th>
            <th style="width:20%;">手机号</th>
            <th style="width:30%;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@Html.SellerType(item.Seller_Type)</td>
                <td>@item.Seller_Name</td>
                <td>@item.Seller_Mobile</td>
                <td>
                    <a class="select-a btn btn-xs btn-success" role="button" data-val="@item.Id" data-toggle="modal" data-target="#myModal">编辑</a>
                    <a class="delete-seller btn btn-xs btn-danger" role="button" data-eid="@item.Id">删除业务员</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("SellerListPartial", new { page }))
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    plattformId: $(".client-list-li.active").children(".plattform-btn").attr("data-id"),
                    page: 1,
                    query: $("#client-query").val(),
                    plattformType: getUrlParam('plattformType')
                },
                success: function (data) {
                    $("#client_list_content").html(data)
                }
            });
            return false;
        });
        // 编辑
        $('.select-a').click(function () {
            $.ajax({
                url: '/SalesProcess/EditSellerInfo',
                data: {
                    sellerId: $(this).attr('data-val'),
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')

                }
            })
        })
        // 删除
        $(".delete-seller").on("click", function () {
            var C_id = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/SalesProcess/DeleteSeller",
                        type: "post",
                        data: {
                            sellerId: C_id,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                alert("删除成功")
                                    $.ajax({
                                        url: "/SalesProcess/SellerListPartial",
                                        data: {
                                            query: $("#seller-query").val(),
                                        },
                                        success: function (data) {
                                            $("#seller_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                            } else if (data.result == "FAIL") {
                                errorAlert("删除失败")
                            } else {
                                errorAlert(data.errmsg)
                            }
                        }
                    })
                }
            });
        })
        // 选择联系人
        $(".contact-btn").on("click", function () {
            var C_id = $(this).attr("data-val")
            $(this).attr("href", "/SalesProcess/ContactList?clientId=" + C_id)
        })
        // 销售信息
        $(".sales-btn").on("click", function () {
            var C_id = $(this).attr("data-val")
            $(this).attr("href", "/SalesProcess/SalesList?clientId=" + C_id)
        })
    })
</script>