@model PeriodAid.Models.Off_StoreSystem
@using (Html.BeginForm("CreateStoreSystemPartial", "OffStore", FormMethod.Post, new { @id = "storesystem-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.RequiredAmount)
    @Html.HiddenFor(m => m.RequiredStorage)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3">渠道名称</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.SystemName, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "16" } })
                @Html.ValidationMessageFor(model => model.SystemName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">批发商</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Distributor, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "16" } })
                @Html.ValidationMessageFor(model => model.Distributor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">区域名称</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Region, ViewBag.Regionlist as SelectList, "- 请选择 -", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">产品列表</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.ProductList, ViewBag.Regionlist as SelectList, new { @class = "form-control", @required = "required", @multiple= "multiple" })
                @Html.ValidationMessageFor(model => model.ProductList, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" id="storesystem-save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        //表单验证
        $('#storesystem-form').validate({
            focusCleanup: true,
            errorPlacement: function (error, element) {
                $("#storesystem-save").attr("disabled", false).val("添加");
                element.parent().parent().addClass("has-error");
            },
            submitHandler: function (form) {
                setTimeout(formsubmit, 1000);
            },
        })
        //按钮点击
        $("#storesystem-save").click(function () {
            $(".form-group").removeClass("has-error");
            $(this).attr("disabled", "disabled").val("添加中...");
            $('#storesystem-form').submit();
        })
    });
    //提交
    function formsubmit() {
        $('#storesystem-form').ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                alert("添加成功");
                $.ajax({
                    url: "/OffStore/StoreSystemListPartial",
                    success: function (data) {
                        $("#storesystem-list").html(data);
                    },
                    error: function () {
                        alert("提交失败");
                        $("#storesystem-save").attr("disabled", false).val("添加");
                    }
                })
            }
            else {
                alert("提交失败");
                $("#storesystem-save").attr("disabled", false).val("添加");
            }
        });
    }
</script>
