@model PeriodAid.Models.Off_StoreSystem
@using PeriodAid.Models
@using (Html.BeginForm("EditProductListPartial", "OffStore", FormMethod.Post, new { @id = "editproductlist-ajaxform" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m=>m.Distributor)
    @Html.HiddenFor(m=>m.Off_System_Id)
    @Html.HiddenFor(m=>m.Region)
    @Html.HiddenFor(m=>m.SystemName)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })   
        <div class="form-group">
            <div>
                <label class="control-label col-md-3" for="RequiredStorage">库存</label>
                <div class="checkbox col-md-9">
                    <label>
                        @Html.EditorFor(model => model.RequiredStorage, new { htmlAttributes = new { @class = "", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.RequiredStorage, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label col-md-3" for="RequiredAmount">销售金额</label>
                <div class="checkbox col-md-9">
                    <label>
                        @Html.EditorFor(model => model.RequiredAmount, new { htmlAttributes = new { @class = "", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.RequiredStorage, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" data-id="@Model.ProductList" id="product-list">
            <label class="control-label col-md-3">产品列表</label>
            <div class="col-md-9">
                @foreach (var item in ViewBag.ProductList as IEnumerable<Off_Product>)
                {
                    <div class="checkbox">
                        <label>
                            <input required name="ProductList" type="checkbox" value="@item.Id" />@Html.Encode(item.ItemName)
                        </label>
                    </div>
                }              
            </div>                   
        </div>  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" id="editproductlist-modify"/>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        checkinput()
        function checkinput() {
            var arr = $("#product-list").attr("data-id").split(",");
            for (i = 0; i < arr.length; i++) {
                $("#product-list").find("input[value=" + arr[i] + "]").attr("checked", true);
}
        }
        //表单验证
        $('#editproductlist-ajaxform').validate({
            focusCleanup: true,
            errorPlacement: function (error, element) {
                $("#editproductlist-modify").attr("disabled", false).val("保存");
                element.parent().parent().parent().parent().addClass("has-error");
            },
            submitHandler: function (form) {
                setTimeout(formsubmit, 1000);
            },
        })
        //按钮点击
        $("#editproductlist-modify").click(function () {
            $(".form-group").removeClass("has-error");
            $(this).attr("disabled", "disabled").val("修改中...");
            $('#editproductlist-ajaxform').submit();
        })
    });
    //提交方法
    function formsubmit() {
        $('#editproductlist-ajaxform').ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                alert("修改成功");
                $.ajax({
                    url: "/OffStore/StoreSystemListPartial",
                    success: function (data) {
                        $("#storesystem-list").html(data);
                    },
                    error: function () {
                        alert("修改产品信息失败", "发生未知错误", function () {
                            $("#editproductlist-modify").attr("disabled", false).val("保存");
                        }, { type: 'error' });                     
                    }
                })
            }
            else {
                alert("修改产品信息失败", "请刷新页面重新填写后再尝试提交一下!", function () {
                    $("#editproductlist-modify").attr("disabled", false).val("保存");
                }, { type: 'error' });
            }
        });
    }
</script>