@model PeriodAid.Models.Off_Store

@using (Html.BeginForm("EditStorePartial", "OffStore", FormMethod.Post, new { id = "offstore-store-ajaxform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label class="control-label col-md-3">渠道</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Off_StoreSystemId, ViewBag.QD as SelectList, "- 请选择 -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Off_StoreSystemId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">店铺名称</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">详细地址</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">经度</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">纬度</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#offstore-store-ajaxform').ajaxForm(function (data) {
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                alert("修改成功");
                $.ajax({
                    url: "/OffStore/StoreListPartial",
                    success: function (data) {
                        $("#offstore-list").html(data);
                    }
                  
                })
            }
            else {
                $(".modal-con").html(data);
            }
        })
    });
</script>

