@model PeriodAid.Models.IndexViewModel
@{
    ViewBag.Title = "管理";
}
@section header{
    <style>
        .bg {
            background-color: rgba(128, 128, 128,0.8);
            height: 500px;
        }

        .bg_01 {
            background-color: white;
            opacity: 0.9;
        }
    </style>
}
<br />
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="jumbotron">
    <div class="container">
        <br />
        <div class="col-md-6 bg_01">
            <form class="form-horizontal">
                <div class="modal-header container" style="border-bottom:none">
                    <h3 class="modal-title col-md-8"><strong>个人账户设置</strong></h3>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" style="padding-top:0">密码:</label>
                    <div class="col-md-7">
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("更改密码", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("创建", "SetPassword")
                        }

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" style="padding-top:0">外部登录名:</label>
                    <div class="col-sm-7">
                        @Model.Logins.Count [
                        @Html.ActionLink("管理", "ManageLogins") ]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" style="padding-top:0">系统切换:</label>
                    <div class="col-sm-7">
                        @foreach (var item in ViewBag.SystemList)
                        {
                            //@Html.ActionLink("设置管理员", "Off_UpdateManager", new { id = item.Id }, new { @class = "btn btn-sm btn-danger manager-button" })
                            @Html.ActionLink((string)item.SystemName, "updateSystem", new { id = item.Id }, new { @class = "btn btn-sm btn-info edit-button", style = "margin:5px 0" })<br />
                        }
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6" id="editPassword">
        </div>
    </div>
    <br />
</div>
@section scripts{
    <script>
        $("#btnPassword").click(function () {
            var link_url = $(this).attr("href")
            alert("22");
            $.ajax({
                type: "post",
                url: link_url,
                success: function (data) {
                    $("#editPassword").html(data)
                }
            })
        })
    </script>
}