@model PeriodAid.Models.Benefits_ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋 - 百家企业送姜茶</title>
    <meta name="author" content="寿全斋电子商务有限公司">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: url(/Content/images/upfeathers.png);
        }

        textarea.valid, select.valid, input.valid {
            border-color: #3c763d;
        }

        textarea.input-validation-error, .input-validation-error, input.input-validation-error {
            border-color: #a94442;
        }
    </style>
</head>
<body>
    <div>
        <br />
        <br />
        <div><img src="~/Content/images/benefits_flow_02.png" class="img-responsive" /></div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3><b>完善申请信息</b></h3>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(Model=>Model.OpenId)
                        @Html.HiddenFor(Model=>Model.Status)
                    </div>
                    <div class="col-xs-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "姓名" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-7">
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = "手机号码" } })
                    </div>
                    <div class="col-xs-5">
                        @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "职位" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", placeholder = "公司名称" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        @Html.DropDownListFor(model => model.Region, ViewBag.Region as SelectList, "- 地区 -", new { @class = "form-control" })
                    </div>
                    <div class="col-xs-7">
                        @Html.DropDownListFor(model => model.Industry, ViewBag.Industry as SelectList, "- 行业 -", new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "公司地址" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-5">
                        <input type="Text" name="Staff" id="Staff" class="form-control text-box single-line" placeholder="员工人数" data-val-regex="员工人数为数字" data-val-regex-pattern="^[0-9]*$" data-val="true"/>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", placeholder = "申请理由", rows = "4" })
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="text-center">
                        <input class="btn btn-success btn-lg" id="submit_btn" type="submit" value="提交信息">
                    </div>
                </div>
            </div>
        }
        <br /><br />
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
    </script>
</body>
</html>
