@model PeriodAid.Models.P_Presents
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>TestRegion</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        .weui_label {
        width:6em;
        }
        input.error,select.error { border: 1px solid red;color:red}
        label.error {
        display:none
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("TestRegion", "Custom",FormMethod.Post, new { @id="regionForm"}))
    {
        @Html.HiddenFor(m=>m.Id)
        @Html.HiddenFor(m=>m.plattform_code)
        @Html.HiddenFor(m=>m.source_ReceiverAddress)
        @Html.HiddenFor(m=>m.source_ReceiverMobile)
        @Html.HiddenFor(m=>m.source_ReceiverName)
        @Html.HiddenFor(m=>m.status)
        @Html.HiddenFor(m=>m.openId)
        @Html.HiddenFor(m=>m.create_time)
        <fieldset>
            <div class="weui_cells weui_cells_form">
                @*收货人*@
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">收货人：</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        @Html.TextBoxFor(m=>m.target_ReceiverName, new { placeholder = "姓名", @class="weui_input" })
                    </div>
                </div>
                @*联系电话*@
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">联系电话：</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        @Html.TextBoxFor(m => m.target_ReceiverMobile, new { placeholder = "手机号码", @class = "weui_input" })
                    </div>
                </div>
                @*选择地址*@
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">选择地址：</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_input" id="target_ReceiverState" name="target_ReceiverState" data-placeholder="省份">
                            <option value="">-请选择省份-</option>
                        </select>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_input" id="target_ReceiverCity" name="target_ReceiverCity" data-placeholder="城市">
                            <option value="">选择城市</option>
                        </select>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_input" id="target_ReceiverDistrict" name="target_ReceiverDistrict" data-placeholder="市/区">
                            <option value="">选择市/区</option>
                        </select>
                    </div>
                </div>
                @*详细地址*@
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">详细地址：</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="text" class="weui_input" id="target_ReceiverAddress" name="target_ReceiverAddress" placeholder="街道门牌信息">
                    </div>
                </div>
                @*邮政编码*@
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">邮政编码：</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="text" class="weui_input" id="target_ReceiverZip" name="target_ReceiverZip" placeholder="邮政编码（选填）" maxlength="6">
                    </div>
                </div>
            </div>
            <div class="weui_btn_area"><input class="weui_btn weui_btn_primary" type="submit" value="保存" id="btn-save"></div>
        </fieldset>
    }
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(function () {
            //选择地区
            $.ajax({
                url: "/Custom/GetRegion",
                data: {
                    level: 1
                },
                success: function (data) {
                    data = JSON.parse(data);
                    //alert(data.response.regions.length)
                    if (data.response.regions) {
                        var result = "<option value=''>" + "选择省份" + "</option>";
                        var resultArry = data.response.regions
                        //alert(resultArry.length);
                        for (var i = 0; i < resultArry.length; i++) {
                            result += "<option value='" + unescape(resultArry[i].name) + "' target-id='" + resultArry[i].id + "'>" + unescape(resultArry[i].name) + "</option>";
                        }
                    }
                    //alert(result);
                    $("#target_ReceiverState").html("");
                    $("#target_ReceiverState").append(result);
                }
            })
            $("#target_ReceiverState").change(function () {
                var link_url = "/Custom/GetRegion"
                var provence_id = $("#target_ReceiverState").find("option:selected").attr("target-id");
                $.ajax({
                    url: link_url,
                    data: {
                        level: 2,
                        parentid:provence_id
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        //alert(data)
                        if (data.response.regions) {
                            var result = "<option value=''>" + "选择城市" + "</option>";;
                            var resultArry = data.response.regions
                            for (var i = 0; i < resultArry.length; i++) {
                                result += "<option value='" + unescape(resultArry[i].name) + "' target-id='" + resultArry[i].id + "'>" + unescape(resultArry[i].name) + "</option>";
                            }
                        }
                        $("#target_ReceiverCity").html('');
                        $("#target_ReceiverCity").append(result);
                    }
                })
            });
            $("#target_ReceiverCity").change(function () {
                var link_url = "/Custom/GetRegion"
                var City_id = $("#target_ReceiverCity").find("option:selected").attr("target-id");
                $.ajax({
                    url: link_url,
                    data: {
                        level: 3,
                        parentid: City_id
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        //alert(data)
                        if (data.response.regions) {
                            var result = "<option value=''>" + "选择市/区" + "</option>";
                            var resultArry = data.response.regions
                            for (var i = 0; i < resultArry.length; i++) {
                                result += "<option value='" + unescape(resultArry[i].name) + "'>" + unescape(resultArry[i].name) + "</option>";
                            }
                        }
                        $("#target_ReceiverDistrict").html('');
                        $("#target_ReceiverDistrict").append(result);
                    }
                })
            });//end
            //验证
            $.validator.setDefaults({
                submitHandler: function (form) {
                    form.submit();
                }
            });
            $.validator.addMethod("phone", function (value, element) {
                var tel = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/;
                return this.optional(element) || (tel.test(value));
            }, "请正确填写您的手机号码");
            $().ready(function () {
                $("#regionForm").validate({
                    rules: {
                        target_ReceiverName: "required",
                        target_ReceiverAddress: "required",
                        target_ReceiverState: "required",
                        target_ReceiverCity: "required",
                        target_ReceiverDistrict: "required",
                        target_ReceiverMobile: {
                            required: true,
                            phone: true
                        }
                    },
                    messages: {
                        target_ReceiverName: "请填写姓名",
                        target_ReceiverAddress: "请填写详细的地址",
                        target_ReceiverState: "选择省份",
                        target_ReceiverCity: "选择城市",
                        target_ReceiverDistrict: "选择市/区",
                        target_ReceiverMobile: {
                            required: "请填写手机号",
                            //digits: "只能输入数字",
                            phone: "请正确填写您的手机号码"
                        }
                    },
                    debug: true,
                    errorPlacement: function (error, element) {
                        element.attr("placeholder", error.text());
                    }
                });
            });  
        });
    </script>
</body>
</html>
