@model IEnumerable<PeriodAid.Models.UNI_MchBill>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋 校园活动</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="weui_cells weui_cells_access">
        @foreach (var item in Model)
        {
        <a class="weui_cell singlepreview" href="javascript:;" data-target="@item.UploadImg">
            <div class="weui_cell_hd"><img src="@item.ImgUrl" alt="" style="width:30px;margin:-5px 10px -5px 0;display:block" class="img-rounded"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(item.NickName)</p>
            </div>
            <div class="weui_cell_ft">
            @if (item.SendTime.ToShortDateString() == DateTime.Now.ToShortDateString())
            {
                @Html.Encode(item.SendTime.ToString("HH:mm:ss"))
            }
            else
            {
                @Html.Encode(item.SendTime.ToString("yyyy-MM-dd"))
            }
            </div>
        </a>
        }
    </div>
    <div class="weui_dialog_alert" id="dialog_alert" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">提示</div>
            <div class="weui_dialog_bd" id="dialog_text">当前无可查看图片</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary" id="alert-btn">确定</a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['uploadImage', 'downloadImage', 'chooseImage', 'previewImage']
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        $(".singlepreview").click(function () {
            var photos = $(this).attr("data-target");
            if (photos.trim() != "") {
                var images = photos.split(',');
                for (var i = 0; i < images.length; i++) {
                    images[i] = "http://cdn2.shouquanzhai.cn/promotion/" + images[i];
                }
                wx.previewImage({
                    current: images[0], // 当前显示图片的http链接
                    urls: images // 需要预览的图片http链接列表
                });
            }
            else {
                $("#dialog_alert").show();
            }
        });
    </script>
</body>
</html>

