@model PeriodAid.Models.Off_Manager_Request

@using (Html.BeginForm("EditRequest", "OffManager", FormMethod.Post, new { @id = "offmanager-request-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.StoreId)
    @Html.HiddenFor(model => model.ManagerUserName)
    @Html.HiddenFor(model => model.Status)
    <div class="form-horizontal">

        @if (Model.Status == 3)
        {
            <div class="form-group">
                <label class="control-label col-md-2">店铺名称:</label>
                <div class="col-md-4">
                    <input class="form-control" value="@Model.Off_Store.StoreName" readonly />
                </div>
                <label class="control-label col-md-2">提报类型:</label>
                <div class="col-md-4">
                    <input id="RequestType" name="RequestType" class="form-control" value="@Model.RequestType" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容:</label>
                <div class="col-md-10">
                    <input id="RequestContent" name="RequestContent" class="form-control" value="@Model.RequestContent" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">备注:</label>
                <div class="col-md-10">
                    <input id="RequestRemark" name="RequestRemark" class="form-control" value="@Model.RequestRemark" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">提报时间:</label>
                <div class="col-md-10">
                    <input id="RequestTime" name="RequestTime" class="form-control" value="@Model.RequestTime" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">回复内容:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-default col-lg-offset-2" href="/OffManager/RequestList">返回</a>
            </div>
        }
        else {
            <div class="form-group">
                <label class="control-label col-md-2">店铺名称:</label>
                <div class="col-md-4">
                    <input class="form-control" value="@Model.Off_Store.StoreName" readonly />
                </div>
                <label class="control-label col-md-2">提报类型:</label>
                <div class="col-md-4">
                    <input id="RequestType" name="RequestType" class="form-control" value="@Model.RequestType" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容:</label>
                <div class="col-md-10">
                    <input id="RequestContent" name="RequestContent" class="form-control" value="@Model.RequestContent" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">备注:</label>
                <div class="col-md-10">
                    <input id="RequestRemark" name="RequestRemark" class="form-control" value="@Model.RequestRemark" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">提报时间:</label>
                <div class="col-md-10">
                    <input id="RequestTime" name="RequestTime" class="form-control" value="@Model.RequestTime" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">回复内容:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <button id="request-btn" class="btn btn-success col-lg-offset-2">审核</button>
            </div>
        }

    </div>
}
<script>
    $(function () {
        $('#offmanager-request-form').ajaxForm(function (data) {
            if (data == "SUCCESS") {
                alert("修改成功");
                $('.modal-box').modal('hide');
                $.ajax({
                    url: "/OffManager/RequestListPartial",
                    success: function (list) {
                        $("#offmanager-request-list").html(list)
                    }
                })
            }
            else {
                $(".modal-con").html(data);
            }

        });
    });
</script>



