@model PagedList.IPagedList<PeriodAid.Models.Off_Manager_Task>
@using PagedList.Mvc;
@using PeriodAid.Models;
<table class="table table-condensed table-hover" style="table-layout:fixed;width:100%;">
    <tr class="offline-table-background">
        <th style="width:15%">
            状态
        </th>
        <th style="width:15%">
            电话
        </th>
        <th style="width:15%">
            时间
        </th>
        <th style="width:20%">
            管理员姓名
        </th>
        <th style="width:25%">
            签到数
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Encode(Html.ManagerTaskStatus(item.Status))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.Encode(item.Off_Manager_CheckIn.Count(m => m.Canceled == false))
            </td>

            <td>
                @Html.ActionLink("编辑", "EditTask", new { id = item.Id }, new { @class = "btn btn-info btn-xs offmanager-task-edit" })
                @Html.ActionLink("删除", "CancelTaskAjax", new { id = item.Id }, new { @class = "btn btn-danger btn-xs offmanager-task-del" })
            </td>
        </tr>
    }
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("TaskListPartial", new { page }))</div>
<script>
    //页码切换
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        var query = $("#offmanager-task-query").val()
        $.ajax({
            url: l,
            data: {
                query: query
            },
            success: function (data) {
                $("#offmanager-task-list").html(data)
            }
        });
        return false;
    });
    //删除
    $(".offmanager-task-del").click(function () {
        var result = confirm("确定删除该信息吗？")
        if (result) {
            var link_url = $(this).attr("href")
            $.ajax({
                type: "post",
                url: link_url,
                success: function (data) {
                    if (data.result == "SUCCESS") { 
                    $.ajax({
                        url: "/OffManager/TaskListPartial",
                        success: function (data) {
                            $("#offmanager-task-list").html(data)
                        }
                    });
                    }
                }
            })
        }
        return false;
    });
</script>

