<div class="hidden">
    <span id="appId">@ViewBag.AppId</span>
    <span id="timeStamp">@ViewBag.TimeStamp</span>
    <span id="nonce">@ViewBag.Nonce</span>
    <span id="url">@ViewBag.Url</span>
    <span id="signature">@ViewBag.Signature</span>
</div>
