@model IEnumerable<PeriodAid.Models.Off_Checkin_Schedule>

<div class="weui_cells_title">@Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;活动门店列表&nbsp;(@Html.Encode(Model.Count()))</div>
<div class="weui_cells weui_cells_access">
    @foreach (var item in Model.OrderBy(m => m.Off_Store.StoreName))
    {
        <a class="weui_cell" href="javascript:openactionsheet(@item.Id, '@Html.Encode(item.Off_Store.StoreName)')" data-rel="@item.Id">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(item.Off_Store.StoreName)</p>
            </div>
            <div class="weui_cell_ft"><i class="fa fa-sign-in"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 0 && m.Status < 4))&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 4))</div>
        </a>
    }
</div>