@model PeriodAid.Models.Examination
@{
    ViewBag.Title = "考试内容";
    Layout = "~/Views/Shared/_ExamLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h3>@Model.TestType.CustomName</h3>
            <h4>姓名：@Model.NickName</h4>
            <span id="exam-id" class="hidden">@Model.ID</span>
            <span id="exam-status" class="hidden">Start</span>
            <span id="open-id" class="hidden">@Model.OpenId</span>
            <span id="nickname" class="hidden">@Model.NickName</span>
            <span id="testtype" class="hidden">@Model.TestTypeID</span>
            <div>
                第 <span id="current-seq">
                    @if (Model.CurrentSequence == Model.MaxSequence)
                    {
                        @Model.CurrentSequence
                    }
                    else
                    {
                        @(Model.CurrentSequence + 1)
                    }
                </span> 题，共 <span id="max-seq">@Model.MaxSequence</span> 题
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <h3><button id="reset-exam" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i></button></h3>
        </div>
    </div>
</div>
<br />
<div id="exam-content" class="container">

</div>
<br />
<div id="exam-controller" class="container text-center">
    <button id="next" class="btn btn-success btn-lg">开始答题</button>
</div>

@section scripts{
    <script>
        $(function () {
            $("#reset-exam").click(function () {
                var r = confirm("确定要重新开始吗？");
                if (r == true) {
                    $.ajax({
                        url: "/Examination/resetExam",
                        data: {
                            examId: $("#exam-id").text()
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                //alert("已充值");
                                window.location.href = "/Examination/ExamBody?open_id=" + $("#open-id").text() + "&nickname=" + $("#nickname").text() + "&testtype=" + $("#testtype").text();
                            }
                        }
                    });
                }
            });
            $("#next").click(function () {
                if ($("#exam-status").text() == "Run") {
                    $("#next").text("下一题");
                    //alert($(".answer-activ").length);
                    if ($(".answer-activ").length == 1) {
                        $.ajax({
                            url: "/Examination/SubmitAndNext",
                            data: {
                                examId: $("#exam-id").text(),
                                answerId: $(".answer-activ").attr("data-target")
                            },
                            success: function (data) {
                                if (data.result == "SUCCESS") {
                                    var r = data.questionresult;
                                    if (r==false)
                                        alert("错误");
                                    $.ajax({
                                        url: "/Examination/getCurrentQuestion",
                                        data: {
                                            examId: $("#exam-id").text()
                                        },
                                        success: function (data) {
                                            $("#exam-content").html(data);
                                            if ($("#exam-status").text() == "Finish") {
                                                $("#next").addClass("hide");
                                            }
                                            else {
                                                $("#exam-status").text("Run");
                                                var next = parseInt($("#current-seq").text()) + 1;
                                                $("#current-seq").text(next);
                                            }
                                        }
                                    });
                                }
                            }
                        });
                        /**/
                    }
                    else {
                        alert("请选择答案");
                    }

                }
                else if ($("#exam-status").text() == "Start") {
                    $("#next").text("下一题");
                    $.ajax({
                        url: "/Examination/getCurrentQuestion",
                        data: {
                            examId: $("#exam-id").text()
                        },
                        success: function (data) {
                            $("#exam-content").html(data);
                            if ($("#exam-status").text() == "Finish") {
                                $("#next").addClass("hide");
                            }
                            else {
                                $("#exam-status").text("Run");
                                //var next = parseInt($("#current-seq").text()) + 1;
                                //$("#current-seq").text(next);
                            }
                            
                        }
                    });
                    
                }
                else {

                }
            });

        });
    </script>
}

