@model IEnumerable<PeriodAid.Models.SubTask>
@using PeriodAid.Models
<div class="col-md-12 margin-bottom-10">
    <div class="tm_modal_list" id="subtask_modal_list">
        <div class="tm_modal_body">
            <ul>
                @foreach (var item in Model)
                {
                    <li class="tm_modal_list-header tm_subtask_li" data-stid="@item.Id">
                        <div class="tm-list-item_top clear-float">
                            <div class="tm_modal_list-left tm_left_icon">
                                @if (item.Status == AssignmentStatus.FINISHED)
                                {
                                    <input type="checkbox" style="width:20px;height:20px;" class="margin-0 subtask_comfirm_finish" checked>
                                }
                                else
                                {
                                    <input type="checkbox" style="width:20px;height:20px;" class="margin-0 subtask_comfirm_finish">
                                }
                            </div>

                                <div class="tm_modal_list-left" style="padding:0 6px;" title="@item.Executor.NickName" data-toggle="tooltip" data-placement="top">
                                    @if (item.Executor.ImgUrl == null)
                                    {
                                        <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                                    }
                                    else
                                    {
                                        <span style="background-image: url('http://cdn2.shouquanzhai.cn/@item.Executor.ImgUrl');margin-top:-3px;" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                                    }
                                    
                                </div>
                                <div class="tm_modal_list-middle" data-sbid="@item.Id">
                                    <span>@Html.Encode(item.TaskTitle)</span>&nbsp;&nbsp;&nbsp;                                
                                </div>
                                <div class="tm_modal_list-right">@if (item.Deadline != null)
                                {
                                    <span class="color-orange">截止日期:</span>@Html.Encode(Convert.ToDateTime(item.Deadline).ToString("yyyy-MM-dd HH:00"))
                                }</div>
                         </div>
                        <div class="tm_modal_list-footer hidden add-subtask-write"></div>
                    </li>
                }
            </ul>
        </div>
        <div class="tm_modal_list-header clear-float">
            <div class="tm-list-item_top clear-float">
                <div class="tm_modal_list-left tm_left_icon">
                    <span>
                        <i class="fa fa-plus-circle  color-blue icon-size" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="tm_modal_list-middle add-btn btn_add_subtask" data-sbid="">添加子任务</div>
                <div class="tm_modal_list-right"></div>
            </div>
            <div class="tm_modal_list-footer hidden add-subtask-write"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    //内置子任务弹出处理
    $("#subtask_modal_list").on("click", ".btn_add_subtask", function (event) {
        var that = $(this);
        if (that.parent().parent().find(".add-subtask-write").html() == "") {
            $(".add-subtask-write").html("").addClass("hidden");
            $.ajax({
                url: "/TaskManagement/GetSubtaskForm",
                data: {
                    AssignmentId: $("#modal-header-assignment").attr("data-aid"),
                },
                success: function (data) {
                    if (data != "FAIL") {
                        that.parent().parent().find(".add-subtask-write").html(data).removeClass("hidden");
                    } else {
                        ErrorAlert("操作失败。");
                    }
                },
                error:function(data){
                    ErrorAlert("操作失败。");
            }

            })
        }
        if (that.parent().parent().find(".add-subtask-write").hasClass("hidden")) {
            that.parent().parent().find(".add-subtask-write").removeClass("hidden")
        } else {
            that.parent().parent().find(".add-subtask-write").addClass("hidden")
        }
    });
    //已填充
    $("#subtask_modal_list").on("click",".btn_edit_subtask", function (event) {
        var that = $(this);
        if (that.parent().parent().find(".add-subtask-write").html() == "") {
            $(".add-subtask-write").html("").addClass("hidden");
            $.ajax({
                url: "/TaskManagement/GetSubtaskFilledForm",
                data: {
                    AssignmentId: $("#modal-header-assignment").attr("data-aid"),
                    SubtaskId: that.attr("data-sbid")
                },
                success: function (data) {
                    that.parent().parent().find(".add-subtask-write").html(data).removeClass("hidden");
                },
                error: function (data) {
                    ErrorAlert("操作失败");
                }

            })
        }
        if (that.parent().parent().find(".add-subtask-write").hasClass("hidden")) {
            that.parent().parent().find(".add-subtask-write").removeClass("hidden")
        } else {
            that.parent().parent().find(".add-subtask-write").addClass("hidden")
        }
    });
    //子任务了解详情
    $("#subtask_modal_list").on("click", ".tm_subtask_li", function (event) {
        $.ajax({
            url: "/TaskManagement/Subtask_Detail",
            data: {
                SubtaskId: $(this).attr("data-stid")
            },
            success: function (data) {
                $("#Edit-Assignment .modal-content").html(data);
            }
        })          
    });
    //完成
    $("#subtask_modal_list").on("click", ".subtask_comfirm_finish", function (event) {
        var stid = $(this).parent().parent().parent().attr("data-stid");
        $.ajax({
            url: "/TaskManagement/ComfirmFinishSubtask",
            type: "post",
            data: {
                SubtaskId: stid,
            },
            success: function (data) {
                if (data.result == "SUCCESS") {
                    GetSubTaskListPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
                        $("#modal_subtask_area").html(data);
                    });
                    GetAssignment(data.Id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.Id + "]").find(".tm_pannel-body"));
                    $.ajax({
                        url: "/TaskManagement/GetProcedureJsonInfo",
                        type: "post",
                        data: {
                            SubjectId: $("#pannel-wrap").attr("data-sid")
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                var len = data.data.length;
                                $(".ajax-procedure").each(function () {
                                    for (i = 0; i < len; i++) {
                                        if (data.data[i].ProcedureId == $(this).attr("data-procedureid")) {
                                            $(this).find(".total-num").html(data.data[i].TotalNum)
                                            $(this).find(".num").html(data.data[i].FinishNum)
                                        }
                                    }
                                })
                            } else {
                                ErrorAlert("请求失败。");
                            }
                        },
                        error: function (data) {
                            ErrorAlert("请求失败。");
                        }
                    })
                } else {
                    ErrorAlert(data.result)
                }
            },
            error: function () {
                ErrorAlert("操作失败")
            }
        });
        return false;
    });

</script>

