@model PeriodAid.Models.Assignment
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title text-center color-blue" id="Add-CollaboratorLabel">参与人选择</h4>
</div>
    <div class="padding-10">
        <select class="selectpicker form-control" id="tm_select_straff_addcol" multiple>
            @foreach (var depart in ViewBag.DepartmentList)
            {
                <optgroup label="@depart.DepartmentName">
                    @foreach (var straff in depart.EmployeeList)
                    {
                        <option value="@straff.Id">@straff.NickName</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <div class="tm_modal_ul_wrap modal-list-panel" style="padding:0 10px">
        <ul class="list-group tm_modal_list_ul">
            <li class="clear-float tm_modal_list_li">
                <div class="tm_item_avatar float-left">
                    @if (Model.Holder.ImgUrl == null)
                    {
                        <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                    else
                    {
                        <span style="background-image: url('http://cdn2.shouquanzhai.cn/@Model.Holder.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                </div>
                <div class="float-left">
                    <div class="tm_middle_top tm_middle_content" title="" data-toggle="tooltip" data-placement="top" data-original-title="修改了项目:项目管理系统">
                        <span class="color-blue">@Html.Encode(Model.Holder.NickName)</span>
                    </div>
                    <div class="tm_middle_bottom tm_middle_content clear-float">
                        <div class="tm_item_left">
                            <span class="color-gray">最后登录日期:</span>
                            <span class="finish_subtask">@Html.Encode(Model.Holder.LastLoginDate.ToString("yyyy-MM-dd"))</span>
                        </div>

                    </div>
                </div>
            </li>
            @foreach (var col in Model.Collaborator)
            {
                <li class="clear-float tm_modal_list_li">
                    <div class="tm_item_avatar float-left">
                        @if (col.ImgUrl == null)
                        {
                            <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                        }
                        else
                        {
                            <span style="background-image: url('http://cdn2.shouquanzhai.cn/@col.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                        }
                    </div>
                    <div class="float-left">
                        <div class="tm_middle_top tm_middle_content" title="" data-toggle="tooltip" data-placement="top" data-original-title="修改了项目:项目管理系统">
                            <span class="color-blue">@Html.Encode(col.NickName)</span>
                        </div>
                        <div class="tm_middle_bottom  clear-float">
                            <div class="tm_item_left">
                                <span class="color-gray">最后登录日期:</span>
                                <span class="finish_subtask">@Html.Encode(col.LastLoginDate.ToString("yyyy-MM-dd"))</span>
                            </div>

                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-default" data-dismiss="modal">取消</a>
    <a href="javascript:;" class="btn btn-primary" id="btn_edit_col" data-aid="@Model.Id">保存</a>
</div>
<script>
    //初始化员工选择
    $('#tm_select_straff_addcol').selectpicker({
        liveSearch: true,
        liveSearchPlaceholder: "搜索人员",
        width: "100%",
        dropupAuto: false,
        title:"选择添加人员"
    });

    //添加参与人确认
    $("#btn_edit_col").on("click", function () {
        var that=$(this);
        var _data = {
            AssignmentId: that.attr("data-aid"),
            colvalue: $("#tm_select_straff_addcol").val().join(",").toString()
        }
        if (!that.hasClass("disabled")) {
            that.addClass("disabled")
            EditForAjax("/TaskManagement/AddAssignmentCollaborator", _data, function (data) {
                //成功
                $("#Add-Collaborator").modal('hide');
                //请求参与人模板
                GetAssignment_CollaboratorPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
                    $("#modal_collaborator_area").html(data);
                });
            }, function (data) {
                //失败
            });
        }
    })

    $(".padding-10").on("click", function () {
        $(".padding-10 ul").attr("style","height:400px;overflow-y:auto;");
    })
</script>
