@model PeriodAid.Models.Assignment
<div class="col-md-12 margin-bottom-10">
    <div class="tm_modal_list">
        <label for="RemindDate">参与人</label>
        <div class="tm_modal_body">
            <ul class="participator_area clear-float" id="modal_collaborator_area">
                @if (Model.Holder.ImgUrl == null)
                {
                    <li title="@Model.Holder.NickName" data-toggle="tooltip" data-placement="top" ><div style="background-image: url('../../Content/images/defaultphoto.gif');" class="user_circle"></div></li>
                }
                else
                {
                    <li title="@Model.Holder.NickName" data-toggle="tooltip" data-placement="top"><div style="background-image: url('http://cdn2.shouquanzhai.cn/@Model.Holder.ImgUrl');" class="user_circle"></div></li>
                }
               
               @foreach (var col in Model.Collaborator)
               {
                   if (col.ImgUrl != null)
                   {
                    <li title="@col.NickName" data-toggle="tooltip" data-placement="top" data-cid="@col.Id"><div style="background-image: url('http://cdn2.shouquanzhai.cn/@col.ImgUrl');" class="user_circle">
                                                                                             <div class="minus-icon"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        </div></li>
                   }
                   else
                   {
                    <li title="@col.NickName" data-toggle="tooltip" data-placement="top" data-cid="@col.Id"><div style="background-image: url('../../Content/images/defaultphoto.gif');" class="user_circle">
                                                                                             <div class="minus-icon"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        </div></li>
                   }
               }
                <li title="添加参与人" data-toggle="tooltip" data-placement="top"><a href="javascript:;"  class="create_user_circle user_circle" id="create_user_circle"  data-aid="@Model.Id"><i class="fa fa-plus ver_icon" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    //添加参与者弹窗
    $("#create_user_circle").on("click", function () {
        GetAssignmnet_CollaboratorAddPartial($(this).attr("data-aid"), function (data) {
            $("#Add-Collaborator .modal-content").html(data);
            $('#Add-Collaborator').modal('show');
        })
    });

    $(".minus-icon").on("click", function () {
        var cid = $(this).parent().parent().attr("data-cid");
        var aid=$("#modal-header-assignment").attr("data-aid");
        CustomConfirm("是否要删除此联系人?", function () {
            $.ajax({
                url: "/TaskManagement/DeleteAssignmentCollaborator",
                type: 'post',
                data: {
                    AssignmentId: aid,
                    EmployeeId: cid
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        UnimportantAlert("删除参与人成功。")
                        //获取合作人
                        GetAssignment_CollaboratorPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
                            $("#modal_collaborator_area").html(data);
                        });
                    } else {
                        ErrorAlert(data.errmsg);
                    }
                },
                error: function (data) {
                    ErrorAlert("请求失败。")
                }

            });
        })
    })
</script>