@model PeriodAid.Models.Assignment
<div class="modal-header" id="modal-header-assignment" data-aid="@Model.Id">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="close dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">更多<i class="fa fa-caret-down color-blue" aria-hidden="true" title="更多"></i></a>
    <h4 class="modal-title" id="Edit-AssignmentLabel">@Html.Encode(Model.AssignmentTitle)</h4>
    <div class="dropdown-menu tm_dropdown tm_dropdown_width">
        <ul>
            <li class="text-center"><strong class="color-blue">更多功能</strong></li>
            <li role="separator" class="divider"></li>
        </ul>
        <ul class="tm_dropdown_list">
            <li><a href="javascript:;" id="btn_del_assignment"><span class="color-red">删除任务</span></a></li>
            <li><a href="javascript:;" id="btn_archive_assignment">归档</a></li>
            <li><a href="javascript:;" id="btn_finish_assignment">完成</a></li>
            <li><a href="javascript:;">持续更新中</a></li>
        </ul>
    </div>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit_Assignment_Detail", "TaskManagement", FormMethod.Post, new { @id = "edit_assignment_form", @class = "validate-form" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CompleteDate)
    @Html.HiddenFor(m => m.CreateTime)
    @Html.HiddenFor(m => m.SubjectId)
    @Html.HiddenFor(m => m.ProcedureId)
    @Html.HiddenFor(m => m.Status)
    <div class="form-group">
        <label for="AssignmentTitle">任务名称</label>
        @Html.TextBoxFor(m => m.AssignmentTitle, new { @class = "form-control", @placeholder = "任务名称" })
    </div>
    <div class="form-group">
        <label for="Remarks">任务描述</label>
        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "3", @placeholder = "任务描述" })
    </div>
    <div class="row">
        <div class="form-group col-md-6 input-append date">
            <label for="RemindDate">提醒时间</label>
            @if (Convert.ToDateTime(Model.RemindDate).ToString("yyyy-MM-dd") == "0001-01-01")
                {
                <input id="RemindDate" name="RemindDate" type="text" readonly class="form-control form_datetime" />
                }
                else
                {
                <input id="RemindDate" name="RemindDate" type="text" readonly class="form-control form_datetime" value="@Convert.ToDateTime(Model.RemindDate).ToString("yyyy-MM-dd")" />
                }

        </div>
        <div class="form-group col-md-6 input-append date">
            <label for="Deadline">截止期限</label>
            @if (Convert.ToDateTime(Model.Deadline).ToString("yyyy-MM-dd") == "0001-01-01")
                {
                <input id="Deadline" name="Deadline" type="text" readonly class="form-control form_datetime" />
                }
                else
                {
                <input id="Deadline" name="Deadline" type="text" readonly class="form-control form_datetime" value="@Convert.ToDateTime(Model.Deadline).ToString("yyyy-MM-dd")" />
                }
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="HolderId">负责人</label>
            @Html.DropDownListFor(m => m.HolderId, ViewBag.EmployeeDropDown as SelectList, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="Priority">优先级</label>
            <select name="Priority" id="Priority" class="form-control">
                @if (Model.Priority == 1)
                {
                    <option value="1">一般</option>
                    <option value="2">急需</option>
                }
                else
                {
                    
                    <option value="2">急需</option>
                    <option value="1">一般</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-10">
            <div class="tm_modal_list">
                <div class="tm_modal_list-header clear-float">
                    <div class="tm_modal_list-left">是否重复</div>
                    <div class="tm_modal_list-right">
                        @if (Model.Repeat==true)
                        {
                            <input type="checkbox" style="height:20px;width:20px;" id="Repeat" name="Repeat" checked value="@Model.Repeat.ToString()"/>
                        }
                        else
                        {
                            <input type="checkbox" style="height:20px;width:20px;" id="Repeat" name="Repeat"  value="@Model.Repeat.ToString()"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <!--SubTask Area-->
    <div class="row" id="modal_subtask_area">
        
    </div>
    <!--SubTask Area End-->

    <!--Collaborator Area-->
    <div class="row" id="modal_collaborator_area">
       
    </div>
    <!--Collaborator Area End-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btn_edit_assignment">保存</button>
</div>
<script type="text/javascript">
    CompleteTimeWidget(".form_datetime");
    //获取子任务列表
    GetSubTaskListPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
        $("#modal_subtask_area").html(data);
    })

    //获取合作人
    GetAssignment_CollaboratorPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
        $("#modal_collaborator_area").html(data);
    })

    //checkbox
    $("#Repeat").on("click", function () {
        console.log($(this).val())
        if ($(this).val().toLowerCase() == "false") {
            $(this).val("true")
        } else {
            $(this).val("false")
        }
    })
    //修改任务验证
    $("#edit_assignment_form").validate({
        debug: false,
        rules: {
            AssignmentTitle: {
                required: true,
                maxlength: 128
            }
        },
        //验证通过的正式提交函数
        submitHandler: function (form) {
            $(form).ajaxSubmit(function (data) {
                if (data.result == "SUCCESS") {
                    UnimportantAlert("任务修改成功");
                    $("#btn_edit_assignment").removeClass("disabled");
                    $('#Edit-Assignment').modal('hide');
                    GetAssignment(data.id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.id + "]").find(".tm_pannel-body"));
                } else {
                    ErrorAlert(data.result);
                    $("#btn_edit_assignment").removeClass("disabled");
                }
            })
        },
        errorClass: "has-error",
        //验证失败
        errorPlacement: function (error, element) {
            $("#btn_edit_assignment").removeClass("disabled");
        }
    });
    //修改任务的提交
    $("#btn_edit_assignment").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#edit_assignment_form").submit();
        }
    });
    //删除任务
    $("#btn_del_assignment").on("click", function () {
        var data_aid = $(this).parent().parent().parent().parent().attr("data-aid");
        CustomConfirm("删除此任务的同时将删除其子任务，请确认是否删除?", function () {
            Delete_Assignment(data_aid, function (data) {
                if (data.result == "SUCCESS") {
                    GetAssignment(data.Id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.Id + "]").find(".tm_pannel-body"));
                    UnimportantAlert("删除任务成功。")
                    $('#Edit-Assignment').modal('hide');
                    $.ajax({
                        url: "/TaskManagement/GetProcedureJsonInfo",
                        type: "post",
                        data: {
                            SubjectId: $("#pannel-wrap").attr("data-sid")
                        },
                        success: function (data) {
                            var len = data.result.length;
                            $(".ajax-procedure").each(function () {
                                for (i = 0; i < len; i++) {
                                    if (data.result[i].ProcedureId == $(this).attr("data-procedureid")) {
                                        
                                        $(this).find(".total-num").html(data.result[i].TotalNum)
                                        $(this).find(".num").html(data.result[i].FinishNum)
                                    }
                                }
                            })
                        }
                    })
                } else {
                    UnimportantAlert(data.result)
                }
            })
        })
    });
</script>
