@model PeriodAid.Models.Assignment
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@Html.Encode(Model.AssignmentTitle)</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit_Assignment_Detail", "TaskManagement", FormMethod.Post, new { @id = "edit_assignment_form", @class = "validate-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m=>m.CompleteDate)
        @Html.HiddenFor(m=>m.CreateTime)
        @Html.HiddenFor(m=>m.SubjectId)
        @Html.HiddenFor(m=>m.ProcedureId)
        @Html.HiddenFor(m=>m.Status)
        <div class="form-group">
            @Html.TextBoxFor(m => m.AssignmentTitle, new { @class = "form-control", @placeholder = "任务名称" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(m=>m.Remarks, new { @class="form-control", @rows="3", @placeholder="任务描述"})
        </div>
        <div class="row">
            <div class="form-group col-md-6 input-append date">
                <label for="RemindDate">提醒时间</label>
                @Html.TextBoxFor(m => m.RemindDate, new { @type = "text", @readonly="true", @class="form-control form_datetime"})
            </div>
            <div class="form-group col-md-6 input-append date">
                <label for="Deadline">截止期限</label>
                @Html.TextBoxFor(m => m.Deadline, new { @type = "text", @readonly = "true", @class = "form-control form_datetime" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="HolderId">负责人</label>
              @Html.DropDownListFor(m => m.HolderId, ViewBag.EmployeeDropDown as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label for="Priority">优先级</label>
                <select name="Priority" id="Priority" class="form-control">
                    <option value="1">一般</option>
                    <option value="2">急需</option>
                </select>
            </div>
        </div>
        <div class="checkbox">
                @if (Model.Repeat)
                {
                    <label>
                        @Html.TextBoxFor(m => m.Repeat, new { @type = "checkbox", @value = Model.Repeat, @checked = "checked" })重复
                        
                    </label>
                }
                else
                {
                    <label>
                        @Html.TextBoxFor(m => m.Repeat, new { @type = "checkbox", @value = Model.Repeat})重复
                        
                    </label>
                }

        </div>
        <div class="modal-footer">
            <button type = "button" class="btn btn-blue" id="btn_edit_assignment">保存</button>
        </div>
    }

</div>
    <script type="text/javascript">
        $("#Repeat").on("click", function () {
            if ($(this).val().toLowerCase() == "false") {
                $(this).val("true")
            } else {
                $(this).val("false")
            }
        })
        CompleteTimeWidget(".form_datetime");
        //修改任务验证
        $("#edit_assignment_form").validate({
            debug: false,
            rules: {
                AssignmentTitle: {
                    required: true,
                    maxlength: 128
                }
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    if (data.result == "SUCCESS") {
                        UnimportantAlert("任务修改成功");
                        $("#btn_edit_assignment").removeClass("disabled");
                        $('#Edit-Assignment').modal('hide');
                        GetAssignment(data.id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.id + "]").find(".pannel-body"));
                    } else {
                        ErrorAlert(data.result);
                        $("#btn_edit_assignment").removeClass("disabled");
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#btn_add_subject").removeClass("disabled");
            }
        });
        //修改任务的提交
        $("#btn_edit_assignment").on("click", function () {
            if (!$(this).hasClass("disabled")) {
                $(this).addClass("disabled")
                $("#edit_assignment_form").submit();
            }
        });
</script>  
