@model IEnumerable<PeriodAid.Models.Subject>
<h3 style="position:relative">
    <i class="fa fa-tasks color-blue" aria-hidden="true"></i>&nbsp;
    正在执行的项目&nbsp;
    <button type="button" id="bt_new_mess" class="color-gray btn btn-primary">
        暂无消息</button>
            <span class="popover" role="tooltip" id="new_mess_show" style="opacity:0.95;display: inline-block; position:absolute;left:290px;">
                <span class="arrow" style="top: 17.9559%;display:block"></span>
                <span class="popover-title glyphicon glyphicon-chevron-left" style="display:block">新操作消息(请前往项目查看)</span>
            </span>
</h3>

<div class="card-box row">
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-3 card-wrap" title="@item.SubjectTitle" data-toggle="tooltip" data-placement="top">
                @if (item.PicUrl != null)
                    {
                    <div class="card-item tm-show-subject-page" style="background-image: url('http://cdn2.shouquanzhai.cn/@item.PicUrl');" data-sid="@item.Id">
                        <div class="card-header clear-float">
                            <div class="card-header-left float-left card-title text-shadow">@Html.Encode(item.SubjectTitle)</div>
                            <div class="card-header-right float-right card-edit-btn" data-link="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
                        </div>
                        <div class="card-body">

                        </div>
                            <div class="card-footer text-shadow">
                                @item.CreateTime.ToString("yyyy-MM-dd")
                               
                            </div>
                    <div class="card-mask"></div>
                    </div>
                }
                else
                {
                    <div class="card-item tm-show-subject-page" style="background-image: url('/Content/images/cover-default.jpg');" data-sid="@item.Id">
                        <div class="card-header clear-float">
                            <div class="card-header-left float-left card-title text-shadow">@Html.Encode(item.SubjectTitle)</div>
                            <div class="card-header-right float-right card-edit-btn" data-link="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer text-shadow">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                            
                        </div>
                        <div class="card-mask"></div>
                    </div>
                }
            </div>
        }
    }
    <div class="col-md-3 card-wrap" id="add-task-card">
        <div class="card-item">
            <a id="add-task-card-btn" title="添加新项目" class="create_subject_target" href="javascript:;">
                <div id="add-task-card-icon"><i class="fa fa-plus-circle  fa-3x" aria-hidden="true"></i></div>
                <div id="add-task-card-word">添加新项目</div>
            </a>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#new_mess_show").hide();
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $('[data-toggle="tooltip"]').tooltip();
        $.ajax({
            url: "/Taskmanagement/NewLogs/",
            type: "post",
            data: {
            },
            success: function (data) {
                for (var item in data) {
                    console.log(data);
                    for (i = 0; i < data[item].length; i++) {
                        if (data[item][i].IsNew == true) {
                            //$("#bt_new_mess").attr("data-content", data[item][i].LogsContent);
                            $("#bt_new_mess").removeClass("color-gray");
                            $("#new_mess_show .popover-content").hide();
                            $("#new_mess_show").append("<div class=\"popover-title\">" + "项目【" + data[item][i].SubjectTitle + "】操作消息：" + "</br><div class=\"color-gray\">"+ data[item][i].LogsContent + "</div></div>");
                            $("#bt_new_mess").html("新消息");
                        }
                    }

                }
            }
        })
        //动态消息提示
        $("#bt_new_mess").on("click", function () {
            //$("#new_mess_show").slideToggle();
            $.ajax({
               // url: "/TaskManagement/SubjectProgressPartial",
                url: "/TaskManagement/PersonalHelp",
                data: {
                    SubjectId: $("#panel-wrap").attr("data-sid")
                },
                success: function (data) {
                    if (data != "FAIL") {
                        $("#Create-Subject-Content").html(data);
                        $("#Add-Subject").modal();
                    }
                    else {
                        ErrorAlert("操作失败。")
                    }
                },
                error: function (data) {
                    ErrorAlert("操作失败。");
                }
            })
        });

    })


</script>
