@model IEnumerable<PeriodAid.Models.Subject>
<h3>
    <i class="fa fa-tasks color-blue" aria-hidden="true"></i>&nbsp;
    正在执行的项目&nbsp;
    <button type="button" id="bt_new_mess" class="btn btn-primary" data-toggle="popover" title="新操作消息" data-content="And here's some amazing content. It's very engaging. Right?">新消息<span class="badge">4</span></button>
</h3><input type="hidden" id="user_id" value="@ViewBag.newcontent" />
<div class="card-box row">
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-3 card-wrap" title="@item.SubjectTitle" data-toggle="tooltip" data-placement="top">
                @if (item.PicUrl != null)
                    {
                    <div class="card-item tm-show-subject-page" style="background-image: url('http://cdn2.shouquanzhai.cn/@item.PicUrl');" data-sid="@item.Id">
                        <div class="card-header clear-float">
                            <div class="card-header-left float-left card-title text-shadow">@Html.Encode(item.SubjectTitle)</div>
                            <div class="card-header-right float-right card-edit-btn" data-link="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
                        </div>
                        <div class="card-body">

                        </div>
                            <div class="card-footer text-shadow">
                                @item.CreateTime.ToString("yyyy-MM-dd")
                               
                            </div>
                    <div class="card-mask"></div>
                    </div>
                }
                else
                {
                    <div class="card-item tm-show-subject-page" style="background-image: url('/Content/images/cover-default.jpg');" data-sid="@item.Id">
                        <div class="card-header clear-float">
                            <div class="card-header-left float-left card-title text-shadow">@Html.Encode(item.SubjectTitle)</div>
                            <div class="card-header-right float-right card-edit-btn" data-link="@item.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer text-shadow">
                            @item.CreateTime.ToString("yyyy-MM-dd")
                            
                        </div>
                        <div class="card-mask"></div>
                    </div>
                }
            </div>
        }
    }
    <div class="col-md-3 card-wrap" id="add-task-card">
        <div class="card-item">
            <a id="add-task-card-btn" title="添加新项目" class="create_subject_target" href="javascript:;">
                <div id="add-task-card-icon"><i class="fa fa-plus-circle  fa-3x" aria-hidden="true"></i></div>
                <div id="add-task-card-word">添加新项目</div>
            </a>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $('[data-toggle="tooltip"]').tooltip();
        $.ajax({
            url: "/Taskmanagement/NewLogs/",
            type: "post",
            data: {
            },
            success: function (data) {
                console.log(data);
                for (var item in data) {
                    for (i = 0; i < data[item].length; i++) {
                        if (data[item][i].IsNew == true) {
                           
                        }
                        else {

                        }
                    }

                }
            }
        })
        //动态消息提示
        $("#bt_new_mess").on("click", function () {

        });
    })


</script>