@using PeriodAid.Models
@model IEnumerable<PeriodAid.Models.Assignment>
<div class="tm_list-container">
    <ul class="tm_list-show">

        @foreach (var item in Model)
        {
            if (item.Status == AssignmentStatus.FINISHED)
            {
                <li class="tm_list-item tm_list-finish tm_pop_assmodal" style="border-color:#259B24" data-aid="@item.Id">
                    <div class="tm_list-item_top clear-float">
                        <div class="tm_item_left">
                            <input type="checkbox" class="assignment_comfirm_finish" checked="checked" />
                            &nbsp;&nbsp;@Html.Encode(item.AssignmentTitle)
                        </div>
                        <div class="tm_item_right" data-aid="@item.Id" title="@item.Holder.NickName" data-toggle="tooltip" data-placement="left">
                            @if (item.Holder.ImgUrl == null)
                            {
                                <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                            }
                            else
                            {
                                <span style="background-image: url('http://cdn2.shouquanzhai.cn/@item.Holder.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                            }
                        </div>
                    </div>
                    <div class="tm_list-item_bottom clear-float">
                        @if (item.SubTask.Where(m => m.Status > AssignmentStatus.DELETED).Count() > 0)
                        {
                            <div class="tm_item_left">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="finish_subtask color-green">@item.SubTask.Count(p => p.Status == AssignmentStatus.FINISHED)</span>/<span class="total_subtask">@item.SubTask.Count(p => p.Status > AssignmentStatus.DELETED)</span>
                            </div>
                        }
                        @if (item.Deadline != null)
                        {
                            <div class="tm_item_left">&nbsp;&nbsp;
                                <span class="color-orange">截止日期:</span>
                                <span class="finish_subtask">@Html.Encode(Convert.ToDateTime(item.Deadline).ToString("yyyy-MM-dd HH:00"))</span>
                            </div>
                        }
                    </div>
                </li>
            }
            else if (item.Status == AssignmentStatus.UNFINISHED)
            {
                <li class="tm_list-item tm_pop_assmodal" style="border-color:#3da8f5" data-aid="@item.Id">
                    <div class="tm_list-item_top clear-float">
                        <div class="tm_item_left">
                            <input type="checkbox" class="assignment_comfirm_finish" />
                            &nbsp;&nbsp;@Html.Encode(item.AssignmentTitle)
                        </div>
                        <div class="tm_item_right" data-aid="@item.Id" title="@item.Holder.NickName" data-toggle="tooltip" data-placement="left">
                            @if (item.Holder.ImgUrl == null)
                            {
                                <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                            }
                            else
                            {
                                <span style="background-image: url('http://cdn2.shouquanzhai.cn/@item.Holder.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                            }
                        </div>
                    </div>
                    <div class="tm_list-item_bottom clear-float">
                        @if (item.SubTask.Where(m => m.Status > AssignmentStatus.DELETED).Count() > 0)
                    {
                            <div class="tm_item_left">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="finish_subtask color-green">@item.SubTask.Count(p => p.Status == AssignmentStatus.FINISHED)</span>/<span class="total_subtask">@item.SubTask.Count(p => p.Status > AssignmentStatus.DELETED)</span>
                            </div>
                        }
                        @if (item.Deadline != null)
                        {
                            <div class="tm_item_left">&nbsp;&nbsp;
                                <span class="color-orange">截止日期:</span>
                                <span class="finish_subtask">@Html.Encode(Convert.ToDateTime(item.Deadline).ToString("yyyy-MM-dd HH:00"))</span>
                            </div>
                        }
                    </div>
                </li>

            }
        }
    </ul>
    <div class="tm_list-control text-center">
        <div class="add-btn color-gray btn-get-form btn-get-assignmentform" data-pid="@ViewBag.ProcedureId">
            <i class="fa fa-plus-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;增加任务</i>
        </div>
        <div class="tm_assignmentform-area">
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
