@model PeriodAid.Models.Procedure
@using PeriodAid.Models;
<div class="tm_panel-header clear-float">
    <div class="tm_panel-header-right float-right">
        <span class="tm_procedure-title">@Model.ProcedureTitle</span>
    </div>
    <div class="tm_panel-header-left float-left">
                <a class="icon-btn dropdown-toggle procedure-dropdown-toggle tm-show-listmenu" href="javascript:;">
                    <i class="fa fa-caret-square-o-down color-blue" aria-hidden="true"></i>
                </a>
    </div>
</div>
<div class="tm-dropdown-area">
    <div class="dropdown-menu tm_dropdown dropdown-parent tm-dropdown-menu" style="position:static">
        <ul class="tm_dropdown_list">
            <li class="text-center"><strong class="color-blue">更多操作</strong></li>
            <li role="separator" class="divider">
            </li>
            <li>
                <a href="javascript:;" data-pid="@Model.Id" class="btn-edit-procedure">
                    <span class="color-blue">@Html.Encode("修改名称")</span>
                </a>
            </li>
            <li role="separator" class="divider">
<li>
                <a href="javascript:;" data-pid="@Model.Id" data-type="finish" class="btn-select-procedure">
                    <span class="color-blue">@Html.Encode("筛选已完成任务")</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-pid="@Model.Id" class="btn-select-procedure">
                    <span class="color-blue">@Html.Encode("筛选未完成任务")</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-pid="@Model.Id" data-type="all" class="btn-select-procedure">
                    <span class="color-blue">@Html.Encode("全部任务展示")</span>
                </a>
            </li>            
            <li role="separator" class="divider">
<li><a href="javascript:;" data-pid="@Model.Id" class="btn-del-procedure"><span class="color-red">@Html.Encode("删除列表")</span></a></li>
        </ul>
    </div>
    <div class="dropdown-menu tm_dropdown dropdown-sub tm-dropdown-menu" style="position:static">
    </div>
</div>
<div class="tm_panel-body">
</div>
<div class="tm_panel-footer clear-float">
    <div class="tm_panel-footer-left float-left"></div>
    <div class="tm_panel-footer-right float-right"><span class="num color-green">@Html.Encode(Model.Assignment.Count(p => p.Status == AssignmentStatus.UNFINISHED))</span></div>
</div>
