@model PeriodAid.Models.Subject
@using PeriodAid.Models;
<div class="tm_subject_container">
    <div class="tm_subject_pannel_header">
        <strong class="color-blue">项目菜单</strong>
    </div>
    <div class="tm_subject_pannel_body">
        <div class="list-group">
            <a href="javascript:;" class="list-group-item" id="btn_setting_subject">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                &nbsp;项目设置
            </a>
            <a href="javascript:;" class="list-group-item" id="subject_daily_schedule">
                <h4 class="list-group-item-heading">今日进度</h4>
                <div class="daily_schedule_content clear-float">
                    <div class="float-left">
                        <h5>已完成任务</h5>
                        <div class="color-green text-center subject_task_num">
                            <strong>@ViewBag.finishnum</strong>
                        </div>
                    </div>
                    <div class="float-right">
                        <h5>待处理任务</h5>
                        <div class="color-red text-center subject_task_num">
                            <strong>@ViewBag.waitnum</strong>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">最近动态</h4>
                <ul>
                    @foreach (var log in ViewBag.RecentEvent)
                    {
                        <li class="clear-float">
                            <div class="float-left subject_avatar_box">
                                <span style="background-image: url('http://cdn2.shouquanzhai.cn/@log.Employee.ImgUrl');" class="tm_avatar tm_img-circle tm_personal-avatar"></span>
                            </div>
                            <div class="float-left subject_task_control">
                                <strong>@Html.Encode(log.Employee.NickName)</strong>
                                <span>@Html.Encode(log.LogContent)</span>
                            </div>
                            <div class="float-right">
                                <span>@Html.Encode(log.LogTime)</span>
                            </div>
                        </li>
                    }
                </ul>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                &nbsp;查看更多操作日志
            </a>
        </div>
    </div>
    <div class="tm_subject_pannel_footer">没有更多了</div>
</div>
<script>
    $("#btn_setting_subject").on("click", function () {
        $.ajax({
            url: "/TaskManagement/EditSubject",
            data: {
                id: $("#pannel-wrap").attr("data-sid")
            },
            success: function (data) {
                if (data != "FAIL") {
                    $("#Create-Subject-Content").html(data);
                    $("#Add-Subject").modal();
                }
                else {
                    ErrorAlert("当前用户没有修改项目信息的权限")
                }
            },
            error: function (data) {
                ErrorAlert("操作失败。");
            }
        })
        return false;
    })
    $("#subject_daily_schedule").on("click", function () {
        $.ajax({
           url: "/TaskManagement/SubjectProgressPartial",
            data: {
                SubjectId: $("#pannel-wrap").attr("data-sid")
            },
            success: function (data) {
                if (data != "FAIL") {
                    $("#Create-Subject-Content").html(data);
                    $("#Add-Subject").modal();
                }
                else {
                    ErrorAlert("当前用户没有修改项目信息的权限")
                }
            },
            error: function (data) {
                ErrorAlert("操作失败。");
            }
        })
        return false;
    })

</script>
