@model PeriodAid.Models.Subject
@{
    ViewBag.Title = "Task_Detail";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div class="navbar-default" id="task-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ol class="breadcrumb  navbar-breadcrumb">
                <li><a href="#">主页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="SubjectName" data-id="@Model.Id" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Encode(Model.SubjectTitle)<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-list">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ol>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-underline">
                <li><a href="#" class="active">进度</a></li>
                <li><a href="#">日程</a></li>
                <li><a href="#">文件</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="users-btn"><i class="fa fa-users color-blue" aria-hidden="true"></i>&nbsp;<span class="users-num">20</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="menu-btn"><i class="fa fa-bars color-blue" aria-hidden="true"></i>&nbsp;菜单</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
<div class="pannel-wrap" id="pannel-wrap" data-sid="@Model.Id">
    <div class="pannel-container">
        @foreach (var id in ViewBag.pid)
        {
            <div class="pannel-item ajax-procedure" data-procedureid="@id"></div>
        }
        <div class="pannel-item panel-item-add text-center">
            <div id="add-pannel-control"><a href="javascript:;" class="panel-body add-btn color-gray" id="add-pannel-list"><i class="fa fa-plus-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;新建列表</i></a></div>
            <div id="add-pannel-write" class="padding-10 write-box hidden">
               @using (Html.BeginForm("CreateProcedure", "TaskManagement", FormMethod.Post, new { @id = "add_procedure_form", @class = "validate-form" }))
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(m=>m.TemplateId)
                <input type="text" class="form-control hidden" id="Sort" name="Sort">
                    <div class="form-group">
                        <input type="text" class="form-control" id="ProcedureTitle" placeholder="标题" name="ProcedureTitle">
                    </div>
                    <div class="text-right">
                     <a class="btn btn-default" id="cancel-pannel-write">取消</a>
                    <a  class="btn btn-blue" id="create-procedure-pannel">确定</a>
                    </div>
               }
            </div>
        </div>
    </div>
</div>
<div class="pannel-sidebar" id="user-pannel">
    <div class="pannel-siderbar-container">
        <div class="siderbar-header"><strong class="color-blue">成员列表</strong></div>
        <div class="siderbar-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSubjectMember" aria-expanded="true" aria-controls="collapseSubjectMember">
                                项目成员
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSubjectMember" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">张三</a>
                                <a href="#" class="list-group-item">李四</a>
                                <a href="#" class="list-group-item">王五</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCompanyMember" aria-expanded="false" aria-controls="collapseCompanyMember">
                                可添加成员
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCompanyMember" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-info">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSale" aria-expanded="true" aria-controls="collapseSale">
                                                销售部
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSale" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item">张三</a>
                                                <a href="#" class="list-group-item">李四</a>
                                                <a href="#" class="list-group-item">王五</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOnline" aria-expanded="true" aria-controls="collapseOnline">
                                                电商运营部
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOnline" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <a href="#" class="list-group-item">张三</a>
                                            <a href="#" class="list-group-item">李四</a>
                                            <a href="#" class="list-group-item">王五</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="siderbar-footer"></div>

</div>
<div class="modal fade" id="Edit-Assignment" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section scripts{
    <script>
        //新增过程验证
        $("#add_procedure_form").validate({
            debug: false,
            rules: {
                ProcedureTitle: {
                    required: true,
                    maxlength: 128
                }
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit(function (data) {
                    console.log(data);
                    if (data.result == "SUCCESS") {
                        $(".panel-item-add").before("<div class=\"pannel-item ajax-procedure\"" + "data-procedureid=" + data.id + "></div>");
                        GetProcedure(data.id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure:last"));
                        UnimportantAlert("添加过程成功");
                        controlHidden()
                    } else {
                        ErrorAlert(data.result);
                        controlHidden()
                        $("#create-procedure-pannel").removeClass("disabled");
                    }
                })
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#create-procedure-pannel").removeClass("disabled");
            }
        });
        //新增过程
        $("#create-procedure-pannel").on("click", function () {
            if (!$(this).hasClass("disabled")) {
                $("#Sort").val(parseInt($(".ajax-procedure").length + 1))
                $(this).addClass("disabled")
                $("#add_procedure_form").submit();
            }
        })
        //新增任务
        $("#pannel-wrap").on("click", "#create-assignment", function () {
            if (!$(this).hasClass("disabled")) {
                $(this).addClass("disabled")
                if ($("#pannel-wrap #AssignmentTitle").val() == "") {
                    $("#pannel-wrap #AssignmentTitle").addClass("has-error");
                    $("#create-assignment").removeClass("disabled");
                } else {
                    $("#add_assignment_form").ajaxSubmit(function (data) {
                        if (data.result == "SUCCESS") {
                            UnimportantAlert("任务创建成功。");
                            $(".btn-get-assignmentform").removeClass("hidden");
                            $(".write-assignment-box").html("");                         
                            GetAssignment(data.id,$("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.id + "]").find(".pannel-body"));
                        } else {
                            ErrorAlert(data.result);
                            $("#create-assignment").removeClass("disabled");
                        }
                    })
                }
            }
        })

        $(".ajax-procedure").each(function () {
            var ProcedureId = $(this).attr("data-procedureid");
            var that = $(this);
            GetProcedure(ProcedureId, $("#pannel-wrap").attr("data-sid"), that)
        });
        $("#pannel-wrap").on("click", ".assignment_comfirm_finish", function () {
            ComfirmFinishAssignment($(this).parent().parent().find(".tm-item_right").attr("data-aid"), function (data) {
                GetAssignment(data.Id, $("#pannel-wrap").attr("data-sid"), $(".ajax-procedure[data-procedureid=" + data.Id + "]").find(".pannel-body"));
            })
        })
        $("#pannel-wrap").on("click", ".btn-get-assignmentform", function () {
            $(".btn-get-assignmentform").removeClass("hidden");
            $(this).addClass("hidden");
            $(".write-assignment-box").html("");
            GetAssignmentForm($(this).attr("data-pid"), $("#pannel-wrap").attr("data-sid"), $(this).parent().find(".write-assignment-box"));
        });
        $("#pannel-wrap").on("click", "#cancel-create-assignment", function () {
            $(".btn-get-assignmentform").removeClass("hidden");
            $(".write-assignment-box").html("");
        });
        $("#pannel-wrap").on("click", ".tm-item_right", function () {
            GetAssignmentDetail($(this).attr("data-aid"), $("#Edit-Assignment .modal-content"), function () {
                $('#Edit-Assignment').modal('show');
            });
        });
        $("#add-pannel-list").on("click", function () {
            controlHidden()
        });
        $("#cancel-pannel-write").on("click", function () {
            controlHidden()
        });
      
        function controlHidden(type) {           
                if ($("#add-pannel-control").hasClass("hidden")) {
                    $("#add-pannel-control").removeClass("hidden");
                    $("#add-pannel-write").addClass("hidden");
                } else {
                    $("#add-pannel-write .form-group input").val("");
                    $("#add-pannel-control").addClass("hidden");
                    $("#add-pannel-write").removeClass("hidden");
                }
            }         
    </script>
}



