@model PeriodAid.Models.Procedure
@using PeriodAid.Models;
<div class="tm_Panel-header clear-float">
    <div class="tm_Panel-header-right float-right">
        <span class="tm_procedure-title">@Model.ProcedureTitle</span>
    </div>
    <div class="tm_Panel-header-left float-left">
                <a class="icon-btn dropdown-toggle procedure-dropdown-toggle tm-show-listmenu" href="javascript:;">
                    <i class="fa fa-caret-square-o-down color-blue" aria-hidden="true"></i>
                </a>
    </div>
</div>
<div class="tm-dropdown-area">
    <div class="dropdown-menu tm_dropdown dropdown-parent tm-dropdown-menu" style="position:static">
        <ul class="tm_dropdown_list">
            <li class="text-center"><strong class="color-blue">更多操作</strong></li>
            <li role="separator" class="divider">
            </li>
            <li><a href="javascript:;" data-pid="@Model.Id" class="btn-del-procedure"><span class="color-red">@Html.Encode("删除列表")</span></a></li>
            <li>
                <a href="javascript:;" data-pid="@Model.Id" class="btn-edit-procedure">
                    <span class="color-blue">@Html.Encode("修改名称")</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown-menu tm_dropdown dropdown-sub tm-dropdown-menu" style="position:static">
    </div>
</div>
<div class="tm_Panel-body">
</div>
<div class="tm_Panel-footer clear-float">
    <div class="tm_Panel-footer-left float-left"></div>
    <div class="tm_Panel-footer-right float-right"><span class="num color-green">@Html.Encode(Model.Assignment.Count(p => p.Status == AssignmentStatus.FINISHED))</span>/<span class="total-num">@Html.Encode(Model.Assignment.Count(p => p.Status > AssignmentStatus.DELETED))</span></div>
</div>
