@model PeriodAid.Models.Subject
@using PeriodAid.Models;
@{
    ViewBag.ImgUrl = @ViewBag.img;
    ViewBag.Title = "Task_Detail";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div class="navbar-default tm_task-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ol class="breadcrumb  navbar-breadcrumb">
                <li><a href="/TaskManagement/Index">主页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="SubjectName" data-id="@Model.Id" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Encode(Model.SubjectTitle)</a>
                </li>
            </ol>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-underline">
                <li><a href="/TaskManagement/Subject_Detail?SubjectId=@Model.Id" class="active">进度</a></li>
                <li><a href="/TaskManagement/Subject_Files?SubjectId=@Model.Id">文件</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-border">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="btn_show_subject_panel"><i class="fa fa-bars color-blue" aria-hidden="true"></i>&nbsp;菜单</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tm-panel-wrap tm_add_panel_hide" id="panel-wrap" data-sid="@Model.Id">
    <div class="tm_control_panel_show tm-control-add-panel-btn">展开</div>
    <div class="tm-panel-container" id="tm_panel-container">
        <div class="tm_panel-item text-center tm_panel-item-add" id="tm_panel-item-add">
            <div class="color-gray btn-get-form" id="add-panel-list">
                <div class="add-btn" id="btn_add-panel"><i class="fa fa-plus-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;新建列表</i></div>
                <div class="tm_control_panel_hide tm-control-add-panel-btn"><span>收起</span></div>
            </div>
            <div id="add-panel-write" class="tm_procedureform-area hidden">
                @using (Html.BeginForm("CreateProcedure", "TaskManagement", FormMethod.Post, new { @id = "add_procedure_form", @class = "validate-form padding-10" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(m => m.TemplateId)
                    <input type="hidden" id="SubjectId" name="SubjectId" value="@Model.Id" />
                    <div class="form-group">
                        <input type="text" class="form-control" id="ProcedureTitle" placeholder="过程列表标题" name="ProcedureTitle">
                    </div>
                    <div class="text-right">
                        <a class="btn btn-default" id="cancel-panel-write">取消</a>
                        <a class="btn btn-blue" id="create-procedure-panel">确定</a>
                    </div>
                }
            </div>
        </div>
        @foreach (var procedure in ViewBag.sortprocedure)
        {
            <div class="tm_panel-item ajax-procedure" data-procedureid="@procedure.Id">
            </div>
        }
        <div class="tm_panel-item">
            <div class="tm_panel-header clear-float">
                <div class="tm_panel-header-right float-right">
                    <span class="tm_procedure-title">已完成</span>
                </div>
            </div>
            <div class="tm_panel-body" id="tm-finsih-task">
            </div>
            <div class="tm_panel-footer clear-float">
                <div class="tm_panel-footer-left float-left"></div>
                <div class="tm_panel-footer-right float-right"><span class="num color-green" id="tm-finsh-total">@Model.Assignment.Count(m => m.Status == AssignmentStatus.FINISHED)</span></div>
            </div>
        </div>
    </div>
</div>
<!--panel Menu-->
<div class="tm_subject_panel" id="tm_subject_panel">

</div>
<!--panel Menu End-->
@section scripts{
    <script>
        /*页面初始化*/
        (function(){
            //获取完成的任务
            getAssignment("/TaskManagement/SubjectAssignment", { SubjectId: $("#panel-wrap").attr("data-sid") }, $("#tm-finsih-task"), function (data) {
                //成功
            }, function (data) {
                //失败
            })
            //加载任务列表
            $(".ajax-procedure").each(function () {
                var that = $(this);
                var _data = {
                    ProcedureId: that.attr("data-procedureid")
                }                                                //请求参数
                GetTemplate("/TaskManagement/SubjectProcedure", _data, function (data) {
                    //成功
                    that.html(data);                            //填入模板
                    var __data = {
                        ProcedureId: that.attr("data-procedureid"),
                        SubjectId: $("#panel-wrap").attr("data-sid")
                    }                                           //请求参数
                    //获取任务
                    getAssignment("/TaskManagement/SubjectAssignment", __data, that.find(".tm_panel-body"), function (data) {
                        dragtask("tm-list-show-" + that.attr("data-procedureid")) //为任务注册拖动事件
                    }, function (data) {
                        //失败
                    })
                }, function (data) {
                    //失败
                })
            });

            //排序列表拖拽   无需重复注册
            var al = document.getElementById('tm_panel-container');  //必须用原生获取元素
            var sortable = new Sortable(al, {
                animation: 150,
                draggable: ".ajax-procedure",
                handle: ".tm_panel-header",
                filter: ".tm_panel-item-add",
                dragClass: "sortable-drag",
                ghostClass: "sortable-ghost",
                preventOnFilter: false,
                scrollSpeed: 10,
                onEnd: function (evt) {
                    var sortobject = [];
                    $(".ajax-procedure").each(function (index) {
                        var obj = new Object();
                        obj.procedureid = parseInt($(this).attr("data-procedureid"));
                        obj.sort = index;
                        sortobject.push(obj)
                    });
                    var json = {};
                    for (var i = 0; i < sortobject.length; i++) {
                        json[i] = sortobject[i];
                    }
                    $.ajax({
                        url: "/TaskManagement/SortProcedure",
                        type: "post",
                        data: {
                            ProcedureJson: JSON.stringify(sortobject),
                            SubjectId: $("#panel-wrap").attr("data-sid")

                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                            } else {
                                ErrorAlert(data.errmsg);
                            }
                        },
                        error: function () {
                            ErrorAlert("操作失败。")
                        }
                    })
                },

            });

            //新增任务列表验证
            $("#add_procedure_form").validate({
                debug: false,
                rules: {
                    ProcedureTitle: {
                        required: true,
                        maxlength: 128
                    }
                },
                //验证通过的正式提交函数
                submitHandler: function (form) {
                    $(form).ajaxSubmit(function (data) {
                        if (data.result == "SUCCESS") {
                            //新列表位置选择
                            if ($(".ajax-procedure").length == 0) {
                                $(".tm_panel-item-add").after("<div class=\"tm_panel-item ajax-procedure\"" + "data-procedureid=" + data.id + "></div>");
                            } else {
                                $(".ajax-procedure:last").after("<div class=\"tm_panel-item ajax-procedure\"" + "data-procedureid=" + data.id + "></div>");
                            }
                            var _data = {
                                ProcedureId: data.id
                            }                                                //请求参数
                            GetTemplate("/TaskManagement/SubjectProcedure", _data, function (data) {
                                //成功
                                $(".ajax-procedure:last").html(data);                            //填入模板
                                var __data = {
                                    ProcedureId: _data.ProcedureId,
                                    SubjectId: $("#panel-wrap").attr("data-sid")
                                }                                           //请求参数
                                //获取任务
                                getAssignment("/TaskManagement/SubjectAssignment", __data, $(".ajax-procedure:last").find(".tm_panel-body"), function (data) {
                                    dragtask("tm-list-show-" +_data.ProcedureId) //为任务注册拖动事件
                                }, function (data) {
                                    //失败
                                })
                            }, function (data) {
                                //失败
                            })
                            UnimportantAlert("添加任务列表成功。");
                            controlHidden();
                        } else {
                            ErrorAlert(data.errmsg);
                            controlHidden()
                        }
                    })
                },
                errorClass: "has-error",
                //验证失败
                errorPlacement: function (error, element) {
                    $("#create-procedure-panel").removeClass("disabled");
                }
            });
        })()

        /*以下为注册事件*/
        //新增过程提交
        $("#create-procedure-panel").on("click", function () {
            if (!$(this).hasClass("disabled")) {
                $(this).addClass("disabled")
                $("#add_procedure_form").submit();
            }
        });

        //控制收起按钮
        $(".tm-control-add-panel-btn").on("click", function () {
            if ($("#panel-wrap").hasClass("tm_add_panel_hide")) {
                $("#panel-wrap").removeClass("tm_add_panel_hide");
                $("#tm_panel-container").scrollLeft("0")
            } else {
                $("#panel-wrap").addClass("tm_add_panel_hide");
            }
        });

        //项目菜单操作
        $("#btn_show_subject_panel").on("click", function () {
            if ($("#my-app").hasClass("tm_subject_active")) {
                $("#my-app").removeClass("tm_subject_active")
            } else {
                $.ajax({
                    url: "/TaskManagement/SubjectMenupanelPartial",
                    data: {
                        SubjectId: $("#panel-wrap").attr("data-sid")
                    },
                    success: function (data) {
                        $("#tm_subject_panel").html(data);
                    },
                    error: function (data) {
                        ErrorAlert("操作失败。");
                    }
                })
                $("#my-app").addClass("tm_subject_active")
            }
        })

        //任务添加窗口
        $("#panel-wrap").on("click", ".btn-get-assignmentform", function () {
            var that = $(this);
            $(".btn-get-assignmentform").removeClass("hidden");
            $(".tm_assignmentform-area").html("");
            //获取任务表单
            GetTemplate("/TaskManagement/GetAssignmentForm", {
                ProcedureId: that.attr("data-pid"),
                SubjectId: $("#panel-wrap").attr("data-sid")
            }, function (data) {
                that.parent().find(".tm_assignmentform-area").html(data);
            }, function () { })
            that.addClass("hidden");
        });

        //任务列表删除
        $("#panel-wrap").on("click", ".btn-del-procedure", function () {
            var that = $(this);
            //请求参数
            var data = {
                ProcedureId: that.attr("data-pid"),
                SubjectId: $("#panel-wrap").attr("data-sid")
            }
            EditForAjax("/TaskManagement/Delete_Procedure", data, function (data) {
                //成功
                $(".ajax-procedure[data-procedureid=" + data.Id + "]").remove();
                UnimportantAlert("删除成功。")
            }, function (data) {
                //失败
            });
        });

        //筛选任务列表
        $("#panel-wrap").on("click", '.btn-select-procedure', function () {
            var that = $(this);
            var data = {
                ProcedureId: that.attr("data-pid"),
                SubjectId: $("#panel-wrap").attr("data-sid"),
                Type: that.attr("data-type")
            };
            GetTemplate("/TaskManagement/SubjectAssignment", data, function (data) {
                that.parents(".ajax-procedure").find(".tm_panel-body").html(data);
                $(".tm-dropdown-menu").hide();
                $(".tm-show-listmenu").removeClass("open");
            }, function () {
                $(".tm-dropdown-menu").hide();
                $(".tm-show-listmenu").removeClass("open");
            });
        });

        //控制任务列表操作栏
        $("#panel-wrap").on("click", ".tm-show-listmenu", function () {
            $(".tm-dropdown-menu").hide();
            if ($(this).hasClass("open")) {
                $(this).removeClass("open");
                $(this).parents(".ajax-procedure").find(".dropdown-parent").hide();
            } else {
                $(this).addClass("open");
                $(this).parents(".ajax-procedure").find(".dropdown-parent").show();
            }
            changepostion($(this).parents(".ajax-procedure").find(".procedure-dropdown-toggle"), $(this).parents(".ajax-procedure").find(".tm-dropdown-area"))
        });

        $("#tm_panel-container").on("click", function (e) {
            var _target = $(e.target);
            if (_target.closest(".tm-dropdown-area").length == 0) {
                $(".tm-dropdown-menu").hide();
            }
            if (_target.closest(".tm-dropdown-area").length == 0 && _target.closest(".procedure-dropdown-toggle").length == 0) {
                $(".tm-show-listmenu").removeClass("open");
            }
        });

        //修改任务列表名称
        $("#panel-wrap").on("click", ".btn-edit-procedure", function () {
            var _self = $(this);
            var pid = _self.attr("data-pid");
            $.ajax({
                url: "/TaskManagement/GetProcedureForm",
                type: "post",
                data: {
                    ProcedureId: pid,
                    SubjectId: $("#panel-wrap").attr("data-sid")
                },
                success: function (data) {
                    $(".tm-dropdown-menu").hide();
                    $(".dropdown-sub").html("");
                    _self.parents(".tm-dropdown-area").find(".dropdown-sub").html(data).show();
                    changepostion(_self.parents(".ajax-procedure").find(".procedure-dropdown-toggle"), _self.parents(".ajax-procedure").find(".tm-dropdown-area"))
                },
                error: function (data) {
                    ErrorAlert("请求失败。")
                }
            })

        });

        //控制新建列表
        $("#btn_add-panel").on("click", function () {
            controlHidden()
        });
        $("#cancel-panel-write").on("click", function () {
            controlHidden()
        });

        //控制任务添加和任务列表添加的切换
        function controlHidden(type) {
            $("#create-procedure-panel").removeClass("disabled");
            if ($("#add-panel-list").hasClass("hidden")) {
                $("#add-panel-list").removeClass("hidden");
                $("#add-panel-write").addClass("hidden");
            } else {
                $("#add-panel-write .form-group input").val("");
                $("#add-panel-list").addClass("hidden");
                $("#add-panel-write").removeClass("hidden");
            }
        }
        
        //任务dropdown位移计算
        function changepostion(referencebox, movebox) {
            var referencepoint = referencebox.offset().left + referencebox.width() / 2;
            var moveboxhalfwidth = movebox.width() / 2;
            var moveleft = referencepoint - moveboxhalfwidth;
            if (moveleft < 0) {
                movebox.offset({ top: 160, left: referencebox.offset().left });
            } else {
                movebox.offset({ top: 160, left: moveleft });
            }
        }
        
        
    </script>
}



