@using PeriodAid.Models
@model IEnumerable<PeriodAid.Models.Assignment>
<ul class="tm-list-container">

    @foreach (var item in Model)
    {
        if (item.Status == AssignmentStatus.FINISHED)
        {
            <li class="tm-list-item tm-list-finish">
                <div class="tm-list-item_top">
                    <div class="tm-item_left">
                        <input type="checkbox" class="assignment_comfirm_finish" checked="checked"/>
                    </div>
                    <div class="tm-item_right" data-aid="@item.Id">@item.AssignmentTitle</div>
                </div>
            </li>
        }
        else if (item.Status == AssignmentStatus.UNFINISHED)
        {
            <li class="tm-list-item">
                <div class="tm-list-item_top">
                    <div class="tm-item_left">
                        <input type="checkbox" class="assignment_comfirm_finish" />
                    </div>
                    <div class="tm-item_right" data-aid="@item.Id">@item.AssignmentTitle</div>
                </div>
            </li>
        }
    }
    <li class="tm-list-item tm-list-add text-center">
        <a href="#" class="panel-body add-btn color-gray btn-get-assignmentform" data-pid="@ViewBag.ProcedureId"><i class="fa fa-plus-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;增加任务</i></a>
        <div id="add-list-write" class="write-assignment-box">
        </div>
    </li>
</ul>
