@model PeriodAid.Models.Procedure
    <div class="tm_pannel-header clear-float">
        <div class="tm_pannel-header-right float-right">@Html.Encode(Model.ProcedureTitle)</div>
        <div class="tm_pannel-header-left float-left">          
            <ul>
                <li>
                    <a class="icon-btn dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">
                        <i class="fa fa-caret-square-o-down color-blue" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu tm_dropdown tm_procedure-dropdown">
                        <ul class="tm_dropdown_list">
                            <li class="text-center"><strong class="color-blue">更多操作</strong></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:;" data-pid="@Model.Id" class="btn-del-procedure color-red"><span class="color-red">@Html.Encode("删除"+Model.ProcedureTitle)</span></a></li>
                            @*<li><a href="javascript:;" class="btn_archive_assignment">归档</a></li>
                            <li><a href="javascript:;" class="btn_finish_assignment">完成</a></li>
                            <li><a href="javascript:;">持续更新中</a></li>*@
                        </ul>
                        @*<ul class="tm_dropdown_list">
                            <li class="text-center clear-float">
                            <a class="float-left">
                                <span class="glyphicon glyphicon-chevron-left color-gray" aria-hidden="true"></span>
                            </a>
                                <div class="float-left">
                                   <strong class="color-blue">修改名称</strong>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:;" data-pid="@Model.Id" class="btn-del-procedure color-red"><span class="color-red">@Html.Encode("删除" + Model.ProcedureTitle)</span></a></li>
                            <li><a href="javascript:;" class="btn_archive_assignment">归档</a></li>
                            <li><a href="javascript:;" class="btn_finish_assignment">完成</a></li>
                            <li><a href="javascript:;">持续更新中</a></li>
                        </ul>*@
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tm_pannel-body">

    </div>
    <div class="tm_pannel-footer clear-float">
        <div class="tm_pannel-footer-left float-left"></div>
        <div class="tm_pannel-footer-right float-right"><span class="num color-green">@Html.Encode(Model.Assignment.Count(p=>p.Status==2))</span>/<span class="total-num">@Html.Encode(Model.Assignment.Count())</span></div>
    </div>

