@using PeriodAid.Models;
@model PeriodAid.Models.Subject
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.Encode(Model.SubjectTitle + "的操作日志")</h4>
</div>
<div class="container-fluid">
    <div class="btn-group btn-group-justified" role="group" style="padding:10px;">
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_straff" data-width="100%">
                <option value="@Model.HolderId" selected>@Model.Holder.NickName</option>
                @foreach (var item in ViewBag.EmployeeDropDown)
                {
                    if (item.Id == Model.HolderId)
                    {
                        continue;
                    }
                    else
                    {
                        <option value="@item.Id">@item.NickName</option>
                    }
                }
            </select>
        </div>
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_type" data-width="100%">
                <option value="all" selected>全部</option>
                <option value="mission">任务</option>
                <option value="submission">子任务</option>
                <option value="file">文件</option>
            </select>
        </div>
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_time" data-width="100%">
                <option value="all" selected>全部</option>
                <option value="day">当日</option>
                <option value="week">本周</option>
                <option value="month">本月</option>
            </select>
        </div>
    </div>
    <div class="tm_modal_ul_wrap modal-list-panel">
        <ul class="list-group tm_modal_list_ul" id="tm_modal_logs_area"></ul>
    </div>
</div>
<div class="modal-footer">
    <input type="hidden" id="currentpage" name="currentpage" value="0" />
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script>
    $(document).ready(function () {
        $('#tm_select_straff').selectpicker({
            liveSearch: true,
            liveSearchPlaceholder: "搜索人员",
            title: "人员选择"
        });
        $('#tm_select_type').selectpicker({
            title: "类型"
        });
        $('#tm_select_time').selectpicker({
            title: "时间"
        });
        
    });

    $(".tm_modal-nav").on("click", ".list-group-item", function () {
        $("#loading-p").show();
        $.ajax({
            url: $(this).attr("data-href"),
            data: {
                SubjectId: $("#panel-wrap").attr("data-sid")
            },
            success: function (data) {
                $("#tm_modal_list_area").html(data);
                $("#loading-p").hide();
            },
            error: function () {
                ErrorAlert("操作失败。");
            }
        })
    })
    $("#tm_select_straff").on("change", function () {
        $("#currentpage").val("0")
        $("#tm_modal_logs_area").html("");
        $.ajax({
            url: "/TaskManagement/GetLogs",
            type: 'post',
            data: {
                employeeId: $("#tm_select_straff").val(),
                SubjectId: $("#panel-wrap").attr("data-sid"),
                _page: $("#currentpage").val()
            },
            success: function (data) {
                $("#tm_modal_logs_area").append(data)
                $("#currentpage").val($("#currentpage").val() + 1);
            }
        })
    })
    $("#tm_select_time").on("change", function () {
        $("#currentpage").val("0")
        $("#tm_modal_logs_area").html("");
        $.ajax({
            url: "/TaskManagement/GetLogs",
            type: "post",
            data: {
                employeeId: $("#tm_select_straff").val(),
                SubjectId: $("#panel-wrap").attr("data-sid"),
                logTime: $("#tm_select_time").val(),
                _page: $("#currentpage").val()
            },
            success: function (data) {
                $("#tm_modal_logs_area").append(data);              
            }
        })
    })

    $("#tm_select_type").on("change", function () {
        $("#currentpage").val("0")
        $("#tm_modal_logs_area").html("");
        $.ajax({
            url: "/TaskManagement/GetLogs",
            type: "post",
            data: {
                employeeId: $("#tm_select_straff").val(),
                SubjectId: $("#panel-wrap").attr("data-sid"),
                logtype: $("#tm_select_type").val(),
                _page: $("#currentpage").val()
            },
            success: function (data) {
                $("#tm_modal_logs_area").append(data)
            }
        })
    })
    $("#Create-Subject-Content").on("click", "#ShowMoreLogs", function () {
        var _self = $(this);
        $.ajax({
            url: "/TaskManagement/GetLogs",
            data: {
                employeeId: $("#tm_select_straff").val(),
                SubjectId: $("#panel-wrap").attr("data-sid"),
                logTime: $("#tm_select_time").val(),
                logtype: $("#tm_select_type").val(),
                _page: $("#currentpage").val()
            },
            success: function (data) {
                $("#tm_modal_logs_area").append(data)
                $("#currentpage").val(parseInt($("#currentpage").val()) + 1);
                _self.parent().remove()
            }
        })
    })

</script>

