@using PeriodAid.Models
@model IEnumerable<PeriodAid.Models.Assignment>
<div class="tm_list-container">
    <ul class="tm_list-show">

        @foreach (var item in Model)
        {
            if (item.Status == AssignmentStatus.FINISHED)
            {
                <li class="tm_list-item tm_list-finish tm_pop_assmodal" style="border-color:#259B24">
                    <div class="tm_list-item_top clear-float">
                        <div class="tm_item_left">
                            <input type="checkbox" class="assignment_comfirm_finish" checked="checked" />
                            &nbsp;&nbsp;<span>@Html.Encode(item.AssignmentTitle)</span>
                        </div>
                        <div class="tm_item_right" data-aid="@item.Id">&nbsp;</div>
                    </div>
                    @if (item.SubTask.Count() != 0)
                    {
                        <div class="tm_list-item_bottom clear-float">
                            <div class="tm_item_left">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="finish_subtask color-green">@item.SubTask.Count(p => p.Status == AssignmentStatus.FINISHED)</span>/<span class="total_subtask">@item.SubTask.Count(p => p.Status > AssignmentStatus.DELETED)</span>                             
                            </div>
                        </div>
                    }
                </li>
            }
            else if (item.Status == AssignmentStatus.UNFINISHED)
            {
                <li class="tm_list-item tm_pop_assmodal" style="border-color:#3da8f5">
                    <div class="tm_list-item_top clear-float">
                        <div class="tm_item_left">
                            <input type="checkbox" class="assignment_comfirm_finish"/>
                            &nbsp;&nbsp;<span>@Html.Encode(item.AssignmentTitle)</span>
                        </div>
                        <div class="tm_item_right" data-aid="@item.Id">&nbsp;</div>
                    </div>
                    @if (item.SubTask.Count() != 0)
                    {
                        <div class="tm_list-item_bottom clear-float">
                            <div class="tm_item_left">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="finish_subtask color-green">@item.SubTask.Count(p=>p.Status==AssignmentStatus.FINISHED)</span>/<span class="total_subtask">@item.SubTask.Count(p=>p.Status>AssignmentStatus.DELETED)</span>
                            </div>
                        </div>
                    }
                </li>

            }
        }
    </ul>
    <div class="tm_list-control">
        <div class="tm_list-item tm_list-add text-center">
            <a href="#" class="panel-body add-btn color-gray btn-get-assignmentform" data-pid="@ViewBag.ProcedureId"><i class="fa fa-plus-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;增加任务</i></a>
            <div id="add-list-write" class="write-assignment-box">
            </div>
        </div>
    </div>
    </div>
