
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线上销售系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
    @RenderSection("header", required: false)
    <style>
        .nav-left {
            list-style: none;
            padding: 0;
        }

            .nav-left > li {
                padding-top: 5px;
            }

        .box * {
            font-size: 12px;
        }

        .box a {
            text-decoration: none;
        }
        .res {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        }
        .ui-datepicker-calendar { 
    display: none; 
        }
    </style>
</head>
<body class="reset">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寿全斋应用后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("线上销售", "Download_Order_List", "ERPOrder")</li>
                    <li>@Html.ActionLink("线下销售", "Index", "OffCommon")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            工具　<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("问卷系统", "Index", "TestAdmin")</li>
                            <li>@Html.ActionLink("个性图片", "CustomOrderList", "TestAdmin")</li>
                            <li>@Html.ActionLink("生成二维码", "generateQRCode", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container box" style="margin-top:40px;">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    下载系统 <span id="ani_01" class="caret res"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="nav-left">
                                    <li><a href="/ERPOrder/Download_Order_List"><i class="fa fa-book"></i>&nbsp;&nbsp;订单信息</a></li>
                                    <li><a href="/ERPOrder/Download_Member_List"><i class="fa fa-user-secret"></i>&nbsp;&nbsp;会员信息</a></li>
                                    <li><a href="/ERPOrder/Vip_Tag_Create"><i class="fa fa-user-secret"></i>&nbsp;&nbsp;会员打标</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    销售数据 <span id="ani_02" class="caret res"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="nav-left">
                                    <li><a href="/ERPOrder/GenericData_List"><i class="fa fa-search"></i>&nbsp;&nbsp;查看销售数据</a></li>
                                    <li><a href="/ERPOrder/Product_Details_List"><i class="fa fa-search"></i>&nbsp;&nbsp;产品销售明细</a></li>
                                    <li><a href="/ERPOrder/Product_Generic_Data_List"><i class="fa fa-search"></i>&nbsp;&nbsp;产品运营数据</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    销售数据 <span id="ani_03" class="caret res"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="nav-left">
                                    <li><a href="/ERPOrder/GenericData_Statistic"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;店铺月度销售额</a></li>
                                    <li><a href="/ERPOrder/Product_Details_Statistic"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;产品销售明细表</a></li>
                                    <li><a href="/ERPOrder/Product_Generic_Data_Statistic"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;产品运营数据表</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="hidden" id="pagenumber">
           @ViewBag.Page
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        if ($("#pagenumber").text().trim() == "1") {
            $(".panel-collapse").removeClass("in");
            $("#ani_01").removeClass("res")
            $("div[aria-labelledby='headingOne']").addClass("in");
        }
        if ($("#pagenumber").text().trim() == "2") {
            $(".panel-collapse").removeClass("in");
            $("#ani_02").removeClass("res")
            $("div[aria-labelledby='headingTwo']").addClass("in");
        }
        if ($("#pagenumber").text().trim() == "3") {
            $(".panel-collapse").removeClass("in");
            $("#ani_03").removeClass("res")
            $("div[aria-labelledby='headingThree']").addClass("in");
        }
    </script>
</body>
</html>