@model PagedList.IPagedList<PeriodAid.Models.generic_data>
@using PagedList.Mvc; 

<table class="table" style="width:110%;max-width:110%">
    <tr>
        <th>
            日期
        </th>
        <th>
            店铺
        </th>
        <th>销售额
        </th>
        <th>
            访客数
        </th>
        <th>
            浏览量
        </th>
        <th>
            转化率
        </th>
        <th>
            客单价
        </th>
        <th>
            订单数
        </th>
        <th>
            库存金额
        </th>
        <th>运费</th>
        <th>
            推广费用
        </th>
        <th>ROI</th>
        <th>
            发票
        </th>
        <th>
            结算
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.convertion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guest_avg_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storage_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advertisement_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invoice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit_GenericData", new { id=item.id }, new { @class = "btn btn-sm btn-info edit-btn" }) 
            @Html.ActionLink("删除", "Delete_GenericData", new { id=item.id }, new { @class = "btn btn-sm btn-danger del-btn" })
        </td>
    </tr>
}

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("GenericData_List_Ajax", new { page }))</div>
<script>
    $(function () { 
        $(".del-btn").click(function () {
            var result = confirm("确定删除吗？");
            if (result) {
                var url = $(this).attr("href");
                $.ajax({
                    url: url,
                    type: "post",
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $.ajax({
                                url: "/ERPOrder/GenericData_List",
                                success: function (data) {
                                    alert("222")
                                    $("#generric_list").html(data);
                                }
                            })
                        }
                    }
                })
            }
            return false;
        });
    })
</script>