@model IEnumerable<PeriodAid.Models.product_details>

<table class="table">
    <tr>
        <th>
            日期
        </th>
        <th>
            店铺名称
        </th>
        <th>
            商品编码
        </th>
        <th>
            商品简称
        </th>
        <th>
            销售数量
        </th>
        <th>
            销售金额
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.simple_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_amount)
        </td>
        <td>
            @Html.ActionLink("修改", "Product_Details_Edit", new { id=item.id },new { @class = "btn btn-info" })
            @Html.ActionLink("删除", "Product_Details_Delete", new { id=item.id }, new { @class = "btn btn-danger del-btn" })
        </td>
    </tr>
}

</table>
<script>
    $(function () {
        $(".del-btn").click(function () {
            var result = confirm("确定删除吗？");
            if (result) {
                var url = $(this).attr("href");
                $.ajax({
                    url: url,
                    type: "post",
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            window.location.reload();
                        }
                    }
                })
            }
            return false
        });
    })
</script>
