@model PeriodAid.Models.product_generic_data

@{
    ViewBag.Title = "Product_Generic_Data_Edit";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.page = 2;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2><strong>修改产品运营数据</strong></h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label class="control-label col-md-2">日期</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">店铺名称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.storename, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.storename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品编码</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.item_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.item_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品简称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.simple_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.simple_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">访客数</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.uv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">浏览量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">订单量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">订单金额</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">下单件数</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">转化率</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.convertion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.convertion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="修改" class="btn btn-success" />
                <a href="/ERPOrder/Product_Generic_Data_List" class="btn btn-danger">返回</a>
            </div>
        </div>
    </div>
}

