@model PeriodAid.Models.product_generic_data

@{
    ViewBag.Title = "Product_Generic_Data_Create";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
}

<h2>Product_Generic_Data_Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>product_generic_data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">日期</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">店铺名称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.storename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.storename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品代码</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.item_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.item_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品简称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.simple_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.simple_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">访客数</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.uv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">浏览量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">订单量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">订单金额</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">下单件数</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">转化率</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.convertion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.convertion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
