@model PeriodAid.Models.product_details

@{
    ViewBag.Title = "Product_Details_Create";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.page = 2;
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2><strong>创建产品数据明细表</strong></h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">日期</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="date" name="date">
                @*@Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">店铺名称</label>
            <div class="col-md-10">
                <select class="form-control" id="storename" name="storename">
                    @{
                        Html.RenderPartial("ERP_StoreList");

                    }
                </select>
                @Html.ValidationMessageFor(model => model.storename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品编码</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.item_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.item_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">商品简称</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.simple_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.simple_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">销售数量</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sales_count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sales_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">销售金额</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sales_amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sales_amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="完成" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
<script>
    $(function () {
        jeDate({
            dateCell: '#date',
            isinitVal: false,
            format: 'YYYY-MM' // 分隔符可以任意定义，该例子表示只显示年月
        });

    })
</script>
