@model PeriodAid.Models.AccountSetting_ViewModel

@{
    ViewBag.Title = "AccountSetting";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}

<h2>设置</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="offline-search-box">
            <tr>
                <td>
                    <label>公司名称：</label>
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control offline-search-inline" } })
                </td>
                <td>
                    <label>公司图标：</label>
                    @Html.EditorFor(model => model.CompanyAvatar, new { htmlAttributes = new { @class = "form-control offline-search-inline" } })
                    <a class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;下载</a>
                </td>
                <td>
                    <label>修改密码：</label>
                </td>
            </tr>
            <tr>
                <td><br />
                    <label>上下班时间：</label>
                    @Html.EditorFor(model => model.AttendanceAllow, new { htmlAttributes = new { @class = "form-control offline-search-inline", @type = "number" } })
                </td>
                <td><br />
                    <label>系统切换：</label>
                    @Html.EditorFor(model => model.CompanyAvatar, new { htmlAttributes = new { @class = "form-control offline-search-inline" } })
                </td>
            </tr>
        </table>
        <hr />
        @*银行列表*@
        <h5><b>@Html.LabelFor(model => model.BankList, htmlAttributes: new { @class = "control-label" })</b></h5><br />
        <div class="container bank-con">
            <div class="col-md-3">
                @Html.EditorFor(model => model.BankList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankList, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a class="btn btn-info" id="offcommon-add-bank"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;添加</a>
            </div>
        </div>
        @*区域列表*@
        <hr />
        <h5><b>@Html.LabelFor(model => model.AreaList, htmlAttributes: new { @class = "control-label" })</b></h5><br />
        <div class="container">
            <div class="col-md-3">
                @Html.EditorFor(model => model.AreaList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AreaList, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a class="btn btn-info" id="offcommon-add-area"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;添加</a>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-success" />
            </div>
        </div>*@
    </div>
}
@*<div class="container"><div class="col-md-3"><input class="form-control" /></div><i class="fa fa-times-circle" aria-hidden="true"></i></div>*@
<script>
    $("#offcommon-add-bank").click(function () {
        var txt = "<div class='col-md-3'><input class='form-control' type='text'></div>"
        $(".bank-con").append(txt)
    })
</script>