@model PagedList.IPagedList<PeriodAid.Models.Off_Sales_Template>
@using PagedList.Mvc;
<br />
<table class="table table-condensed table-hover" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th>
            模板名称
        </th>
        <th>
            状态
        </th>
        <th>
            库存
        </th>
        <th>
            销售金额
        </th>
        <th>
            产品列表
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductList)
            </td>
            <td>
                @Html.ActionLink("修改", "EditTemplate", new { id = item.Id }, new { @class = "btn btn-info btn-xs offproduct-template-edit" })
                @Html.ActionLink("删除", "CancelTemplateAjax", new { id = item.Id }, new { @class = "btn btn-danger btn-xs offproduct-template-del" })
            </td>
        </tr>
    }

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("TemplateListPartial", new { page }))</div>
<script>
    $(".offproduct-template-del").click(function () {
        var result = confirm("确定删除该信息吗？");
        if (result) {
            var url = $(this).attr("href");
            $.ajax({
                url: url,
                type: "post",
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        setTimeout(function () {
                            $.ajax({
                                url: "/OffProduct/TemplateListPartial",
                                success: function (data) {
                                    $("#offproduct-template-list").html(data)
                                }
                            });
                            alert("删除成功")
                        }, 1000)
                    }
                    else if (data.result == "FAIL") {
                        alert("删除失败")
                    }
                }
            });
        }
        return false;
    })
</script>
