@model PeriodAid.Models.Examination

@{
    ViewBag.Title = "修改错题";
    Layout = "~/Views/Shared/_ExamLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h3>@Model.TestType.CustomName (更正阶段)</h3>
            <h4>姓名：@Model.NickName</h4>
            <span id="exam-id" class="hidden">@Model.ID</span>
            <span id="open-id" class="hidden">@Model.OpenId</span>
            <span id="nickname" class="hidden">@Model.NickName</span>
            <span id="testtype" class="hidden">@Model.TestTypeID</span>
        </div>
        <div class="col-xs-3 text-right">
            <h3><button id="reset-exam" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i></button></h3>
        </div>
    </div>
</div>
<br />
<div id="exam-content" class="container">

</div>
<br />
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/Examination/getNextCheckout",
                data: {
                    examId:$("#exam-id").text()
                },
                success: function (data) {
                    $("#exam-content").html(data);
                }

            });
            $("#reset-exam").click(function () {
                var r = confirm("确定要重新开始吗？");
                if (r == true) {
                    $.ajax({
                        url: "/Examination/resetExam",
                        data: {
                            examId: $("#exam-id").text()
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                window.location.href = "/Examination/ExamBody?open_id=" + $("#open-id").text() + "&nickname=" + $("#nickname").text() + "&testtype=" + $("#testtype").text();
                            }
                        }
                    });
                }
            });
        });
    </script>
}
