@model PeriodAid.Models.Web_Event
@using (Html.BeginForm("CreateWebEventPartial", "WebContent", FormMethod.Post, new { @id = "webeventcreate-form" }))
{
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m=>m.Event_UpdateTime)
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Title">活动标题</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_Title, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Event_Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_UpdateUser">上传人</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_UpdateUser, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Event_UpdateUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Date">活动时间</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_Date, new { htmlAttributes = new { @class = "form-control date-time", @required = "required", @maxlength = "255", @dateISO=true } })
                @Html.ValidationMessageFor(model => model.Event_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Type">活动类型</label>
            <div class="col-md-9">
               <select id="Event_Type" name="Event_Type" class="form-control" required>
                   <option value="1">页面</option>
                   <option value="2">漫画</option>
               </select>
               
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Content">内容</label>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Event_Content ,new { @class = "form-control",  @required = "required" })
                @Html.ValidationMessageFor(model => model.Event_Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Img">图片上传</label>
            <div class="col-md-9">
                <div id="checkin-img-list"></div>
                <a href="javascript:;" class="fileupload-btn text-center" id="upload-btn"><i class="fa fa-plus"></i></a>
                <input type="file" id="img-input" name="Event_Img" class="" accept=".jpg,.png,.gif" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" id="webevent-save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("#upload-btn").on("click", function () {
            $("#img-input").trigger("click");
        })
        $(".date-time").datepicker({
            autoSize: true,
        });
        //表单验证
        $('#webeventcreate-form').validate({
            focusCleanup: true,
            errorPlacement: function (error, element) {
                $("#webevent-save").attr("disabled", false).val("保存");
                element.parent().parent().addClass("has-error");
            },
            submitHandler: function (form) {
                setTimeout(formsubmit, 1000);
            },
        })
        //按钮点击
        $("#webevent-save").click(function () {
            console.log($("#img-input").val());
            $(".form-group").removeClass("has-error");
            $(this).attr("disabled", "disabled").val("保存中...");
            $('#webeventcreate-form').submit();
        })
    });
    function formsubmit() {
        $('#webeventcreate-form').ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                alert("添加成功");
                $.ajax({
                    url: "/WebContent/WebEventsList_Ajax",
                    success: function (data) {
                        $("#webevents-list").html(data);
                    },
                    error: function () {
                        alert("活动添加失败", "", function () {
                            $("#webevent-save").attr("disabled", false).val("保存");
                        }, { type: 'error' });
                    }
                })
            }
            else {
                alert("活动添加失败", "", function () {
                    $("#webevent-save").attr("disabled", false).val("保存");
                }, { type: 'error' });
            }
        });
    }
</script>




