@model PeriodAid.Models.Web_Event
@using (Html.BeginForm("CreateWebEventPartial", "WebContent", FormMethod.Post, new { @id = "webeventcreate-form" }))
{
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m=>m.Event_UpdateTime)
    @Html.HiddenFor(m => m.Event_Img)
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Title">活动标题</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_Title, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Event_Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_UpdateUser">上传人</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_UpdateUser, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Event_UpdateUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Date">活动时间</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Event_Date, new { htmlAttributes = new { @class = "form-control date-time", @required = "required", @maxlength = "255", @dateISO=true } })
                @Html.ValidationMessageFor(model => model.Event_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Type">活动类型</label>
            <div class="col-md-9">
               <select id="Event_Type" name="Event_Type" class="form-control" required>
                   <option>- 请选择 -</option>
                   <option value="1">页面</option>
                   <option value="2">漫画</option>
               </select>
               
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Content">内容</label>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Event_Content ,new { @class = "form-control",  @required = "required" })
                @Html.ValidationMessageFor(model => model.Event_Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="Event_Img">图片上传</label>
            <div class="col-md-9">
                <div id="input-img-list"></div>
                <a href="javascript:;" class="fileupload-btn text-center" id="upload-btn"><i class="fa fa-plus"></i></a>
                <input type="file" id="img-input" name="img-file"  accept=".jpg,.png,.gif" class="hidden"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="保存" id="webevent-save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $(document).delegate("#img-input", "change", function () {
            ajaxFileUpload("Event_Img", "input-img-list", "img-input");
        });
        $(document).delegate("#upload-btn", "click", function () {
            $("#img-input").trigger("click");
        })
        $(".date-time").datepicker({
            autoSize: true,
        });
        //表单验证
        $('#webeventcreate-form').validate({
            focusCleanup: true,
            errorPlacement: function (error, element) {
                $("#webevent-save").attr("disabled", false).val("保存");
                element.parent().parent().addClass("has-error");
            },
            submitHandler: function (form) {
                setTimeout(formsubmit, 1000);
            },
        })
        //按钮点击
        $("#webevent-save").click(function () {
            $(".form-group").removeClass("has-error");
            $(this).attr("disabled", "disabled").val("保存中...");
            if ($("#Event_Img").val() == "") {
                alert("请上传图片", "", function () {
                    $("#webevent-save").attr("disabled", false).val("保存");
                }, { type: 'warning' });
                $("#webevent-save").attr("disabled", false).val("保存");
            } else {
                formsubmit();
            }
        })
    });
    function formsubmit() {
        $('#webeventcreate-form').ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                alert("添加成功");
                $.ajax({
                    url: "/WebContent/WebEventsList_Ajax",
                    success: function (data) {
                        $("#webevents-list").html(data);
                    },
                    error: function () {
                        alert("活动添加失败", "", function () {
                            $("#webevent-save").attr("disabled", false).val("保存");
                        }, { type: 'error' });
                    }
                })
            }
            else {
                alert("活动添加失败", "", function () {
                    $("#webevent-save").attr("disabled", false).val("保存");
                }, { type: 'error' });
            }
        });
    }
    function ajaxFileUpload(targetname, imglist, fileelment) {
        $.ajaxFileUpload({
            url: '/WebContent/UpLoadImg', //用于文件上传的服务器端请求地址
            type: 'post',
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: fileelment, //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            success: function (data, status)  //服务器成功响应处理函数
            {
                if (typeof (data.error) != 'undefined') {
                    if (data.error != '') {
                        alert(data.error);
                    } else {
                        console.log(data);
                        alert("上传成功");
                        $("#" + targetname).val(data.imgurl);
                        $("#" + imglist).html("<div class=\"img-list\" data-rel= " + data.imgurl + "  style=background-image:url(" + data.imgurl + ")" + "><span class=\"img-close\"><span class=\"fa-stack fa-lg\"><i class=\"fa fa-circle fa-stack-2x\"></i><i class=\"fa fa-times fa-stack-1x fa-inverse\"></i></span></span></div>");
                        $("#upload-btn").hide();
                    }
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
        return false;
    };
    //删除图片
    $("#input-img-list").on("click", ".img-close", function (event) {
        var that = $(this);
        confirm("是否删除所选图片?", "", function (isConfirm) {
            if (isConfirm) {
                $(".img-list").remove();
                $("#Event_Img").val("");
                $("#upload-btn").show();
            }
        });
        event.stopPropagation();
    });
</script>




