@model PagedList.IPagedList<PeriodAid.Models.Web_Event>
@using PagedList.Mvc;
<table class="table table-hover table-condensed table-list" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th style="width:2%">
            <input type="checkbox" class="allChk" />
        </th>
        <th style="width:15%">
            活动名称
        </th>
        <th style="width:20%">
            活动类型
        </th>
        <th style="width:30%">
            内容
        </th>
        <th style="width:12%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" name="subChk" value="@item.Id" data-region="@item.Id" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Type)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Event_Content)
            </td>
            <td>
                @Html.ActionLink("修改", "EditWebEventPartial", new { Eid = item.Id }, new { @class = "btn btn-xs btn-info webevent-edit" })
                @Html.ActionLink("删除", "DeleteWebEvent", new { Eid = item.Id }, new { @class = "btn btn-xs btn-danger webevent-del" })
            </td>
        </tr>
    }
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("WebEventsList_Ajax", new { page }))</div>
<script>
    //页码
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        $.ajax({
            url: l,
            data:{
                query: $("#webevents-search-query").val()
            },
            success: function (data) {
                $("#webevents-list").html(data);
            }
        });
        return false;
    });
    //修改
    $(".webevent-edit").click(function () {
        var url = $(this).attr("href")
        var head = "修改活动信息"
        $.ajax({
            url: url,
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        });
        return false;
    });
    //删除
    $(".webevent-del").click(function () {
        var url = $(this).attr("href");
        confirm("确定要删除吗?", "", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: url,
                    type: "post",
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            setTimeout(function () {
                                $.ajax({
                                    url: "/WebContent/WebEventsList_Ajax",
                                    success: function (data) {
                                        $("#webevents-list").html(data);
                                    }
                                })
                                alert("删除成功")
                            }, 1000);
                        } else {
                            alert("删除失败", "", function () {
                                //after click the confirm button, will run this callback function
                            }, { type: 'error' });
                        }
                    }
                })
            }
        });
        return false;
    })
</script>
