@model IEnumerable<PeriodAid.Models.Examination>

@{
    ViewBag.Title = "ExamResultList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>测试结果</h2>

<table class="table table-striped">
    <tr>
        <th>
            昵称
        </th>
        <th>
            创建时间
        </th>
        <th>
            当前序号
        </th>
        <th>
            正确率
        </th>
        <th>
            状态
        </th>
        <th>
            完成时间
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationCreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentSequence)
        </td>
        <td>
            @item.ExaminationDetails.Where(m=>m.Result==true).Count() / @item.MaxSequence
        </td>
        <td>
            @if (item.ExaminationStatus) {
                <span>已完成</span>
            }
            else
            {
                <span>未完成</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationFinishTime)
        </td>
        
    </tr>
}

</table>
