@using PeriodAid.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
<div class="container" style="overflow:hidden">
    <div class="row">
        <div class="col-md-3" style="background-color:grey;opacity:0.9;position:absolute;left:37.5%;top:32.5%;">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal">
                        <div class="modal-header container">
                            <h3 class="modal-title col-md-6"><strong>用户登录</strong></h3>
                            <div class="col-md-offset-5 text-right" style="margin-top:8px;">
                                @Html.ActionLink("注册为新用户", "Register")
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "用户账号" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-offset-2" })
                        <br />
                        <div class="row">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger col-md-offset-2" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                    <a href="javascript:;" class="col-md-offset-4 elseLogin">忘记密码？</a>
                                </div>
                                @*<div>
                                    
                                    <a href="javascript:;" class="col-md-offset-1 elseLogin">使用其他登录方式</a>
                                </div>*@
                            </div>
                        </div>
                        @*<p class="col-md-offset-2 text-center elseContent" style="width:400px;height:auto;margin-top:-20px;">
                            没有配置外部身份验证服务。有关设置此 ASP.NET 应用程序
                            以支持通过外部服务登录的详细信息，请参阅<a href="http://go.microsoft.com/fwlink/?LinkId=403804">此文</a>。
                        </p>*@
                        <div class="form-group container">
                            <div class="col-md-4 col-md-offset-4"><button type="submit" value="登录" class="btn btn-success btn-block">登录</button></div>
                        </div>
                        @* 在为密码重置功能启用帐户确认后启用此项
                            <p>
                                @Html.ActionLink("忘记了密码?", "ForgotPassword")
                            </p>*@
                    </form>
                }
            </section>
        </div>
    </div>
</div>