
@model PagedList.IPagedList<PeriodAid.Models.Off_Membership_Bind>
@using PagedList.Mvc;
<table class="table table-condensed table-hover" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th style="width:8%">
            姓名
        </th>
        <th style="width:10%">
            联系方式
        </th>
        <th style="width:15%">
            注册时间
        </th>
        <th style="width:10%">
            绑定姓名
        </th>
        <th style="width:8%">
            系统名称    
        </th>
        <th style="width:25%">绑定促销员所属门店</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Off_Seller.Name)
            </td>
            <td>
                @Html.Encode(item.Off_Seller == null ? "" : item.Off_Seller.Off_Store.Off_StoreSystem.SystemName)
            </td>
            <td>
                @Html.Encode(item.Off_Seller == null ? "" : item.Off_Seller.Off_Store.StoreName)
            </td>
            <td>
                @Html.ActionLink("修改", "BindSellerPartial", new { id = item.Id }, new { @class = "btn btn-xs btn-info offseller-bindseller-edit" })
                @if (!item.Bind)
                {
                    @Html.ActionLink("设置管理员", "UpdateManagerAjax", new { id = item.Id }, new { @class = "btn btn-xs btn-warning offseller-bindseller-updatemanager" })
                    @Html.Encode(" ")
                    @Html.ActionLink("删除用户", "DeleteRegisterSellerAjax", new { id = item.Id }, new { @class = "btn btn-xs btn-danger offseller-bindseller-delregister" })
                }
            </td>
        </tr>
    }
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("BindSellerListPartial", new { page }))</div>
<script>
    //页码
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        $.ajax({
            url: l,
            data: {
                query: $("#offseller-bindseller-query").val(),
                bind: $("#offseller-bindseller-bool").val()
            },
            success: function (data) {
                $("#offseller-bindseller-list").html(data);
            }
        });
        return false;
    });
    //修改
    $(".offseller-bindseller-edit").click(function () {
        var link_url = $(this).attr("href");
        $.ajax({
            url: link_url,
            success: function (data) {
                $(".modal-box").modal();
                $(".modal-con").html(data);
                $(".modal-head").text("修改绑定信息");
            }
        });
        return false;
    });
    // 删除用户
    $(".offseller-bindseller-delregister").click(function () {
        var link_url = $(this).attr("href");
        var result = confirm("是否删除未绑定促销员");
        if (result) {
            $.ajax({
                url: link_url,
                type:"post",
                success: function (data) {
                    if (getDeleteResult(data)) {
                        $.ajax({
                            url: "/OffSeller/BindSellerListPartial",
                            data: {
                                query: $("#offseller-bindseller-query").val(),
                                bind: $("#offseller-bindseller-bool").val()
                            },
                            success: function (data) {
                                $("#offseller-bindseller-list").html(data);
                            }
                        });
                    }
                }
            });
        }
        return false;
    });
    //提升管理员
    $(".offseller-bindseller-updatemanager").click(function () {
        var url = $(this).attr("href");
        $.ajax({
            url: url,
            type: "post",
            success: function (data) {
                if (data.result == "SUCCESS") {
                    alert("提升成功");
                    $.ajax({
                        url: "/OffSeller/BindSellerListPartial",
                        success: function (data) {
                            $("#offseller-bindseller-list").html(data)
                        }
                    });
                }
            }
        });
        return false;
    });
</script>