
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋语音</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding: 0;
        }

        .topmodel-background {
            background: url(http://cdn.shouquanzhai.cn/Content/webapp_voice_background.jpg) no-repeat;
        }

        .start-animate {
            animation: 10s linear 0s normal none infinite rotate;
        }

        #player-control {
            position: absolute;
            width: 48px;
            height: 48px;
            font-size: 48px;
            opacity: 0.5;
            color: #666;
            margin: auto;
            margin-left: -24px;
            padding: 0px;
        }

        @@keyframes rotate {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        .share-icon {
            width: 100%;
            position: absolute;
            z-index: 100;
            left: 0;
            margin-top: 0;
            top: 50%;
            background: url(http://cdn.shouquanzhai.cn/Content/webapp_voice_share.png) 50% no-repeat;
            background-size: 100%;
            display: none;
        }

        .overlay {
            width: 100%;
            position: absolute;
            background: #000;
            opacity: 0.8;
            display: none;
            z-index: 100;
        }

        #share-btn {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="hidden">
        <span id="code">@ViewBag.Code</span>
        <span id="voice-img">@ViewBag.voice_img</span>
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="container" id="topmodel-bg">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 text-center">
            <img id="audio-image" class="img-circle img-responsive" src="/Content/audio/@ViewBag.voice_img" />
            <a id="player-control" href="javascript:void(0)" class="text-center"><i class="fa fa-play"></i></a>
            <audio class="hidden" src="~/Content/audio/@ViewBag.voice" id="audio" controls="controls"></audio>
            <button class="btn btn-default btn-lg btn-info" id="share-btn">立即分享</button>
        </div>
        <div class="col-xs-3"></div>

    </div>
    <div class="overlay">
    </div>
    <div class="share-icon">

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        var status = "init";
        var audio = document.getElementById('audio');
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage',]
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '寿全斋 明星语音祝福', // 分享标题
                desc: '寿全斋 明星语音祝福 不烦那几天喝 寿全斋红糖姜茶', // 分享描述
                link: 'http://webapp.shouquanzhai.cn/Custom/CustomVoice?code='+$("#code").text(), // 分享链接
                imgUrl: 'http://webapp.shouquanzhai.cn/Content/audio/' + $("#voice-img").text(), // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    alert("分享取消");
                    //$(".share-bg").hide();
                    init_page();
                }
            });
            wx.onMenuShareAppMessage({
                title: '寿全斋 明星语音祝福', // 分享标题
                desc: '寿全斋 明星语音祝福 不烦那几天 喝寿全斋红糖姜茶', // 分享描述
                link: 'http://webapp.shouquanzhai.cn/Custom/CustomVoice?code='+$("#code").text(), // 分享链接
                imgUrl: 'http://webapp.shouquanzhai.cn/Content/audio/' + $("#voice-img").text(), // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {


                },
                cancel: function () {
                    alert("分享取消");
                    init_page();
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    alert(longitude + "," + latitude);
                }
            });
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        });
        $(function () {
            init_page();
            $("#player-control").click(function () {
                if (status == "init") {
                    $("#audio-image").addClass("start-animate");
                    $("#player-control").html("<i class=\"fa fa-pause\"></i>")
                    status = "play";
                    audio.play();
                }
                else if (status == "play") {
                    $("#audio-image").css("animationPlayState", "paused");
                    $("#player-control").html("<i class=\"fa fa-play\"></i>");
                    status = "stop";
                    audio.pause();
                }
                else if (status == "stop") {
                    $("#audio-image").css("animationPlayState", "running");
                    $("#player-control").html("<i class=\"fa fa-pause\"></i>");
                    status = "play";
                    audio.play();
                }
            });
            $("#share-btn").click(function () {
                $(".share-icon").show();
                $(".overlay").show();
            });
            $(".overlay").click(function () {
                init_page();
            });
            $(".share-icon").click(function () {
                init_page();
            });
            audio.addEventListener("ended", function () {
                status = "init";
                $("#audio-image").removeClass("start-animate");
                $("#player-control").html("<i class=\"fa fa-play\"></i>");
            }, false);

        });
        function init_page() {
            var img_height = $(window).width() > 640 ? 1024 : parseInt($(document).width() / 640 * 1136);
            $("#audio-image").css({
                "margin-top": parseInt(img_height * 0.1)
            });
            //alert($("#audio-image").height());
            $("#player-control").css({
                "margin-top": "-" + ($("#audio-image").height() / 2 + 30) + "px"
            });
            var device_width = $(window).width();
            var device_height = $(window).height();
            var scale = device_width / 640;
            var window_width = $(window).width() > 640 ? 640 : $(window).width();

            $("#topmodel-bg").css("width", window_width).css("height", img_height).addClass("topmodel-background");
            $("#topmodel-bg").css({
                "-moz-background-size": window_width + "px " + img_height + "px",
                "-webkit-background-size": window_width + "px " + img_height + "px",
                "-o-background-size": window_width + "px " + img_height + "px",
                "background-size": window_width + "px " + img_height + "px"
            });


            $(".overlay").css({
                "height": device_height>=img_height?device_height:img_height + "px",
                "top": 0,
                "margin": 0
            });

            // 分享按钮位置设置
            //alert(scale * 742 / 100);
            $(".share-icon").css({
                "height": 742 * scale + "px",
                "margin-top": (0 - device_height / 2) + "px"
                //"margin-left": (device_width / 2 - 60) + "px"
            });
            $(".share-icon").hide();
            $(".overlay").hide();
        }
    </script>
</body>
</html>
