@model PeriodAid.Models.CreateQuestionViewModel
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>添加试题</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <div>题库类型</div>
                @Html.DropDownListFor(model => model.TestTypeID, ViewBag.Store_System as SelectList, new { @class = "form-control" })
                <!--<textarea class="form-control hidden" id="questionArea" rows="3" placeholder="编辑题干内容"></textarea>-->
                @Html.ValidationMessageFor(model => model.TestTypeID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                <div class="questionContent btn btn-default btn-success btn-lg" id="questionContent">编辑题干内容</div>
                @Html.TextAreaFor(model=>model.questionArea, htmlAttributes: new { @class="form-control hidden", placeholder="编辑题干内容", rows="3"})
                <!--<textarea class="form-control hidden" id="questionArea" rows="3" placeholder="编辑题干内容"></textarea>-->
                @Html.ValidationMessageFor(model => model.questionArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.RadioButtonFor(model => model.answerRight, 1, new { @id = "selectA", @name = "checkitem" })
                <br /><div class="answer btn btn-default btn-info" id="divA" data-target="answerA">编辑答案</div>
                @Html.TextAreaFor(model=>model.answerA, htmlAttributes: new { @class="input-answer form-control hidden", placeholder = "编辑答案", rows="1",title="divA"})
                @Html.ValidationMessageFor(model => model.answerA, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.RadioButtonFor(model => model.answerRight, 2, new { @id = "selectB", @name = "checkitem" })
                <br /><div class="answer btn btn-default btn-info" id="divB" data-target="answerB">编辑答案</div>
                @Html.TextAreaFor(model => model.answerB, htmlAttributes: new { @class = "input-answer form-control hidden", placeholder = "编辑答案", rows = "1", title = "divB" })
                @Html.ValidationMessageFor(model => model.answerB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.RadioButtonFor(model => model.answerRight, 3, new { @id = "selectC", @name = "checkitem" })
                <br /><div class="answer btn btn-default btn-info" id="divC" data-target="answerC">编辑答案</div>
                @Html.TextAreaFor(model => model.answerC, htmlAttributes: new { @class = "input-answer form-control hidden", placeholder = "编辑答案", rows = "1", title = "divC" })
                @Html.ValidationMessageFor(model => model.answerC, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.RadioButtonFor(model => model.answerRight, 4, new { @id = "selectD", @name = "checkitem" })
                <br /><div class="answer btn btn-default btn-info" id="divD" data-target="answerD">编辑答案</div>
                @Html.TextAreaFor(model => model.answerD, htmlAttributes: new { @class = "input-answer form-control hidden", placeholder = "编辑答案", rows = "1", title = "divD" })
                @Html.ValidationMessageFor(model => model.answerD, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />
    </div>
    <div class="form-horizontal">
        <div class="col-md-12">
            <input type="submit" class="btn btn-danger btn-lg" value="提交">
        </div>
    </div>
}

@section header{
    <style type="text/css">
        .questionContent {
            width: 100%;
            line-height: 16px;
            text-align:left;
            display: block;
            cursor: pointer;
        }

        .answer {
            width:100%;
            text-align:left;
            line-height:16px;
            display: block;
            cursor: pointer;
        }
    </style>
}
@section scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#questionContent").click(function () {
                $("#questionContent").addClass("hidden");
                $("#questionArea").removeClass("hidden");
                $("#questionArea").focus();
            });
            $("#questionArea").keyup(function () {
                if (event.keyCode == 13) {
                    //这里写你要执行的事件;
                    $("#questionArea").val($("#questionArea").val().substr(0, $("#questionArea").val().length - 1));
                    $("#questionContent").text($("#questionArea").val());
                    $("#questionContent").removeClass("hidden");
                    $("#questionArea").addClass("hidden");
                    if ($("#questionArea").val().length == 0) {
                        $("#questionArea").attr("placeholder", "编辑题干内容");
                        $("#questionContent").text("编辑题干内容");
                    }
                }
            });
            $("#questionArea").blur(function () {
                $("#questionArea").val($("#questionArea").val());
                $("#questionContent").text($("#questionArea").val());
                $("#questionContent").removeClass("hidden");
                $("#questionArea").addClass("hidden");
                if ($("#questionArea").val().length == 0) {
                    $("#questionArea").attr("placeholder", "编辑题干内容");
                    $("#questionContent").text("编辑题干内容");
                }
            });


            // 选择答案
            $(".answer").click(function () {
                var clickitem = $("#" + $(this).attr("data-target"));
                clickitem.removeClass("hidden").focus();
                $(this).addClass("hidden");
            });
            $(".input-answer").keyup(function () {
                if (event.keyCode == 13) {
                    var divitem = $("#" + $(this).attr("title"));
                    $(this).val($(this).val().substr(0, $(this).val().length - 1));
                    var inputtext = $(this).val();
                    $(this).addClass("hidden");
                    divitem.text(inputtext).removeClass("hidden");
                    if ($(this).val().length == 0) {
                        $(this).attr("placeholder", "编辑答案");
                        divitem.text("编辑答案");
                    }
                }
            });
            $(".input-answer").blur(function () {
                var divitem = $("#" + $(this).attr("title"));
                //$(this).val($(this).val().substr(0, $(this).val().length-1));
                var inputtext = $(this).val();
                $(this).addClass("hidden");
                divitem.text(inputtext).removeClass("hidden");
                if ($(this).val().length == 0) {
                    $(this).attr("placeholder", "编辑答案");
                    divitem.text("编辑答案");
                }
            });
        });
    </script>
}
