
@model PeriodAid.Models.Off_Expenses
@{
    ViewBag.Title = "修改结算信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingThree";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Status)
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-12">
                @Html.ActionLink("返回", "ExpensesIndex", null, new { @class = "btn btn-default btn-sm" })
            </td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>申请日期</small></div>
                    @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>渠道名称</small></div>
                    @Html.EditorFor(model => model.StoreSystem, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>经销商</small></div>
                    @Html.EditorFor(model => model.Distributor, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>费用类别</small></div>
                    <input class="form-control input-sm" value="进场费" readonly />
                    @*@Html.DropDownListFor(model => model.PaymentType, ViewBag.PayType as SelectList, "- 请选择费用类别 -", new { @class = "form-control input-sm", @readonly = "readonly" })*@
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>审核时间</small></div>
                    @Html.EditorFor(model => model.CheckTime, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>结算时间</small></div>
                    @Html.EditorFor(model => model.BalanceTime, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-12">
                <div class="input-group">
                    <div class="input-group-addon"><small>备注信息</small></div>
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>费用状态</small></div>
                    <input class="form-control input-sm" value="" readonly />
                    @*@Html.DropDownListFor(model => model.Status, ViewBag.ExpensesStatus as SelectList, "- 请选择费用类别 -", new { @class = "form-control input-sm", @readonly = "readonly" })*@
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>最后修改</small></div>
                    @Html.EditorFor(model => model.UploadUser, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>最后编辑时间</small></div>
                    @Html.EditorFor(model => model.UploadTime, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                </div>
            </td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>预算金额</small></div>
                    <input type="text" id="check-amt" class="form-control input-sm" readonly value="@Model.Off_Expenses_Details.Where(m=>m.ExpensesType == 0).Sum(m=>m.DetailsFee)" />
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>结算金额</small></div>
                    <input type="text" id="balance-amt" class="form-control input-sm" readonly value="@Model.Off_Expenses_Details.Where(m=>m.ExpensesType == 1).Sum(m=>m.DetailsFee)" />
                </div>
            </td>
            <td class="col-md-4"></td>
        </tr>
    </table>
    <table class="offline-table-margin-01">
        <tr>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>核销总金额</small></div>
                    <input type="text" id="check-amt" class="form-control input-sm" readonly value="@Model.Off_Expenses_Payment.Sum(m=>m.VerifyCost)" />
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>核销现金</small></div>
                    <input type="text" id="balance-amt" class="form-control input-sm" readonly value="@Model.Off_Expenses_Payment.Where(m=>m.VerifyType == 0).Sum(m=>m.VerifyCost)" />
                </div>
            </td>
            <td class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><small>核销货抵押</small></div>
                    <input type="text" id="balance-amt" class="form-control input-sm" readonly value="@Model.Off_Expenses_Payment.Where(m=>m.VerifyType == 1).Sum(m=>m.VerifyCost)" />
                </div>
            </td>
        </tr>
    </table>
    <br />
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><small>预算明细</small></a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><small>结算明细</small></a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><small>核销明细</small></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <table class="offline-table-margin-01">
                    @foreach (var item in Model.Off_Expenses_Details.Where(m => m.ExpensesType == 0))
                    {
                        <tr>
                            <td class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用名称</small></div>
                                    <input class="form-control input-sm" readonly value="@item.DetailsName">
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用</small></div>
                                    <input class="form-control input-sm" readonly type="number" value="@item.DetailsFee">
                                </div>
                            </td>
                            <td class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>备注</small></div>
                                    <input class="form-control input-sm" readonly value="@item.Remarks">
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <table class="offline-table-margin-01">
                    @foreach (var item in Model.Off_Expenses_Details.Where(m => m.ExpensesType == 1))
                    {
                        <tr>
                            <td class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用名称</small></div>
                                    <input class="form-control input-sm" readonly value="@item.DetailsName">
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用</small></div>
                                    <input class="form-control input-sm" readonly type="number" value="@item.DetailsFee">
                                </div>
                            </td>
                            <td class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>备注</small></div>
                                    <input class="form-control input-sm" readonly value="@item.Remarks">
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <table class="offline-table-margin-01">
                    @foreach (var item in Model.Off_Expenses_Payment)
                    {
                        <tr>
                            <td class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>申请日期</small></div>
                                    <input class="form-control input-sm" readonly value="@Convert.ToDateTime(item.ApplicationDate).ToString("yyyy-MM-dd")">
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用类型</small></div>
                                    @if (item.VerifyType == 0)
                                    {
                                        <input class="form-control input-sm" readonly value="现金">
                                    }
                                    else
                                    {
                                        <input class="form-control input-sm" readonly value="货抵">
                                    }
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>费用</small></div>
                                    <input class="form-control input-sm" readonly type="number" value="@item.VerifyCost">
                                </div>
                            </td>
                            <td class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-addon"><small>备注</small></div>
                                    <input class="form-control input-sm" readonly value="@item.Remarks">
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>

}
<script>
    $(function () {
        $("#add-details-btn").click(function () {
            $html = "<tr><td class=\"col-md-3\"><input type=\"hidden\" name=\"detailid\" value=\"0\"><div class=\"input-group\"><div class=\"input-group-addon\"><small>费用名称</small></div>" +
                "<select class=\"form-control input-sm valid\" id=\"detaillist\" name=\"detaillist\"><option value=\"进场费\">进场费</option>" +
                "<option value=\"促销员工资\">促销员工资</option><option value=\"促销员奖金\">促销员奖金</option><option value=\"海报费\">海报费</option>" +
                "<option value=\"端架费用\">端架费用</option><option value=\"TG费用\">TG费用</option><option value=\"地堆费用\">地堆费用</option>" +
                "<option value=\"运输费\">运输费</option><option value=\"试吃物料\">试吃物料</option><option value=\"其他赠品\">其他赠品</option>" +
                "<option value=\"公司赠品\">公司赠品</option><option value=\"POSM\">POSM</option><option value=\"公司费用\">公司费用</option></select>" +
                "</div></td><td class=\"col-md-2\"><div class=\"input-group\"><div class=\"input-group-addon\"><small>费用</small></div><input class=\"form-control input-sm\" name=\"detailfee\" type=\"number\">" +
                "</div></td><td class=\"col-md-6\"><div class=\"input-group\"><div class=\"input-group-addon\"><small>备注</small></div>\<input class=\"form-control input-sm\" name=\"detailremarks\">" +
                "</div></td><td class=\"col-md-1\"><a onClick=\"getDel(this, 0)\" class=\"btn btn-danger btn-sm\"><i class=\"fa fa-times\"></i></a></td></tr>";
            $("#list-table").append($html);
        });
        $(document).on("change", "input[name=detailfee]", function () {
            cal_amount();
        });
    });
    function getDel(k, d_id) {
        var del_confirm = confirm("确认要删除记录吗?");
        if (del_confirm) {
            $.ajax({
                url: "/OffExpenses/DeleteExpensesDetailsAjax",
                type: "post",
                data: {
                    id: d_id
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $(k).closest("tr").remove();
                        cal_amount();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }
    function cal_amount() {
        var amount = 0;
        $("input[name=detailfee]").each(function () {
            amount += parseFloat($(this).val());
        });
        $("#balance-amt").val(parseFloat(amount));
    }
</script>




