@model PeriodAid.Models.SS_Event
@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/prettify.css" rel="stylesheet" />
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>新增活动记录</h2>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AddEventPartial", "PlattformInventory", FormMethod.Post, new { @id = "add-event-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-3 control-label">活动名称</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">产品名称</label>
                <div class="col-md-9">
                    <input id="product-input" type="text" class="span4 form-control" placeholder="搜索产品" autocomplete="off" name="product-input" />
                    <input type="hidden" id="Product_Id" name="Product_Id" />
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">活动日期</label>
                <div class="col-md-9">
                    <input class="form-control" id="eventtime" name="eventtime" type="datetime" autocomplete="off">
                    @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="新增" class="btn btn-default" id="add-submit"/>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/kalendae.standalone.js"></script>
<script src="~/Scripts/bootstrap-typeahead.js"></script>
<script>
    $(function () {
        $("#add-submit").attr("disabled", false);
        //产品搜索
        function displayResult(item, val, text) {
            $("#Product_Id").val(val);
        }
        $('#product-input').typeahead({
            ajax: {
                url: '/PlattformInventory/QueryProduct?plattformId='+getUrlParam('plattformId'),
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'ProductName',
            val: 'Id'
        });
        $('#add-event-form').ajaxForm(function (data) {
            $("#add-submit").attr("disabled", true);
            if (data == "SUCCESS") {
                $('.modal-box').modal('hide');
                setTimeout(function () {
                    $.ajax({
                        url: "/PlattformInventory/EventListPartial",
                        data: {
                            page: 1,
                            plattformId: getUrlParam('plattformId')
                        },
                        success: function (data) {
                            $("#event_list_content").html(data);
                            $('.modal-backdrop.in').remove()
                            $('body').removeClass('modal-open')
                        }
                    });
                    alert("添加成功")
                }, 1000);
            }
            else {
                errorAlert("添加失败！");
            }
        });
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('eventtime', {
            months: 2,
            mode: 'multiple',
            titleFormat: "MM月, YYYY年",
            format: "YYYY-MM-DD"
        });
        
    });
</script>

