@model IEnumerable<PeriodAid.Models.CalcStorageViewModel>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
        <a class="btn btn-primary float-right" href="javascript:;" id="download_calc" onclick="$('#calc_form').submit();">下载完整预估表</a>
        <br />
        <form method="post" id="calc_form" action="/PlattformInventory/getInventoryExcel">
            @Html.Hidden("calc_days", (int)ViewBag.Calc_Days)
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>产品编号</th>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th><i style="font-style:normal" class="date-view-select"></i>销售数据</th>
                        <th>仓库库存</th>
                        <th>日均销量</th>
                        <th style="width:26%"><i style="position:relative;top:6px;font-style:normal">周转数</i><input type="number" id="top-control" value="55" class="form-control calc_rate" style="font-weight:500;width:80%;position:relative;top:4px;margin-left:5px;display:inline-block" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(m => m.Sales_Count))
                    {
                        <tr>
                            <th scope="row" style="position:relative">@item.Product.System_Code<a class="fire-box"></a></th>
                            <td>@Html.Encode(item.Product.Item_Code)</td>
                            <td><a data-href="#" data-pid="@item.Product.Id" style="cursor:pointer">@item.Product.Item_Name</a></td>
                            <td class="calc_sales">@Html.Encode(item.Sales_Count)</td>
                            <td class="calc_storage">@Html.Encode(item.Storage_Count)</td>
                            <td class="calc_avgsales">@Html.Encode(item.Sales_Avg.ToString("F2"))</td>
                            <td>@Html.TextBox("p_rate_" + item.Product.Id, 1, new { @class = "form-control calc_rate input-sm", type = "number" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    $('.date-select').on('click', function () {
        $('.date-view-select').html($(this).attr('data-date') + '天')
    })
</script>

