@model PeriodAid.Models.SS_Event
@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/prettify.css" rel="stylesheet" />
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改活动信息</h2>
</div>
@Html.HiddenFor(model => model.SS_Product.Item_Name)
@Html.HiddenFor(model => model.Product_Id)
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("EditEventInfo", "PlattformInventory", FormMethod.Post, new { @id = "event-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 style="display:none">SS_Event</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-md-2">活动名称</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">产品名称</label>
                <div class="col-md-10">
                    <input id="product-input" type="text" class="span4 form-control" placeholder="搜索产品"  autocomplete="off" name="product-input" />
                    <input type="hidden" id="ProductId" name="Product_Id" />
                    @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">活动日期</label>
                <div class="col-md-10">
                    <div id="Inventory_Date">@Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div class="modal-footer"></div>
<script src="~/Scripts/kalendae.standalone.js"></script>
<script src="~/Scripts/bootstrap-typeahead.js"></script>
<script>
    var str = $("#EventDate").val().substring(0, 10)
    $("#Inventory_Date input").attr("value", str)
    $(function () {
        $("#product-input").val($("#SS_Product_Item_Name").val())
        $("#ProductId").val($("#Product_Id").val())
        //产品搜索
        function displayResult(item, val, text) {
            $("#ProductId").val(val);
        }
        $('#product-input').typeahead({
            ajax: {
                url: '/PlattformInventory/QueryProduct?plattformId=' + getUrlParam('plattformId'),
                triggerLength: 1
            },
            itemSelected: displayResult,
            display: 'ProductName',
            val: 'Id'
        });
        $('#save-btn').click(function () {
            $("#event-form").ajaxSubmit({
                url: '/PlattformInventory/EditEventInfo',
                type: 'post',
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert('保存成功')
                        $("#myModal").modal('hide');
                        $.ajax({
                            url: "/PlattformInventory/EventListPartial",
                            data: {
                                page: 1,
                                plattformId: getUrlParam("plattformId")
                            },
                            success: function (data) {
                                $("#event_list_content").html(data);
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        });

                    } else {
                        errorAlert('保存失败')
                    }
                }
            })
            return false;
        })
    })
    
</script>


