@model PagedList.IPagedList<PeriodAid.Models.SS_Event>
@using PagedList.Mvc;
<div>
    <table class="table">
        <tr>
            <th>
                活动名称
            </th>
            <th>
                产品名称
            </th>
            <th>
                活动日期
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.SS_Product.Item_Name</td>
                <td>
                    @item.EventDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a class="select-a" data-val="@item.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>&nbsp;|&nbsp;
                    <a class="select-date" style="cursor:pointer" data-item="@item.Product_Id" data-date="@item.EventDate">活动统计</a>&nbsp;|&nbsp;
                    <a class="delete_event" href="#" style="color:red;" data-eid="@item.Id">删除记录</a>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("EventListPartial", new { page }))
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    //页码
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        $.ajax({
            url: l,
            data: {
                plattformId: getUrlParam('plattformId'),
                query: $("#storage-product-query").val()
            },
            success: function (data) {
                $("#event_list_content").html(data);
            }
        });
        return false;
    });
    // 编辑
    $('.select-a').click(function () {
        $.ajax({
            url: '/PlattformInventory/EditEventInfo',
            data: {
                eventId: $(this).attr('data-val'),
                plattformId: getUrlParam("plattformId")
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
                
            }
        })
    })
    // 删除
    $(".delete_event").on("click", function () {
        var eid = $(this).attr("data-eid");
            confirm("确定要删除吗?", "你将把此条信息从活动列表中删除", function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/PlattformInventory/DeleteEvent",
                        type: "post",
                        data: {
                            id: eid,
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                setTimeout(function () {
                                    $.ajax({
                                        url: "/PlattformInventory/EventListPartial",
                                        data: {
                                            page: 1,
                                            plattformId: getUrlParam("plattformId")
                                        },
                                        success: function (data) {
                                            $("#event_list_content").html(data);
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    });
                                    alert("删除成功")
                                }, 1000);
                            } else if (data.result == "FAIL") {
                                alert("删除失败", "", function () {
                                }, { type: 'error' });
                            }
                        }
                    })
                }
            });
    })
    // 活动详情
    $(".select-date").on("click", function () {
        var that = $(this)
        $.ajax({
            url: "/PlattformInventory/ViewEventListPartial",
            data: {
                plattformId: getUrlParam("plattformId"),
                productId: that.attr('data-item'),
                select_date:that.attr('data-date'),
            },
            success: function (data) {
                $(".col-md-10").html(data);
                $('#back-btn').attr('href', "/PlattformInventory/EventList?plattformId=" + getUrlParam("plattformId"))
                if (getUrlParam('plattformId') == 1) {
                    $('.table-hidden').addClass('hidden')
                } else {
                    $('.tm-hidden').addClass('hidden')
                }
            }
        })
    })
</script>
