@model IEnumerable<PeriodAid.Models.Product_SummaryViewModel>
@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}
@section header{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        div {
            z-index: 52;
        }
    </style>
}
<div class="navbar-default tm_task-navbar" style="padding-top:10px">
    <div id="nav-table-show">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills" role="tablist" style="font-size:14px">
            <li role="presentation" class="form-select-li active all-form-select"><a href="#"  role="tab" data-toggle="tab" data-ssid="0" class="form-select-a">所有仓库</a></li>
            @foreach (var item in ViewBag.storage)
            {
                <li role="presentation" class="form-select-li" style="margin-top:1px"><a href="#" role="tab" data-toggle="tab" data-ssid="@item.Id" class="form-select-a" style="margin-right:0">@item.Storage_Name</a></li>
            }
        </ul>
    </div>
    <div style="padding:20px 0;">

        <div class="text-center h2">每日数据</div>
        @foreach (var item in ViewBag.DataDate) {
            <h5 class="date_show" hidden>@item</h5>
        }
    </div>
    <div class="form-view-header clear-float">
        <div>
            <div class="tm-view-control">
                <ul class="nav nav-pills" style="float:right">
                    <li class="tm-view-control-sort dropdown" style="position:relative">
                        <a data-toggle="dropdown" id="form-date-show" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;background-color:#337ab7;">
                            <span class="tm-select-title active" id="form-date-select" style="color:white;font-size:14px;">选择日期</span>
                            <input type="text" id="file-date" name="file-date" style="height: 48px;position:absolute;left: 0;width: 97px;top: 0;cursor:pointer;opacity:0" />
                            <span class="caret color-white"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="storage_show">
        <div class="center-block" id="my-form-content">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品编号</th>
                                <th>商品名称</th>
                                <th>销售数据</th>
                                <th>仓库库存</th>
                            </tr>
                        </thead>
                        @*<tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Product.System_Code</th>
                                    <td></td>
                                    <td><a data-href="#" data-pid="@item.Product.Id" style="cursor:pointer">@item.Product.Item_Name</a></td>
                                    <td>@item.Sales_Sum</td>
                                    <td>@item.Inventory_Sum</td>
                                </tr>
                            }
                        </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-view-content-container  tm-view-container" id="file-loading" style="top:282px">
        <div class="tm-veiw-loading text-center" id="tm-view-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
            <span class="sr-only">正在加载...</span>
        </div>
    </div>
</div>
@section scripts{

    <script>
    // 初始化数据
        $(function () {
        //日期格式改变
        $("#file-date").datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
        $("#file-date").datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
        $("#file-date").datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
        $("#file-date").datepicker();
        TmDatePicker.Init({
            container: "#tm-calendar-view-wrap",
            onpagechanged: function (e) {
                $.ajax({
                    url: "/PlattformInventory/CustomUploadFilePartial",
                    type: "post",
                    data: {
                        plattformId: 1,
                        month: e.currentyear + "-" + e.currentmonth
                    },
                    success: function (data) {for (var i = 0; i < data.length; i++) {
                        var record = data[i].record_date.ToString("yyyy-MM-dd");
                        //console.log(record)
                    }
                        $('#form-date-select').text(record)
                        $.ajax({
                            url: '/PlattformInventory/StorageShow/',
                            type: 'post',
                            data: {
                                plattformId:1,
                                select_date: $('#form-date-select').text()
                            },
                            success: function (data) {
                                //console.log(data)
                                $('#storage_show').html(data)
                                $('#file-loading').hide()
                            }
                        })

                    },
                    error: function () {
                        ErrorAlert("请求数据失败。");
                    }
                });
            }
        });

        $("#form-date-show").on("click", function () {
            for (i = 0; i < $(".date_show").length; i++) {
                var arry =@Html.Raw(Json.Encode(ViewBag.DataDate));
                var arrydata = arry[i].ToString('yyyy-MM-dd');
                var year = arrydata.substring(0, 4);
                var show_year = parseInt($(".ui-state-default").parent().attr("data-year"));
                var show_month = parseInt($(".ui-state-default").parent().attr("data-month")) + 1;
                var show_day = parseInt($(".ui-state-default").text())
                if (show_month < 10) {
                    console.log(arrydata);
                    var _first = parseInt(arrydata.indexOf('-')) + 2;
                    var _end = parseInt(arrydata.indexOf('-')) + 3;
                    var month = arrydata.substring(_first, _end);
                }
                else {
                    var _first = parseInt(arrydata.indexOf('-')) + 1;
                    var _end = parseInt(arrydata.indexOf('-')) + 3;
                    var month = arrydata.substring(_first, _end);
                }
                if (year == show_year) {
                    if (month == show_month) {
                        var day = arrydata.substring(8, 10);
                        if (day >= 10) {
                            day = arrydata.substring(8, 10);
                            $(".ui-state-default").parent("[data-day=" + day + "]").children().attr("style", "background:#f7b03c");
                        }
                        else {
                            day = arrydata.substring(9, 10);
                            $(".ui-state-default").parent("[data-day=" + day + "]").children().attr("style", "background:#f7b03c");
                        }
                    }
                }
            }


        })

        // tab 切换
        $("#nav-table-show ul li").on("click", function () {
            var that = $(this);
            $('#file-loading').show()
            $.ajax({
                url: "/PlattformInventory/StorageShow/",
                data: {
                    plattformId: 1,
                    Storage: that.children('.form-select-a').attr('data-ssid'),
                    select_date: $('#form-date-select').text()
                },
                success: function (data) {
                    that.children('.form-select-a').addClass("active");
                    $("#storage_show").html(data);
                    $('#file-loading').hide()
                }
            })
        })
        // 选择日期
        $('#file-date').change(function () {
            $('#file-loading').show()
            $('#form-date-select').text($(this).val())
            $.ajax({
                url: '/PlattformInventory/StorageShow/',
                type:'post',
                data: {
                    plattformId: 1,
                    Storage: $("#nav-table-show ul li").children('.form-select-li.active a').attr('data-ssid'),
                    select_date: $('#form-date-select').text()
                },
                success: function (data) {
                    $('#storage_show').html(data)
                    $('#file-loading').hide()
                }
            })
        })
    })
    // 重置时间显示格式
    String.prototype.ToString = function (format) {
        var dateTime = new Date(parseInt(this.substring(6, this.length - 2)));
        format = format.replace("yyyy", dateTime.getFullYear());
        format = format.replace("yy", dateTime.getFullYear().toString().substr(2));
        format = format.replace("MM", (dateTime.getMonth() + 1) < 10 ? "0" + (dateTime.getMonth() + 1) : (dateTime.getMonth() + 1))
        format = format.replace("dd", dateTime.getDate() < 10 ? "0" + dateTime.getDate() : dateTime.getDate());
        format = format.replace("hh", dateTime.getHours() < 10 ? "0" + dateTime.getHours() : dateTime.getHours());
        format = format.replace("mm", dateTime.getMinutes());
        format = format.replace("ss", dateTime.getSeconds());
        format = format.replace("ms", dateTime.getMilliseconds())
        return format;
    };
    </script>
}