@model IEnumerable<PeriodAid.Models.Product_SummaryViewModel>
@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}
<div class="navbar-default tm_task-navbar" style="padding-top:10px">
    <div id="nav-table-show">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills" role="tablist" style="font-size:14px">
            <li role="presentation" class="form-select-li active all-form-select"><a href="#" role="tab" data-toggle="tab" class="form-select-a">所有仓库</a></li>
            @foreach (var item in ViewBag.storage)
            {               
                <li role="presentation" class="form-select-li" style="margin-top:1px"><a href="#"  role="tab" data-toggle="tab" data-ssid="@item.Id" class="form-select-a" style="margin-right:0">@item.Storage_Name</a></li>
            }
        </ul>
    </div>
    <div style="padding:20px 0;">
    
        <div class="text-center h2">每日数据</div>
    </div>
    <div class="form-view-header clear-float">
        <div>
            <div class="tm-view-control">
                <ul class="nav nav-pills" style="float:right">
                    <li class="tm-view-control-sort dropdown">
                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                            <span class="tm-select-title"style="font-size:14px" >选择日期</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress" style="text-align:center">
                            @foreach (var item in ViewBag.DataDate)
                            {
                                <li><a href="#" class="tm-select-range tm-select form-date-select" data-date="@item">@item.ToString("yyyy年MM月dd日")</a></li>
                            }
                        </ul>
                    </li>                
                </ul>
            </div>
        </div>
    </div>
    <div id="storage_show">
        <div class="center-block" id="my-form-content">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品编号</th>
                                <th>商品名称</th>
                                <th>销售数据</th>
                                <th>仓库库存</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Product.System_Code</th>
                                    <td></td>
                                    <td><a data-href="#" data-pid="@item.Product.Id" style="cursor:pointer">@item.Product.Item_Name</a></td>
                                    <td>@item.Sales_Sum</td>
                                    <td>@item.Inventory_Sum</td>
                                </tr>
                            }                                                      
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
@section scripts{

<script>
    // 初始化数据
    $(function () {     
            $.ajax({
                url: "/PlattformInventory/PlattformInventory_form/",
                data: {
                    
                },
                success: function (data) {

                }
            })       
    })
        // tab 切换
            $("#nav-table-show ul li").on("click", function () {
                var that = $(this);
                if (that.hasClass('all-form-select')) {
                    $.ajax({
                        url: "/PlattformInventory/PlattformInventory_form/",
                        data: {
                            
                        },
                        success: function (data) {
                            window.location.href = '/PlattformInventory/PlattformInventory_form/'
                        }
                    })
                } else {
                    $.ajax({
                        url: "/PlattformInventory/StorageShow/",
                        data: {
                            Storage: that.children('.form-select-a').attr('data-ssid')
                        },
                        success: function (data) {
                            that.children('.form-select-a').addClass("active");
                            $("#storage_show").html(data);
                        }
                    })
                }               
            })
            // 选择日期
            $(".form-date-select").click(function () {
                var that = $(this);
                if (!that.hasClass('selected')) {
                    that.parent().parent().find(".tm-select.selected").removeClass("selected");
                    that.addClass("selected");
                    $('.tm-select-title').html($('.selected').text());
                }
                console.log($(".form-date-select").val());
                $.ajax({
                    url: '/PlattformInventory/StorageShow/',
                    type: 'post',
                    data: {
                        Storage: 1,
                        select_date: $(".form-date-select.selected").attr("data-date")
                    },
                    success: function (data) {
                        $(".form-date-select.selected").attr("data-date");
                        $("#storage_show").html(data);
                    }
                })
            })     
</script>
}