@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}
@section header{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        div {
            z-index: 52;
        }
        .storage-nav > li > a{
            padding: 0px 15px;
        }
        #view-head-tr-1>th{
            font-size:15px
        }
        .view-body-tr-1>td{
            font-size:15px
        }
        label{
            margin:0
        }
    </style>
}
<div class="navbar-default tm_task-navbar" style="padding-top:10px;background-color:white">
    <div class="hidden" id="last_update" data-val="@ViewBag.DataDate"></div>
    @*<div style="padding:20px 0;">
        <div class="text-center h2">数据统计</div>
        <div class="text-center h4">
            <span id="start-time"></span>&nbsp;&nbsp;<span id="end-time"></span>&nbsp;&nbsp;<span id="show-storage"></span>
        </div>
    </div>*@
    <div id="select_condition">
        <div class="date_section_select select_condition_div">
            <span class="btn btn-primary float-right" id="download_btn" data-date="30">导出数据</span>
            <label class="pull-left">日期区间：</label>
            <ul class="date_section_ul">
                <li class="dete_section_li_active">
                    <a class="select-date active" data-date="0">最新</a>
                </li>
                <li >
                    <a class="select-date" data-date="7">7天</a>
                </li>
                <li>
                    <a class="select-date" data-date="15">15天</a>
                </li>
                <li>
                    <a class="select-date" data-date="30">30天</a>
                </li>
            </ul>
        </div>
        <div class="select_condition_div date_select_div">
            <label class="pull-left">选择日期：</label>
            <div>
                <input type="text" class="file-date" readonly="readonly" autocomplete="off" id="start-date" name="file-date" placeholder="请选择起始日期" value="@ViewBag.DataDate.ToString("yyyy-MM-dd")" />
                <input type="text" class="file-date" readonly="readonly" autocomplete="off" id="end-date" name="file-date" placeholder="请选择结束日期" value="@ViewBag.DataDate.ToString("yyyy-MM-dd")" />
                <input type="button" id="select-date-btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:0 12px;margin-left:8px" />
            </div>
        </div>
        <div class="storage_select_div select_condition_div">
            <label class="pull-left">仓库选择：</label>
            <select>
                <option data-ssid="0" class="form-select-a">
                    所有仓库
                </option>
                @foreach (var item in ViewBag.storage)
                {
                    <option data-ssid="@item.Id" class="form-select-a">
                        @item.Storage_Name
                    </option>
                }
            </select>
        </div>
    </div>
    @*<div class="form-view-header clear-float">
        <div>
            <div class="tm-view-control">
                <ul class="nav nav-pills storage-nav" style="float:right">
                    <li class="tm-view-control-sort dropdown" style="top:-4px">
                        @*<span class="btn btn-primary select-date" data-date="7">7天</span>
                        <span class="btn btn-primary select-date" data-date="15">15天</span>
                        <span class="btn btn-primary select-date" data-date="30">30天</span>*@
                        @*<span class="btn btn-primary" data-date="30">导出数据</span>
                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;background-color:#337ab7;">
                            <span class="tm-select-title active" id="storage-select" data-ssid="0" style="color:white;font-size:14px;">所有仓库</span>
                            <span class="caret color-white"></span>
                        </a>
                        <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress" id="nav-table-show" style="height:300px;overflow-y:auto">
                            <li role="presentation" class="form-select-li all-form-select"><a href="#" role="tab" data-toggle="tab" data-ssid="0" class="form-select-a">所有仓库</a></li>
                            @foreach (var item in ViewBag.storage)
                            {
                                <li>
                                    <a href="#" role="tab" data-toggle="tab" data-ssid="@item.Id" class="form-select-a" style="margin-right:0">@item.Storage_Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <input type="text" class="file-date" readonly="readonly" autocomplete="off" id="start-date" name="file-date" placeholder="请选择起始日期" value="@ViewBag.DataDate.ToString("yyyy-MM-dd")" />
                <input type="text"class="file-date" readonly="readonly" autocomplete="off" id="end-date" name="file-date" placeholder="请选择结束日期" value="@ViewBag.DataDate.ToString("yyyy-MM-dd")" />
                <input type="button" id="select-date-btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:1px 12px;margin-left:8px" />
            </div>
         </div>
    </div>*@
    <table class="table table-bordered table-hover" id="sun_show"></table>
    <div id="storage_show"></div>
    <div class="tm-view-content-container  tm-view-container" id="file-loading" >
        <div class="tm-veiw-loading text-center" id="tm-view-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
            <span class="sr-only">正在加载...</span>
        </div>
    </div>
</div>
@section scripts{
<script>
    // 初始化数据
        $(function () {
            var last_date = $("#last_update").attr("data-val")
            $('#upload').click(function () {
                $('#file-name').trigger('click')
            })
            $(".select-date").click(function () {
                var that = $(this)
                $(".date_section_ul").children("li").removeClass("dete_section_li_active")
                $(".select-date").removeClass("active")
                that.addClass("active")
                that.parent("li").addClass("dete_section_li_active")
                var now = new Date(last_date)
                $("#end-date").val(now.getFullYear() + "-" + ((now.getMonth() + 1) < 10 ? "0" : "") + (now.getMonth() + 1) + "-" + (now.getDate() < 10 ? "0" : "") + now.getDate())
                now.setDate(now.getDate() - that.attr("data-date"));
                $("#start-date").val(now.getFullYear() + "-" + ((now.getMonth() + 1) < 10 ? "0" : "") + (now.getMonth() + 1) + "-" + (now.getDate() < 10 ? "0" : "") + now.getDate())
                $("#select-date-btn").trigger("click")
            })
        //日期格式改变
            $(".file-date").datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
            $(".file-date").datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
            $(".file-date").datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
            $(".file-date").datepicker();
            if ($("#start-date").val() == "" || $("#end-date").val() == "") {
                errorAlert("请求数据失败。");
            }
            if (getUrlParam('plattformId') == 2) {
                $.ajax({
                    url: '/PlattformInventory/TMS_StorageShow/',
                    type: 'post',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        start: $('#start-date').val(),
                        end: $('#end-date').val(),
                    },
                    success: function (data) {
                        $.ajax({
                            url: '/PlattformInventory/TMShow_StorageShow/',
                            type: 'post',
                            data: {
                                plattformId: getUrlParam('plattformId'),
                                Storage: $('#storage-select').attr('data-ssid'),
                                start: $('#start-date').val(),
                                end: $('#end-date').val(),
                            },
                            success: function (data) {
                                $("#sun_show").html(data);
                            }
                        })
                        $('#storage_show').html(data)
                        $('#file-loading').hide()
                    }
                })
            }
            else {
                $.ajax({
                    url: '/PlattformInventory/StorageShow/',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        start: $('#start-date').val(),
                        end: $('#end-date').val()
                    },
                    success: function (data) {
                        $('#sun_show').addClass('hidden')
                        $('#storage_show').html(data)
                        $('#file-loading').hide()
                    }
                })
            }
        // 选择仓库
            $(".storage_select_div select").change(function () {
            var that = $(this);
            $('#file-loading').show();
            //$('#storage-select').text(that.text())
            //$('#show-storage').text($('#storage-select').text())
            //$('#storage-select').attr('data-ssid', that.children('.form-select-a').attr('data-ssid'))
            if ($("#start-date").val() == "" || $("#end-date").val() == "") {
                errorAlert("请输入正确日期");
            }
            if(getUrlParam('plattformId')==2){
                $.ajax({
                    url: "/PlattformInventory/TMS_StorageShow/",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        Storage: that.children("option:selected").attr("data-ssid"),
                        start:$('#start-date').val(),
                        end: $('#end-date').val()
                    },
                    success: function (data) {
                        $('#start-time').text($('#start-date').val())
                        $('#end-time').text($('#end-date').val())
                        $.ajax({
                            url: '/PlattformInventory/TMShow_StorageShow/',
                            type: 'post',
                            data: {
                                plattformId: getUrlParam('plattformId'),
                                Storage:$('#storage-select').attr('data-ssid'),
                                start:$('#start-date').val(),
                                end: $('#end-date').val()
                            },
                            success: function (data) {
                                $("#sun_show").html(data);
                            }
                        })
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                    }
                })
            }else{
                $.ajax({
                    url: '/PlattformInventory/StorageShow/',
                    type: 'post',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        Storage: that.children("option:selected").attr("data-ssid"),
                        start:$('#start-date').val(),
                        end: $('#end-date').val()
                    },
                    success: function (data) {
                        $('#start-time').text($('#start-date').val())
                        $('#end-time').text($('#end-date').val())
                        $('#sun_show').addClass('hidden')
                        $('#storage_show').html(data)
                        $('#file-loading').hide()
                    }
                })
            }
        })
        // 选择日期
        $('#start-date').change(function(){
            $('#start-time').text($(this).val())
        })
        $('#end-date').change(function(){
            $('#end-time').text($(this).val())
        })
        $('#select-date-btn').click(function () {
            var that = $(this)
            if ($("#start-date").val() == "" || $("#end-date").val() == "") {
                errorAlert("请输入正确日期");
            }
            else if ($('#start-date').val() <= $('#end-date').val()) {
                $('#file-loading').show()
                if(getUrlParam('plattformId')==2){
                    $.ajax({
                        url: "/PlattformInventory/TMS_StorageShow/",
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            Storage: $(".storage_select_div select").children("option:selected").attr("data-ssid"),
                            start:$('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#start-time').text($('#start-date').val())
                            $('#end-time').text($('#end-date').val())
                            $("#show-storage").text($("#storage-select").text())
                            $.ajax({
                                url: '/PlattformInventory/TMShow_StorageShow/',
                                data: {
                                    plattformId: getUrlParam('plattformId'),
                                    Storage: $(".storage_select_div select").children("option:selected").attr("data-ssid"),
                                    start: $('#start-date').val(),
                                    end: $('#end-date').val()
                                },
                                success: function (data) {
                                    $("#sun_show").html(data);
                                }
                            })
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                        }
                    })
                }else{
                    $.ajax({
                        url: '/PlattformInventory/StorageShow/',
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            Storage: $(".storage_select_div select").children("option:selected").attr("data-ssid"),
                            start: $('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#start-time').text($('#start-date').val())
                            $('#end-time').text($('#end-date').val())
                            $("#show-storage").text($("#storage-select").text())
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                        }
                    })
                }
            }else{
                errorAlert('请选择正确日期')
            }
        })
        })
    /*TmDatePicker.Init({
           container: "#tm-calendar-view-wrap",
           onpagechanged: function (e) {
               $.ajax({
                   url: "/PlattformInventory/CustomUploadFilePartial",
                   type: "post",
                   data: {
                       plattformId: getUrlParam('plattformId'),
                       month: e.currentyear + "-" + e.currentmonth
                   },
                   success: function (data) {for (var i = 0; i < data.length; i++) {
                       var record = data[i].record_date.ToString("yyyy-MM-dd");
                   }
                       $

                   },
                   error: function () {
                       errorAlert("请求数据失败。");
                   }
               });
           }
       });*/
    /*function data_date() {
        for (i = 0; i < $(".date_show").length; i++) {
            
            var arrydata = arry[i].ToString('yyyy-MM-dd');
            var year = arrydata.substring(0, 4);
            var show_year = parseInt($(".ui-state-default").parent().attr("data-year"));
            var show_month = parseInt($(".ui-state-default").parent().attr("data-month")) + 1;
            var show_day = parseInt($(".ui-state-default").text())
            if (show_month < 10) {
                var _first = parseInt(arrydata.indexOf('-')) + 2;
                var _end = parseInt(arrydata.indexOf('-')) + 3;
                var month = arrydata.substring(_first, _end);
            }
            else {
                var _first = parseInt(arrydata.indexOf('-')) + 1;
                var _end = parseInt(arrydata.indexOf('-')) + 3;
                var month = arrydata.substring(_first, _end);
            }
        }
    }*/
    /*$("#form-date-show").on("click", function() {
        data_date()
    })
    $('.ui-corner-all').on('click',function(){
        data_date()
    })*/
</script>
}