
@model PagedList.IPagedList<PeriodAid.Models.SS_Product>
@using PagedList.Mvc;
<div>
    <table class="table">
        <tr>
            <th>
                系统编码
            </th>
            <th>
                产品编码
            </th>
            <th>产品名称</th>
            <th>状态</th>
            <th>箱规</th>
            <th>结算金额</th>
            <th>库存日期</th>
            <th></th>
        </tr>

@foreach (var item in Model)
{
    if (item.Product_Type == 1)
    {
        <tr>
            <td style="position:relative" class="hot-product">
                @Html.DisplayFor(modelItem => item.System_Code)<a class="fire-box"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Name)
            </td>
            <td>
                @Html.ProductTypeStatus(item.Product_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carton_Spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Price)
            </td>
            <td>
                @item.Inventory_Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                <a class="select-a" data-val="@item.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>&nbsp;|&nbsp;
                <span class="JD-product">@Html.ActionLink("数据统计", "ViewProductStatistic", new { productId = item.Id })</span>
                <span class="TM-product">@Html.ActionLink("数据统计", "ViewEventStatistic", new { productId = item.Id })</span>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td style="position:relative" class="hot-product">
                @Html.DisplayFor(modelItem => item.System_Code)<a></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Name)
            </td>
            <td>
                @Html.ProductTypeStatus(item.Product_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carton_Spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Price)
            </td>
            <td>
                @item.Inventory_Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                <a class="select-a" data-val="@item.Id" style="cursor:pointer" data-toggle="modal" data-target="#myModal">编辑</a>&nbsp;|&nbsp;
                <span class="JD-product">@Html.ActionLink("数据统计", "ViewProductStatistic", new { productId = item.Id })</span>
                <span class="TM-product">@Html.ActionLink("数据统计", "ViewEventStatistic", new { productId = item.Id })</span>
            </td>
        </tr>
    }

}
    </table>
    <div class="text-right">
        @Html.PagedListPager(Model, page => Url.Action("ProductListPartial", new { page }))
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        //页码
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            $.ajax({
                url: l,
                data: {
                    plattformId: getUrlParam('plattformId')
                },
                success: function (data) {
                    $("#product_list_content").html(data);
                    $('.hot-product').each(function () {
                        if ($(this).attr('data-bind') == 1) {
                            $(this).find('.box').addClass('fire-box')
                        }
                    })
                }
            });
            return false;
        });
        if (getUrlParam('plattformId') == 2) {
            $('.JD-product').addClass('hidden')
        } else {
            $('.TM-product').addClass('hidden')
        }
        $('.select-a').click(function () {
            //console.log($(this).attr('data-val'))
            $.ajax({
                url: '/PlattformInventory/EditProductInfo',
                data: {
                    productId: $(this).attr('data-val')
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
    })
</script>
