@model IEnumerable<PeriodAid.Models.Product_SummaryViewModel>
    <div class="center-block" id="my-form-content">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>产品编号</th>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>销售数据</th>
                            <th>仓库库存</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(m=>m.Sales_Sum))
                        {
                            <tr>
                                <th scope="row"style="position:relative" data-bind="@item.Product.Product_Type"  class="hot-product">@item.Product.System_Code<a class="box"></a></th>
                                <td></td>
                                <td><a data-href="#" data-pid="@item.Product.Id" style="cursor:pointer">@item.Product.Item_Name</a></td>
                                <td class="product-count">@item.Sales_Sum</td>
                                <td>@item.Inventory_Sum</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
