@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
@section header{
    <style>
        .color-gray{
            pointer-events:none; 
        }
        label{
            margin-bottom:0
        }
    </style>
}
<div class="hidden">
    @foreach (var list in ViewBag.productList)
    {
        <span id="product-list-name" data-name="@list.Item_Name"></span>
    }
</div>

<div id="select_condition">
    <table class="offline-search-box" style="float:right;width:50%">
        <tr>
            <td class="pull-right">
                <label>渠道名称：</label>
                <input class="form-control input-sm offline-search-inline" id="traffic-product-query" placeholder="搜索内容" />
                <a class="btn btn-info btn-sm" id="traffic-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
            </td>
        </tr>
    </table>
    <div class="date_section_select select_condition_div">
        <label class="pull-left">平台选择：</label>
        <ul class="shop_section_ul">
            <li class="date_section_li_active">
                <a class="shop_select active" data-val="1">京东</a>
            </li>
            @*<li>
                    <a class="shop_select" data-val="2">天猫</a>
                </li>*@
        </ul>
    </div>
    <div class="date_section_select select_condition_div">
        <label class="pull-left">产品名称：</label>
        <ul class="shop_section_ul">
            <li class="date_section_li_active">
                <a class="shop_select active" id="product-name"></a>
            </li>
        </ul>
    </div>
    <div class="date_section_select select_condition_div">
        <label class="pull-left">来源选择：</label>
        <ul class="traffic_section_ul" >
            <li class="traffic-list-li date_section_li_active">
                <a data-id="0" class="plattform-btn active">全部渠道</a>
            </li>
            @foreach (var list in ViewBag.trafficName)
            {
                <li role="presentation" class="traffic-list-li">
                    <a data-id="@list.Id" class="plattform-btn">@list.TrafficPlattform_Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="date_section_select select_condition_div">
        <label class="pull-left">状态选择：</label>
        <ul class="date_section_ul">
            <li class="date_section_li_active">
                <a id="back-day-btn" class="active date_select">单日数据</a>
            </li>
        </ul>
    </div>
    <div class="select_condition_div date_select_div">
        <label class="pull-left">选择日期：</label>
        <div>
            <input type="text" id="start-date" class="file-data" name="start-date" readonly="readonly" placeholder="起始日期" />
            <input type="text" id="end-date" class="file-data" name="end-date" readonly="readonly" placeholder="结束日期" />
            <input type="button" id="statistic_btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:1px 12px;margin-left:8px" />
        </div>
    </div>
</div>
<div style="margin-bottom:10px">
    <a class="btn btn-info btn-sm" id="add-source"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增渠道</a>
</div>
<div class="text-center h4" id="single_day" style="margin-top:0">
    <a class="glyphicon glyphicon-chevron-left" style="padding-right:40px;text-decoration:none;cursor:pointer" id="date-btn-left"></a>
    <span class="traffci-date-time color-blue" date-time="@ViewBag.trafficDate.ToString("yyyy-MM-dd")">@ViewBag.trafficDate.ToString("yyyy-MM-dd")</span>
    <a class="glyphicon glyphicon-chevron-right" style="padding-left:40px;text-decoration:none;cursor:pointer" id="date-btn-right"></a>
</div>
<div id="traffic-list">
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
@section scripts{
<script>
        $(function () {
        $("#ul_btn").children("li").eq(1).addClass('left-navba-background').children(".san_you").removeClass("hidden")
        $("#ul_btn").children("li").eq(1).children("a").addClass("click_a_color")
        $("#date-btn-right").addClass("color-gray");
        var productName = $("#product-list-name").attr("data-name");
        var fileDate = $('.file-data')
        fileDate.datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
        fileDate.datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
        fileDate.datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
        fileDate.datepicker();
        $.ajax({
            url: "/PlattformInventory/TrafficListPartial",
            data: {
                plattformId: getUrlParam('plattformId'),
                productId: getUrlParam('productId'),
                single: $(".traffci-date-time").html(),
                query: $("#traffic-product-query").val(),
                trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id")
            },
            success: function (data) {
                $("#traffic-list").html(data)
                $("#product-name").text(productName)
                $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
            }
        });
        // 搜索
        $("#traffic-product-search").click(function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            var start_time = $(".traffci-date-time:eq(" + nowP + ")").attr("date-time")
            if ($("#start-date").val() != "" && $("#end-date").val() != "") {
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"),
                        start: $("#start-date").val(),
                        end: $("#end-date").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                        $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
                    }
                })
            } else {
                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"),
                        single: $(".traffci-date-time").html(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        });
        // 选平台
        $(".plattform-btn").on("click", function () {
            var that = $(this)
            $(".traffic_section_ul").children("li").removeClass("date_section_li_active")
            $(".plattform-date").removeClass("active")
            that.addClass("active")
            that.parent("li").addClass("date_section_li_active")
            if ($("#start-date").val() != "" && $("#end-date").val() != "") {
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: that.attr("data-id"),
                        start: $("#start-date").val(),
                        end: $("#end-date").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            } else {
                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: that.attr("data-id"),
                        single: $(".traffci-date-time").html(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                        $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
                    }
                })
            }
        })
        // 选择日期
        $("#date-btn-left").on("click", function () {
            var dateTime = $(".traffci-date-time").html()
            $("#date-btn-right").removeClass("color-gray");
            var d = new Date(dateTime);
            console.log(d)
            d.setDate(d.getDate() - 1);
            console.log(d)
            var month = d.getMonth() + 1;
            var day = d.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var val = d.getFullYear() + "-" + month + "-" + day;
            $(".traffci-date-time").html(val)
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"),
                    single: $(".traffci-date-time").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
                }
            });
        })
        $("#date-btn-right").on("click", function () {
            var dateAttr = $(".traffci-date-time").attr("date-time")
            var dateTime = $(".traffci-date-time").html()
            var d = new Date(dateTime);
            d.setDate(d.getDate() + 1);
            var month = d.getMonth() + 1;
            var day = d.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var val = d.getFullYear() + "-" + month + "-" + day;
            $(".traffci-date-time").html(val)
            if (val == dateAttr) {
                $("#date-btn-right").addClass("color-gray");
            }
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"),
                    single: $(".traffci-date-time").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
                }
            });
        })
        //时间查询
        $("#statistic_btn").on("click", function () {
            $("#back-day-btn").parent("li").removeClass("date_section_li_active")
            if ($("#start-date").val() == "" || $("#end-date").val() == "" || $("#end-date").val() < $("#start-date").val()) {
                errorAlert("请选择正确日期！");
            }
            else
            {
                $("#single_day").addClass("hide")
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"),
                        start: $("#start-date").val(),
                        end: $("#end-date").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        })
        //新增渠道
        $("#add-source").on("click", function () {
            $.ajax({
                url: '/PlattformInventory/AddTrafficSource',
                data: {
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        // 返回单日数据
        $("#back-day-btn").on('click', function () {
            $(this).parent("li").addClass("date_section_li_active")
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    productId: getUrlParam('productId'),
                    single: $(".traffci-date-time").html(),
                    query: $("#traffic-product-query").val(),
                    trafficPlattformId: $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id")
                },
                success: function (data) {
                    $("#traffic-list").html(data)
                    $("#product-name").text(productName)
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic_section_ul .date_section_li_active").children(".active").attr("data-id"))
                    $("#single_day").removeClass("hide")
                    $("#start-date").val("")
                    $("#end-date").val("")
                }
            });
        })
    })
</script>
    
}



