@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
@section header{
    <style>
        .color-gray{
            pointer-events:none; 
        }
    </style>
}
<div class="hidden">
    @foreach (var list in ViewBag.productList)
    {
        <span id="product-list-name" data-name="@list.Item_Name"></span>
    }
</div>
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>渠道名称：</label>
            <input class="form-control input-sm offline-search-inline" id="traffic-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="traffic-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<h2>渠道分析</h2><a class="btn btn-info btn-sm" id="add-source" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增渠道</a>
<div class="text-center h4" id="product-name"></div>
<div class="text-center h4" id="single_day">
    <a class="glyphicon glyphicon-chevron-left" style="padding-right:40px;text-decoration:none;cursor:pointer" id="date-btn-left"></a>
    <span class="traffci-date-time color-blue" date-time="@ViewBag.trafficDate.ToString("yyyy-MM-dd")">@ViewBag.trafficDate.ToString("yyyy-MM-dd")</span>
    <a class="glyphicon glyphicon-chevron-right" style="padding-left:40px;text-decoration:none;cursor:pointer" id="date-btn-right"></a>
</div>
<div id="select-day" class="text-center h4"><span id="select-start-day" class="color-blue"></span>&nbsp;&nbsp;<span id="select-end-day" class="color-blue"></span></div>
<div class="text-center"><a style="cursor:pointer" id="back-day-btn">查看单日数据</a></div>
<div class="float-right" style="margin-top:10px">
    <input type="text" id="start_time" class="file-data" name="start_time" readonly="readonly" placeholder="请选择起始日期" />
    <input type="text" id="end_time" class="file-data" name="end_time" readonly="readonly" placeholder="请选择结束日期" />
    <input type="button" id="statistic_btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:1px 12px;margin-left:8px" />
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="traffic-list-li active"><a aria-controls="home" role="tab" data-toggle="tab" data-id="0" class="plattform-btn" style="cursor:pointer">全部平台</a></li>
    @foreach (var list in ViewBag.trafficName)
    {
        <li role="presentation" class="traffic-list-li"><a aria-controls="profile" role="tab" data-toggle="tab" data-id="@list.Id" class="plattform-btn" style="cursor:pointer">@list.TrafficPlattform_Name</a></li>
    }
</ul>
<div id="traffic-list">
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(function () {
        $("#ul_btn").children("li").eq(1).addClass('left-navba-background').children(".san_you").removeClass("hidden")
        $("#ul_btn").children("li").eq(1).children("a").addClass("click_a_color")
        $("#back-day-btn").addClass("hide")
        $("#select-day").addClass("hide")
        $("#date-btn-right").addClass("color-gray");
        var productName = $("#product-list-name").attr("data-name");
        var fileDate = $('.file-data')
        fileDate.datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
        fileDate.datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
        fileDate.datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
        fileDate.datepicker();
        $.ajax({
            url: "/PlattformInventory/TrafficListPartial",
            data: {
                plattformId: getUrlParam('plattformId'),
                productId: getUrlParam('productId'),
                single: $(".traffci-date-time").html(),
                query: $("#traffic-product-query").val(),
                trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id")
            },
            success: function (data) {
                $("#traffic-list").html(data)
                $("#product-name").text(productName)
                $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
            }
        });
        // 搜索
        $("#traffic-product-search").click(function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            var start_time = $(".traffci-date-time:eq(" + nowP + ")").attr("date-time")
            if ($("#start_time").val() != "" && $("#end_time").val() != "") {
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                        $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
                    }
                })
            } else {
                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        single: $(".traffci-date-time").html(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        });
        // 选平台
        $(".plattform-btn").on("click", function () {
            if ($("#start_time").val() != "" && $("#end_time").val() != "") {
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(this).attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            } else {
                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(this).attr("data-id"),
                        single: $(".traffci-date-time").html(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                        $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
                    }
                })
            }
        })
        // 选择日期
        $("#date-btn-left").on("click", function () {
            var dateTime = $(".traffci-date-time").html()
            $("#date-btn-right").removeClass("color-gray");
            var d = new Date(dateTime);
            d.setDate(d.getDate() - 1);
            var month = d.getMonth() + 1;
            var day = d.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var val = d.getFullYear() + "-" + month + "-" + day;
            $(".traffci-date-time").html(val)
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                    single: $(".traffci-date-time").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
                }
            });
        })
        $("#date-btn-right").on("click", function () {
            var dateAttr = $(".traffci-date-time").attr("date-time")
            var dateTime = $(".traffci-date-time").html()
            var d = new Date(dateTime);
            d.setDate(d.getDate() + 1);
            var month = d.getMonth() + 1;
            var day = d.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            var val = d.getFullYear() + "-" + month + "-" + day;
            $(".traffci-date-time").html(val)
            if (val == dateAttr) {
                $("#date-btn-right").addClass("color-gray");
            }
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                    single: $(".traffci-date-time").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
                }
            });
        })
        //时间查询
        $("#statistic_btn").on("click", function () {
            $("#back-day-btn").removeClass("hide")
            if ($("#start_time").val() == "" || $("#end_time").val() == "" || $("#end_time").val() < $("#start_time").val()) {
                errorAlert("请选择正确日期！");
            }
            else
            {
                $("#single_day").addClass("hide")
                $("#select-start-day").text($("#start_time").val())
                $("#select-end-day").text($("#end_time").val())
                $("#select-day").removeClass("hide")
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        })
        //新增渠道
        $("#add-source").on("click", function () {
            $.ajax({
                url: '/PlattformInventory/AddTrafficSource',
                data: {
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        // 返回单日数据
        $("#back-day-btn").on('click', function () {
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    productId: getUrlParam('productId'),
                    single: $(".traffci-date-time").html(),
                    query: $("#traffic-product-query").val(),
                    trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id")
                },
                success: function (data) {
                    $("#traffic-list").html(data)
                    $("#product-name").text(productName)
                    $(".JD-Traffic-Order").attr("data-traffic", $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"))
                    $("#single_day").removeClass("hide")
                    $("#select-day").addClass("hide")
                    $("#start_time").val("")
                    $("#end_time").val("")
                    $("#back-day-btn").addClass("hide")
                }
            });
        })
    })
    </script>
}



