@model IEnumerable<PeriodAid.Models.TrafficData>
<div>
    <table class="table table-hover">
        <tr>
            <th>平台名称</th>
            <th>商品流量</th>
            <th>访客访次</th>
            <th>买家数</th>
            <th>订单数</th>
            <th>转化率</th>
            <th></th>
        </tr>
        <tr>
            @foreach (var item in ViewBag.SumData)
            {
                <th>当日汇总</th>
                <th>@item.Product_Flow</th>
                <th>@item.Product_Visitor</th>
                <th>@item.Product_Customer</th>
                <th>@item.Order_Count</th>
                if (item.Product_Visitor == 0)
                {
                    <th>0</th>
                }
                else
                {
                    <th>@Math.Round(((decimal)item.Product_Customer / item.Product_Visitor), 4).ToString("p2")</th>
                }
                <th><a class="JD-Traffic-Order" style="cursor:pointer">渠道统计</a></th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date_Source</td>
                <td>@item.Product_Flow</td>
                <td>@item.Product_Visitor</td>
                <td>@item.Product_Customer</td>
                <td>@item.Order_Count</td>
                @if (item.Product_Visitor == 0)
                {
                    <td>0</td>
                }
                else
                {
                    <td class="product-ratio">@Math.Round(((decimal)item.Product_Customer / item.Product_Visitor), 4).ToString("p2")</td>
                }
                <td><a class="JD-Traffic-Order" style="cursor:pointer" data-source="@item.Date_Source_Id">渠道统计</a></td>

            </tr>
        }
    </table>
</div>
<script>
    $(function () {
        $(".JD-Traffic-Order").on("click", function () {
            $(this).attr("href", "ViewTrafficStatistic?productId=" + getUrlParam('productId') + "&sourceId=" + $(this).attr("data-source") + "&trafficPlattformId=" + $(this).attr("data-traffic"))
        })
    })
</script>