<div class="h2">产品活动详情</div>
<div>
    <table class="table table-hover">
        <tr class="tr-title">
            <th>产品名称</th>
            <th>产品编码</th>
            <th>活动名称</th>
            <th>活动日期</th>
            <th>当日销量</th>
            <th class="table-hidden">销售金额</th>
            <th class="table-hidden">分账金额</th>
            <th class="table-hidden">结算单价</th>
        </tr>
        @foreach(var item in ViewBag.eventList)
        {
            <tr class="tr-body">
                <td>@item.SS_Product.Item_Name</td>
                <td>@item.Product_Id</td>
                <td>@item.EventName</td>
                <td>@item.EventDate.ToString("yyyy-MM-dd")</td>
                @foreach (var count in ViewBag.salesCount)
                    {
                        <td>@count.salescount</td>
                        <td class="table-hidden">@count.Pay_Sum</td>
                        <td class="table-hidden">@count.SubAccount_Sum</td>
                        <td class="table-hidden">@Math.Round((count.SubAccount_Sum / (count.salescount == 0 ? 1 : count.salescount)), 2)</td>
                }
                
            </tr>
        }
    </table>
    <h5 class="float-right"><span></span><a class="fa fa-angle-double-left back-btn" href="/PlattformInventory/EventList?plattformId=1" style="cursor:pointer">返回</a></h5>
    <h5 class="float-right"><span></span><a class="fa fa-angle-double-left back-btn" href="/PlattformInventory/EventList?plattformId=2" style="cursor:pointer">返回</a></h5>
</div>
<script>
    $(function () {
        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        if (getUrlParam('plattformId') == 1) {
            $('.back-btn').eq(1).addClass('hidden')
            $('.table-hidden').addClass('hidden')
        } else {
            $('.back-btn').eq(0).addClass('hidden')
        }
    })
</script>