@model PeriodAid.Models.Off_Costs

@using (Html.BeginForm("Ajax_EditCosts","OfflineSales", FormMethod.Post, new { id= "ajaxForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Checked)
        @Html.HiddenFor(model => model.Canceled)
        @Html.HiddenFor(model => model.Completed)
        <div class="form-group">
            <label class="col-md-3 control-label">申请日期</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">店铺名称</label>
            <div class="col-md-9">
                @Html.DisplayFor(model=>model.Off_Store.StoreName)
                @Html.HiddenFor(model => model.StoreId)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">开始时间</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">结束时间</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">海报</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_HB)
                    @Html.ValidationMessageFor(model => model.Event_HB, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">堆头</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_DT)
                    @Html.ValidationMessageFor(model => model.Event_DT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">TG</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_TG)
                    @Html.ValidationMessageFor(model => model.Event_TG, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">端架</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_DJ)
                    @Html.ValidationMessageFor(model => model.Event_DJ, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">叠篮</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_DL)
                    @Html.ValidationMessageFor(model => model.Event_DL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">特价</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_TJ)
                    @Html.ValidationMessageFor(model => model.Event_TJ, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">试饮</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_SY)
                    @Html.ValidationMessageFor(model => model.Event_SY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">其他</label>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event_Other)
                    @Html.ValidationMessageFor(model => model.Event_Other, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">总费用</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.TotalFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">已付现金</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Cash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cash, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">已货抵</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.MortgageGoods, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MortgageGoods, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ">收款人</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Warrant, ViewBag.Warrantlist as SelectList, "- 请选择 -", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Warrant, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#ajaxForm').ajaxForm(function (data) {
            if (data == "SUCCESS") {
                $('#myModal').modal('hide');
                alert("修改成功");
                
                $.ajax({
                    url: "/OfflineSales/Off_Costs_ajaxlist",
                    success: function (data) {
                        $("#list-container").html(data);
                    }
                });
                
            }
            else {
                $("#editcontent").html(data);
            }
        });
    });
</script>
