@using PeriodAid.Controllers
@model PeriodAid.Models.Sales_Data_ViewModel

@{
    ViewBag.Title = "修改销售记录";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>修改销售记录</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Sales_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field 销售日期 must be a date." data-val-required="销售日期不能为空" id="Sales_Date" name="Sales_Date" type="date" value="@Model.Sales_Date.ToString("yyyy-MM-dd")">
                @Html.ValidationMessageFor(model => model.Sales_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Store_System_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.DropDownList("Store_System_Id", ViewBag.Store_System as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Store_System_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Store_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                <span id="dropdown-area">@Html.DropDownListFor(model => model.Store_Id, ViewBag.Store as SelectList, new { @class = "form-control" })</span>
                @Html.ValidationMessageFor(model => model.Store_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">销售数据</label>
            <div class="col-md-10 col-xs-12">
                <table class="table table-striped" id="product-table">
                    <tr>
                        <th class="col-xs-4">产品</th>
                        <th class="col-xs-3">提报数</th>
                        <th class="col-xs-3">审核数</th>
                        <th class="col-xs-2"></th>
                    </tr>
                    @foreach (var item in ViewBag.ProductDetails as List<Form_Product_Details>)
                    {
                        <tr id="@item.Product_Code">
                            <td>@item.Product_Name</td>
                            <td>
                                <input type="number" id="@(item.Product_Code)_report" name="@(item.Product_Code)_report" class="form-control" value="@item.ReportNum" />
                            </td>
                            <td>
                                <input type="number" id="@(item.Product_Code)_check" name="@(item.Product_Code)_check" class="form-control" value="@item.CheckNum" />
                            </td>

                            <td><a class="btn btn-danger btn-product-del" onClick="getDel(this)"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    }
                </table>


            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10 col-xs-12">
                <table class="table">
                    <tr>
                        <td class="col-xs-10">@Html.DropDownList("Product-DropDownList", ViewBag.Product as SelectList, new { @class = "form-control" })</td>
                        <td class="col-xs-2"><a href="javascript:void(0)" class="btn btn-default" id="addSelect"><span class="glyphicon glyphicon-plus"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Trial_Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.EditorFor(model => model.Trial_Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trial_Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Seller_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.DropDownListFor(model => model.Seller_Id, ViewBag.Seller as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Seller_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max_Sale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.EditorFor(model => model.Max_Sale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Max_Sale, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Feedback, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.RadioButtonFor(model => model.Feedback, 1, new { @id = "feedback-radio1", @name = "Feedback" }) 比较好 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Feedback, 2, new { @id = "feedback-radio2", @name = "Feedback" }) 一般好 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Feedback, 3, new { @id = "feedback-radio3", @name = "Feedback" }) 很不好
                @Html.ValidationMessageFor(model => model.Feedback, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comsumption_Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.RadioButtonFor(model => model.Comsumption_Age, "18-25", new { @id = "age-radio1", @name = "Comsumption_Age" }) 18-25 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Comsumption_Age, "26-35", new { @id = "age-radio2", @name = "Comsumption_Age" }) 26-35 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Comsumption_Age, "35-45", new { @id = "age-radio3", @name = "Comsumption_Age" }) 35-45 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.Comsumption_Age, "45以上", new { @id = "age-radio3", @name = "Comsumption_Age" }) 45以上 &nbsp;&nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.Comsumption_Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Event, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Event)
                    @Html.ValidationMessageFor(model => model.Event, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                @Html.RadioButtonFor(model => model.EventType, "特别陈列", new { @id = "et-radio1", @name = "EventType" }) 特别陈列 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.EventType, "试饮", new { @id = "et-radio2", @name = "EventType" }) 试饮 &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(model => model.EventType, "海报", new { @id = "et-radio3", @name = "EventType" }) 海报 &nbsp;&nbsp;&nbsp;
                @Html.ValidationMessageFor(model => model.Comsumption_Age, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 col-xs-12">
                <input type="submit" value="修改销售记录" class="btn btn-default btn-success" />
                @Html.ActionLink("返回列表", "List_Sales_Data", new { }, new { @class="btn btn-default"})
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(function () {
            $("#Store_System_Id").change(function () {
                var checkValue = $("#Store_System_Id").val();
                $.ajax({
                    url: "/OfflineSales/DropDownList_Store",
                    method: "get",
                    data: {
                        store_system_id: checkValue
                    },
                    success: function (data) {
                        $("#dropdown-area").html(data);
                    }
                });
            });
            $("#addSelect").click(function () {
                var select_item = $("#Product-DropDownList");
                if ($("#" + select_item.val()).length == 0) {
                    $html = "<tr id=" + select_item.val() + "><td>" + select_item.find("option:selected").text() + "</td>" +
                        "<td><input type=\"number\" id=\"" + select_item.val() + "_report\" name=\"" + select_item.val() + "_report\" class=\"form-control\" value=\"0\" /></td>" +
                        "<td><input type=\"number\" id=\"" + select_item.val() + "_check\" name=\"" + select_item.val() + "_check\" class=\"form-control\" value=\"0\" /></td>" +
                        "<td><a class=\"btn btn-danger btn-product-del\" onClick=\"getDel(this)\" ><span class=\"glyphicon glyphicon-remove\"></span></a></td>" +
                        "</tr>";
                    $("#product-table").append($html);
                }
            });
        });
        function getDel(k) {
            $(k).closest("tr").remove();
        }



    </script>
}