@model PagedList.IPagedList<PeriodAid.Models.Off_Costs>
@using PagedList.Mvc;

<table class="table table-condensed table-striped" style=" table-layout: fixed;width:100%;">
    <tr>
        <th style="width:8%">
            申请日期
        </th>
        <th style="width:14%">
            店铺名称
        </th>
        <th style="width:10%">
            经销商
        </th>
        <th style="width:8%">
            开始时间
        </th>
        <th style="width:8%">
            结束时间
        </th>
        <th style="width:8%">
            总费用
        </th>
        <th style="width:8%">
            已付现金
        </th>
        <th style="width:6%">
            已货抵
        </th>
        <th style="width:4%">
            审核
        </th>
        <th style="width:4%">
            完成
        </th>
        <th style="width:4%">
            作废
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Off_Store.StoreName)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Off_Store.Distributor)
        </td>
        <td class="ellipsis">@Html.DisplayFor(modelItem => item.StartDate)</td>
        <td class="ellipsis">@Html.DisplayFor(modelItem => item.EndDate)</td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.TotalFee)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Cash)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.MortgageGoods)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Checked)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td class="ellipsis">
            @Html.DisplayFor(modelItem => item.Canceled)
        </td>
        <td class="ellipsis text-right">
            @Html.ActionLink("修改", "Ajax_EditCosts", new { id = item.Id }, new { @class = "btn btn-info btn-sm edit-button" })
            @Html.ActionLink("审核", "Ajax_CheckCosts", new { id = item.Id }, new { @class = "btn btn-default btn-sm check-btn" })
            @Html.ActionLink("完成", "Ajax_CompletedCosts", new { id = item.Id }, new { @class = "btn btn-success btn-sm complete-btn" })
            @Html.ActionLink("作废", "Ajax_CancelCosts", new { id = item.Id }, new { @class = "btn btn-danger btn-sm cancel-btn" })
        </td>
    </tr>
}
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("Off_StoreSystemCosts_ajaxlist", new { page }))</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改促销员</h4>
            </div>
            <div class="modal-body" id="editcontent">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(function () {
        $(".pagination > li > a").click(function () {
            var l = $(this).attr("href");
            var query = $("#search-query").val();
            l = l + "&query=" + query;
            $.ajax({
                url: l,
                success: function (data) {
                    $("#list-container").html(data);
                }
            });
            return false;
        });
        $(".edit-button").click(function () {
            var link_url = $(this).attr("href");
            $.ajax({
                url: link_url,
                success: function (data) {
                    $("#editcontent").html(data);
                    $('#myModal').modal();
                }
            });
            return false;
        });
        $(".check-btn").click(function () {
            var link_url = $(this).attr("href");
            $.ajax({
                url: link_url,
                type: "post",
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("操作成功");
                    }
                    $.ajax({
                        url: "/OfflineSales/Off_Costs_ajaxlist",
                        success: function (data) {
                            $("#list-container").html(data);
                        }
                    });
                }
            });
            return false;
        });
        $(".complete-btn").click(function () {
            var link_url = $(this).attr("href");
            $.ajax({
                url: link_url,
                type: "post",
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("操作成功");
                    }
                    $.ajax({
                        url: "/OfflineSales/Off_Costs_ajaxlist",
                        success: function (data) {
                            $("#list-container").html(data);
                        }
                    });
                }
            });
            return false;
        });
        $(".cancel-btn").click(function () {
            var link_url = $(this).attr("href");
            $.ajax({
                url: link_url,
                type: "post",
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        alert("操作成功");
                    }
                    $.ajax({
                        url: "/OfflineSales/Off_Costs_ajaxlist",
                        success: function (data) {
                            $("#list-container").html(data);
                        }
                    });
                }
            });
            return false;
        });
    });
</script>
