@model PagedList.IPagedList<PeriodAid.Models.VM_Company>
@using PagedList.Mvc;
<style>
    tr>:nth-child(1){  
    position : relative;  
    z-index:31
}
    tr>:nth-child(2){  
    position : relative;  
    z-index:31
}
</style>
<div id="freezing_company" class="freezing" onscroll="javascript:freezing()">
    <table class="table table-hover">
        <tr>
            <th id="first_th">公司名称</th>
            <th id="second_th">业务员</th>
            <th>序号</th>
            <th>公司类型</th>
            <th>公司来源</th>
            <th>公司渠道</th>
            <th>渠道类型</th>
            <th>代理过知名品牌</th>
            <th>所属区域</th>
            <th>年销售额</th>
            <th>公司地址</th>
            <th>联系电话</th>
        </tr>
        @{
            var current_count = (int)ViewBag.CurrentPage * 20 - 20;
        }
        @foreach (var item in Model)
        {
            current_count++;
            <tr>
                <td>
                    <a href="#" data-id="@item.Id" data-rid="@item.Id" class="company_select_a" data-toggle="modal" data-target=".bs-example-modal-lg">
                        @item.Company_Name
                    </a>
                </td>
                <td>@item.VM_Employee.Employee_Name</td>
                <td style="text-indent:5px">@current_count</td>
                <td>@item.Company_Type</td>
                <td>@item.Company_Source</td>
                <td>
                    <div style="width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" title="@item.Source_Name">
                        @item.Source_Name
                    </div>
                </td>
                <td>@item.Source_Type</td>
                <td>
                    <div style="width:170px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" title="@item.Agent_FamousBrand">
                        @item.Agent_FamousBrand
                    </div>
                </td>
                <td>@item.Region</td>
                <td>@item.Sales_Amount 万元</td>
                <td>@item.Company_Address</td>
                <td>@item.Company_Phone</td>
            </tr>
        }
    </table>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<script>
    // 固定第一、二列
    function freezing() {
        $("tr>:nth-child(2)").css("left", $("#freezing").scrollLeft());
        $("tr>:nth-child(1)").css("left", $("#freezing").scrollLeft());
        $("tr>:nth-child(2)").css("background", "#eef1f5");
        $("tr>:nth-child(1)").css("background", "#eef1f5");
    }
    $('.company_select_a').click(function () {
        $.ajax({
            url: '/VisitManagement/CompanyInfo/',
            data: {
                com_id: $(this).attr('data-id'),
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
            }
        })
    });
    $(function () {
        $("#freezing_company").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + "px")
    });
</script>