@model PagedList.IPagedList<PeriodAid.Models.VM_VisitRecord>
@using PagedList.Mvc;
<style>
        tr>:nth-child(1){  
    position : relative;  
    z-index:31
}  
    tr>:nth-child(2){  
    position : relative;  
    z-index:31
}  
    .btn-xs{
        padding:0 5px
    }
    .jconfirm-box-container{
        position: relative;
        top: -240px;
    }
</style>
<div id="freezing" style="overflow-x:scroll" onscroll="javascript:freezing()">
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th id="first_th">公司名称</th>
            <th id="second_th">业务员</th>
            <th>序号</th>
            <th>交表时间</th>
            <th>拜访日期</th>
            <th>交表考核</th>
            <th>内容考核</th>
            <th>拜访方式</th>
            <th>拜访次数</th>
            <th>渠道名称</th>
            <th>参与同事</th>
            <th>合作意向</th>
            <th>无意向原因</th>
            <th>意向产品</th>
            <th>操作资金</th>
            <th>合作方式</th>
            <th>公司名称</th>
            <th>联系人电话</th>
            <th>回复日期</th>
            <th>顺利与否</th>
            <th>预计拿货时间</th>
            <th>预计拿货金额</th>
            <th>核心问题</th>
            <th>需要支持</th>
            <th>是否需要我方回复</th>
            <th>回复详情</th>
            <th>是否等待对方回复</th>
            <th>对方回复时间</th>
            <th>对方回复详情</th>
            <th>下次拜访时间</th>
            <th>下次拜访方式</th>
            <th>下次拜访事宜</th>
            <th>拜访状态</th>
            <th>未通过详情</th>
            <th></th>
        </tr>
        @{ 
            var current_count = (int)ViewBag.CurrentPage*20 -20;
        }
        @foreach (var item in Model)
        {
            current_count++;
        <tr>
            <td>
                <a href="#" data-id="@item.Company_Id" data-rid="@item.Id" class="company_select_a" data-toggle="modal" data-target=".bs-example-modal-lg">
                    @item.VM_Company.Company_Name
                </a>
            </td>
            <td>@item.VM_Employee.Employee_Name</td>
            <td>@current_count</td>
            <td>@item.Create_Time</td>
            <td>@item.Visit_Time.Value.ToString("yyyy-MM-dd")</td>
            @if (item.Create_Time == null)
            {
                <td class="color-red">超时</td>
            }
            else
            {
                if (Convert.ToDateTime(item.Create_Time) > item.Visit_Time.Value.AddDays(1))
                {
                    <td class="color-red">超时</td>
                }
                else
                {
                    <td class="color-green">正常</td>
                }
            }
            @if (item.status == 0)
            {
                <td class="color-blue">待审核</td>
            }
            else if (item.status == -1)
            {
                <td class="color-red">驳回</td>
            }
            else if (item.status == 1)
            {
                <td class="color-green">通过</td>
            }

            <td style="text-indent:5px">@Html.VisitType(item.Visit_Type)</td>
            <td style="text-indent:8px">@item.VM_Company.VM_VisitRecord.Count() 次</td>
            <td>
                <div style="width:100px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" title="@item.VM_Company.Source_Name">
                    @item.VM_Company.Source_Name
                </div>
            </td>
            <td>
                <div style="width:100px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" class="visitors_name">
                    @foreach (var name in item.AttendEmployee)
                    {
                        <span>@name.Employee_Name&nbsp;</span>
                    }
                </div>
            </td>
            <td style="text-indent:14px">@Html.SmoothlyStatus(item.Cooperation_Intention)</td>
            @if (item.Cooperation_Intention == 0)
            {
                <td></td>
                <td>@item.Intentional_Products</td>
                <td>@item.Intentional_Funds 万元</td>
                <td>@Html.CooperationType(item.Cooperation_Type)</td>
                if (item.Cooperation_Type == 1)
                {
                    <td>@item.Company_Name</td>
                    <td>@item.Contact_Mobile</td>
                    <td>@item.Reply_Time.Value.ToString("yyyy-MM-dd")</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
            }
            else
            {
                <td>
                    <div>
                        @item.NoIntention_Reason
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            }
            <td style="text-indent:10px">@Html.SmoothlyStatus(item.Smoothly)</td>
            @if (item.Smoothly == 0)
            {
                <td>@item.ExpectedDelivery_Time.Value.ToString("yyyy-MM-dd")</td>
                <td>@item.ExpectedDelivery_Funds 万元</td>
                <td></td>
                <td></td>
            }
            else
            {
                <td></td>
                <td></td>
                <td style="position:relative">
                    <div style="width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;margin-right: 18px;" title="@item.Core_Problem">
                        @item.Core_Problem
                    </div>
                    <a style="cursor:pointer;display:inline-block;position: absolute;right:0" data-id="@item.Id" class="Corecomment_select_a" data-target="#myCoreCommentModal">评论</a>
                </td>
                <td style="position:relative">
                    <div style="width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;margin-right:18px" title="@item.Support">
                        @item.Support
                    </div>
                    <a style="cursor:pointer;display:inline-block;position: absolute;right:0" data-id="@item.Id" class="Supportcomment_select_a" data-target="#mySupportCommentModal">评论</a>
                </td>
            }
            <td style="text-indent:30px">@Html.ReplyStatus(item.Reply_Status)</td>
            <td style="position:relative">
                <div style="width:200px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;margin-right: 18px;" title="@item.Reply_Detail">
                    @item.Reply_Detail
                </div>
                <a style="cursor:pointer;display:inline-block;position: absolute;right:0" data-id="@item.Id" class="Replycomment_select_a" data-target="#myReplyCommentModal">评论</a>
            </td>
            <td style="text-indent:20px">@Html.CustomerReplyStatus(item.CustomerReply_Status)</td>
            @if (item.CustomerReply_Status == 0)
            {
                <td>@item.CustomerReply_Time.Value.ToString("yyyy-MM-dd")</td>
                <td>
                    <div style="width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" title="@item.CustomerReply_Detail">
                        @item.CustomerReply_Detail
                    </div>
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
            <td>@item.NextVisit_Time.Value.ToString("yyyy-MM-dd")</td>
            <td style="text-indent:15px">@Html.VisitType(item.NextVisit_Type)</td>
            <td>
                <div style="width:80px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;" title="@item.NextVisit_Detail">
                    @item.NextVisit_Detail
                </div>
            </td>
            <td>@Html.VisitStatus(item.status)</td>
            @if (item.status == -1)
            {
                <td>
                    <div style="width:80px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap" title="@item.Veto_Detail">@item.Veto_Detail</div>
                </td>
            }
            else
            {
                <td></td>
            }
            <td>
                <a href="#" data-id="@item.Id" class="comment_select_a btn btn-xs btn-info" data-toggle="modal" data-target="#myCommentModal">评论</a>
                <a href="#" data-id="@item.Id" data-status="@item.status" class="supervise_btn btn btn-xs btn-default" style="font-size:12px">管理</a>
            </td>
        </tr>

        }
    </table>
    
</div>
<div class="text-right">
    @Html.PagedListPager(Model, page => Url.Action("Visit_PartialView", new { page }))
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-comment-content">
        </div>
    </div>
</div>
<div class="modal fade" id="myReplyCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-Replycomment-content">
        </div>
    </div>
</div>
<div class="modal fade" id="myCoreCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-Corecomment-content">
        </div>
    </div>
</div>
<div class="modal fade" id="mySupportCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-Supportcomment-content">
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('.supervise_btn[data-status="1"]').addClass("disabled")
        $(".visitors_name").hover(function () {
            var that = $(this)
            var Visitor_name = that.children("span").text();
            that.attr("title", Visitor_name)
        })
    })
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        $.ajax({
            url: l,
            data: {
                visit_date: $("#select_date").val(),
                dep_id: $(".team_select.active").attr("data-val"),
                com_type: $(".company_type.active").text(),
                com_name: $("#company_id .shared_view_span").attr("data-name"),
                vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                sort: $(".sort_type.active").attr("data-val")
            },
            success: function (data) {
                $("#visit_list_content").html(data)
            }
        });
        return false;
    });
    // 公司详情
    $('.company_select_a').click(function () {
        $.ajax({
            url: '/VisitManagement/CompanyInfo/',
            data: {
                com_id: $(this).attr('data-id'),
                rec_id: $(this).attr('data-rid')
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
            }
        })
    })
    // 评论
    $(".comment_select_a").on("click", function () {
        var that = $(this)
        $.ajax({
            url: '/VisitManagement/Comment_PartialView',
            data: {
                rec_id: that.attr("data-id"),
            },
            success: function (data) {
                $('#modal-comment-content').html(data)
                $("#myCommentModal").modal('show')
                $("#modal-body").attr("data-id", that.attr("data-id"))
            }
        })
    })
    // 我方回复评论
    $(".Replycomment_select_a").on("click", function () {
        var that = $(this)
        $.ajax({
            url: '/VisitManagement/ReplyComment_PartialView',
            data: {
                rec_id: that.attr("data-id"),
            },
            success: function (data) {
                $('#modal-Replycomment-content').html(data)
                $("#myReplyCommentModal").modal('show')
                $("#modal-body").attr("data-id", that.attr("data-id"))
            }
        })
    })
    // 核心问题评论
    $(".Corecomment_select_a").on("click", function () {
        var that = $(this)
        $.ajax({
            url: '/VisitManagement/CoreComment_PartialView',
            data: {
                rec_id: that.attr("data-id"),
            },
            success: function (data) {
                $('#modal-Corecomment-content').html(data)
                $("#myCoreCommentModal").modal('show')
                $("#modal-body").attr("data-id", that.attr("data-id"))
            }
        })
    })
    // 需要支持评论
    $(".Supportcomment_select_a").on("click", function () {
        var that = $(this)
        $.ajax({
            url: '/VisitManagement/SupportComment_PartialView',
            data: {
                rec_id: that.attr("data-id"),
            },
            success: function (data) {
                $('#modal-Supportcomment-content').html(data)
                $("#mySupportCommentModal").modal('show')
                $("#modal-body").attr("data-id", that.attr("data-id"))
            }
        })
    })
    // 管理
    $(".supervise_btn").on("click", function () {
        var that = $(this)
        $.confirm({
            title: '审批',
            content: '',
            boxWidth: '500px',
            theme: 'modern',
            useBootstrap: false,
            buttons: {
                审批通过: function () {
                    btnClass: 'btn-red',
                    $.ajax({
                        url: "/VisitManagement/Supervise_Status/",
                        type: "post",
                        data: {
                            rec_id: that.attr("data-id"),
                            rec_status:1
                        },
                        success: function (data) {
                            $.alert({
                                title: '提示!',
                                type: 'green',
                                content: "操作成功",
                            });
                            $.ajax({
                                url: "/VisitManagement/Visit_PartialView/",
                                type: "post",
                                data: {
                                    visit_date: $("#select_date").val(),
                                    dep_id: $(".team_select.active").attr("data-val"),
                                    com_type: $(".company_type.active").text(),
                                    com_name: $("#company_id .shared_view_span").attr("data-name"),
                                    vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                    sort: $(".sort_type.active").attr("data-val")
                                },
                                success: function (data) {
                                    $("#visit_list_content").html(data)
                                }
                            })
                        }
                    })
                },
                heyThere: {
                    text: '审批否决',
                    action: function () {
                        $.confirm({
                            title: '否决原因',
                            content: '<div class="form-group">' +
                            '<textarea type="text" placeholder="原因" style="width:433px;height:124px" class="name form-control" required></textarea>' +
                            '</div>',
                            theme: 'modern',
                            boxWidth: '500px',
                            useBootstrap: false,
                            buttons: {
                                formSubmit: {
                                    text: '提交',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        $.ajax({
                                            url: "/VisitManagement/Supervise_Status/",
                                            type: "post",
                                            data: {
                                                rec_id: that.attr("data-id"),
                                                detail: this.$content.find('.name').val(),
                                                rec_status: -1
                                            },
                                            success: function (data) {
                                                if (data.result == "SUCCESS") {
                                                    $.alert({
                                                        title: '提示!',
                                                        type: 'green',
                                                        content: "操作成功",
                                                    });
                                                    $.ajax({
                                                        url: "/VisitManagement/Visit_PartialView/",
                                                        type: "post",
                                                        data: {
                                                            visit_date: $("#select_date").val(),
                                                            dep_id: $(".team_select.active").attr("data-val"),
                                                            com_type: $(".company_type.active").text(),
                                                            com_name: $("#company_id .shared_view_span").attr("data-name"),
                                                            vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                                            sort: $(".sort_type.active").attr("data-val")
                                                        },
                                                        success: function (data) {
                                                            $("#visit_list_content").html(data)
                                                        }
                                                    })
                                                } else {
                                                    $.alert({
                                                        title: '提示!',
                                                        type: 'red',
                                                        content: "请联系管理员开通权限",
                                                    });
                                                }
                                            }
                                        })
                                    }
                                },
                                取消: function () {
                                    //close
                                },
                            }
                        })
                        
                    }
                },
                取消: function () {
                   
                },
            }
        });
    })
    // 固定第一、二列
    function freezing() {
        $("tr>:nth-child(2)").css("left", $("#freezing").scrollLeft());
        $("tr>:nth-child(1)").css("left", $("#freezing").scrollLeft());
        var thWidth = $("#first_th").width() + $("#second_th").width();
        var scroLeft = $("#freezing").scrollLeft(); 
        if (scroLeft == 0) {
            $("tr>:nth-child(2)").removeClass("isScrolling").css("background", "#eef1f5");
            $("tr>:nth-child(1)").removeClass("isScrolling").css("background", "#eef1f5");
            $("#first_th").css("background", "#f9f9f9")
            $("#second_th").css("background", "#f9f9f9")
        } else if (scroLeft > 0 && scroLeft < thWidth) {
            $("tr>:nth-child(2)").removeClass("isScrolling").css("background", "#eef1f5");
            $("tr>:nth-child(1)").removeClass("isScrolling").css("background", "#eef1f5");
            $("#first_th").css("background", "#f9f9f9")
            $("#second_th").css("background", "#f9f9f9")
        } else {
            $("tr>:nth-child(2)").removeClass("isScrolling").css("background", "#eef1f5");
            $("tr>:nth-child(1)").removeClass("isScrolling").css("background", "#eef1f5");
            $("#first_th").css("background", "#f9f9f9")
            $("#second_th").css("background", "#f9f9f9")
        }
    }
</script>