@model PeriodAid.Models.VM_VisitRecord
    <style>
    .modal-header {
        padding-bottom: 5px !important;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .text-left {
        text-indent: 10px;
        white-space: normal;
    }
    .btn_container {
        position: absolute !important;
        top: 0;
        padding: 0;
        left: 0;
    }
</style>
<div class="modal-header">
    <h4 class="text-center col-md-12">新客户拜访信息共享表</h4>
    <div class="btn_container col-md-12">
        <div class="visit_btn"><a style="cursor:pointer" data-cid="@Model.Company_Id" data-count="@Model.Visit_Count" class="last_visit"><i class="fa fa-arrow-left"></i></a></div>
        <div class="visit_btn"><a style="cursor:pointer;float:right" data-cid="@Model.Company_Id" data-count="@Model.Visit_Count" data-vcount="@Model.VM_Company.VM_VisitRecord.Count()" class="next_visit"><i class="fa fa-arrow-right"></i></a></div>
    </div>
</div>
<div class="modal-body" id="modal-body" style="padding-top:10px;">
    
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">销售人员:</label>
            <div class="col-md-4" style="white-space: normal;line-height: 34px;">
                    @foreach (var item in Model.AttendEmployee)
                    {
                        <span>@item.Employee_Name</span><b>&nbsp;&nbsp;</b>
                    }
             </div>
            <label class="col-md-2 control-label" style="font-weight:600">填表人员:</label>
            <div class="col-md-4" style="line-height: 34px;">
                @Model.VM_Employee.Employee_Name
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">销售团队:</label>
            <div class="col-md-4" style="line-height: 34px;">
                @Model.VM_Employee.VM_Department.Department_Name
            </div>
            <label class="col-md-2 control-label" style="font-weight:600">审批状态:</label>
            @if (Model.status == 0)
            {
                <div class="col-md-4 color-blue" style="line-height: 34px;">待审批</div>
            }
            else if (Model.status == -1)
            {
                <div class="col-md-4 color-red" style="line-height: 34px;">驳回</div>
            }
            else if (Model.status == 1)
            {
                <div class="col-md-4 color-green" style="line-height: 34px;">通过</div>
            }
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">客户类型:</label>
            <div class="col-md-4" style="line-height: 34px;">
                @Model.VM_Company.Company_Type
            </div>
            @if (Model.status == -1)
            {
                <label class="col-md-2 control-label" style="font-weight:600">驳回原因:</label>
                <div class="col-md-4" style="line-height: 34px;white-space:normal">
                    @Model.Veto_Cause @Model.Veto_Detail
                </div>
            }
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">拜访日期:</label>
            <div class="col-md-5" style="line-height: 34px;">
                @Model.Visit_Time.ToString("yyyy-MM-dd")
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">客户情况:</label>
            <div class="col-md-5" style="line-height: 34px;">
                @Html.CategoryType(Model.VM_Company.Company_Category)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">*I.基本情况:</label>
        </div>
        <div class="form-group" style="margin-bottom:15px">
            <div class="col-md-2 control-label"></div>
            <table class="col-md-9 information_share_view">
                <tr>
                    <td>1.1</td>
                    <td>拜访序次</td>
                    <td class="text-left">第 @Model.Visit_Count  次</td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td>拜访方式</td>
                    <td class="text-left">@Html.VisitType(Model.Visit_Type)</td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td>客户来源</td>
                    <td class="text-left">@Model.VM_Company.Company_Source</td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">*II.拜访记录:</label>
        </div>
        <div class="form-group" style="margin-bottom:15px">
            <div class="col-md-2 control-label"></div>
            <table class="col-md-9 record_share_view">
                <tr>
                    <td>2.1</td>
                    <td>渠道名称</td>
                    <td class="text-left">@Model.VM_Company.Source_Name</td>
                </tr>
                <tr>
                    <td>2.2</td>
                    <td>所属区域</td>
                    <td class="text-left">@Model.VM_Company.Region</td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td>渠道类型</td>
                    <td class="text-left">@Model.VM_Company.Source_Type</td>
                </tr>
                @if (Model.VM_Company.Company_Category == 1)
                {
                    <tr>
                        <td>2.4</td>
                        <td>进场费用</td>
                        <td>
                            @if (Model.VM_Company.Entrance_Fee != null)
                            {
                                if (Model.VM_Company.Entrance_Fee.Value == 0)
                                {
                                    if (Model.VM_Company.Entrance_Type != null)
                                    {
                                        <span class="record_sharp_span" style="float:left;text-indent:10px">单位: @Html.EntranceType(Model.VM_Company.Entrance_Type.Value)</span>
                                    }
                                    if (Model.VM_Company.EntranceFee_Count != null)
                                    {
                                        <span style="float:left">@Model.VM_Company.EntranceFee_Count.Value 元 /SKU</span>
                                    }
                                }
                                else
                                {
                                    <span style="float:left;text-indent:10px">无</span>
                                }
                            }
                        </td>
                    </tr>
                }
                @if (Model.VM_Company.Company_Category == 0)
                {
                    <tr>
                        <td>2.4</td>
                        <td>有无专用仓库</td>
                        <td class="text-left">
                            @if (Model.VM_Company.Dedicated_Warehouse == 0)
                            {
                                <span class="record_sharp_span">@Model.VM_Company.Warehouse_Area  平方米</span>
                            }
                            else
                            {
                                <span>无</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>2.5</td>
                        <td>年销售额流水</td>

                        <td class="text-left">
                            ￥:   @Model.VM_Company.Sales_Amount  万元
                        </td>
                    </tr>
                    <tr>
                        <td>2.6</td>
                        <td>销售人员</td>
                        <td class="text-left">
                            有  @Model.VM_Company.Employee_Count     人
                        </td>
                    </tr>
                    <tr>
                        <td>2.7</td>
                        <td>代理过知名品牌</td>
                        <td class="text-left">
                            <div style="width:399px;white-space:normal">
                                @Model.VM_Company.Agent_FamousBrand
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2.8</td>
                        <td>有无特殊渠道</td>
                        @if (Model.VM_Company.Special_Source != null)
                        {
                            @*<span>@Html.SpecialSource(Model.VM_Company.Special_Source.Value)</span>*@
                        if (Model.VM_Company.Special_Source.Value == 0)
                        {
                            <td class="text-left">
                                <span>@Model.VM_Company.SpecialSource_Detail</span>
                                <span>@Model.VM_Company.SpecialSource_OtherDetail</span>
                            </td>
                        }
                        else
                        {
                            <td class="text-left">
                                <span>无</span>
                            </td>
                            }
                        }
                    </tr>
                }
                <tr style="height:94px">
                    @if (Model.VM_Company.Company_Category == 0)
                    {
                        <td>2.9</td>
                    }
                    else
                    {
                        <td>2.5</td>
                    }
                    <td>合作意向</td>
                    <td class="share_height">
                    @if (Model.Cooperation_Intention == 0)
                    {
                        if (Model.VM_Company.Company_Category == 1)
                        {
                            if (Model.Cooperation_Type != null)
                            {
                                if (Model.Cooperation_Type.Value == 1)
                                {
                                    <div class="left_share_div" style="padding:0 10px;width:50px">
                                        @Html.SpecialSource(Model.Cooperation_Intention)
                                    </div>
                                    <div class="left_share_div" style="width:90px">
                                        <ul class="text-left">
                                            <li style="line-height:40px">感兴趣品项</li>
                                            <li style="line-height:40px">合作方式</li>
                                        </ul>
                                    </div>
                                    <div class="left_share_div" style="width:90px">
                                        <ul style="text-align:left;text-indent:10px">
                                            <li style="width:85px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:40px" title="@Model.Intentional_Products">
                                                @Model.Intentional_Products
                                            </li>
                                            <li style="line-height:40px">
                                                <span>通过经销商</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:inline-block">
                                        <ul style="text-align:left;text-indent:10px">
                                            @if (Model.Cooperation_Status != null)
                                            {
                                                if (Model.Cooperation_Status == 1)
                                                {
                                                    if (Model.Reply_Time != null)
                                                    {
                                                        <li style="width:228px;white-space:normal">
                                                            待定回复日期 :@Model.Reply_Time.Value.ToString("yyyy-MM-dd")
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li style="width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:40px" title="@Model.Company_Name">
                                                        经销商名称 : @Model.Company_Name
                                                    </li>
                                                    <li style="width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:40px" title="@Model.Contact_Mobile">
                                                        联系人电话 : @Model.Contact_Mobile
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="left_share_div text-center">
                                        @Html.SpecialSource(Model.Cooperation_Intention)
                                    </div>
                                    <div class="left_share_div">
                                        <ul class="text-left">
                                            <li style="line-height:40px">感兴趣品项</li>
                                            <li style="line-height:40px">合作方式</li>
                                        </ul>
                                    </div>
                                    <div class="left_share_div" style="border-right:none">
                                        <ul style="width:100px;text-align:left;text-indent:10px">
                                            <li style="width:200px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:40px" title="@Model.Intentional_Products">
                                                @Model.Intentional_Products
                                            </li>
                                            <li style="line-height:40px">
                                                <span>直营</span>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="left_share_div" style="text-align:center">
                                @Html.SpecialSource(Model.Cooperation_Intention)
                            </div>
                            <div class="left_share_div">
                                <ul class="text-left">
                                    <li style="line-height:40px">感兴趣品项<b style="opacity:0">空格</b></li>
                                    <li style="line-height:40px">操作资金</li>
                                </ul>
                            </div>
                            <div style="display:inline-block;float:left">
                                <ul style="text-indent:10px;text-align:left">
                                    <li style="line-height:40px">
                                        @Model.Intentional_Products
                                    </li>
                                    @if (Model.Intentional_Funds != null)
                                    {
                                    <li style="line-height:40px">
                                        ￥:  @Model.Intentional_Funds.Value  万元
                                    </li>
                                    }
                                    else
                                    {
                                    <li>无</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="left_share_div text-center">
                            @Html.SpecialSource(Model.Cooperation_Intention)
                        </div>
                        <div class="left_share_div text-center">
                            原因
                        </div>
                        <div style="padding:0 5px;display:inline-block;float:left;white-space:normal">
                            @Model.NoIntention_Reason  @Model.NoIntention_Detail
                        </div>
                    }
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="font-weight:600">*III.拜访结果:</label>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"></div>
            <table class="col-md-9 result_share_view">
                <tr>
                    <td>3.1</td>
                    <td>综合结果</td>
                    <td class="text-left share_height">
                        @if (Model.Smoothly == 0)
                        {
                            <div class="left_share_div" style="text-align:center">
                                达到目的
                            </div>
                            <div class="left_share_div">
                                <ul>
                                    <li style="line-height:42px">预计初次拿货时间</li>
                                    <li style="line-height:42px">预计初次拿货金额</li>
                                </ul>
                            </div>
                            <div style="display:inline-block;float:left">
                                <ul style="text-align:left;text-indent:10px">
                                    @if (@Model.ExpectedDelivery_Time !=null)
                                    {
                                        <li style="line-height:42px">@Model.ExpectedDelivery_Time.Value.ToString("yyyy-MM-dd")</li>
                                    }
                                    <li style="line-height:42px">￥ : @Model.ExpectedDelivery_Funds  万元</li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="left_share_div" style="text-align:center">
                                未达到目的
                            </div>
                            <div class="left_share_div">
                                <ul>
                                    <li style="line-height:40px;">遇到的核心问题</li>
                                    <li style="line-height:40px;">需要支持</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li style="line-height:40px;width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" title="@Model.Core_Problem">@Model.Core_Problem</li>
                                    <li style="line-height:40px;width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" title="@Model.Support">@Model.Support</li>
                                </ul>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>3.2</td>
                    <td>需要我司回复</td>
                    <td>
                        @if (Model.Reply_Status == 0)
                        {
                            <div class="left_share_div">
                                是
                            </div>
                            <div class="left_share_div" style="text-indent:10px">
                                需要回复的问题
                            </div>
                            <div style="white-space:normal;line-height:20px;text-indent:10px;text-align:left">@Model.Reply_Detail</div>
                        }
                        else
                        {
                            <div  style="height: 94px;line-height:94px">
                                否
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>3.3</td>
                    <td>等待对方回复的信息</td>
                    <td>
                    @if (Model.CustomerReply_Status == 0)
                    {
                        <div class="left_share_div">
                            是
                        </div>
                        <div class="left_share_div">
                            <ul>
                                <li style="line-height:40px;text-indent:10px">等待回复的信息</li>
                                <li style="line-height:40px;">预计回复时间</li>
                            </ul>
                        </div>
                        <div>
                            <ul style="text-align:left;text-indent:10px">
                                <li style="line-height:40px;width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:left" title="@Model.CustomerReply_Detail">@Model.CustomerReply_Detail</li>
                                @if (@Model.CustomerReply_Time != null)
                                {
                                    <li style="line-height:40px;width:228px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:left">@Model.CustomerReply_Time.Value.ToString("yyyy-MM-dd")</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div style="height: 94px;line-height:94px">
                            否
                        </div>
                    }
                    </td>
                </tr>
                <tr>
                    <td>3.4</td>
                    <td>下次拜访计划</td>
                    <td>
                        @if (Model.NextVisit == 0)
                        {
                            <div class="left_share_div">
                                <ul>
                                    <li>拜访方式</li>
                                    <li>拜访时间</li>
                                    <li>拜访事项</li>
                                </ul>
                            </div>
                            <div style="display:inline-block;float:left">
                                <ul style="text-align:left;text-indent:10px">
                                    @if (Model.NextVisit_Type != null)
                                    {
                                        <li>@Html.VisitType(Model.NextVisit_Type.Value)</li>
                                    }
                                    @if (Model.NextVisit_Time != null)
                                    {
                                        <li>@Model.NextVisit_Time.Value.ToString("yyyy-MM-dd")</li>
                                    }
                                    <li style="width:340px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" title="@Model.NextVisit_Detail">@Model.NextVisit_Detail</li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div>无</div>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group" style="margin-top:30px">
            <div class="col-md-offset-2">
                <a data-id="@Model.Id" data-dismiss="modal" data-status="@Model.status" class="btn btn-danger supervise_btn btn btn-xs btn-default" style="font-size:16px;padding: 5px 20px;">审批</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.supervise_btn[data-status="1"]').addClass("disabled")
    // 审批
    $(".supervise_btn").on("click", function () {
        var that = $(this)
        $.confirm({
            title: '审批',
            content: '',
            boxWidth: '500px',
            theme: 'modern',
            useBootstrap: false,
            buttons: {
                审批通过: function () {
                    btnClass: 'btn-red',
                    $.ajax({
                        url: "/VisitManagement/Supervise_Status/",
                        type: "post",
                        data: {
                            rec_id: that.attr("data-id"),
                            rec_status: 1
                        },
                        success: function (data) {
                            $.alert({
                                title: '提示!',
                                type: 'green',
                                content: "操作成功",
                            });
                            $.ajax({
                                url: "/VisitManagement/Visit_PartialView/",
                                type: "post",
                                data: {
                                    visit_date: $("#select_date").val(),
                                    dep_id: $(".team_select.active").attr("data-val"),
                                    com_type: $(".company_type.active").text(),
                                    com_name: $("#company_id .shared_view_span").attr("data-name"),
                                    vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                    sort: $(".sort_type.active").attr("data-val"),
                                    status: $(".status_type.active").attr("data-val"),
                                    page_count: $(".share_select_page option:selected").val(),
                                },
                                success: function (data) {
                                    $("#visit_list_content").html(data)
                                    if ($("#toggle_btn").hasClass("fa-angle-double-up")) {
                                        $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + "px")
                                    } else {
                                        $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + 20 + "px")
                                    }
                                }
                            })
                        }
                    })
                },
                heyThere: {
                    text: '审批否决',
                    action: function () {
                        var config_list = $(".hidden_config")
                        var html = ""
                        for (var i = 0; i < config_list.length; i++) {
                            html += '<input type="radio" class="detail_select" data-val="' + $(config_list[i]).attr("data-id") + '" name="config" style="position: relative;top: 1px;left: -9px;display:inline-block;" value="' + $(config_list[i]).attr("data-detail") + '" />' + $(config_list[i]).attr("data-detail") + '</br>' +
                                '<textarea class="textarea_detail hidden" style="font-size:12px;text-indent:15px;" data-val="' + $(config_list[i]).attr("data-id") + '" placeholder="具体原因"></textarea></br>'
                        }
                        $.confirm({
                            title: '否决原因',
                            content: '<div class="form-group" v style="text-align: left;margin-left: 41%;">' +
                            html +
                            '</div>',
                            theme: 'modern',
                            boxWidth: '500px',
                            useBootstrap: false,
                            buttons: {
                                formSubmit: {
                                    text: '提交',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        $.ajax({
                                            url: "/VisitManagement/Supervise_Status/",
                                            type: "post",
                                            data: {
                                                rec_id: that.attr("data-id"),
                                                cause: this.$content.find('.form-group input[name="config"]:checked').val(),
                                                detail: this.$content.find('.form-group .textarea_detail.active').val(),
                                                rec_status: -1
                                            },
                                            success: function (data) {
                                                if (data.result == "SUCCESS") {
                                                    $.alert({
                                                        title: '提示!',
                                                        type: 'green',
                                                        content: "操作成功",
                                                    });
                                                    $.ajax({
                                                        url: "/VisitManagement/Visit_PartialView/",
                                                        type: "post",
                                                        data: {
                                                            visit_date: $("#select_date").val(),
                                                            dep_id: $(".team_select.active").attr("data-val"),
                                                            com_type: $(".company_type.active").text(),
                                                            com_name: $("#company_id .shared_view_span").attr("data-name"),
                                                            vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                                            sort: $(".sort_type.active").attr("data-val"),
                                                            status: $(".status_type.active").attr("data-val"),
                                                            page_count: $(".share_select_page option:selected").val(),
                                                        },
                                                        success: function (data) {
                                                            $("#visit_list_content").html(data)
                                                            if ($("#toggle_btn").hasClass("fa-angle-double-up")) {
                                                                $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + "px")
                                                            } else {
                                                                $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + 20 + "px")
                                                            }
                                                        }
                                                    })
                                                } else {
                                                    $.alert({
                                                        title: '提示!',
                                                        type: 'red',
                                                        content: "请联系管理员开通权限",
                                                    });
                                                }
                                            }
                                        })
                                    }
                                },
                                取消: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                $(".detail_select").on('click', function (e) {
                                    var that = $(this);
                                    $(".textarea_detail").addClass("hidden").removeClass("active")
                                    $(".textarea_detail").val("")
                                    that.siblings(".textarea_detail[data-val='" + that.attr("data-val") + "']").removeClass("hidden")
                                    that.siblings(".textarea_detail[data-val='" + that.attr("data-val") + "']").removeClass("hidden").addClass("active")
                                });
                            }
                        })
                    }
                },
                取消: function () {

                },
            }
        });
    })
    // 上一次拜访
    $(".last_visit").on("click", function () {
        var that = $(this)
        var visit_count = that.attr("data-count")
        var lnum = parseInt(visit_count) - 1
        if (lnum < 1) {
            $.alert({
                title: '提示!',
                content: '已经是第一次记录了',
            });
            lnum = 1
        }
        $.ajax({
            url: '/VisitManagement/VisitRecord_View/',
            data: {
                c_id: $(this).attr('data-cid'),
                v_count: lnum
            },
            success: function (data) {
                $('#modal-content').html(data)
            }
        })
    })
    // 下一次拜访
    $(".next_visit").on("click", function () {
        var that = $(this)
        var visit_count = that.attr("data-count")
        var nnum = parseInt(visit_count) + 1
        if (nnum > that.attr("data-vcount")) {
            $.alert({
                title: '提示!',
                content: '已经是最后一次记录了',
            });
            nnum = visit_count
        }
        $.ajax({
            url: '/VisitManagement/VisitRecord_View/',
            data: {
                c_id: $(this).attr('data-cid'),
                v_count: nnum
            },
            success: function (data) {
                $('#modal-content').html(data)
            }
        })
    })
</script>