<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>权限管理系统</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/SalesProcess.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/prettify.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", required: false)
</head>
<body class="reset">
    @RenderSection("menu", required: false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寿全斋应用后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            管理系统　<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("任务管理系统", "Index", "TaskManagement")</li>
                            <li><a href="/PlattformInventory/PlattformInventory_form?plattformId=1">线上库存管理系统</a></li>
                            <li><a href="/SalesProcess/CRM_show">CRM销售管理系统</a></li>
                            <li><a href="/MonthlyDelivery/MD_OrderView">月月送管理系统</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("线上销售", "Download_Order_List", "ERPOrder")</li>
                    <li>@Html.ActionLink("线下销售", "StoreIndex", "OffStore")</li>
                    <li>@Html.ActionLink("网站内容", "WebContentIndex", "WebContent")</li>
                    <li>@Html.ActionLink("系统权限", "RightsList", "AccountRights")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            工具　<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("问卷系统", "Index", "TestAdmin")</li>
                            <li>@Html.ActionLink("个性图片", "CustomOrderList", "TestAdmin")</li>
                            <li>@Html.ActionLink("生成二维码", "generateQRCode", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    系统信息 <i class="fa fa-chevron-right pull-right text-muted panel-animate" aria-hidden="true" aria-labelledby="headingOne"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/TaskManagement/Index"><i class="fa fa-bars"></i>&nbsp;&nbsp;任务管理系统</a></li>
                                    <li class="left-navbar"><a href="/PlattformInventory/PlattformInventory_form?plattformId=1"><i class="fa fa-bars"></i>&nbsp;&nbsp;线上库存管理系统</a></li>
                                    <li class="left-navbar"><a href="/SalesProcess/CRM_show"><i class="fa fa-bars"></i>&nbsp;&nbsp;CRM销售管理系统</a></li>
                                    <li class="left-navbar"><a href="/MonthlyDelivery/MD_OrderView"><i class="fa fa-bars"></i>&nbsp;&nbsp;月月送管理系统</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" charset="utf-8"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/SalesProcess.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/off-JavaScript.js"></script>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>
    <script src="~/Scripts/kalendae.standalone.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
