<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线下销售系统</title>

    <script src="~/Scripts/respond.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/share.css" rel="stylesheet" />
    <link href="~/Content/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("header", required:false)
</head>
<body class="reset" style="padding-top:19px;padding-bottom:0">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寿全斋应用后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav_relative_ul">
                    <li>
                    @Html.ActionLink("线上销售", "Download_Order_List", "ERPOrder")
                        <ul class="nav_absolute_ul hidden">
                            <li><a href="/TaskManagement/Index">任务管理系统</a></li>
                            <li><a href="/PlattformInventory/PlattformInventory_form?plattformId=1">线上库存管理系统</a></li>
                            <li><a href="/SalesProcess/CRM_show">CRM销售管理系统</a></li>
                            <li><a href="/MonthlyDelivery/MD_OrderView">月月送管理系统</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("线下销售", "StoreIndex", "OffStore")
                        <ul class="nav_absolute_ul hidden">
                            <li><a href="/TaskManagement/Index">任务管理系统</a></li>
                            <li><a href="/SalesProcess/CRM_show">CRM销售管理系统</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("网站内容", "WebContentIndex", "WebContent")</li>
                    <li>@Html.ActionLink("系统权限", "RightsList", "AccountRights")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            工具　<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("问卷系统", "Index", "TestAdmin")</li>
                            <li>@Html.ActionLink("个性图片", "CustomOrderList", "TestAdmin")</li>
                            <li>@Html.ActionLink("生成二维码", "generateQRCode", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container" id="container_view" style="top:-2px">
        <div class="row">
            <div class="col-md-2" id="col_2_view">
                <div class="fixed_ul ol-md-2">
                    <div class="panel panel-default" id="fixed_ul_color">
                        <div class="panel-body" id="panel-body-view">
                            <ul class="list-unstyled" id="ul_btn">
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffStore" style="text-indent: 16px;">
                                        <i class="fa fa-bars"></i>
                                        &nbsp;&nbsp;门店信息
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffStore/StoreSystemList"><i class="fa fa-search"></i>&nbsp;&nbsp;渠道列表</a></li>
                                            <li class="left-navbar"><a href="/OffStore/StoreIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;门店列表</a></li>
                                            <li class="left-navbar"><a href="/OffStore/StoreMap"><i class="fa fa-map"></i>&nbsp;&nbsp;门店地图</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffProduct" style="text-indent: 16px;">
                                        <i class="fa fa-line-chart"></i>
                                        &nbsp;&nbsp;产品系列
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffProduct/ProductList"><i class="fa fa-bars"></i>&nbsp;&nbsp;产品列表</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffSales" style="text-indent: 16px;">
                                        <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;销售数据
                                        <ul class="list-unstyled  position_ul hidden">
                                            <li class="left-navbar"><a href="/OffSales/DailySalesIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;日销售数据</a></li>
                                            <li class="left-navbar"><a href="/OffSales/MonthSalesList"><i class="fa fa-search"></i>&nbsp;&nbsp;月销售数据</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffExpenses" style="text-indent: 16px;">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;费用数据
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffExpenses/ExpensesIndex"><i class="fa fa-money"></i>&nbsp;&nbsp;费用列表</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffSeller" style="text-indent: 16px;">
                                        <i class="fa fa-address-book-o"></i>&nbsp;&nbsp;人员信息
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffSeller/SellerIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;查看促销员</a></li>
                                            <li class="left-navbar"><a href="/OffSeller/BindSellerIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;绑定促销员</a></li>
                                            <li class="left-navbar"><a href="/OffSeller/BindTempSellerIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;绑定暗促促销员</a></li>
                                            <li class="left-navbar"><a href="/OffSeller/BindRecruitIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;新招募促销员</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffCheckin" style="text-indent: 16px;">
                                        <i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;促销管理
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffCheckin/ScheduleList"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;查看促销日程记录</a></li>
                                            <li class="left-navbar"><a href="/OffCheckin/SalesEventList"><i class="fa fa-tags"></i>&nbsp;&nbsp;查看活动签呈记录</a></li>
                                            <li class="left-navbar"><a href="/OffCheckin/CheckinList"><i class="fa fa-check"></i>&nbsp;&nbsp;确认促销</a></li>
                                            <li class="left-navbar"><a href="/OffCheckin/QueryCheckin"><i class="fa fa-search"></i>&nbsp;&nbsp;查询促销记录</a></li>

                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffManager" style="text-indent: 16px;">
                                        <i class="fa fa-user"></i>&nbsp;&nbsp;督导管理
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffManager/ManagerList"><i class="fa fa-user-secret"></i>&nbsp;&nbsp;管理员</a></li>
                                            <li class="left-navbar"><a href="/OffManager/TaskList"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;督导签到管理</a></li>
                                            <li class="left-navbar"><a href="/OffManager/ManagerRouter"><i class="fa fa-map"></i>&nbsp;&nbsp;督导签到路线</a></li>
                                            <li class="left-navbar"><a href="/OffManager/AnnouncementList"><i class="fa fa-calendar"></i>&nbsp;&nbsp;督导日报</a></li>
                                            <li class="left-navbar"><a href="/OffManager/RequestList"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;需求提报</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffStatistic" style="text-indent: 16px;">
                                        <i class="fa fa-image"></i>&nbsp;&nbsp;数据图表
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffStatistic/StoreSystemStatistic"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;区域数据图表</a></li>
                                            <li class="left-navbar"><a href="/OffStatistic/StoreStatistic"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;区域门店数据图表</a></li>
                                            <li class="left-navbar"><a href="/OffStatistic/SellerStatistic"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;促销员销售数据图</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffBonus" style="text-indent: 16px;">
                                        <i class="fa fa-money"></i>&nbsp;&nbsp;红包管理
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffBonus/BonusList"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;红包列表</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                                <li class="left-navbar" style="cursor:pointer">
                                    <a href="#" data-name="OffSellerTask" style="text-indent: 16px;">
                                        <i class="fa fa-arrow-down"></i>&nbsp;&nbsp;暗促管理
                                        <ul class="list-unstyled position_ul hidden">
                                            <li class="left-navbar"><a href="/OffSellerTask/TaskSellerHome"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;暗促信息</a></li>
                                            <li class="left-navbar"><a href="/OffSellerTask/TaskSellerAlert"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;库存预警</a></li>
                                        </ul>
                                    </a>
                                    <div class="san_you hidden"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" id="col_10_style">
                @RenderBody()
            </div>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.Current" id="current_page" />
    <a class="btn btn-default hidden scroll-fixed" id="to-top" aria-label="Left Align">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </a>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/off-JavaScript.js"></script>
    <script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
    <script src="~/Scripts/kalendae.standalone.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/Scripts/mockjax.js"></script>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var locUrl = window.location.pathname;
    var arrurl =locUrl.split("/"); 
    $("#ul_btn li a").each(function (index, el) {
        var href = $(this).attr("data-name")
        if (href == arrurl[1]) {
            $(this).parent("li").addClass('left-navba-background');
            $(this).siblings(".san_you").removeClass("hidden")
            $(this).addClass("click_a_color")
        }
    });
    // 移入、移出三角样式
    $("#ul_btn li").mouseover(function () {
        $(this).children(".position_ul").removeClass("hidden")
        $(this).children(".san_you").removeClass("hidden")
    })
    $("#ul_btn li").mouseout(function () {
        $(this).children(".position_ul").addClass("hidden")
        $(this).children(".san_you").addClass("hidden")
    })
    // 导航二级
    $(".nav_relative_ul li").mouseover(function () {
        $(this).children(".nav_absolute_ul").removeClass("hidden")
    })
    $(".nav_relative_ul li").mouseout(function () {
        $(this).children(".nav_absolute_ul").addClass("hidden")
    })
    // 侧边栏li移动
    $(".left-navbar").mouseover(function () {
        $(this).children("a").css("paddingLeft", "10px")
    })
    $(".left-navbar").mouseout(function () {
        $(this).children("a").css("paddingLeft", "0px")
    })
</script>
