<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线下销售系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @RenderSection("header", required:false)
</head>
<body class="reset">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">线下销售信息后台系统</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("门店信息", "Off_Store_main", "OfflineSales")</li>
                    <li>@Html.ActionLink("销售数据", "Off_Sales_main", "OfflineSales")</li>
                    <li>@Html.ActionLink("费用数据", "Off_Expenses_List", "OfflineSales")</li>
                    <li>@Html.ActionLink("人员信息", "Off_Seller_main", "OfflineSales")</li>
                    <li>@Html.ActionLink("销售确认", "Off_CheckIn_List", "OfflineSales")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br />
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
