<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线下销售系统</title>

    <script src="~/Scripts/respond.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("header", required:false)
</head>
<body class="reset">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寿全斋应用后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            管理系统　<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("任务管理系统", "Index", "TaskManagement")</li>
                            <li><a href="/PlattformInventory/PlattformInventory_form?plattformId=1">库存管理系统</a></li>
                            <li><a href="/SalesProcess/CRM_show">CRM销售管理系统</a></li>
                            <li><a href="/MonthlyDelivery/MD_OrderView">月月送管理系统</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("线上销售", "Download_Order_List", "ERPOrder")</li>
                    <li>@Html.ActionLink("线下销售", "StoreIndex", "OffStore")</li>
                    <li>@Html.ActionLink("网站内容", "WebContentIndex", "WebContent")</li>
                    <li>@Html.ActionLink("系统权限", "RightsList", "AccountRights")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            工具　<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("问卷系统", "Index", "TestAdmin")</li>
                            <li>@Html.ActionLink("个性图片", "CustomOrderList", "TestAdmin")</li>
                            <li>@Html.ActionLink("生成二维码", "generateQRCode", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    门店信息 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow panel-animate" aria-hidden="true" aria-labelledby="headingOne"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/OffStore/StoreSystemList"><i class="fa fa-search"></i>&nbsp;&nbsp;渠道列表</a></li>
                                    <li class="left-navbar"><a href="/OffStore/StoreIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;门店列表</a></li>
                                    <li class="left-navbar"><a href="/OffStore/StoreMap"><i class="fa fa-map"></i>&nbsp;&nbsp;门店地图</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    产品系列 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingEight"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a><i class="fa fa-bars"></i>&nbsp;&nbsp;</a>@Html.ActionLink("产品列表", "ProductList", "OffProduct")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    销售数据 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingTwo"></i>
                                </a> 
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/OffSales/DailySalesIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;日销售数据</a></li>
                                    <li class="left-navbar"><a href="/OffSales/MonthSalesList"><i class="fa fa-search"></i>&nbsp;&nbsp;月销售数据</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    费用数据 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingThree"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/OffExpenses/ExpensesIndex"><i class="fa fa-money"></i>&nbsp;&nbsp;费用列表</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    人员信息 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingFour"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/OffSeller/SellerIndex"><i class="fa fa-search"></i>&nbsp;&nbsp;查看促销员</a></li>
                                    <li class="left-navbar"><a href="/OffSeller/BindSellerIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;绑定促销员</a></li>
                                    <li class="left-navbar"><a href="/OffSeller/BindTempSellerIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;绑定暗促促销员</a></li>
                                    <li class="left-navbar"><a href="/OffSeller/BindRecruitIndex"><i class="fa fa-retweet"></i>&nbsp;&nbsp;新招募促销员</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    促销管理 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingFive"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a href="/OffCheckin/ScheduleList"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;查看促销日程记录</a></li>
                                    <li class="left-navbar"><a href="/OffCheckin/SalesEventList"><i class="fa fa-tags"></i>&nbsp;&nbsp;查看活动签呈记录</a></li>
                                    <li class="left-navbar"><a href="/OffCheckin/CheckinList"><i class="fa fa-check"></i>&nbsp;&nbsp;确认促销</a></li>
                                    <li class="left-navbar"><a href="/OffCheckin/QueryCheckin"><i class="fa fa-search"></i>&nbsp;&nbsp;查询促销记录</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    督导管理 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingSix"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a><i class="fa fa-user-secret"></i>&nbsp;&nbsp;</a>@Html.ActionLink("管理员", "ManagerList", "OffManager")</li>
                                    <li class="left-navbar"><a><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;</a>@Html.ActionLink("督导签到管理", "TaskList", "OffManager")</li>
                                    <li class="left-navbar"><a><i class="fa fa-map"></i>&nbsp;&nbsp;</a>@Html.ActionLink("督导签到路线", "ManagerRouter", "OffManager")</li>
                                    <li class="left-navbar"><a><i class="fa fa-calendar"></i>&nbsp;&nbsp;</a>@Html.ActionLink("督导日报", "AnnouncementList", "OffManager")</li>
                                    <li class="left-navbar"><a><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;</a>@Html.ActionLink("需求提报", "RequestList", "OffManager")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    数据图表 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingSeven"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a><i class="fa fa-line-chart"></i>&nbsp;&nbsp;</a>@Html.ActionLink("区域数据图表", "StoreSystemStatistic", "OffStatistic")</li>
                                    <li class="left-navbar"><a><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;</a>@Html.ActionLink("区域门店数据图表", "StoreStatistic", "OffStatistic")</li>
                                    <li class="left-navbar"><a><i class="fa fa-area-chart"></i>&nbsp;&nbsp;</a>@Html.ActionLink("促销员销售数据图", "SellerStatistic", "OffStatistic")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    红包管理 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingNine"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a><i class="fa fa-money"></i>&nbsp;&nbsp;</a>@Html.ActionLink("红包列表", "BonusList", "OffBonus")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    暗促管理 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingTen"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar"><a><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;</a>@Html.ActionLink("暗促信息", "TaskSellerHome", "OffSellerTask")</li>
                                    <li class="left-navbar"><a><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;</a>@Html.ActionLink("库存预警", "TaskSellerAlert", "OffSellerTask")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.Current" id="current_page" />
    <a class="btn btn-default hidden scroll-fixed" id="to-top" aria-label="Left Align">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </a>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/off-JavaScript.js"></script>
    <script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
    <script src="~/Scripts/kalendae.standalone.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/Scripts/mockjax.js"></script>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
