<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>库存管理系统</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/Plattformlnventory.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    
    @RenderSection("header", required: false)
    
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寿全斋应用后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            管理系统　<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("任务管理系统", "Index", "TaskManagement")</li>
                            <li>@Html.ActionLink("库存管理系统", "PlattformInventory_form", "PlattformInventory")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("线上销售", "Download_Order_List", "ERPOrder")</li>
                    <li>@Html.ActionLink("线下销售", "StoreIndex", "OffStore")</li>
                    <li>@Html.ActionLink("网站内容", "WebContentIndex", "WebContent")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                            工具　<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("问卷系统", "Index", "TestAdmin")</li>
                            <li>@Html.ActionLink("个性图片", "CustomOrderList", "TestAdmin")</li>
                            <li>@Html.ActionLink("生成二维码", "generateQRCode", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding:20px">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    京东 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow panel-animate" aria-hidden="true" aria-labelledby="headingOne"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar" style="cursor:pointer"><a href="/PlattformInventory/PlattformInventory_form"><i class="fa fa-search"></i>&nbsp;&nbsp;产品列表</a></li>  
                                    <li class="left-navbar" style="cursor:pointer"><a href="#"><i class="fa fa-search"></i>&nbsp;&nbsp;入库预估</a></li>
                                    <li class="left-navbar" style="cursor:pointer"><a href="/PlattformInventory/CustomUploadFile?plattformId=1"><i class="fa fa-search"></i>&nbsp;&nbsp;上传统计</a></li>                             
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    天猫超市 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingSeven"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>产品列表</li>
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>入库预估</li>
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>每日数据</li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    天猫菜鸟 <i class="fa fa-chevron-right pull-right text-muted leftnav-arrow" aria-hidden="true" aria-labelledby="headingEight"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>产品列表</li>
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>入库预估</li>
                                    <li class="left-navbar" style="cursor:pointer"><a><i class="fa fa-search"></i>&nbsp;&nbsp;</a>每日数据</li>  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
        <footer>
            @*<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>*@
        </footer>
        
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" charset="utf-8"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/defaults-zh_CN.min.js"></script>
    <script src="~/Scripts/TaskManagementCalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
