<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>任务管理系统</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/TaskManagement.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("header", required: false)
</head>
<body id="my-app">
    @model PeriodAid.Models.Subject
    <header id="app-header">
        <nav class="navbar navbar-default bg-white">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/TaskManagement/Index"><strong class="color-blue">任务管理</strong></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle  color-blue icon-size" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" id="dropdown-menu-plus">
                                <li><a href="javascript:;" class="create_subject_target"><strong class="color-blue">新建项目</strong></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:;">功能开发中</a></li>
                                <li><a href="javascript:;">功能开发中</a></li>
                                <li><a href="javascript:;">功能开发中</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right navbar-border">
                        <li><a href="javascript:;" id="task_my_btn"><strong>我的任务</strong></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>设置</strong></a>
                            <ul class="dropdown-menu" id="dropdown-menu-my">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height:50px;">
                                <span style="background-image: url('http://wx.qlogo.cn/mmopen/ML1PmFUP4segicxxsgpmHBSK0Y5TYF1ZVBuvQaPpME2EETH4g8sq33aXItl9q4ZrmQzoib7IvVShKyyoo6l61OcDtGHj0zzCJ5/0');" class="tm_avatar tm_img-circle tm_personal-avatar"></span>
                            </a>
                            <div class="dropdown-menu tm_dropdown">
                                <ul class="tm_dropdown_list">                           
                                        <li><a href="/TaskManagement/PersonalSetting"><span class="color-blue">设置个人信息</span></a></li>
                                    <li role="separator" class="divider"></li>
                                        <li><a href="javascript:;"><span class="color-red">退出账号</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Create Subject Modal -->
    <div class="modal fade" id="Add-Subject" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                </div>
                <div class="modal-body"  id="Create-Subject-Content">

                </div>
            </div>
        </div>
    </div>
    <!--Create Subject Modal End-->
    <!--Choose Template Model-->
    <div class="modal fade" id="Choose-Template" role="dialog" aria-labelledby="Choose-TemplateModalLabel" style="overflow-y:auto">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="Choose-TemplateModalLabel">选择项目模板</h4>
                </div>
                <div class="modal-body" id="Choose-Template-Content">
                    <div class="col-md-6">1</div>
                    <div class="col-md-6">2</div>
                </div>
            </div>
        </div>
    </div>
    <!--Choose Template Model End-->
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/Sortable.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" charset="utf-8"></script>
    <script src="~/Scripts/TaskManagement.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
