@model PeriodAid.Models.MD_Order
<style>
    .select_area {
        display: initial;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>修改订单信息</h2>
</div>
<div class="hidden" id="orderId_show"></div>
<div class="modal-body" id="modal-body">
    @using (Html.BeginForm("MD_EditOrderInfo", "MonthlyDelivery", FormMethod.Post, new { @id = "order-form" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group hidden">
                <input id="vip_code" type="text" value="@Model.vip_code" class="form-control" name="vip_code" />
                @Html.ValidationMessageFor(model => model.vip_code, "", new { @class = "text-danger" })

                <input id="order_code" type="text" value="@Model.order_code" class="form-control" name="order_code" />
                @Html.ValidationMessageFor(model => model.order_code, "", new { @class = "text-danger" })

                <input id="qty" type="text" value="@Model.qty" class="form-control" name="qty" />
                @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })

                <input id="parentOrder_id" type="text" value="@Model.parentOrder_id" class="form-control" name="parentOrder_id" />
                @Html.ValidationMessageFor(model => model.parentOrder_id, "", new { @class = "text-danger" })

                <input id="delivery_state" type="text" value="@Model.delivery_state" class="form-control" name="delivery_state" />
                @Html.ValidationMessageFor(model => model.delivery_state, "", new { @class = "text-danger" })

                <input id="order_status" type="text" value="@Model.order_status" class="form-control" name="order_status" />
                @Html.ValidationMessageFor(model => model.order_status, "", new { @class = "text-danger" })

                <input id="receiver_times" type="text" value="@Model.receiver_times" class="form-control" name="receiver_times" />
                @Html.ValidationMessageFor(model => model.receiver_times, "", new { @class = "text-danger" })

                <input id="product_id" type="text" value="@Model.product_id" class="form-control" name="product_id" />
                @Html.ValidationMessageFor(model => model.product_id, "", new { @class = "text-danger" })

                <input id="express_information" type="text" value=" " class="form-control" name="express_information" />
                @Html.ValidationMessageFor(model => model.express_information, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">邮寄区域</label>
                <div class="col-md-10">
                    <div class="distpicker5">
                        <select class="select_province form-control select_area" style="width:33%"></select>
                        <select class="select_city form-control select_area" style="width:33%"></select>
                        <select class="select_district form-control select_area" style="width:32%"></select>
                    </div>
                    <input id="receiver_area" type="text" value="@Model.receiver_area" class="form-control hidden" name="receiver_area" />
                    @Html.ValidationMessageFor(model => model.receiver_area, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">邮寄地址</label>
                <div class="col-md-10">
                    <input id="receiver_address" type="text" value="@Model.receiver_address" class="form-control order_control" autocomplete="off" name="receiver_address" />
                    @Html.ValidationMessageFor(model => model.receiver_address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">收件人</label>
                <div class="col-md-10">
                    <input id="receiver_name" type="text" value="@Model.receiver_name" class="form-control order_control" autocomplete="off" name="receiver_name" />
                    @Html.ValidationMessageFor(model => model.receiver_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">联系电话</label>
                <div class="col-md-10">
                    <input id="receiver_tel" type="text" value="@Model.receiver_tel" class="form-control order_control" autocomplete="off" name="receiver_tel" />
                    @Html.ValidationMessageFor(model => model.receiver_tel, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">邮寄日期</label>
                <div class="col-md-10">
                    <input id="receiver_date" type="text" value="@ViewBag.Order.receiver_date.ToString("yyyy-MM-dd")" class="form-control date-readonly order_control" autocomplete="off" name="receiver_date" readonly="readonly" required />
                    @Html.ValidationMessageFor(model => model.receiver_date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="保存" id="save-btn" class="btn btn-default" name="save-btn" />
                </div>
            </div>

        </div>
    }
</div>
<script src="~/Scripts/distpicker.js"></script>
<script src="~/Scripts/main.js"></script>
<script>
    $(function () {
        $(".distpicker5").distpicker({
            autoSelect: false
        });
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('receiver_date', {
            months: 1,
            titleFormat: "MM月, YYYY年",
            format: "YYYY-MM-DD"
        });
        var strarea = $("#receiver_area").val()
        var Indexprovince = strarea.indexOf("-")
        var Strprovince = strarea.substring(0, Indexprovince)
        var Indexcity = strarea.lastIndexOf("-")
        var Strcity = strarea.substring(Indexprovince + 1, Indexcity)
        var Strdistrict = strarea.substring(Indexcity + 1, strarea.length)
        $(".select_province").children("option:selected").text(Strprovince)
        $(".select_city").children("option:selected").text(Strcity)
        $(".select_district").children("option:selected").text(Strdistrict)
        $(".select_area").on('click', function () {
            var that = $(this)
            console.log(that.children("option").eq(0).val())
            $(".select_province").children("option").eq(0).text("—省—")
            $(".select_city").children("option").eq(0).text("—市—")
            $(".select_district").children("option").eq(0).text("—区—")
        })
        // 三级联动
        $(".select_province").change(function () {
            var options = $(this).children("option:selected");
            $(this).parent(".distpicker5").siblings("#receiver_area").attr("data-province", options.val())
        })
        $(".select_city").change(function () {
            var options = $(this).children("option:selected");
            $(this).parent(".distpicker5").siblings("#receiver_area").attr("data-city", options.val())
        })
        $(".select_district").change(function () {
            var options = $(this).children("option:selected");
            $(this).parent(".distpicker5").siblings("#receiver_area").attr("data-district", options.val())
            var Province = $("#receiver_area").attr("data-province")
            var City = $("#receiver_area").attr("data-city")
            var District = $("#receiver_area").attr("data-district")
            $("#receiver_area").val(Province + "-" + City + "-" + District)
        })
    })
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#order-form").ajaxSubmit({
                url: '/MonthlyDelivery/MD_EditOrderInfo',
                type: 'post',
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $("#myModal").modal('hide');
                        $.confirm({
                            title: '提示!',
                            content: '保存成功!',
                            type: 'green',
                            buttons: {
                                确定: function () {
                                    $.ajax({
                                        url: "/MonthlyDelivery/MD_OrderDetailPartialView/",
                                        data: {
                                            parentOrder_id: $("#orderId_show").attr("data-id")
                                        },
                                        success: function (data) {
                                            $("#orderdetail_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    })
                                },
                            }
                        });
                    }
                    else if (data.result == "ERROR") {
                        $("#myModal").modal('hide');
                        $.confirm({
                            title: '提示!',
                            content: '暂无修改',
                            type: 'green',
                            buttons: {
                                确定: function () {
                                    $.ajax({
                                        url: "/MonthlyDelivery/MD_OrderDetailPartialView/",
                                        data: {
                                            parentOrder_id: $("#orderId_show").attr("data-id")
                                        },
                                        success: function (data) {
                                            $("#orderdetail_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    })
                                },
                            }
                        });
                    }
                    else {
                        $("#myModal").modal('hide');
                        $.confirm({
                            title: '提示!',
                            content: '保存失败,请重试!',
                            type: 'green',
                            buttons: {
                                确定: function () {
                                    $.ajax({
                                        url: "/MonthlyDelivery/MD_OrderDetailPartialView/",
                                        data: {
                                            parentOrder_id: $("#orderId_show").attr("data-id")
                                        },
                                        success: function (data) {
                                            $("#orderdetail_list_content").html(data)
                                            $('.modal-backdrop.in').remove()
                                            $('body').removeClass('modal-open')
                                        }
                                    })
                                },
                            }
                        });
                    }
                }
            })
            return false;
        }
    })
</script>
