@model  PagedList.IPagedList<PeriodAid.Models.Off_StoreManager>
@using PagedList.Mvc;
@using PeriodAid.Models;
<table class="table table-condensed table-hover" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th style="width:15%;">
            Id
        </th>
        <th style="width:15%;">
            状态
        </th>
        <th style="width:20%;">
            姓名
        </th>
        <th style="width:20%;">
            电话
        </th>
        <th style="width:30%;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @if (item.Status == 1)
                {
                    <span>督导</span>

                }
                else if(item.Status == 2)
                {
                    <span>业务</span>
                }
                else if(item.Status ==3) {
                    <span>超级管理员</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>              
                <a class="btn btn-xs btn-success offmanager-role-edit" href="javascript:;" id="@item.Id">设置权限</a>
                @Html.ActionLink("设置区域", "AddManagerArea", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                @Html.ActionLink("删除管理员", "CancelManagerAjax", new { id = item.Id },new { @class = "btn btn-xs btn-danger offmanager-manager-cancel" })
            </td>
        </tr>
    }
</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("ManagerListPartial", new { page }))</div>
<script>
    //页码切换
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        var query = $("#offmanager-manager-query").val();
        $.ajax({
            url: l,
            data:{
                query:query
            },
            success: function (data) {
                $("#offmanager-manager-list").html(data)
            }
        });
        return false;
    });
    //设置权限
    $(".offmanager-role-edit").click(function () {
            var link = $(this).attr("id")
            var head = "修改管理员权限"
            $.ajax({
                url: "/OffManager/EditManagerRoles",
                data: {
                    id: link
                },
                success: function (data) {
                    $(".modal-con").html(data);
                    $(".modal-box").modal();
                    $(".modal-head").text(head)
                }
            });
            return false;
    });
    //撤销
    $(".offmanager-manager-backout").click(function () {
        var url = $(this).attr("href")
        confirm("确定要撤销超级管理员吗?", "", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: url,
                    type: "post",
                    success: function (data) {
                        if (getDeleteResult(data)) {
                            $.ajax({
                                url: "/OffManager/ManagerListPartial",
                                success: function (data) {
                                    $("#offmanager-manager-list").html(data)
                                }
                            })
                        }
                    }
                })
            }
        });
        return false;
    });
    
    $(".offmanager-manager-cancel").click(function () {
        var url = $(this).attr("href")
        confirm("确定要删除管理员吗?", "你将把此条信息从管理员列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: url,
                    type: "post",
                    success: function (data) {
                        if (getDeleteResult(data)) {
                            $.ajax({
                                url: "/OffManager/ManagerListPartial",
                                success: function (data) {
                                    $("#offmanager-manager-list").html(data)
                                }
                            })
                        }
                    }
                });
            }
        });
        return false;
    });
</script>


