@model PeriodAid.Models.Off_Manager_Task
@using (Html.BeginForm("Manager_TaskReportPartial", "Seller", FormMethod.Post, new { @id = "managerreport-form", @class = "validate-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.TaskDate)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.NickName)
    @Html.HiddenFor(model => model.Off_System_Id)
    <div class="content-block-title">工作日报</div>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    @Html.TextAreaFor(model => model.Event_Complete, new { placeholder = "请输入重点工作内容", @class = "{maxlength:500}" })
                </div>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title"></div>
                        <div class="item-after">
                            <span id="tasklength-cp">0</span>/<span>500</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    @Html.TextAreaFor(model => model.Event_UnComplete, new { placeholder = "请输入一般工作内容", @class = "{maxlength:500}" })
                </div>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title"></div>
                        <div class="item-after">
                            <span id="tasklength-uc">0</span>/<span>500</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    @Html.TextAreaFor(model => model.Event_Assistance, new { placeholder = "请输入需协调工作", @class = "{maxlength:500}" })
                </div>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title"></div>
                        <div class="item-after">
                            <span id="tasklength-as">0</span>/<span>500</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">上传照片</div>
                        <div class="item-after"><abbr id="current_image">0</abbr>/7</div>
                    </div>
                </div>
                <div class="item-content" id="photo-list">
                    <div class="item-inner">
                        <div class="hidden">
                            @Html.EditorFor(m => m.Photo)
                        </div>
                        <ul class="rep-imglist" id="manager-imglist"></ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <a href="javascript:;" class="button button-big button-fill" id="report-submit-btn">提交</a>
    </div>
}
<script type="text/javascript">
    var s = $("#managerreport-form").validate({
        debug: true, //调试模式取消submit的默认提交功能   
        errorClass: "custom-error", //默认为错误的样式类为：error   
        focusInvalid: false, //当为false时，验证无效时，没有焦点响应  
        onkeyup: false,
        submitHandler: function (form) {
            $("#addcheckin-btn").prop("disabled", true).addClass("color-gray");
            $("#managerreport-form").ajaxSubmit(function (data) {
                if (data == "SUCCESS") {
                    myApp.hideIndicator();
                    //myApp.formDeleteData("createsellerreport-form");
                    myApp.addNotification({
                        title: '通知',
                        message: '日报修改成功'
                    });
                    setTimeout(function () {
                        //refresh_mainpanel();
                        myApp.closeNotification(".notifications");
                    }, 2000);
                }
                else {
                    myApp.hideIndicator();
                    myApp.addNotification({
                        title: '通知',
                        message: '日报修改失败'
                    });
                    $("#addcheckin-btn").prop("disabled", false).removeClass("color-gray");
                    //refresh_mainpanel();
                    setTimeout(function () {
                        myApp.closeNotification(".notifications");
                    }, 2000);
                }
            });
        },
        errorPlacement: function (error, element) {
            myApp.hideIndicator();
            element.attr("placeholder", error.text());
        }
    });
    $$("#report-submit-btn").on("click", function () {
        myApp.showIndicator();
        $$("#managerreport-form").submit();
    });

</script>