@model IEnumerable<PeriodAid.Models.Wx_SellerTaskMonthStatistic>


<table class="table">
    <tr>
        <th>姓名</th>
        <th>店铺名称</th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.Encode(item.Off_Seller.Name)
        </td>
        <td>
            @Html.Encode(item.Off_Seller.Off_Store.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
