@model IEnumerable<PeriodAid.Models.Off_Store>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>促销员管理</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        <span id="code">@ViewBag.Code</span>
        <span id="voice-img">@ViewBag.voice_img</span>
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="hd">
        <h2 class="page_title text-center">促销员管理</h2>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(ViewBag.NickName)</p>
            </div>
            <div class="weui_cell_ft">@Html.Encode(ViewBag.Mobile)</div>
        </div>
    </div>
    <div class="weui_cells_title">店铺巡查</div>
    <div class="weui_cells weui_cells_access">
        @foreach (var item in Model)
        {
            <a class="weui_cell store_details" href="javascript:;" latitude ="@item.Latitude" longitude ="@item.Longitude" address = "@item.Address" storename ="@item.StoreName">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>@Html.Encode(item.StoreName)</p>
                </div>
                <div class="weui_cell_ft">点击查看</div>
            </a>
        }
    </div>
    <br />
    <div class="container">
        <a href="/Seller/Wx_Manager_Home" class="weui_btn weui_btn_primary" id="submit-btn">
            返回首页
        </a>
    </div>
    <br /><br />
    @Scripts.Render("~/bundles/jquery")
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        //parseFloat
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['openLocation','getLocation']
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        $(".store_details").click(function () {
            var click_btn = $(this);
            $.ajax({
                url: "http://apis.map.qq.com/ws/coord/v1/translate",
                type: "get",
                dataType: "jsonp",
                data: {
                    locations: $(click_btn).attr("latitude") + "," + $(click_btn).attr("longitude"),
                    type: 3,
                    output: "jsonp",
                    key: "FAKBZ-YPIW4-TOLUE-XLQOL-MAYZQ-3FFGF"
                },
                success: function (data) {
                    if (data.status == 0) {
                        wx.openLocation({
                            latitude: data.locations[0].lat, // 纬度，浮点数，范围为90 ~ -90
                            longitude: data.locations[0].lng, // 经度，浮点数，范围为180 ~ -180。
                            name: $(click_btn).attr("storename"), // 位置名
                            address: $(click_btn).attr("address"), // 地址详情说明
                            scale: 25, // 地图缩放级别,整形值,范围从1~28。默认为最大
                            infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
                        });
                    }
                }
            });
        });
    </script>
</body>
</html>
