@model PeriodAid.Models.Off_StoreManager
@{
    ViewBag.Current = 1;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}

<div class="hd">
    <h2 class="page_title text-center">促销员管理</h2>
</div>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>@Html.Encode(ViewBag.NickName)</p>
        </div>
        <div class="weui_cell_ft">@Html.Encode(ViewBag.Mobile)</div>
    </div>
</div>
<div class="weui_cells_title">店铺巡查</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_UnCheckInList?status=0">
        <div class="weui_cell_bd weui_cell_primary">
            <p>今日未签到</p>
        </div>
        <div class="weui_cell_ft">@Html.Encode(ViewBag.uncheckin + ViewBag.uncheckin_null)</div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_UnCheckInList?status=1">
        <div class="weui_cell_bd weui_cell_primary">
            <p>今日未签退</p>
        </div>
        <div class="weui_cell_ft">@Html.Encode(ViewBag.uncheckout)</div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_UnCheckInList?status=2">
        <div class="weui_cell_bd weui_cell_primary">
            <p>未提报销量</p>
        </div>
        <div class="weui_cell_ft">@Html.Encode(ViewBag.unreport)</div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_UnReportList">
        <div class="weui_cell_bd weui_cell_primary">
            <p>销量待确认</p>
        </div>
        <div class="weui_cell_ft">@Html.Encode(ViewBag.uncheck)</div>
    </a>
</div>
<div class="weui_cells_title">管理工具</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="/Seller/Wx_Manager_ReportList">
        <div class="weui_cell_bd weui_cell_primary">
            <p>销量排名</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="/Seller/Wx_Manager_EventList">
        <div class="weui_cell_bd weui_cell_primary">
            <p>活动门店列表</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_StoreList">
        <div class="weui_cell_bd weui_cell_primary">
            <p>管辖门店列表</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<div class="weui_cells_title">使用帮助</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell salary_details" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用指南</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<br /><br />
