@model PeriodAid.Models.Off_Checkin
@{
    ViewBag.Title = "督导管理 工具";
    ViewBag.Current = 2;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}

    <div class="hidden">
        <span id="code">@ViewBag.Code</span>
        <span id="voice-img">@ViewBag.voice_img</span>
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="hd">
        <h2 class="page_title text-center">代提报销量</h2>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(ViewBag.StoreName)</p>
            </div>
            <div class="weui_cell_ft">
                @Html.Encode(ViewBag.Subscribe.ToString("yyyy-MM-dd"))
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Off_Schedule_Id)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.CheckinLocation)
        @Html.HiddenFor(m => m.CheckinPhoto)
        @Html.HiddenFor(m => m.CheckinTime)
        @Html.HiddenFor(m => m.CheckoutLocation)
        @Html.HiddenFor(m => m.CheckoutTime)
        @Html.HiddenFor(m => m.Report_Time)
        <div class="weui_cells_title">提报信息</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">人员</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.DropDownListFor(m=>m.Off_Seller_Id, ViewBag.SellerDropDown as SelectList, "- 请选择促销员 -", new { @class="weui_input"})
                </div>
                <div class="weui_cell_ft">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">签到图片上传</div>
                            <div class="weui_cell_ft"><abbr id="checkin_current_image">0</abbr>/1</div>
                        </div>
                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files" id="checkin-img-upload-list"></ul>
                            <div class="weui_uploader_input_wrp">
                                <a class="weui_uploader_input" href="javascript:;" id="checkin-upload-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">红糖</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.EditorFor(m => m.Rep_Brown, new { htmlAttributes = new { @class = "weui_input", type = "tel", placeholder = "请输入数量" } })
                </div>
                <div class="weui_cell_ft">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">黑糖</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.EditorFor(m => m.Rep_Black, new { htmlAttributes = new { @class = "weui_input", type = "tel", placeholder = "请输入数量" } })
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">柠檬</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.EditorFor(m => m.Rep_Lemon, new { htmlAttributes = new { @class = "weui_input", type = "tel", placeholder = "请输入数量" } })
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">蜂蜜</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.EditorFor(m => m.Rep_Honey, new { htmlAttributes = new { @class = "weui_input", type = "tel", placeholder = "请输入数量" } })
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">红枣</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.EditorFor(m => m.Rep_Dates, new { htmlAttributes = new { @class = "weui_input", type = "tel", placeholder = "请输入数量" } })
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextAreaFor(m => m.Confirm_Remark, new { @class = "weui_textarea", rows = "3", placeholder = "请输入代签到备注" })
                    <div class="weui_textarea_counter"><abbr id="current_length">0</abbr>/500</div>
                </div>
            </div>
            @Html.HiddenFor(m => m.Rep_Image)
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">销量图片上传</div>
                            <div class="weui_cell_ft"><abbr id="current_image">0</abbr>/7</div>
                        </div>
                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files" id="img-upload-list"></ul>
                            <div class="weui_uploader_input_wrp">
                                <a class="weui_uploader_input" href="javascript:;" id="upload-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="container">
            <a href="javascript:;" class="weui_btn weui_btn_primary" id="submit-btn">
                确认并提交
            </a>
        </div>
    }
    <div class="weui_dialog_confirm" style="display:none;" id="dialog_confirm">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认操作</strong></div>
            <div class="weui_dialog_bd">销量数据已提报，重新提报会覆盖之前的数据，是否确认操作？</div>
            <div class="weui_dialog_ft">
                <a href="/Seller/Wx_Seller_Home" class="weui_btn_dialog default" id="dialog_cancel_btn">取消</a>
                <a href="javascript:;" class="weui_btn_dialog primary" id="dialog_confirm_btn">确定</a>
            </div>
        </div>
    </div>
    <div class="weui_dialog_confirm" style="display:none;" id="dialog_delete_img">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认操作</strong></div>
            <div class="weui_dialog_bd">是否删除已上传的图片？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog default" id="dialog_img_cancel">取消</a>
                <a href="javascript:;" class="weui_btn_dialog primary" id="dialog_img_confirm">确定</a>
            </div>
        </div>
    </div>
    <div class="weui_dialog_alert" id="dialog_alert" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">提示</div>
            <div class="weui_dialog_bd" id="dialog_text">当前无法上传更多图片，请删除任意图片后更新！</div>
            <div class="weui_dialog_ft">
                <a href="#" class="weui_btn_dialog primary" id="alert-btn">确定</a>
            </div>
        </div>
    </div>
    <div id="loadingToast" class="weui_loading_toast" style="display:none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <!-- :) -->
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p class="weui_toast_content">图片上传中...</p>
        </div>
    </div>
    <div class="error-label container" style="display:none;">
        <div class="col-xs-12 text-center">提交错误，请根据提示修改</div>
        <span class="col-xs-12 text-right" id="error-label-close"><i class="fa fa-times"></i></span>
    </div>
    <br /><br />
@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['uploadImage', 'downloadImage', 'chooseImage']
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        var chk_img_max = 1;
        var chk_img_array = new Array();
        var img_max = 7;
        var img_array = new Array();
        $(function () {
            var tl = cal_textlength();
            $("#current_length").text(tl);
            $("#img-upload-list").html("");
            //$("#Rep_Image").val("130981806066116407.jpg,130985353047038610.jpg");
            if ($("#Rep_Image").val() != "") {
                img_array = $("#Rep_Image").val().split(',');
            }
            $("#checkin-img-upload-list").html("");
            //$("#Rep_Image").val("130981806066116407.jpg,130985353047038610.jpg");
            if ($("#CheckinPhoto").val() != "") {
                chk_img_array = $("#CheckinPhoto").val().split(',');
            }

            //alert(img_array.length);
            $("#current_image").text(img_array.length);
            $("#checkin_current_image").text(chk_img_array.length);
            if (img_array.length > 0) {
                for (var i = 0; i < img_array.length; i++) {
                    var html_img = "<li class='weui_uploader_file' style='background-image:url(/Seller/ThumbnailImage?filename=" + img_array[i] + ")' data-target='" + img_array[i] + "'></li>";
                    $("#img-upload-list").append(html_img);
                }
            }
            if (chk_img_array.length > 0) {
                for (var i = 0; i < chk_img_array.length; i++) {
                    var html_img = "<li class='weui_uploader_file' style='background-image:url(/Seller/ThumbnailImage?filename=" + chk_img_array[i] + ")' data-target='" + chk_img_array[i] + "'></li>";
                    $("#checkin-img-upload-list").append(html_img);
                }
            }
            if ($(".input-validation-error").length > 0) {
                $(".input-validation-error").closest(".weui_cell").addClass("weui_cell_warn");
                $(".error-label").show();
                setTimeout(function () {
                    $(".error-label").fadeOut(1000)
                }, 3000);
            }
        });
        $("#submit-btn").click(function () {
            if ($("#Confirm_Remark").val().trim().length == 0) {
                $("#dialog_text").text("请提交带签到备注信息");
                $("#dialog_alert").show();
            }
            else {
                $("form").submit();
            }
        });
        $("#dialog_confirm_btn").click(function () {
            $("#dialog_confirm").hide();
            $("form").submit();
        });
        function cal_textlength() {
            return $("#Confirm_Remark").val().length;
        }
        $("#Confirm_Remark").change(function () {
            var tl = cal_textlength();
            $("#current_length").text(tl);
        });
        $("#upload-btn").click(function () {
            var localIds
            var btn = $(this);
            if ($("#Rep_Image").val() != "") {
                img_array = $("#Rep_Image").val().split(',');
            }
            else {
                img_array = new Array();
            }
            var img_remain = img_max - img_array.length;
            if (img_remain > 0) {
                wx.chooseImage({
                    count: img_remain, // 默认9
                    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        $("#loadingToast").show();
                        upload_img(localIds, 0);
                    }
                });
            }
            else {
                $("#dialog_text").text("当前无法上传更多图片，请删除任意图片后更新！");
                $("#dialog_alert").show();
            }
        });
        $("#checkin-upload-btn").click(function () {
            var localIds
            var btn = $(this);
            if ($("#CheckinPhoto").val() != "") {
                $("#dialog_text").text("当前无法上传更多图片，请删除任意图片后更新！");
                $("#dialog_alert").show();
            }
            else {
                wx.chooseImage({
                    count: 1, // 默认9
                    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        $("#loadingToast").show();
                        checkin_upload_img(localIds, 0);
                    }
                });
            }
        });
        $("#alert-btn").click(function () {
            $("#dialog_alert").hide();
        })
        // 点击显示可删除
        $(".weui_uploader_files").delegate(".weui_uploader_file", "click", function () {
            //alert("4");
            $(".weui_uploader_status").html("");
            $(".weui_uploader_file").removeClass("weui_uploader_status")
            $(this).addClass("weui_uploader_status").html("<div class='weui_uploader_status_content' id='remove_btn'><i class='fa fa-minus-circle fa-2x'></i></div>");
        });
        $(".weui_uploader_files").delegate("#remove_btn", "click", function () {
            var img_value = $(this).parent(".weui_uploader_status").attr("data-target");
            img_array = $("#Rep_Image").val().split(',');
            var del_img_pos = $.inArray(img_value, img_array);

            if (del_img_pos >= 0) {
                img_array.splice(del_img_pos, 1);
                $("#current_image").text(img_array.length);
                $("#Rep_Image").val(img_array);
                //alert($("#Rep_Image").val());
                $(this).parent(".weui_uploader_status").remove();
            }
            else {
                if (img_value == $("#CheckinPhoto").val()) {
                    $("#checkin-img-upload-list").html("");
                    chk_img_array = new Array();
                    $("#CheckinPhoto").val("");
                }
            }
        });
        function checkin_upload_img(localIds) {
            wx.uploadImage({
                localId: localIds[0],
                isShowProgressTips: 0, // 默认为1，显示进度提示
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    $.ajax({
                        url: "/Seller/SaveOrignalImage",
                        type: "post",
                        data: {
                            serverId: serverId
                        },
                        success: function (data) {
                            if (data.result == "SUCCESS") {
                                chk_img_array.push(data.filename);
                                $("#loadingToast").fadeOut(500);
                                $("#check-img-upload-list").html("");
                                for (var i = 0; i < chk_img_array.length; i++) {
                                    var html_img = "<li class='weui_uploader_file' style='background-image:url(/Seller/ThumbnailImage?filename=" + chk_img_array[i] + ")' data-target='" + chk_img_array[i] + "'></li>";
                                    $("#checkin-img-upload-list").append(html_img);
                                }
                                $("#checkin_current_image").text(chk_img_array.length);
                                $("#CheckinPhoto").val(chk_img_array);
                            }
                            else {
                                alert("上传失败，请重试");
                                $("#loadingToast").fadeOut(500);
                            }
                        }
                    });
                }
            });
        }
        function upload_img(localIds, arraycount) {
            if (arraycount < localIds.length) {
                wx.uploadImage({
                    localId: localIds[arraycount], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 0, // 默认为1，显示进度提示
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $.ajax({
                            url: "/Seller/SaveOrignalImage",
                            type: "post",
                            data: {
                                serverId: serverId
                            },
                            success: function (data) {
                                if (data.result == "SUCCESS") {
                                    img_array.push(data.filename);
                                    arraycount++;
                                    upload_img(localIds, arraycount);
                                }
                                else {
                                    alert("上传失败，请重试");
                                    $("#loadingToast").fadeOut(500);
                                }
                            }
                        });
                    }
                });
            }
            else {
                $("#loadingToast").fadeOut(500);
                $("#img-upload-list").html("");
                for (var i = 0; i < img_array.length; i++) {
                    var html_img = "<li class='weui_uploader_file' style='background-image:url(/Seller/ThumbnailImage?filename=" + img_array[i] + ")' data-target='" + img_array[i] + "'></li>";
                    $("#img-upload-list").append(html_img);
                }
                $("#current_image").text(img_array.length);
                $("#Rep_Image").val(img_array);
            }
        }

        $("#error-label-close").click(function () {
            $(".error-label").hide();
        });
    </script>
    }
