@model IEnumerable<PeriodAid.Models.Wx_ManagerReportListViewModel>

@*<div class="weui_cells_title">@Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;当天累计红包 @Model.Count(m => m.Bonus > 0) 个，合计 @String.Format("{0:F}", Model.Sum(m => m.Bonus)) 元</div>
<div class="weui_cells">
    @foreach (var item in Model.OrderByDescending(m => m.Rep_Total))
    {
        <div class="weui_cell store_item" data-rel="@item.Id">
            <div class="weui_cell_hd">
                @if (item.Status == 4)
                {
                    <i class="weui_icon_circle" style="margin:0 10px 0 0"></i>
                }
                else
                {
                    <i class="fa fa-check text-success" style="margin:0 5px 0 0"></i>
                }
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(item.StoreName)&nbsp;
                @if (item.Bonus != null)
                {
                    <i class="fa fa-gift text-muted"></i>
                }</p>
            </div>
            <div class="weui_cell_ft"><i class="fa fa-history"></i>&nbsp;@Html.Encode(item.AVG_Total)&nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;@Html.Encode(item.Rep_Total)
                
            </div>
        </div>
    }
</div>*@
<div class="weui_panel weui_panel_access" style="margin-top:10px;">
    <div class="weui_panel_hd">@Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;当天累计红包 @Model.Count(m => m.Bonus > 0) 个，合计 @String.Format("{0:F}", Model.Sum(m => m.Bonus)) 元</div>
    <div class="weui_panel_bd">
        @foreach (var item in Model.OrderByDescending(m => m.Rep_Total))
        {
        <div class="weui_media_box weui_media_text store_item" data-rel="@item.Id" style="padding:1px 15px 10px 15px;">
            <h4 class="weui_media_title">
            @if (item.Status == 4)
            {
                <span><b>@Html.Encode(item.StoreName)&nbsp;&nbsp;</b></span>
            }
            else
            {
                <span class="text-success"><b>@Html.Encode(item.StoreName)&nbsp;&nbsp;</b></span>
            }
            @if (item.Bonus != null)
            {
                <i class="fa fa-gift text-danger"></i> @Html.Encode(item.Bonus+"元")
            }
            </h4>
            <p class="weui_media_desc"><i class="fa fa-user"></i>&nbsp;@Html.Encode(item.SellerName)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-history"></i>&nbsp;@Html.Encode(item.AVG_Total)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;@Html.Encode(item.Rep_Total)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;@Html.Encode(PeriodAid.Models.ParseStatus.CheckInStatus(item.Status))</p>
        </div>
        }
    </div>
</div>
<div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask"></div>
    <div class="weui_actionsheet" id="weui_actionsheet">

    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.form.min.js"></script>
<script>
    var mask = $('#mask');
    var weuiActionsheet = $('#weui_actionsheet');
    function formpost() {
        $("form").ajaxSubmit(function (data) {
            if (data == "SUCCESS") {
                hideActionSheet(weuiActionsheet, mask);
                $("#toast_success").show();
                setTimeout(function () {
                    $("#toast_success").fadeOut(500);
                }, 1500);
                $.ajax({
                    url: "Wx_Manager_ReportList_Partial",
                    data: {
                        date: $("#list_date").val(),
                        storesystem: $("#storesystem").val()
                    },
                    type: "post",
                    success: function (data) {
                        $("#list-content").html(data);
                    }
                });
            }
            else if (data == "FAIL") {
                hideActionSheet(weuiActionsheet, mask);
                $("#dialog_alert").show();
                $.ajax({
                    url: "Wx_Manager_ReportList_Partial",
                    data: {
                        date: $("#list_date").val(),
                        storesystem: $("#storesystem").val()
                    },
                    type: "post",
                    success: function (data) {
                        $("#list-content").html(data);
                    }
                });
            }
            else if (data == "FAIL-2") {
                hideActionSheet(weuiActionsheet, mask);
                $("#dialog_alert_2").show();
                
            }
            else {
                $("#weui_actionsheet").html(data);
                if ($(".input-validation-error").length > 0) {
                    $(".input-validation-error").closest(".weui_cell").addClass("weui_cell_warn");
                    $(".input-validation-error").closest(".weui_cell").find("weui_cell_ft").html("<i class='weui_icon_warn'></i>")
                    $(".error-label").show();
                    setTimeout(function () {
                        $(".error-label").fadeOut(1000)
                    }, 3000);
                }
            }
        });
    }
    function cancelpost() {
        hideActionSheet(weuiActionsheet, mask);
    }
    $(".store_item").click(function () {
        $.ajax({
            url: "/Seller/Wx_Manager_ConfirmRedPack",
            data: {
                checkid: $(this).attr("data-rel")
            },
            success: function (data) {
                $("#weui_actionsheet").html(data);
                weuiActionsheet.addClass('weui_actionsheet_toggle');
                mask.show().addClass('weui_fade_toggle').click(function () {
                    hideActionSheet(weuiActionsheet, mask);
                });
                weuiActionsheet.unbind('transitionend').unbind('webkitTransitionEnd');
            }
        });
    });
    function hideActionSheet(weuiActionsheet, mask) {
        weuiActionsheet.removeClass('weui_actionsheet_toggle');
        mask.removeClass('weui_fade_toggle');
        weuiActionsheet.on('transitionend', function () {
            mask.hide();
        }).on('webkitTransitionEnd', function () {
            mask.hide();
        });
    }
    function cal_textlength() {
        return $("#Bonus_Remark").val().length;
    }
    $("#Bonus_Remark").change(function () {
        var tl = cal_textlength();
        $("#current_length").text(tl);
    });

</script>