@model PeriodAid.Models.Off_Manager_Request

@{
    ViewBag.Title = "督导管理 店铺需求提交";
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
    ViewBag.Current = 0;
}
@section header{
    <style>
        .weui_dialog_01 {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 13;
            transform: translate(-50%, -50%);
            text-align: center;
            border: 1px solid #eee;
            background-color: #333;
            border-radius: 50%;
            width: 220px;
            height: 220px;
        }
        .voice_con {
        position:relative;
        line-height:1px;
        }
        .voice_con .microphone {
        font-size:100px;
        color:#777;
        }
    </style>
}
<div class="hidden">
    <span id="appId">@ViewBag.AppId</span>
    <span id="timeStamp">@ViewBag.TimeStamp</span>
    <span id="nonce">@ViewBag.Nonce</span>
    <span id="url">@ViewBag.Url</span>
    <span id="signature">@ViewBag.Signature</span>
</div>
<div class="hd">
    <h3 class="page_title text-center">督导管理 店铺需求提交</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.ManagerUserName)
    @Html.HiddenFor(m => m.Id)
    <div class="weui_cells_title">添加需求信息</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">店铺</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.DropDownListFor(m => m.StoreId, ViewBag.StoreList as SelectList, "- 请选择 -", new { @class = "weui_input" })
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">类型</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.DropDownListFor(m => m.RequestType, ViewBag.TypeList as SelectList, "- 请选择 -", new { @class = "weui_input" })
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                @Html.TextAreaFor(m => m.RequestContent, new { @class = "weui_textarea", rows = "3", placeholder = "请输入详细需求内容" })
                <div class="weui_textarea_counter"><abbr id="current_contentlength">0</abbr>/500&nbsp;<a href="javascript:;" id="showDialog1"><i class="fa fa-microphone"></i></a></div>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                @Html.TextAreaFor(m => m.RequestRemark, new { @class = "weui_textarea", rows = "2", placeholder = "请输入其他信息" })
                <div class="weui_textarea_counter"><abbr id="current_remarklength">0</abbr>/100&nbsp;<a href="javascript:;" id="showDialog2"><i class="fa fa-microphone"></i></a></div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <a href="javascript:;" class="weui_btn weui_btn_primary" id="submit-btn" >确认并提交</a>
        <a href="/Seller/Wx_Manager_Task" class="weui_btn weui_btn_default" style="margin-top:5px;">返回</a>
    </div>
}
<div class="error-label container" style="display:none;">
    <div class="col-xs-12 text-center">提交错误，请根据提示修改</div>
    <span class="col-xs-12 text-right" id="error-label-close"><i class="fa fa-times"></i></span>
</div>
<br /><br />
<div class="weui_dialog_confirm" id="diaLg1" style="display:none">
    <div class="weui_mask"></div>
    <div class="weui_dialog_01">
        <br />
        <div class="voice_con">
            <a id="startRecord" href="javascript:;" class="microphone"><i class="fa fa-microphone"></i><h5>点击录音</h5></a>
            <a id="stopRecord" href="javascript:;" class="microphone" style="display:none;"><i class="fa fa-microphone-slash"></i><h5>点击取消录音</h5></a>
        </div>
        <a href="javascript:;" id="close_btn1" class="weui_btn weui_btn_mini weui_btn_primary">关闭</a>
        <h6 class="weui_dialog_title" style="color:#777; display:none;font-size:10px;text-align:center;margin-top:0">正在识别语音...</h6>
    </div>
</div>
<div class="weui_dialog_confirm" id="diaLg2" style="display:none">
    <div class="weui_mask"></div>
    <div class="weui_dialog_01">
        <br />
        <div class="voice_con">
            <a id="start_record" href="javascript:;" class="microphone"><i class="fa fa-microphone"></i><h5>点击录音</h5></a>
            <a id="stop_record" href="javascript:;" class="microphone" style="display:none;"><i class="fa fa-microphone-slash"></i><h5>点击录音</h5></a>
        </div>
        <a href="javascript:;" id="close_btn2" class="weui_btn weui_btn_mini weui_btn_primary">关闭</a>
        <h6 class="weui_dialog_title" style="color:#777; display:none;font-size:10px;text-align:center;margin-top:0">正在识别语音...</h6>
    </div>
</div>
@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        //parseFloat
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['startRecord','stopRecord', 'translateVoice']
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        $("#error-label-close").click(function () {
            $(".error-label").hide();
        });
        $(function () {
            if ($(".input-validation-error").length > 0) {
                $(".input-validation-error").closest(".weui_cell").addClass("weui_cell_warn");
                $(".error-label").show();
                setTimeout(function () {
                    $(".error-label").fadeOut(1000)
                }, 3000);
            }
            cal_textLength();
        });
        function cal_textLength() {
            $("#current_contentlength").text($("#RequestContent").val().length);
            $("#current_remarklength").text($("#RequestRemark").val().length);
        }
        $("#RequestContent").change(function () {
            cal_textLength();
        });
        $("#RequestRemark").change(function () {
            cal_textLength();
        });
        $("#submit-btn").click(function () {
            $(this).attr("disabled", "disabled").text("提交中...");
            $("form").submit();
        });
        //RequestContent录音功能
            $("#showDialog1").click(function () {
                $("#diaLg1").show();
            });
            $(".weui_mask").click(function () {
                $("#diaLg1").hide();
                wx.stopRecord();
                $("#startRecord").show();
                $("#stopRecord").hide();
                $(".weui_dialog_title").hide();
            });
            $("#close_btn1").click(function () {
                $("#diaLg1").hide();
                wx.stopRecord();
                $("#stopRecord").hide();
                $(".weui_dialog_title").hide();
                $("#startRecord").show();
            });
            $("#startRecord").click(function () {
                wx.startRecord();
                $(this).hide();
                $("#stopRecord").show();
                $(".weui_dialog_title").show()
            });
            $("#stopRecord").click(function () {
                $("#startRecord").show();
                $(this).hide();
                $("#diaLg1").hide();
                $(".weui_dialog_title").hide();
                wx.stopRecord({
                    success: function (res) {
                        var localId = res.localId;
                        wx.translateVoice({
                            localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                            isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                                $("#RequestContent").val($("#RequestContent").val() + res.translateResult);// 输入框的结果
                                //alert(res.translateResult); 
                                $("#current_contentlength").text(cal_textLength($("#current_contentlength").text($("#RequestContent").val().length)));//输入框字的数量
                                //获取焦点后光标在字符串后 
                                //其原理就是获得焦点后重新把自己复制粘帖一下 
                                var t = $("#RequestContent").val();
                                $("#RequestContent").val("").focus().val(t);
                            }
                        });
                    }
                });//结束录音
            });
        
        //RequestRemark录音功能
            $("#showDialog2").click(function () {
                $("#diaLg2").show();
            });
            $(".weui_mask").click(function () {
                $("#diaLg2").hide();
                wx.stopRecord();
                $("#start_record").show();
                $("#stop_record").hide();
                $(".weui_dialog_title").hide();
            });
            $("#close_btn2").click(function () {
                $("#diaLg2").hide();
                wx.stopRecord();
                $("#stop_record").hide();
                $(".weui_dialog_title").hide();
                $("#start_record").show();
            });
        $("#start_record").click(function () {
            wx.startRecord();
            $(this).hide();
            $("#stop_record").show();
            $(".weui_dialog_title").show()
        });
        $("#stop_record").click(function () {
            $("#start_record").show();
            $(this).hide();
            $("#diaLg2").hide();
            $(".weui_dialog_title").hide();
            wx.stopRecord({
                success: function (res) {
                    var localId = res.localId;
                    wx.translateVoice({
                        localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                        success: function (res) {
                            $("#RequestRemark").val($("#RequestRemark").val() + res.translateResult);// 输入框的结果
                            //alert(res.translateResult); 
                            $("#current_contentlength").text(cal_textLength($("#current_remarklength").text($("#RequestRemark").val().length)));//输入框字的数量
                            //获取焦点后光标在字符串后 
                            //其原理就是获得焦点后重新把自己复制粘帖一下 
                            var t = $("#RequestRemark").val();
                            $("#RequestRemark").val("").focus().val(t);
                        }
                    });
                }
            });
            
        });
    </script>  
}
