@model PeriodAid.Models.Off_Manager_Request

@{
    ViewBag.Title = "审核督导申请";
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}
<div class="hd">
    <h3 class="page_title text-center">督导管理 店铺需求提交</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.ManagerUserName)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.StoreId)
    @Html.HiddenFor(m => m.RequestType)
    @Html.HiddenFor(m => m.RequestTime)
    <div class="weui_cells_title">添加需求信息</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">店铺</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.Encode(Model.Off_Store.StoreName)
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">类型</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.Encode(Model.RequestType)
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                @Html.TextAreaFor(m => m.RequestContent, new { @class = "weui_textarea", rows = "3", placeholder = "请输入详细需求内容", @readonly = "readonly" })
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">备注</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.EditorFor(m => m.RequestRemark, new { htmlAttributes = new { @class = "weui_input", @readonly = "readonly" } })
            </div>
        </div>
        @if (User.IsInRole("Senior") && Model.Status == 0)
        {
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextAreaFor(m => m.ReplyContent, new { @class = "weui_textarea", rows = "3", placeholder = "请输入审核备注" })
                </div>
            </div>
        }
    </div>
    <br />
    <div class="container">
        @if (User.IsInRole("Senior") && Model.Status == 0)
        {
            <a href="javascript:;" type="submit" class="weui_btn weui_btn_primary" id="submit-btn">审核</a>
            <a href="/Seller/Wx_Manager_Task" class="weui_btn weui_btn_default" style="margin-top:5px;">返回</a>
            <a href="javascript:;" type="button" class="weui_btn weui_btn_warn" style="margin-top:5px;" id="dismiss-btn">驳回</a>
        }
        else
        {
            <a href="/Seller/Wx_Manager_Task" class="weui_btn weui_btn_default">返回</a>
        }
    </div>
    <br /><br />
}
@section scripts{
    <script>
        $("#submit-btn").click(function () {
            $(this).attr("disabled", "disabled").text("审核中...");
            $("form").submit();
            return false;
        });
        $("#dismiss-btn").click(function () {
            $(this).attr("disabled", "disabled").text("驳回中...");
            $("form").attr("action", "/Seller/Wx_Manager_Request_Dismiss");
            $("form").submit();
            return false;
        })
    </script>
}
