
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>促销员考勤卡</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />


    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        <span id="code">@ViewBag.Code</span>
        <span id="voice-img">@ViewBag.voice_img</span>
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(ViewBag.NickName)</p>
            </div>
            <div class="weui_cell_ft">@Html.Encode(ViewBag.Mobile)</div>
        </div>
    </div>
    <div class="weui_cells_title">所属店铺</div>
    <div class="weui_cells weui_cells_radio">
        @foreach (var item in ViewBag.bindlist as SelectList)
        {
            if (item.Value == "")
            {
                <label class="weui_cell weui_check_label" for="-1">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>未绑定</p>
                    </div>
                    <div class="weui_cell_ft">
                        <!--<input type="radio" class="weui_check" name="radio1" id="-1">-->
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
            }
            else if (item.Selected)
            {
                <label class="weui_cell weui_check_label" for="@item.Value">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>@item.Text</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="radio1" id="@item.Value" checked>
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
            }
            else
            {
                <label class="weui_cell weui_check_label" for="@item.Value">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>@item.Text</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="radio" class="weui_check" name="radio1" id="@item.Value">
                        <span class="weui_icon_checked"></span>
                    </div>
                </label>
            }

        }
    </div>
    <div id="control-panel"></div>
    <div class="weui_cells_title">其他</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell salary_details" href="/Seller/Wx_Seller_Guide">
            <div class="weui_cell_bd weui_cell_primary">
                <p>使用指南</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell salary_details" href="/Seller/Wx_Seller_APITest">
            <div class="weui_cell_bd weui_cell_primary">
                <p>手机测试</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>
    <br /><br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            //alert($("input[name='radio1'][checked]").length);
            if ($("input[name='radio1'][checked]").length == 1) {
                $.ajax({
                    url: "/Seller/Wx_Seller_Panel",
                    data: {
                        SellerId: $("input[name='radio1'][checked]").attr("id")
                    },
                    type: "post",
                    success: function (data) {
                        $("#control-panel").html(data);
                    }
                });
            }
            $("input[name='radio1']").change(function () {

                $.ajax({
                    url: "/Seller/Wx_Seller_Panel",
                    data: {
                        SellerId: $(this).attr("id")
                    },
                    type: "post",
                    success: function (data) {
                        $("#control-panel").html(data);
                    }
                });
            });
            
        });
    </script>
</body>
</html>
