@model PeriodAid.Models.Off_Checkin

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>促销员考勤</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />


    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <div class="hd">
        <h2 class="page_title text-center">促销员签到</h2>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@Html.Encode(ViewBag.NickName)</p>
            </div>
            <div class="weui_cell_ft">@Model.Off_Checkin_Schedule.Off_Store.StoreName</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>当前日期</p>
            </div>
            <div class="weui_cell_ft">@DateTime.Now.ToString("yyyy-MM-dd")</div>
        </div>
    </div>
    <div class="weui_cells_title">操作</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;" id="location-btn">
            <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0; height:24px;"></i></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>上传位置信息</p>
            </div>
            <div class="weui_cell_ft">未上传</div>
        </a>
        <a class="weui_cell" href="javascript:;" id="img-btn">
            <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0;height:24px"></i></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>上传图片</p>
            </div>
            <div class="weui_cell_ft">未上传</div>
        </a>
    </div>
    <div class="weui_cells_title">其他</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="/Seller/Wx_Seller_Guide">
            <div class="weui_cell_bd weui_cell_primary">
                <p>使用帮助</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>
    <br />
    <br />
    <div class="container">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Id)
            @Html.HiddenFor(m=>m.Off_Seller_Id)
            @Html.HiddenFor(m=>m.Off_Schedule_Id)
            @Html.HiddenFor(m=>m.Status)
            @Html.HiddenFor(m=>m.CheckinLocation)
            @Html.HiddenFor(m=>m.CheckinPhoto)
            @Html.HiddenFor(m=>m.CheckinTime)
            @Html.HiddenFor(m=>m.CheckoutLocation)
            @Html.HiddenFor(m=>m.CheckoutTime)
            <a href="javascript:;" class="weui_btn weui_btn_primary" id="submit-btn">
                确认并提交
            </a>
        }
        
    </div>
    <br /><br />
    <div class="error-label container" style="display:none;">
        <div class="col-xs-12 text-center error-text"></div>
        <span class="col-xs-12 text-right" id="error-label-close"><i class="fa fa-times"></i></span>
    </div>
    <div id="toast_success" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>
            <p class="weui_toast_content">已完成</p>
        </div>
    </div>
    <div class="weui_dialog_confirm" style="display:none;" id="dialog_confirm">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认操作</strong></div>
            <div class="weui_dialog_bd">今日已签到，重新签到会更新签到时间和您的位置信息，是否确认操作？</div>
            <div class="weui_dialog_ft">
                <a href="/Seller/Wx_Seller_Home" class="weui_btn_dialog default" id="dialog_cancel_btn">取消</a>
                <a href="javascript:;" class="weui_btn_dialog primary" id="dialog_confirm_btn">确定</a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(), // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(), // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(), // 必填，生成签名的随机串
            signature: $("#signature").text(),// 必填，签名，见附录1
            jsApiList: ['uploadImage', 'downloadImage', 'chooseImage', 'getLocation']
            //必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        $("#location-btn").click(function () {
            var btn = $(this);
            var location = "";
            var loc_success = false;
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    location = longitude + "," + latitude;
                    loc_success = true;
                    cell_success(btn, "位置获取成功");
                    $("#CheckinLocation").val(location);
                }
            });
        });
        $("#img-btn").click(function () {
            var localIds
            var btn = $(this);
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    $("#preview").attr("src", localIds);
                    wx.uploadImage({
                        localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                        success: function (res) {
                            var serverId = res.serverId; // 返回图片的服务器端ID
                            $.ajax({
                                url: "/Seller/SaveOrignalImage",
                                type: "post",
                                data: {
                                    serverId: serverId
                                },
                                success: function (data) {
                                    if (data.result == "SUCCESS") {
                                        cell_success(btn, "图片上传成功");
                                        $("#CheckinPhoto").val(data.filename);
                                    }
                                    else {
                                        alert("上传失败，请重试");
                                    }
                                }
                            });
                        }
                    });
                }
            });
        });
        $("#error-label-close").click(function () {
            $(".error-label").hide();
        });
        $("#submit-btn").click(function () {
            if ($("#CheckinLocation").val() == "") {
                //$(".input-validation-error").closest(".weui_cell").addClass("weui_cell_warn");
                $(".error-text").text("未获取地理位置，请重试！");
                $(".error-label").show();
                setTimeout(function () {
                    $(".error-label").fadeOut(1000)
                }, 3000);
                return false;

            }
            if ($("#CheckinPhoto").val() == "") {
                //$(".input-validation-error").closest(".weui_cell").addClass("weui_cell_warn");
                $(".error-text").text("未上传签到照片，请重试！");
                $(".error-label").show();
                setTimeout(function () {
                    $(".error-label").fadeOut(1000)
                }, 3000);
                return false;

            }
            if ($("#Status").val() == "1") {
                $("#dialog_confirm").show();
            }
            else if ($("#Status").val() == "0") {
                $("form").submit();
            }
            else {
                $(".error-text").text("今日已签退，不得重新签到");
                $(".error-label").show();
                setTimeout(function () {
                    $(".error-label").fadeOut(1000)
                }, 3000);
                return false;
            }
        });
        $("#dialog_confirm_btn").click(function () {
            $("#dialog_confirm").hide();
            $("form").submit();
        });

        function cell_success(cellname, text) {
            $("#toast_success").show();
            setTimeout(function () {
                $("#toast_success").fadeOut(500);
            }, 1500);
            $(cellname).find("i").attr("class", "weui_icon_success");
            $(cellname).find(".weui_cell_ft").text(text);
        }
    </script>
</body>
</html>
