@model PeriodAid.Models.Off_Checkin

<div class="weui_cells_title">今日任务</div>
<div class="weui_cells weui_cells_access">
    <!--判断是否可以签到-->
    @if (ViewBag.CheckIn)
    {
        <!--是否含有数据-->
        if (Model != null)
        {
            if (Model.Status == 0)
            {
                <!--未签到-->
                <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckIn","Seller", new { ScheduleId = Model.Off_Checkin_Schedule.Id, SellerId = ViewBag.SellerId})">
                    <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签到</p>
                    </div>
                    <div class="weui_cell_ft">可签到</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签退</p>
                    </div>
                    <div class="weui_cell_ft">不可操作</div>
                </a>
            }
            else if (Model.Status == 1)
            {
                <!--已签到-->
                <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckIn","Seller", new { ScheduleId = Model.Off_Checkin_Schedule.Id, SellerId = ViewBag.SellerId})">
                    <div class="weui_cell_hd"><i class="weui_icon_success" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签到</p>
                    </div>
                    <div class="weui_cell_ft">已签到</div>
                </a>
                <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckOut", "Seller", new { CheckId = Model.Id})">
                    <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签退</p>
                    </div>
                    <div class="weui_cell_ft">可签退</div>
                </a>
            }
            else if (Model.Status == 2 || Model.Status == 3)
            {
                <!--已签退-->
                <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckIn","Seller", new { ScheduleId = Model.Off_Checkin_Schedule.Id, SellerId = ViewBag.SellerId})">
                    <div class="weui_cell_hd"><i class="weui_icon_success" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签到</p>
                    </div>
                    <div class="weui_cell_ft">已签到</div>
                </a>
                <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckOut", "Seller", new { CheckId = Model.Id})">
                    <div class="weui_cell_hd"><i class="weui_icon_success" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签退</p>
                    </div>
                    <div class="weui_cell_ft">已签退</div>
                </a>
            }
            else
            {
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd"><i class="weui_icon_success" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签到</p>
                    </div>
                    <div class="weui_cell_ft">已确认销量，不可操作</div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd"><i class="weui_icon_success" style="margin:0 10px 0 0"></i></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>今日签退</p>
                    </div>
                    <div class="weui_cell_ft">已确认销量，不可操作</div>
                </a>
            }
        }
        else
        {
            <a class="weui_cell" href="@Url.Action("Wx_Seller_CheckIn","Seller", new { ScheduleId = ViewBag.ScheduleId, SellerId = ViewBag.SellerId})">
                <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0"></i></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>今日签到</p>
                </div>
                <div class="weui_cell_ft">可签到</div>
            </a>
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0"></i></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>今日签退</p>
                </div>
                <div class="weui_cell_ft">不可操作</div>
            </a>
        }
    }
    else
    {
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><i class="weui_icon_circle" style="margin:0 10px 0 0"></i></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>不可签到</p>
            </div>
            <div class="weui_cell_ft">无日程</div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"><i class="weui_icon_circle" style="margin:0 10px 0 0"></i></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>不可签退</p>
            </div>
            <div class="weui_cell_ft">无日程</div>
        </a>
    }
    <a class="weui_cell" href="@Url.Action("Wx_Seller_Report", "Seller", new { SellerId = ViewBag.SellerId})">
        <div class="weui_cell_hd"><i class="weui_icon_info" style="margin:0 10px 0 0"></i></div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>销售报表</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<div class="weui_cells_title">考勤信息</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="@Url.Action("Wx_Seller_ScheduleList", "Seller", new { SellerId = ViewBag.SellerId})">
        <div class="weui_cell_bd weui_cell_primary">
            <p>排班表</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
    <a class="weui_cell" href="@Url.Action("Wx_Seller_ConfirmedData","Seller", new { SellerId= ViewBag.SellerId})">
        <div class="weui_cell_bd weui_cell_primary">
            <p>考勤数据</p>
        </div>
        <div class="weui_cell_ft">
        </div>

    </a>
</div>