@model IEnumerable<PeriodAid.Models.Off_SalesInfo_Daily>
@using PeriodAid.Models;

@{
    Layout = null;
}
<div class="weui_cells_title">汇总统计：@ViewBag.Month</div>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>累计出勤天数</p>
        </div>
        <div class="weui_cell_ft">@String.Format("{0:0} 天", @Model.Count(m => m.Attendance != null))</div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>累计工资</p>
        </div>
        <div class="weui_cell_ft">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Salary))</div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>累计奖金</p>
        </div>
        <div class="weui_cell_ft">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Bonus))</div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>扣款</p>
        </div>
        <div class="weui_cell_ft">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Debit))</div>
    </div>
</div>
<div class="weui_cells_title">考勤明细</div>
@if (Model.Count() == 0)
{
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>当月无考勤数据</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="weui_cells weui_cells_access">
        @foreach (var item in Model)
        {
            <a class="weui_cell salary_details" href="javascript:;" data-salary="@item.Salary" data-bonus="@item.Bonus" data-debit="@item.Debit" data-attendance="@Html.AttendanceStatus(item.Attendance??0)" data-date="@item.Date.ToString("MM-dd")">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>@item.Date.ToString("MM-dd")</p>
                </div>
                <div class="weui_cell_ft">@Html.AttendanceStatus(item.Attendance??0)</div>
            </a>
        }
    </div>
}
<div class="weui_dialog_alert" id="dialog_alert" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title"><span id="info-date"></span> 考勤明细</strong></div>
        <div class="weui_dialog_bd">考勤状态：&nbsp;<span id="info-attendance"></span>&nbsp;&nbsp;&nbsp;&nbsp;工资：&nbsp;<span id="info-salary"></span>&nbsp;元&nbsp;&nbsp;<br />奖金：&nbsp;<span id="info-bonus"></span>&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;扣款：&nbsp;<span id="info-debit"></span>&nbsp;元&nbsp;&nbsp;</div>
        <div class="weui_dialog_ft">
            <a href="#" class="weui_btn_dialog primary" id="alert-btn">确定</a>
        </div>
    </div>
</div>
<script>
    $(".salary_details").click(function () {
        var a_btn = $(this);
        $("#info-date").text($(a_btn).attr("data-date"));
        $("#info-attendance").text($(a_btn).attr("data-attendance"));
        $("#info-salary").text($(a_btn).attr("data-salary"));
        $("#info-bonus").text($(a_btn).attr("data-bonus"));
        $("#info-debit").text($(a_btn).attr("data-debit"));
        $("#dialog_alert").show();
    });
    $("#alert-btn").click(function () {
        $("#dialog_alert").hide();
    });
</script>