@model PeriodAid.Models.Employee
@using PeriodAid.Models;
@{
    ViewBag.Title = "Task_Management_PersonalSetting";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>任务管理系统</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/corppermain.css" rel="stylesheet" />
    <link href="~/Content/TaskManagement.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body id="my-app">
    <header id="app-header">
        <nav class="navbar navbar-default bg-white">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/TaskManagement/Index"><strong class="color-blue">返回项目中心</strong></a>
                    <span class="navbar-brand">个人设置</span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-border">
                        <li class="dropdown">
                            <a href="javascript:;" style="height:50px;">
                                @if (Model.ImgUrl == null)
                                {
                                    <span class="tm_avatar tm_img-circle tm_personal-avatar text-center" style="background-color:#ccc;"><i class="glyphicon glyphicon-user" aria-hidden="true" style="line-height:26px;"></i></span>
                                }
                                else
                                {
                                    <span style="background-image: url('http://cdn2.shouquanzhai.cn/@Model.ImgUrl');" class="tm_avatar tm_img-circle tm_personal-avatar"></span>
                                }
                            </a>
                            <div class="dropdown-menu tm_dropdown">
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="personal_setting_wrap" style="margin-top:30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="/TaskManagement/PersonalSetting">个人信息</a></li>
                            <li role="presentation"><a href="#">其他设置</a></li>
                            <li role="presentation" class="active"><a href="/TaskManagement/LoginLog">登录记录</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">近期登录记录</h3>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("EditPersonalInfo", "TaskManagement", FormMethod.Post, new { @id = "save_personalinfo_form", @class = "validate-form form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.Id)
                                    @Html.HiddenFor(m => m.SignupDate)
                                    @Html.HiddenFor(m => m.LastLoginDate)
                                    <div class="form-group">
                                        <label>用户：</label><label class="systeminfo">@Model.UserName</label>
                                        <label>最后登录时间：</label><label class="systeminfo">@Model.LastLoginDate</label>
                                    </div>
                                    <div class="form-group">
                                        <label>用户：</label><label class="systeminfo">@Model.UserName</label>
                                        <label>注册时间：</label><label class="systeminfo">@Model.SignupDate</label>
                                    </div>
                                }
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Cropping modal -->


    <!-- /.modal -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/cropper.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validate.expand.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/TaskManagement.js"></script>
    <script src="~/Scripts/croppermain.js"></script>
    <script>
        //修改个人信息验证
        $("#save_personalinfo_form").validate({
            debug: false,
            rules: {
                NickName: {
                    required: true,
                    maxlength: 32
                },
                UserName: {
                    validatetel:true,
                    required: true,
                    maxlength: 11
                },
            },
            //验证通过的正式提交函数
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            UnimportantAlert("修改成功");
                            $("#btn_save_personalinfo").removeClass("disabled");
                        } else {
                            ErrorAlert(data.result);
                            $("#btn_save_personalinfo").removeClass("disabled");
                        }
                    },
                    error: function () {
                        ErrorAlert("操作失败。");
                        $("#btn_save_personalinfo").removeClass("disabled");
                    }
                });
            },
            errorClass: "has-error",
            //验证失败
            errorPlacement: function (error, element) {
                $("#btn_save_personalinfo").removeClass("disabled");
            }
        });
        //修改个人信息的提交
        $("#btn_save_personalinfo").on("click", function () {
            if (!$(this).hasClass("disabled")) {
                $(this).addClass("disabled")
                $("#save_personalinfo_form").submit();
            }
        });
    </script>
</body>
</html>