
@model PeriodAid.Models.StoreSchedule_ViewModel
@{
    ViewBag.Title = "AddSchedule";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}
@using (Html.BeginForm("AddSchedule", "OffCheckin", FormMethod.Post, new { @id = "offsales-schedule-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-3">
            @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control", id = "StoreSystem" })<br />
            <input class="form-control" id="store-input" placeholder="搜索门店"><br />
            <select multiple id="AllStoreList" name="AllStoreList" class="form-control input-sm" style="height:200px;"></select>
            <div class="text-center" style="padding:10px 0;">
                    <a class="btn btn-default btn-xs btn-info" href="javascript:;" id="add-btn">添加</a>
                    <a class="btn btn-default btn-warning btn-xs" href="javascript:;" id="remove-btn">移除</a>
            </div>
            <select multiple id="StoreList" name="StoreList" class="form-control input-sm" style="height:200px;"></select>
        </div>
        <div class="col-md-9">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label" for="eventtime">活动时间</label>
                    <div class="col-md-10"><input class="form-control" id="eventtime" name="eventtime" type="datetime"></div>                 
                </div><br />
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label" for="BeginTime">标准上班时间</label>
                    <div class="col-md-5">@Html.EditorFor(m => m.BeginTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })</div>                  
                </div><br />
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="FinishTime">标准下班时间</label>
                <div class="col-md-5">@Html.EditorFor(m => m.FinishTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })</div>
            </div><br />
                <div class="form-group col-md-12">           
                    <label class="col-md-2 control-label" for="Salary">标准薪资</label>
                    <div class="col-md-5">@Html.EditorFor(m => m.Salary, new { htmlAttributes = new { @class = "form-control", type = "number" } })</div>
                </div><br />
                <div class="form-group col-md-12" >
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-success" id="offsales-sure-btn" value="提交" />
                    </div>
                </div>
            </div>
}
<script>
    $(function () {
        window.moment = Kalendae.moment;
        var k4 = new Kalendae.Input('eventtime', {
            months: 2,
            mode: 'multiple',
            titleFormat: "MM月, YYYY年",
            format:"YYYY-MM-DD"
        });

        //店铺搜索  
        function displayResult(item, val, text) {
            if ($("#AllStoreList option[value=" + val + "]").length>0) {
                $("#StoreList").append($("#AllStoreList option[value=" + val + "]"));
                $("#AllStoreList option[value=" + val + "]").remove();
            } else {
                $("#StoreList option").prop("selected", false);
                $("#StoreList option[value=" + val + "]").prop("selected",true);
                alert("添加失败", "列表中无此项请查看是否已添加", function () {
                }, { type: 'error' });
            }
        }
            $("#store-input").on("keyup", function () {
                $("#recruit-submit").attr("disabled", true);
            });
            $('#store-input').typeahead({
                ajax: {
                    url: '/OffSeller/QueryStore',
                    triggerLength: 1,
               
                },
                itemSelected: displayResult,
                display: 'StoreName',
                val: 'Id'
            });
        $("#add-btn").on("click", function () {
            $("#AllStoreList option:selected").each(function () {
                $(this).remove();
                $("#StoreList").append($(this));
            })
        })
        $("#remove-btn").on("click", function () {
            $("#StoreList option:selected").each(function () {
                $(this).remove();
                $("#AllStoreList").append($(this));
                $('#AllStoreList option').sort(function (a, b) {
                    var aText = $(a).text();
                    var bText = $(b).text();
                    if (aText < bText) return -1;
                    if (aText > bText) return 1;
                    return 0;
                }).appendTo('#AllStoreList');
            })
        })
        $("#offsales-sure-btn").on("click", function () {
            $("#StoreList option").prop("selected", true);
        })
        $.ajax({
            url: "/OffCommon/StoreListAjax",
            type: "post",
            data: {
                storesystemId: $("#StoreSystem").val()
            },
            success: function (data) {
                $("#AllStoreList").html("");
                $("#StoreList").html("");
                for (var i = 0; i < data.StoreList.length; i++) {
                    $("#AllStoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                }
            }
        })

        $("#StoreSystem").change(function () {
            $.ajax({
                url: "/OffCommon/StoreListAjax",
                type: "post",
                data: {
                    storesystemId: $("#StoreSystem").val()
                },
                success: function (data) {
                    $("#AllStoreList").html("");
                    $("#StoreList").html("");
                    for (var i = 0; i < data.StoreList.length; i++) {
                        $("#AllStoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                    }
                }
            })
        });
    });
</script>
