
@model PeriodAid.Models.StoreSchedule_ViewModel
@{
    ViewBag.Title = "AddSchedule";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}
@using (Html.BeginForm("AddSchedule", "OffCheckin", FormMethod.Post, new { @id = "offsales-schedule-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <row>
        <div class="col-md-3">
            @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control", id = "StoreSystem" })<br />
            <select multiple id="StoreList" name="StoreList" class="form-control input-sm" style="height:400px;"></select>
        </div>
        <div class="col-md-9">
            <div>
                <div class="row">
                    <label class="col-md-2 control-label">活动开始时间</label>
                    <div class="col-md-4">@Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control input-sm date-time" } })</div>
                    <label class="col-md-2 control-label">活动结束时间</label>
                    <div class="col-md-4">@Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control input-sm date-time" } })</div>
                </div><br />
                <div class="row">
                    <label class="col-md-2 control-label">标准上班时间</label>
                    <div class="col-md-4">@Html.EditorFor(m => m.BeginTime, new { htmlAttributes = new { @class = "form-control input-sm", type = "time" } })</div>
                    <label class="col-md-2 control-label">标准下班时间</label>
                    <div class="col-md-4">@Html.EditorFor(m => m.FinishTime, new { htmlAttributes = new { @class = "form-control input-sm", type = "time" } })</div>
                </div><br />
                <div class="row">
                    <label class="col-md-2 control-label">提报模板</label>
                    <div class="col-md-4">@Html.DropDownList("TemplateId", ViewBag.TemplateList as SelectList, "- 请选择模板 -", new { @class = "form-control input-sm" })</div>
                    <label class="col-md-2 control-label">标准薪资</label>
                    <div class="col-md-4">@Html.EditorFor(m => m.Salary, new { htmlAttributes = new { @class = "form-control input-sm", type = "number" } })</div>
                </div><br />
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" class="btn btn-success" id="offsales-sure-btn" value="提交" />
                    </div>
                </div>
            </div>
        </div>
    </row>
}
<script>
    $(function () {
        $("#StoreSystem").change(function () {
            $.ajax({
                url: "/OffCommon/StoreListAjax",
                type: "post",
                data: {
                    storesystem: $("#StoreSystem").val()
                },
                success: function (data) {
                    $("#StoreList").html("");
                    for (var i = 0; i < data.StoreList.length; i++) {
                        $("#StoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                    }
                }
            })
        });
    });
</script>
