@model PagedList.IPagedList<PeriodAid.Models.Off_Checkin_Schedule>
@using PagedList.Mvc;
<table class="table table-condensed table-hover" style="table-layout:fixed; width:100%;">
    <tr style="background-color:#f9f9f9">
        <th style="width:4%;" class="check-show">
            <input type="checkbox" class="allChk" />
        </th>
        <th style="width:10%">
            时间
        </th>
        <th style="width:12%">
            系统名称
        </th>
        <th style="width:15%">
            店铺名称
        </th>
        <th style="width:10%">
            签到时间
        </th>
        <th style="width:10%">
            签退时间
        </th>
        <th style="width:10%">
            标准工资
        </th>
        <th style="width:6%">签到数</th>
        <th style="width:6%">提报数</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="check-show">
                <input type="checkbox" name="subChk" value="@item.Id" data-time="@item.Subscribe.ToString("yyyy-MM-dd")" data-timeIn="@item.Standard_CheckIn.ToString("HH:mm")" data-timeOut="@item.Standard_CheckOut.ToString("HH:mm")" data-salary="@item.Standard_Salary" />
            </td>
            <td>
                @Html.Encode(item.Subscribe.ToString("yyyy-MM-dd"))
            </td>
            <td>
                @Html.Encode(item.Off_Store.Off_StoreSystem.SystemName)
            </td>
            <td>
                @Html.Encode(item.Off_Store.StoreName)
            </td>
            <td>
                @Html.Encode(item.Standard_CheckIn.ToString("HH:mm"))
            </td>
            <td>
                @Html.Encode(item.Standard_CheckOut.ToString("HH:mm"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard_Salary)
            </td>
            <td>
                @Html.Encode(item.Off_Checkin.Count(m => m.Status >= 0))
            </td>
            <td>
                @Html.Encode(item.Off_Checkin.Count(m => m.Status >= 3))
            </td>
            <td>
                @Html.ActionLink("编辑", "EditSchedulePartial", new { Id = item.Id }, new { @class = "btn btn-info btn-xs offsales-schedule-edit" })
                @if (item.Off_Checkin.Count(m => m.Status >= 0) == 0)
                {
                    @Html.ActionLink("补充数据", "CreateCheckin", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                }
                @Html.ActionLink("删除", "Ajax_DeleteSchedule", new { Id = item.Id }, new { @class = "btn btn-danger btn-xs offsales-schedule-del"})
            </td>
        </tr>
    }

</table>
<div class="text-right">@Html.PagedListPager(Model, page => Url.Action("ViewScheduleDetailsPartial", new { page }))</div>
<script>
    //页码
    $(".pagination > li > a").click(function () {
        var l = $(this).attr("href");
        $.ajax({
            url: l,
            data: {
                date: $("#offsalesschedule-current-date").val(),
                query: $("#offsalesschedule-search-query").val()
            },
            success: function (data) {
                $("#offsalesschedule-list").html(data);
            }
        });
        return false;
    });
    //修改
    $(".offsales-schedule-edit").click(function () {
        var url = $(this).attr("href");
        var head = "修改活动数据";
        $.ajax({
            url: url,
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        });
        return false;
    });
    //删除
    $(".offsales-schedule-del").click(function () {
        var link_url = $(this).attr("href");
        confirm("确定要删除吗?", "你将把此条信息从门店日程列表中删除", function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: link_url,
                    type: "post",
                    success: function (data) {
                        if (data.data == "SUCCESS") {
                            setTimeout(function () {
                                $.ajax({
                                    url: "/OffCheckin/ViewScheduleDetailsPartial",
                                    data: {
                                        date: $("#offsalesschedule-current-date").val()
                                    },
                                    success: function (data) {
                                        $("#offsalesschedule-list").html(data)
                                    }
                                });
                                alert("删除成功")
                            }, 1000);
                        }
                    }
                });
            }
        });
        return false;
    });
</script>

